<form id="profile-form" method="post" class="utility-page-form base-password-page" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="{{ form.name.id_for_label }}">Category Name:</label>
  {{ form.name }}
  {% if form.name.errors %}
    <div class="error-message">
      <div class="text-error">{{ form.name.errors|striptags }}</div>
    </div>
  {% endif %}
  <label for="{{ form.description.id_for_label }}">Description:</label>
  {{ form.description }}
  {% if form.description.errors %}
    <div class="error-message">
      <div class="text-error">{{ form.description.errors|striptags }}</div>
    </div>
  {% endif %}
  <input type="submit" value="Add" class="submit-button base-button"> 
  {{ form.non_field_errors }}
</form>