  <section class="section">
    <div style="opacity:0" class="content">
      <div class="layout-grid grid">
        <div class="block-left">
          <div class="subtitle">Business<br></div>
          <h2 class="heading">Tailored hosting solutions for every business need</h2>
          <p class="paragraph">Fermentum risus donec dictum id. In orci maecenas turpis ac leo laoreet in suspendisse feugiat. Posuere convallis congue mauris purus lectus bibendum amet ultrices.</p>
          <div class="block-list">
            <div class="list">
              <div class="block-icon-list"><img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list"></div>
              <h6 class="heading-list">Tristique odio dapibus id at pretium nibh</h6>
            </div>
            <div class="list">
              <div class="block-icon-list"><img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list"></div>
              <h6 class="heading-list">Viverra nulla porttitor suspendisse</h6>
            </div>
          </div>
        </div>
        <div class="lottie">
          <div class="lines-b1">
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
          </div>
          <div class="lines-b2">
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div class="lottie-animation-1" data-animation-type="lottie" data-src="{% static 'documents/Lottie-B1-White.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-animation-type="lottie" data-src="{% static 'documents/Lottie-B2-Blue.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-animation-type="lottie" data-src="{% static 'documents/Lottie-B2-Blue.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
          </div>
        </div>
      </div>
    </div>
  </section>