{% load static wagtailcore_tags wagtailimages_tags %}

{% if faqs.exists %}
  <section class="section">
    <div class="content">
      <div class="block-heading center">
        {% if faqs.subtitle %}
          <div class="subtitle">{{ faqs.subtitle }}<br></div>
        {% endif %}
        {% if faqs.heading %}
          <h2 class="heading">{{ faqs.heading }}</h2>
        {% endif %}
      </div>
      <div class="base-layout-grid grid-faq">
        {% for faq in faqs.grid %}
          {% if forloop.counter0|divisibleby:2 %}
            <div id="left-faq-grid" cid="left-faq-block" class="block-faq">
              <div class="accordion-item">
                <div class="accordion-header" data-id="{{ faq.uuid }}">
                  <h6 class="heading-accordion">{{ faq.question }}</h6>
                  <div class="block-icon-accordion" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)">
                    <img class="icon-accordion" src="{{ faq.icon }}" loading="eager" alt="{{ faq.icon.alt }}">
                  </div>
                </div>
                <div class="accordion-content" style="height:0px;display:none">
                  <p class="paragraph-accordion">{{ faq.answer }}</p>
                </div>
              </div>
            </div>
          {% else %}
            <div id="right-faq-grid" class="block-faq">
              <div class="accordion-item">
                <div class="accordion-header" data-id="{{ faq.uuid }}">
                  <h6 class="heading-accordion">{{ faq.question }}</h6>
                  <div class="block-icon-accordion" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)">
                    <img class="icon-accordion" src="{{ faq.icon }}" loading="eager" alt="{{ faq.icon.alt }}">
                  </div>
                </div>
                <div class="accordion-content" style="height:0px;display:none">
                  <p class="paragraph-accordion">{{ faq.answer }}</p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
