{% if features.exists %}
  <section class="section">
    <div class="content">
      <div class="block-heading center">
        {% if features.subtitle %}
          <div class="subtitle">{{ features.subtitle }}<br></div>
        {% endif %}
        {% if features.heading %}
          <h2 class="heading">{{ features.heading }}</h2>
        {% endif %}
      </div>
      <div class="base-layout-grid grid-features">
        {% for feature in features.grid %}
          <div id="feature-{{ forloop.counter }}" class="features">
            <div class="block-heading-features">
              <img src="{{ feature.icon }}" loading="eager" alt="{{ feature.icon.alt }}" class="icon-features">
              <h5 class="heading-features">{{ feature.heading }}</h5>
            </div>
            <p class="paragraph-features">{{ feature.paragraph }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}