<!DOCTYPE html>
<html>
  <head>  
    {% include 'main/partials/head.html' %}
  </head>
  <body class="body">
    {% include 'main/partials/header.html' %}  
    <section class="section">
      <div class="page-body">
        <h3 class="heading-template">Digits</h3>
        <div class="layout-grid grid-digits">
          {% for digit in digits %}
            <a href="{% url 'inventory:details' digit.uuid %}" class="digit-card digit-card-link">
              <div class="block-digits">
                <div class="text-digits">{{ digit.name }}</div>
                <div class="hex-digits">{{ digit.description }}</div>
              </div>
            </a>
          {% empty %}
            <p class="paragraph">No digits found.</p>
          {% endfor %}
        </div>
      </div>
    </section> 
  </body>
</html>