<!-- Load reCAPTCHA js code -->
<script src="https://www.google.com/recaptcha/enterprise.js?render={{ RECAPTCHA_SITE_KEY }}"></script>

<section class="section full">
  <div class="content">
    <div class="account-form">
      <div class="subtitle">Contact<br></div>
      <h2 class="heading-contact">Wanna Talk More?</h2>
      <div class="form-block base-form">
        {% include 'main/partials/contact-form.html' %}
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/reCAPTCHA.js' %}"></script> 