<form id="contactForm" method="post" class="form">
  {% csrf_token %}
  <!-- Render Name Field -->
  <div>
    {{ form.name }}
    {% if form.name.errors %}
      <div class="error-message">
        <span class="text-error">{{ form.name.errors|striptags }}</span>
      </div>
    {% endif %}
  </div>
  <!-- Render Email Field -->
  <div>
    {{ form.email }}
    {% if form.email.errors %}
      <div class="error-message">
        <span class="text-error">{{ form.email.errors|striptags }}</span>
      </div>
    {% endif %}
  </div>
  <!-- Render Message Field -->
  <div>
    {{ form.message }}
    {% if form.message.errors %}
      <div class="error-message">
        <span class="text-error">{{ form.message.errors|striptags }}</span>
      </div>
    {% endif %}
  </div>
  <!-- Render Submit Button -->
  <input type="submit" value="Submit" class="submit-button base-button" id="submitBtn">         
</form>