
    <!-- Load reCAPTCHA js code -->
    <script src="https://www.google.com/recaptcha/enterprise.js?render={{ RECAPTCHA_SITE_KEY }}"></script>

    <section class="section full">
      <div class="content">
        <div class="account-form">
          <div class="subtitle green">Contact<br></div>
          <h2 class="heading-contact">Wanna Talk More?</h2>
          <div class="form-block base-form">
            {% include 'main/partials/contact-form.html' %}
          </div>
        </div>
      </div>
    </section>
    <script>
      document.getElementById('submitBtn').addEventListener('click', function(event) {
          event.preventDefault();  // Prevent the default form submit
  
          grecaptcha.enterprise.execute('{{ RECAPTCHA_SITE_KEY }}', {action: 'contact_us'}).then(function(token) {
              // Add the token to a hidden field
              var inputToken = document.createElement('input');
              inputToken.setAttribute('type', 'hidden');
              inputToken.setAttribute('name', 'g-recaptcha-response');
              inputToken.setAttribute('value', token);
              document.getElementById('contactForm').appendChild(inputToken);
  
              // Submit the form
              document.getElementById('contactForm').submit();
          });
      });
  </script>