{% load static %}
{% load wagtailcore_tags %}
<section class="section-footer">
  <div class="content">
    <div class="layout-grid grid-footer">
      <div class="block-footer"><img src="{% static 'images/logo/logo.png' %}" loading="lazy" alt="" class="logo-footer">
        <div class="paragraph-footer">Some more text here<br></div>
      </div>
      <div class="block-footer">
        <div class="subtitle-footer">Quick Links<br></div>
          <a href="{% pageurl 'company' %}" class="link-footer">Company</a>
          <a href="{% pageurl 'contact' %}" class="link-footer">Contact</a>
      </div>
      <div class="block-footer">
        <div class="subtitle-footer">Social<br></div>
          <a href="https://www.facebook.com" target="_blank" class="link-footer">Facebook</a>
          <a href="https://twitter.com" target="_blank" class="link-footer">Twitter</a>
          <a href="https://www.youtube.com" target="_blank" class="link-footer">YouTube</a>
      </div>
    </div>
    <div class="block-footer-down">
      <div class="text-footer-down">Copyright 2024 Cybotany, Institue. All Rights Reserved.<br></div>
    </div>
  </div>
</section>