{% load wagtailimages_tags %}
<div class="lottie">
    <div class="lines-a1">
      <div class="line-w"></div>
      <div class="line-w"></div>
      <div class="line-w"></div>
      <div class="line-w"></div>
      <div class="line-w"></div>
      <div class="line-w"></div>
    </div>
    <div class="lines-a2">
      <div class="line-h"></div>
      <div class="line-h"></div>
      <div class="line-h"></div>
      <div class="line-h"></div>
      <div class="line-h"></div>
      <div class="line-h"></div>
    </div>
    <div class="block-lottie">
      <div class="lottie-animation-1" data-animation-type="lottie" data-src="" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
      <div class="lottie-animation-2" data-animation-type="lottie" data-src="" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="19.5" data-duration="0"></div>
      <div class="lottie-animation-2-blur" data-animation-type="lottie" data-src="" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="19.5" data-duration="0"></div>
    </div>
    <div class="features-lottie">
      <div class="feature-lottie-block">
        <img src="{{ first_feature.image }}" loading="eager" alt="" class="icon-feature-lottie">
        <div class="text-feature-lottie">{{ first_feature.item.text }}</div>
      </div>
      <div class="feature-lottie-block a2">
        <img src="{{ second_feature.image }}" loading="eager" alt="" class="icon-feature-lottie">
        <div class="text-feature-lottie">{{ second_feature.item.text }}</div>
      </div>
      <div class="feature-lottie-block a3">
        <img src="{{ third_feature.image }}" loading="eager" alt="" class="icon-feature-lottie">
        <div class="text-feature-lottie">{{ third_feature.item.text }}</div>
      </div>
      <div class="feature-lottie-block a4">
        <img src="{{ fourth_feature.image }}" loading="eager" alt="" class="icon-feature-lottie">
        <div class="text-feature-lottie">{{ fourth_feature.item.text }}</div>
      </div>
    </div>
  </div>