<!-- templates/blocks/page/body_block.html -->
{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% for block in value %}
    {% if block.block_type == 'heading' %}
        <h3>{{ block.value.text }}</h3>
    {% elif block.block_type == 'paragraph' %}
        <div class="rich-text-block">{{ block.value|richtext }}</div>
    {% elif block.block_type == 'button' %}
        <a href="{{ block.value.button_link }}" class="button">{{ block.value.button_text }}</a>
    {% endif %}
{% endfor %}
