{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block body %}
  <header>
    {% include 'base/layouts/messages.html' %}
  </header>
  <main id="main">
    <section class="utility-page-wrap">
      <div class="utility-page-content base-password-page base-form">
        {% block content %}{% endblock %}
      </div>
    </section>
  </main>
{% endblock %}
{% block extra_js %}{% endblock %}