{% load allauth %}

{% if attrs.type == "checkbox" or attrs.type == "radio" %}
  <div class="w-commerce-commercecheckoutbillingaddresstogglewrapper billing-address-toggle">
    <div class="w-commerce-commercecheckoutbillingaddresstogglewrapper billing-address-toggle">
      <input {% if attrs.required %}required{% endif %}
              name="{{ attrs.name }}"
              class="w-commerce-commercecheckoutbillingaddresstogglecheckbox"
              id="{{ attrs.id }}"
              value="{{ attrs.value|default_if_none:"" }}"
              {% if attrs.disabled %}disabled{% endif %}
              {% if attrs.checked %}checked{% endif %}
              type="{{ attrs.type }}">
    </div>
    <label class="w-commerce-commercecheckoutbillingaddresstogglelabel" for="{{ attrs.id }}">{% slot label %}{% endslot %}</label>
  </div>

{% elif attrs.type == "textarea" %}
  <label for="{{ attrs.id }}">{% slot label %}{% endslot %}</label>
  <textarea class="text-field textarea"
          {% if attrs.required %}required{% endif %}
          {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
          {% if attrs.disabled %}disabled{% endif %}
          {% if attrs.readonly %}readonly{% endif %}
          {% if attrs.checked %}checked{% endif %}
          {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
          {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
          {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}>{% slot value %}{% endslot %}
  </textarea>
{% elif attrs.type == "hidden" %}
  <input {% if attrs.required %}required{% endif %}
          name="{{ attrs.name }}"
          id="{{ attrs.id }}"
          value="{{ attrs.value|default_if_none:"" }}"
          type="hidden">
{% else %}
  <label for="{{ attrs.id }}">{% slot label %}{% endslot %}</label>
  <input class="text-field w-input"
    {% if attrs.required %}required{% endif %}
    {% if attrs.disabled %}disabled{% endif %}
    {% if attrs.readonly %}readonly{% endif %}
    {% if attrs.checked %}checked{% endif %}
    {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
    {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
    {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
    {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
    value="{{ attrs.value|default_if_none:"" }}"
    type="{{ attrs.type }}">
  {% if slots.help_text %}
    <div class="text-account">{% slot help_text %}{% endslot %}</div>
  {% endif %}
  {% if attrs.errors %}
    {% for error in attrs.errors %}
    <div class="error-message">
      <div class="text-error">{{ error|striptags }}</div>
    </div>
    {% endfor %}
  {% endif %}
{% endif %}