* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
html.base-mod-touch * {
  background-attachment: scroll !important;
}
input.base-button {
  -webkit-appearance: button;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
blockquote {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  border-left: 5px solid #E2E2E2;
  font-size: 18px;
  line-height: 22px;
}
figure {
  margin: 0;
  margin-bottom: 10px;
}
figcaption {
  margin-top: 5px;
  text-align: center;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

article,
aside
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

.base-icon-nav-menu:before {
    content: ""
}

.base-inline-block {
    max-width: 100%;
    display: inline-block
}

.base-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0
}

input.base-button {
    -webkit-appearance: button
}

button,
[type="button"],
[type="reset"] {
    border: 0;
    cursor: pointer;
    -webkit-appearance: button
}

.base-widget-map .gm-style-iw > button {
    display: none !important
}

.base-background-video {
    position: relative;
    overflow: hidden;
    height: 500px;
    color: white
}

.base-background-video > video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
    z-index: -100
}

.base-background-video > video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none
}

.base-background-video--control {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: transparent;
    padding: 0
}

.base-background-video--control > [hidden] {
    display: none !important
}

.base-slider-nav {
    position: absolute;
    z-index: 2;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 10px;
    height: 40px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0)
}

.base-slider-nav.base-round > div {
    border-radius: 100%
}

.base-slider-nav.base-num > div {
    width: auto;
    height: auto;
    padding: 0.2em 0.5em;
    font-size: inherit;
    line-height: inherit
}

.base-slider-nav.base-shadow > div {
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.4)
}

.base-slider-nav-invert {
    color: #fff
}

.base-slider-nav-invert > div {
    background-color: rgba(34, 34, 34, 0.4)
}

.base-slider-nav-invert > div.base-active {
    background-color: #222
}

.base-dropdown-link.base--current {
    color: #0082f3
}

.base-lightbox-content {
    position: relative;
    height: 100vh;
    overflow: hidden
}

.base-richtext:before,
.base-richtext:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.base-richtext:after {
    clear: both
}

.base-richtext[contenteditable="true"]:before,
.base-richtext[contenteditable="true"]:after {
    white-space: initial
}

.base-richtext ol,
.base-richtext ul {
    overflow: hidden
}

.base-richtext .base-richtext-figure-selected.base-richtext-figure-type-video div:after,
.base-richtext .base-richtext-figure-selected[data-rt-type="video"] div:after {
    outline: 2px solid #2895f7
}

.base-richtext .base-richtext-figure-selected.base-richtext-figure-type-image div,
.base-richtext .base-richtext-figure-selected[data-rt-type="image"] div {
    outline: 2px solid #2895f7
}

.base-richtext figure.base-richtext-figure-type-video > div:after,
.base-richtext figure[data-rt-type="video"] > div:after {
    content: "";
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.base-richtext figure {
    position: relative;
    max-width: 60%
}

.base-richtext figure > div:before {
    cursor: default !important
}

.base-richtext figure img {
    width: 100%
}

.base-richtext figure figcaption.base-richtext-figcaption-placeholder {
    opacity: 0.6
}

.base-richtext figure div {
    font-size: 0;
    color: transparent
}

.base-richtext figure.base-richtext-figure-type-image,
.base-richtext figure[data-rt-type="image"] {
    display: table
}

.base-richtext figure.base-richtext-figure-type-image > div,
.base-richtext figure[data-rt-type="image"] > div {
    display: inline-block
}

.base-richtext figure.base-richtext-figure-type-image > figcaption,
.base-richtext figure[data-rt-type="image"] > figcaption {
    display: table-caption;
    caption-side: bottom
}

.base-richtext figure.base-richtext-figure-type-video,
.base-richtext figure[data-rt-type="video"] {
    width: 60%;
    height: 0
}

.base-richtext figure.base-richtext-figure-type-video iframe,
.base-richtext figure[data-rt-type="video"] iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.base-richtext figure.base-richtext-figure-type-video > div,
.base-richtext figure[data-rt-type="video"] > div {
    width: 100%
}

.base-richtext figure.base-richtext-align-center {
    margin-right: auto;
    margin-left: auto;
    clear: both
}

.base-richtext figure.base-richtext-align-center.base-richtext-figure-type-image > div,
.base-richtext figure.base-richtext-align-center[data-rt-type="image"] > div {
    max-width: 100%
}

.base-richtext figure.base-richtext-align-normal {
    clear: both
}

.base-richtext figure.base-richtext-align-fullwidth {
    width: 100%;
    max-width: 100%;
    text-align: center;
    clear: both;
    display: block;
    margin-right: auto;
    margin-left: auto
}

.base-richtext figure.base-richtext-align-fullwidth > div {
    display: inline-block;
    padding-bottom: inherit
}

.base-richtext figure.base-richtext-align-fullwidth > figcaption {
    display: block
}

.base-richtext figure.base-richtext-align-floatleft {
    float: left;
    margin-right: 15px;
    clear: none
}

.base-richtext figure.base-richtext-align-floatright {
    float: right;
    margin-left: 15px;
    clear: none
}

.base-nav {
    position: relative;
    background: #ddd;
    z-index: 1000
}

.base-nav:before,
.base-nav:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.base-nav:after {
    clear: both
}

.base-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333
}

.base-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto
}

.base-nav-link.base--current {
    color: #0082f3
}

.base-nav-menu {
    position: relative;
    float: right
}

[data-nav-menu-open] {
    display: block !important;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #C8C8C8;
    text-align: center;
    overflow: visible;
    min-width: 200px
}

.base--nav-link-open {
    display: block;
    position: relative
}

.base-nav-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%
}

.base-nav-overlay [data-nav-menu-open] {
    top: 0
}

.base-nav[data-animation="over-left"] .base-nav-overlay {
    width: auto
}

.base-nav[data-animation="over-left"] .base-nav-overlay,
.base-nav[data-animation="over-left"] [data-nav-menu-open] {
    right: auto;
    z-index: 1;
    top: 0
}

.base-nav[data-animation="over-right"] .base-nav-overlay {
    width: auto
}

.base-nav[data-animation="over-right"] .base-nav-overlay,
.base-nav[data-animation="over-right"] [data-nav-menu-open] {
    left: auto;
    z-index: 1;
    top: 0
}

.base-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.base-nav-button:focus {
    outline: 0
}

.base-nav-button.base--open {
    background-color: #C8C8C8;
    color: white
}

.base-nav[data-collapse="all"] .base-nav-menu {
    display: none
}

.base-nav[data-collapse="all"] .base-nav-button {
    display: block
}

.base--nav-dropdown-open {
    display: block
}

.base--nav-dropdown-toggle-open {
    display: block
}

.base--nav-dropdown-list-open {
    position: static
}

.base-tab-link.base--current {
    background-color: #C8C8C8
}

.base-tab-content {
    position: relative;
    display: block;
    overflow: hidden
}


@media (min-width: 768px) {
  .base-nav-brand {
    padding-left: 10px;
  }
}

@media screen and (max-width: 991px) {
  .base-nav[data-collapse="medium"] .base-nav-menu {
    display: none;
  }
  .base-nav[data-collapse="medium"] .base-nav-button {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .base-nav[data-collapse="small"] .base-nav-menu {
    display: none;
  }
  .base-nav[data-collapse="small"] .base-nav-button {
    display: block;
  }
  .base-nav-brand {
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .base-nav[data-collapse="tiny"] .base-nav-menu {
    display: none;
  }
  .base-nav[data-collapse="tiny"] .base-nav-button {
    display: block;
  }
  .w-tab-link {
    display: block;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}