:root {
  --white: white;
  --background: #f4f6f7;
  --paragraph: rgba(20, 23, 24, .8);
  --heading: #141718;
  --border: rgba(15, 100, 146, .2);

  --neutral-dark: #333;
  --neutral-light: #f2f2f2;

  --navbar-background: rgba(138, 215, 160, 0.8);
  --navbar-border: 1px solid rgba(138, 215, 160, 0.3);

  --strong-green: #00693e;
  --strong-red: #bc0087;
  --strong-blue: #3959ff;
  --strong-yellow: #ffc107;

  --accent-green: rgba(0, 135, 38, .07);
  --accent-red: rgba(188, 0, 135, .07);
  --accent-blue: rgba(57, 89, 255, .07);
  --accent-yellow: rgba(255, 193, 7, .07);

  --accent-success: rgba(138, 215, 160, .09);
  --accent-error: rgba(229, 57, 53, .09);
  --accent-warning: rgba(255, 193, 7, .09);
  --accent-info: rgba(59, 111, 149, .09);

  --pale-lime-green-background: rgba(199, 249, 204, 0.8);
  --tea-green-background: rgba(208, 240, 192, 0.8);
  --honeydew-background: rgba(240, 255, 240, 0.8);
}

.layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid
}

.rich-text-block p {
    margin-bottom: 1.4em
}

.rich-text-block h1 {
    margin-bottom: 0.4em
}

.rich-text-block h2,
.rich-text-block h3,
.rich-text-block h4,
.rich-text-block h5,
.rich-text-block h6 {
    margin-top: 1em;
    margin-bottom: 0.4em
}

.rich-text-block a {
    border-bottom: 1px solid var(--strong-green);
    color: var(--strong-green);
    text-decoration: none;
    transition: border-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.rich-text-block a:hover {
    border-bottom-color: var(--heading);
    color: var(--heading)
}

.content {
    width: 100%;
    max-width: 75em
}

.content.narrow {
    max-width: 60em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    display: flex
}

.section-hero {
    justify-content: center;
    align-items: center;
    padding: 3.5em 2em 3.75em;
    display: flex
}

.button-hero {
    grid-column-gap: 0.5em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex
}

.link-button {
    grid-column-gap: 0.4em;
    border-radius: 50em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.9em;
    text-decoration: none;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), padding 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex
}

.link-button:hover {
    box-shadow: inset 0 0 0 2px var(--strong-green);
    padding-left: 1.6em;
    padding-right: 1.6em
}

.icon-button {
    width: 1.5em;
    height: 1.5em
}

.text-button {
    color: var(--strong-green);
    letter-spacing: -0.02em;
    font-size: 1.12em;
    font-weight: 500;
    line-height: 120%
}

.section {
    justify-content: center;
    align-items: center;
    padding: 3.75em 2em;
    display: flex
}

.yellow-tag {
    background-color: var(--strong-yellow);
    color: var(--heading);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 0.6em;
    padding: 0.7em 1.1em;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 110%;
    position: absolute;
    top: -0.8em;
    bottom: auto;
    left: auto;
    right: 2em
}

.logo-client {
    max-height: 2.7em;
    margin-left: 2.7em;
    margin-right: 2.7em
}

.subtitle.white {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1)
}

.accordion-content {
    display: block;
    overflow: hidden
}

.submit-button {
    background-color: var(--strong-green);
    color: var(--white);
    letter-spacing: -0.02em;
    border-radius: 0.87em;
    padding: 1.2em 1.8em;
    font-size: 1.12em;
    font-weight: 500;
    line-height: 120%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.submit-button:hover {
    box-shadow: 0 15px 40px -10px var(--strong-green)
}

.submit-button.yellow {
    background-color: var(--strong-yellow);
    color: var(--heading)
}

.submit-button.yellow:hover {
    box-shadow: 0 15px 40px -10px var(--strong-yellow)
}

.error-message.yellow {
    border: 1px dashed var(--strong-yellow);
    background-color: rgba(0, 0, 0, 0)
}

.text-error {
    color: #bc0003;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 130%
}

.text-error.yellow {
    color: var(--strong-yellow)
}

.success-message.yellow {
    border: 1px dashed var(--strong-yellow);
    background-color: rgba(0, 0, 0, 0)
}

.text-success.yellow {
    color: var(--strong-yellow)
}

.section-full {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 3.75em 2em;
    display: flex
}

.brand-center {
    flex: none;
    margin-top: 1.2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 0.3em
}

.heading-account.white {
    color: var(--white)
}

.paragraph-account.white {
    color: rgba(255, 255, 255, 0.8)
}

.text-account.white {
    color: rgba(255, 255, 255, 0.5)
}

.link-account.white {
    color: rgba(255, 255, 255, 0.5)
}

.link-account.white:hover {
    color: var(--white)
}

.utility-page-content {
    width: 100%;
    max-width: 24em;
    background-color: var(--white);
    text-align: center;
    border-radius: 0.87em;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding: 3.1em;
    display: flex;
    box-shadow: 0 15px 25px -10px rgba(20, 23, 24, 0.05)
}

.block-content {
    background-color: rgba(0, 0, 0, 0);
    border: 1px #000;
    padding: 1.5em
}

.page-body {
    width: 100%;
    background-color: var(--white);
    border-radius: 0.87em;
    margin-bottom: 1em;
    padding: 5em 13%;
    box-shadow: 0 15px 25px -10px rgba(20, 23, 24, 0.05)
}

.heading-template {
    margin-bottom: 0.8em
}

.grid-colors {
    grid-column-gap: 0.6em;
    grid-row-gap: 0.6em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr
}

.block-color {
    min-height: 11em;
    grid-column-gap: 0.25em;
    grid-row-gap: 0.25em;
    background-color: var(--white);
    border-radius: 0.5em;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1.2em;
    display: flex
}

.block-color.background {
    background-color: var(--background)
}

.block-color.border {
    background-color: var(--border)
}

.block-color.heading-color {
    background-color: var(--heading)
}

.block-color.accent-a1 {
    background-color: var(--strong-green)
}

.block-color.accent-a2 {
    background-color: var(--strong-blue)
}

.block-color.accent-a3 {
    background-color: var(--strong-red)
}

.block-color.accent-a4 {
    background-color: var(--strong-yellow)
}

.block-color.accent-b1 {
    background-color: var(--accent-green)
}

.block-color.accent-b2 {
    background-color: var(--accent-blue)
}

.block-color.accent-b3 {
    background-color: var(--accent-red)
}

.block-color.paragraph-color {
    background-color: var(--paragraph)
}

.text-color {
    color: var(--heading);
    letter-spacing: -0.02em;
    font-size: 1em;
    font-weight: 600;
    line-height: 120%
}

.text-color.white {
    color: var(--white)
}

.hex-color {
    opacity: 0.5;
    color: var(--heading);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 130%
}

.hex-color.white {
    color: var(--white)
}

.paragraph-template {
    margin-bottom: 2.4em
}

.grid-licensing {
    grid-column-gap: 0.8em;
    grid-row-gap: 0.8em;
    grid-template-rows: auto
}

.image-template {
    object-fit: cover;
    border-radius: 0.6em
}

.lottie-template {
    background-color: var(--background);
    border-radius: 0.6em
}

.grid-icon-licensing {
    grid-column-gap: 0.8em;
    grid-row-gap: 0.8em;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    align-content: stretch;
    justify-content: start;
    align-items: center;
    justify-items: start
}

.icon-licensing {
    width: 4.2em;
    height: 4.2em;
    max-width: none;
    background-color: var(--accent-green);
    border-radius: 0.87em;
    padding: 1.3em
}

.font-template {
    background-color: var(--accent-green);
    border-radius: 0.87em;
    margin-top: 0.7em;
    padding: 1.3em 1.8em
}

.ibm-plex-mono {
    font-family: IBM Plex Mono, sans-serif;
    font-weight: 500
}