.w-icon-nav-menu:before {
    content: ""
    }
.w-inline-block {
    max-width: 100%;
    display: inline-block
    }
.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0
    }
input.w-button {
    -webkit-appearance: button
    }
.w-dropdown-link.w--current {
    color: #0082f3
    }
.w-richtext:before, .w-richtext:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
    }
.w-richtext:after {
    clear: both
    }
.w-richtext[contenteditable="true"]:before, .w-richtext[contenteditable="true"]:after {
    white-space: initial
    }
.w-richtext ol, .w-richtext ul {
    overflow: hidden
    }
.w-richtext .w-richtext-figure-selected.w-richtext-figure-type-video div:after, .w-richtext .w-richtext-figure-selected[data-rt-type="video"] div:after {
    outline: 2px solid #2895f7
    }
.w-richtext .w-richtext-figure-selected.w-richtext-figure-type-image div, .w-richtext .w-richtext-figure-selected[data-rt-type="image"] div {
    outline: 2px solid #2895f7
    }
.w-richtext figure.w-richtext-figure-type-video > div:after, .w-richtext figure[data-rt-type="video"] > div:after {
    content: "";
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
    }
.w-richtext figure {
    position: relative;
    max-width: 60%
    }
.w-richtext figure > div:before {
    cursor: default !important
    }
.w-richtext figure img {
    width: 100%
    }
.w-richtext figure figcaption.w-richtext-figcaption-placeholder {
    opacity: 0.6
    }
.w-richtext figure div {
    /* fix incorrectly sized selection border in the data manager */
    font-size: 0;
    color: transparent
    }
.w-richtext figure.w-richtext-figure-type-image, .w-richtext figure[data-rt-type="image"] {
    display: table
    }
.w-richtext figure.w-richtext-figure-type-image > div, .w-richtext figure[data-rt-type="image"] > div {
    display: inline-block
    }
.w-richtext figure.w-richtext-figure-type-image > figcaption, .w-richtext figure[data-rt-type="image"] > figcaption {
    display: table-caption;
    caption-side: bottom
    }
.w-richtext figure.w-richtext-figure-type-video, .w-richtext figure[data-rt-type="video"] {
    width: 60%;
    height: 0
    }
.w-richtext figure.w-richtext-figure-type-video iframe, .w-richtext figure[data-rt-type="video"] iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
    }
.w-richtext figure.w-richtext-figure-type-video > div, .w-richtext figure[data-rt-type="video"] > div {
    width: 100%
    }
.w-richtext figure.w-richtext-align-center {
    margin-right: auto;
    margin-left: auto;
    clear: both
    }
.w-richtext figure.w-richtext-align-center.w-richtext-figure-type-image > div, .w-richtext figure.w-richtext-align-center[data-rt-type="image"] > div {
    max-width: 100%
    }
.w-richtext figure.w-richtext-align-normal {
    clear: both
    }
.w-richtext figure.w-richtext-align-fullwidth {
    width: 100%;
    max-width: 100%;
    text-align: center;
    clear: both;
    display: block;
    margin-right: auto;
    margin-left: auto
    }
.w-richtext figure.w-richtext-align-fullwidth > div {
    display: inline-block;
    /* padding-bottom is used for aspect ratios in video figures
          we want the div to inherit that so hover/selection borders in the designer-canvas
          fit right*/
    padding-bottom: inherit
    }
.w-richtext figure.w-richtext-align-fullwidth > figcaption {
    display: block
    }
.w-richtext figure.w-richtext-align-floatleft {
    float: left;
    margin-right: 15px;
    clear: none
    }
.w-richtext figure.w-richtext-align-floatright {
    float: right;
    margin-left: 15px;
    clear: none
    }
.w-nav {
    position: relative;
    background: #ddd;
    z-index: 1000
    }
.w-nav:before, .w-nav:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
    }
.w-nav:after {
    clear: both
    }
.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333
    }
.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto
    }
.w-nav-link.w--current {
    color: #0082f3
    }
.w-nav-menu {
    position: relative;
    float: right
    }
.w-nav-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%
    }
.w-nav-overlay [data-nav-menu-open] {
    top: 0
    }
.w-nav[data-animation="over-left"] .w-nav-overlay {
    width: auto
    }
.w-nav[data-animation="over-left"] .w-nav-overlay, .w-nav[data-animation="over-left"] [data-nav-menu-open] {
    right: auto;
    z-index: 1;
    top: 0
    }
.w-nav[data-animation="over-right"] .w-nav-overlay {
    width: auto
    }
.w-nav[data-animation="over-right"] .w-nav-overlay, .w-nav[data-animation="over-right"] [data-nav-menu-open] {
    left: auto;
    z-index: 1;
    top: 0
    }
.w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
    }
.w-nav-button:focus {
    outline: 0
    }
.w-nav-button.w--open {
    background-color: #C8C8C8;
    color: white
    }
.w-nav[data-collapse="all"] .w-nav-menu {
    display: none
    }
.w-nav[data-collapse="all"] .w-nav-button {
    display: block
    }
.w-tab-link.w--current {
    background-color: #C8C8C8
    }

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid
    }
.w-commerce-commercecartwrapper {
    display: inline-block;
    position: relative
    }
.w-commerce-commercecartopenlink {
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: #3898ec;
    border-width: 0;
    border-radius: 0;
    align-items: center;
    padding: 9px 15px;
    text-decoration: none;
    display: flex
    }
.w-commerce-commercecartopenlinkcount {
    height: 18px;
    min-width: 18px;
    color: #3898ec;
    text-align: center;
    background-color: #fff;
    border-radius: 9px;
    margin-left: 8px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    display: inline-block
    }
.w-commerce-commercecartcontainerwrapper {
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
    }
.w-commerce-commercecartcontainerwrapper--cartType-modal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
    }
.w-commerce-commercecartcontainerwrapper--cartType-leftSidebar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    display: flex
    }
.w-commerce-commercecartcontainerwrapper--cartType-rightSidebar {
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    display: flex
    }
.w-commerce-commercecartcontainerwrapper--cartType-leftDropdown {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 100%;
    bottom: auto;
    left: 0;
    right: auto
    }
.w-commerce-commercecartcontainerwrapper--cartType-rightDropdown {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 100%;
    bottom: auto;
    left: auto;
    right: 0
    }
.w-commerce-commercecartcontainer {
    width: 100%;
    max-width: 480px;
    min-width: 320px;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    overflow: auto;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25)
    }
.w-commerce-commercecartheader {
    border-bottom: 1px solid #e6e6e6;
    flex: none;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    display: flex;
    position: relative
    }
.w-commerce-commercecartheading {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0
    }
.w-commerce-commercecartcloselink {
    width: 16px;
    height: 16px
    }
.w-commerce-commercecartformwrapper {
    flex-direction: column;
    flex: 1;
    display: flex
    }
.w-commerce-commercecartform {
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    display: flex
    }
.w-commerce-commercecartlist {
    -webkit-overflow-scrolling: touch;
    flex: 1;
    padding: 12px 24px;
    overflow: auto
    }
.w-commerce-commercecartfooter {
    border-top: 1px solid #e6e6e6;
    flex-direction: column;
    flex: none;
    padding: 16px 24px 24px;
    display: flex
    }
.w-commerce-commercecartlineitem {
    flex: none;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 16px;
    display: flex
    }
.w-commerce-commercecartordervalue {
    font-weight: 700
    }
.w-commerce-commercecartapplepaybutton {
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    height: 38px;
    min-height: 30px;
    background-color: #000;
    border-width: 0;
    border-radius: 2px;
    align-items: center;
    margin-bottom: 8px;
    padding: 0;
    text-decoration: none;
    display: flex
    }
.w-commerce-commercecartquickcheckoutbutton {
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    height: 38px;
    background-color: #000;
    border-width: 0;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    padding: 0 15px;
    text-decoration: none;
    display: flex
    }
.w-commerce-commercequickcheckoutgoogleicon, .w-commerce-commercequickcheckoutmicrosofticon {
    margin-right: 8px;
    display: block
    }
.w-commerce-commercecartcheckoutbutton {
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    text-align: center;
    background-color: #3898ec;
    border-width: 0;
    border-radius: 2px;
    align-items: center;
    padding: 9px 15px;
    text-decoration: none;
    display: block
    }
.w-commerce-commercecartemptystate {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex
    }
.w-commerce-commercecarterrorstate {
    background-color: #ffdede;
    flex: none;
    margin: 0 24px 24px;
    padding: 10px
    }
.rich-text-block p {
    margin-bottom: 1.4em
    }
.rich-text-block h1 {
    margin-bottom: 0.4em
    }
.rich-text-block h2, .rich-text-block h3, .rich-text-block h4, .rich-text-block h5, .rich-text-block h6 {
    margin-top: 1em;
    margin-bottom: 0.4em
    }
.rich-text-block a {
    border-bottom: 1px solid var(--accent-a1);
    color: var(--accent-a1);
    text-decoration: none;
    transition: border-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.rich-text-block a:hover {
    border-bottom-color: var(--heading);
    color: var(--heading)
    }
.link {
    border-bottom: 1px solid var(--accent-a1);
    color: var(--accent-a1);
    text-decoration: none;
    transition: border-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.link:hover {
    border-bottom-color: var(--heading);
    color: var(--heading)
    }
.navbar {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.7em;
    padding: 1.1em 2em;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0
    }
.nav-block {
    width: 100%;
    max-width: 75em;
    grid-column-gap: 1em;
    justify-content: space-between;
    align-items: center;
    display: flex
    }
.nav {
    grid-column-gap: 0.5em;
    justify-content: center;
    align-items: center;
    display: flex
    }
.brand {
    flex: none;
    margin-right: 0.5em;
    padding: 0.5em 0.3em
    }
.logo {
    height: 1.56em
    }
.nav-menu {
    justify-content: center;
    align-items: center;
    display: flex
    }
.nav-link {
    color: var(--heading);
    letter-spacing: -0.02em;
    padding: 0.7em 1.2em;
    font-size: 1em;
    font-weight: 500;
    line-height: 120%;
    transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.nav-link:hover {
    color: var(--accent-a1)
    }
.nav-link.w--current {
    color: var(--heading)
    }
.nav-link.w--current:hover {
    color: var(--accent-a1)
    }
.nav-button {
    background-color: var(--heading);
    color: var(--white);
    letter-spacing: -0.02em;
    border-radius: 50em;
    padding: 0.7em 1.4em;
    font-size: 1em;
    font-weight: 500;
    line-height: 120%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.nav-button:hover {
    background-color: var(--accent-a1);
    box-shadow: 0 15px 40px -10px var(--accent-a1)
    }
.nav-button-outline {
    box-shadow: 0 0 0 -10px var(--accent-a1), inset 0 0 0 2px var(--accent-a1);
    color: var(--accent-a1);
    letter-spacing: -0.02em;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50em;
    padding: 0.7em 1.4em;
    font-size: 1em;
    font-weight: 500;
    line-height: 120%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.nav-button-outline:hover {
    background-color: var(--accent-a1);
    box-shadow: 0 15px 40px -10px var(--accent-a1), inset 0 0 0 2px var(--accent-a1);
    color: var(--white)
    }
.section-top-bar {
    background-color: var(--accent-a1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.4em 2em;
    display: flex
    }
.content {
    width: 100%;
    max-width: 75em
    }
.content.narrow {
    max-width: 60em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    display: flex
    }
.top-bar-block {
    width: 100%;
    max-width: 75em;
    grid-column-gap: 1em;
    justify-content: space-between;
    align-items: center;
    display: flex
    }
.top-bar {
    grid-column-gap: 1.87em;
    justify-content: center;
    align-items: center;
    display: flex
    }
.info-top-bar {
    opacity: 0.7;
    color: var(--white);
    letter-spacing: -0.02em;
    font-size: 0.87em;
    line-height: 120%
    }
.link-top-bar {
    grid-column-gap: 0.35em;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex
    }
.link-top-bar:hover {
    opacity: 1
    }
.icon-top-bar {
    width: 1.125em;
    height: 1.125em
    }
.text-top-bar {
    color: var(--white);
    letter-spacing: -0.02em;
    font-size: 0.87em;
    line-height: 120%
    }
.button-desktop {
    grid-column-gap: 0.5em;
    justify-content: center;
    align-items: center;
    display: flex
    }
.button-mobile {
    grid-column-gap: 0.5em;
    grid-row-gap: 1em;
    justify-content: center;
    align-items: center;
    display: none
    }
.section-hero {
    justify-content: center;
    align-items: center;
    padding: 3.5em 2em 3.75em;
    display: flex
    }
.heading-hero {
    max-width: 11.5em;
    margin-bottom: 0.38em
    }
.button-hero {
    grid-column-gap: 0.5em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex
    }
.button {
    background-color: var(--accent-a1);
    color: var(--white);
    letter-spacing: -0.02em;
    border-radius: 50em;
    padding: 0.9em 1.8em;
    font-size: 1.12em;
    font-weight: 500;
    line-height: 120%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.button:hover {
    box-shadow: 0 15px 40px -10px var(--accent-a1)
    }
.button.yellow {
    background-color: var(--accent-a4);
    color: var(--heading)
    }
.button.yellow:hover {
    box-shadow: 0 15px 40px -10px var(--accent-a4)
    }
.button.dark {
    background-color: var(--heading)
    }
.button.dark:hover {
    background-color: var(--accent-a1)
    }
.link-button {
    grid-column-gap: 0.4em;
    border-radius: 50em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.9em;
    text-decoration: none;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), padding 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex
    }
.link-button:hover {
    box-shadow: inset 0 0 0 2px var(--accent-a1);
    padding-left: 1.6em;
    padding-right: 1.6em
    }
.link-info {
    background-color: var(--white);
    border-radius: 50em;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.8em;
    padding: 3px;
    text-decoration: none;
    transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex
    }
.link-info:hover {
    background-color: var(--accent-a4)
    }
.section {
    justify-content: center;
    align-items: center;
    padding: 3.75em 2em;
    display: flex
    }
.link-block {
    grid-column-gap: 0.5em;
    border-radius: 50px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0.3em;
    text-decoration: none;
    transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), padding 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex
    }
.link-block:hover {
    background-color: var(--accent-b1);
    padding-left: 1em
    }
.yellow-tag {
    background-color: var(--accent-a4);
    color: var(--heading);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 0.6em;
    padding: 0.7em 1.1em;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 110%;
    position: absolute;
    top: -0.8em;
    bottom: auto;
    left: auto;
    right: 2em
    }
.subtitle-clients {
    opacity: 0.7;
    color: var(--heading);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 2.3em;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 130%
    }
.logo-client {
    max-height: 2.7em;
    margin-left: 2.7em;
    margin-right: 2.7em
    }
.heading {
    max-width: 9em;
    margin-bottom: 0.5em
    }
.heading.large {
    max-width: 13em
    }
.heading.banner {
    color: var(--white);
    margin-bottom: 0.7em
    }
.subtitle {
    background-color: var(--white);
    color: var(--heading);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 0.6em;
    margin-bottom: 0.7em;
    padding: 0.5em 1em;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 130%;
    box-shadow: 0 10px 20px -10px rgba(20, 23, 24, 0.05)
    }
.subtitle.white {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1)
    }
.subtitle.blue {
    background-color: var(--accent-b1);
    color: var(--accent-a1)
    }
.heading-numbers {
    color: var(--accent-a1);
    font-weight: 500
    }
.heading-numbers.green {
    color: var(--accent-a3)
    }
.heading-contact-lottie {
    color: var(--accent-a1);
    font-weight: 500
    }
.heading-accordion {
    margin-top: 0.3em;
    margin-bottom: 0.3em
    }
.grid-banner {
    grid-column-gap: 0;
    grid-row-gap: 0;
    background-color: var(--accent-a1);
    border-radius: 0.87em;
    grid-template-rows: auto;
    align-items: center;
    position: relative;
    overflow: hidden
    }
.block-banner {
    z-index: 50;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 12%;
    display: flex;
    position: relative
    }
.lottie-banner {
    position: absolute;
    top: -6%;
    bottom: auto;
    left: auto;
    right: 0%
    }
.lines-d1 {
    z-index: 5;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 8%;
    padding-right: 8.5%;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%
    }
.lines-d2 {
    z-index: 5;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 14%;
    padding-bottom: 14%;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%
    }
.block-lottie-banner {
    z-index: 10;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    display: flex;
    position: relative
    }
.line-banner-w {
    width: 1px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.2) 90%, rgba(255, 255, 255, 0))
    }
.lottie-animation-1-banner {
    width: 100%
    }
.lottie-animation-2-banner {
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%
    }
.lottie-animation-2-blur-banner {
    z-index: 5;
    width: 100%;
    filter: blur(50px);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%
    }
.section-footer {
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 3.75em 2em 0;
    display: flex
    }
.grid-footer {
    grid-column-gap: 1.4em;
    grid-row-gap: 0;
    grid-template-rows: auto;
    grid-template-columns: 2.4fr 1fr 1fr 1fr;
    margin-bottom: 7.5em
    }
.block-footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
    }
.subtitle-footer {
    color: rgba(20, 23, 24, 0.5);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 1.7em;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 130%
    }
.link-footer {
    color: var(--heading);
    letter-spacing: -0.02em;
    padding-top: 0.44em;
    padding-bottom: 0.44em;
    font-size: 1em;
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.link-footer:hover {
    color: var(--accent-a1)
    }
.logo-footer {
    height: 1.56em;
    margin-bottom: 1.8em
    }
.paragraph-footer {
    max-width: 26em;
    color: rgba(20, 23, 24, 0.5);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 2.2em;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 165%
    }
.block-social {
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    justify-content: flex-start;
    align-items: center;
    display: flex
    }
.social-link {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--white);
    box-shadow: inset 0 0 0 0 var(--accent-a1), 0 15px 25px -10px rgba(20, 23, 24, 0.05);
    border-radius: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex
    }
.social-link:hover {
    box-shadow: inset 0 0 0 2px var(--accent-a1), 0 15px 25px -10px rgba(20, 23, 24, 0.05)
    }
.icon-social {
    width: 1.5em;
    height: 1.5em
    }
.block-footer-down {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3em;
    display: flex
    }
.text-footer-down {
    color: rgba(20, 23, 24, 0.5);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 165%
    }
.link-footer-down {
    color: var(--heading);
    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.link-footer-down:hover {
    color: var(--accent-a1)
    }
.line-banner-h {
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.2) 90%, rgba(255, 255, 255, 0))
    }
.section-top {
    justify-content: center;
    align-items: center;
    padding: 6em 2em 1.5em;
    display: flex
    }
.section-top.padding-0 {
    padding-bottom: 0
    }
.block-top {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
    }
.heading-top {
    max-width: 11.5em;
    margin-bottom: 0.38em
    }
.heading-solution-large {
    color: var(--accent-a1)
    }
.heading-solution-large.green {
    color: var(--accent-a3)
    }
.heading-list.blue {
    color: var(--accent-a1)
    }
.heading-list.green {
    color: var(--accent-a3)
    }
.heading-about {
    color: var(--accent-a1)
    }
.heading-about.green {
    color: var(--accent-a3)
    }
.heading-about.red {
    color: var(--accent-a2)
    }
.heading-quote {
    margin-bottom: 1.4em
    }
.heading-name {
    margin-bottom: 0.3em;
    line-height: 120%
    }
.link-post-thumbnail {
    width: 100%
    }
.link-post-thumbnail.large {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    display: flex
    }
.link-heading-post {
    margin-bottom: 1.3em;
    text-decoration: none
    }
.link-heading-post.large {
    margin-bottom: 1.4em
    }
.submit-button.yellow {
    background-color: var(--accent-a4);
    color: var(--heading)
    }
.submit-button.yellow:hover {
    box-shadow: 0 15px 40px -10px var(--accent-a4)
    }
.error-message.yellow {
    border: 1px dashed var(--accent-a4);
    background-color: rgba(0, 0, 0, 0)
    }
.text-error {
    color: #bc0003;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 130%
    }
.text-error.yellow {
    color: var(--accent-a4)
    }
.success-message.yellow {
    border: 1px dashed var(--accent-a4);
    background-color: rgba(0, 0, 0, 0)
    }
.text-success.yellow {
    color: var(--accent-a4)
    }
.section-full {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 3.75em 2em;
    display: flex
    }
.brand-center {
    flex: none;
    margin-top: 1.2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 0.3em
    }
.heading-account {
    max-width: 9em;
    margin-bottom: 0.3em
    }
.heading-account.white {
    color: var(--white)
    }
.paragraph-account.white {
    color: rgba(255, 255, 255, 0.8)
    }
.text-account.white {
    color: rgba(255, 255, 255, 0.5)
    }
.link-account {
    color: rgba(20, 23, 24, 0.6);
    transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.link-account:hover {
    color: var(--accent-a1)
    }
.link-account.white {
    color: rgba(255, 255, 255, 0.5)
    }
.link-account.white:hover {
    color: var(--white)
    }
.cart {
    flex: none
    }
.cart-button {
    background-color: var(--accent-a1);
    border-radius: 50em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6em;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex;
    position: relative
    }
.cart-button:hover {
    box-shadow: 0 15px 30px -8px var(--accent-a1)
    }
.icon-cart {
    width: 1.37em;
    height: 1.37em;
    flex: none
    }
.icon-cart-quantity {
    height: auto;
    min-width: auto;
    background-color: var(--white);
    color: var(--heading);
    border-radius: 50em;
    margin-left: 0;
    padding: 0.3em 0.6em 0.1em;
    font-size: 0.71em;
    font-weight: 500;
    line-height: 130%;
    position: absolute;
    top: -15%;
    bottom: auto;
    left: auto;
    right: -20%;
    box-shadow: 0 5px 5px rgba(20, 23, 24, 0.05)
    }
.cart-wrapper {
    background-color: rgba(0, 0, 0, 0)
    }
.cart-container {
    width: 100%;
    max-width: 30em;
    min-width: 22em;
    background-color: var(--white);
    border-radius: 0.87em;
    margin-top: 0.7em;
    box-shadow: 0 15px 25px -5px rgba(20, 23, 24, 0.15)
    }
.cart-header {
    border-bottom-color: var(--border);
    padding: 1em 1.5em
    }
.close-button {
    width: auto;
    height: auto;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
    display: flex
    }
.icon-close {
    width: 1.5em;
    height: 1.5em
    }
.cart-list {
    padding: 1em 1.5em
    }
.cart-item {
    align-items: flex-start;
    padding-top: 0.7em;
    padding-bottom: 0.7em
    }
.cart-item-name {
    color: var(--heading);
    letter-spacing: -0.02em;
    font-size: 1.05em;
    font-weight: 600;
    line-height: 130%
    }
.cart-item-price {
    color: var(--accent-a1);
    margin-bottom: 0.6em;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 120%
    }
.cart-quantity {
    width: 3.7em;
    height: 2.4em;
    border-color: var(--border);
    background-color: var(--white);
    color: var(--heading);
    border-radius: 0.62em;
    margin-bottom: 0.8em;
    padding: 0.5em 0.5em 0.5em 0.8em;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.3em;
    transition: border-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.cart-quantity:focus {
    border-color: var(--accent-a1)
    }
.cart-line-item {
    margin-bottom: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 0.9em;
    line-height: 140%
    }
.text-subtotal {
    color: var(--heading);
    font-size: 1.2em;
    font-weight: 600
    }
.apple-pay, .pay-with-browser {
    height: 2.8em;
    border-radius: 50em
    }
.checkout-button {
    background-color: var(--accent-a1);
    color: var(--white);
    letter-spacing: -0.02em;
    border-radius: 50em;
    margin-top: 1em;
    padding: 0.9em 1.8em;
    font-size: 1.12em;
    font-weight: 500;
    line-height: 120%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.checkout-button:hover {
    box-shadow: 0 15px 40px -10px var(--accent-a1)
    }
.cart-empty-state {
    flex-direction: column;
    padding-top: 3.5em;
    padding-bottom: 3.5em
    }
.text-cart-empty {
    color: var(--heading);
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 130%
    }
.button-small {
    background-color: var(--accent-a1);
    color: var(--white);
    letter-spacing: -0.02em;
    border-radius: 50em;
    padding: 0.7em 1.4em;
    font-size: 1em;
    font-weight: 500;
    line-height: 120%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.button-small:hover {
    box-shadow: 0 15px 40px -10px var(--accent-a1)
    }
.button-small.yellow {
    background-color: var(--accent-a4);
    color: var(--heading)
    }
.button-small.yellow:hover {
    box-shadow: 0 15px 40px -10px var(--accent-a4)
    }
.button-small.dark {
    background-color: var(--heading)
    }
.button-small.dark:hover {
    background-color: var(--accent-a1)
    }
.cart-error-state {
    background-color: rgba(188, 0, 3, 0.07);
    border-radius: 0.62em;
    margin: 0 1.5em 1.5em;
    padding: 1em 1.4em
    }
.link-product {
    margin-bottom: 0.15em;
    text-decoration: none
    }
.subtitle-product {
    color: rgba(20, 23, 24, 0.5);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 1.4em;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 130%
    }
.yellow-tag-product {
    background-color: var(--accent-a4);
    color: var(--heading);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 0.6em;
    padding: 0.7em 1.1em;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 110%
    }
.link-category {
    grid-column-gap: 0.63em;
    grid-row-gap: 0.63em;
    color: var(--heading);
    border-radius: 0.87em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2em 1.4em;
    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex
    }
.link-category:hover {
    color: var(--accent-a1)
    }
.link-category.w--current {
    background-color: var(--white);
    box-shadow: 0 15px 25px -10px rgba(20, 23, 24, 0.05)
    }
.buy-now-button.yellow {
    background-color: var(--accent-a4);
    color: var(--heading)
    }
.buy-now-button.yellow:hover {
    box-shadow: 0 15px 40px -10px var(--accent-a4)
    }
.page-body {
    width: 100%;
    background-color: var(--white);
    border-radius: 0.87em;
    margin-bottom: 1em;
    padding: 5em 13%;
    box-shadow: 0 15px 25px -10px rgba(20, 23, 24, 0.05)
    }
.heading-template {
    margin-bottom: 0.8em
    }
.grid-colors {
    grid-column-gap: 0.6em;
    grid-row-gap: 0.6em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr
    }
.block-color {
    min-height: 11em;
    grid-column-gap: 0.25em;
    grid-row-gap: 0.25em;
    background-color: var(--white);
    border-radius: 0.5em;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1.2em;
    display: flex
    }
.block-color.background {
    background-color: var(--background)
    }
.block-color.border {
    background-color: var(--border)
    }
.block-color.heading-color {
    background-color: var(--heading)
    }
.block-color.accent-a1 {
    background-color: var(--accent-a1)
    }
.block-color.accent-a2 {
    background-color: var(--accent-a2)
    }
.block-color.accent-a3 {
    background-color: var(--accent-a3)
    }
.block-color.accent-a4 {
    background-color: var(--accent-a4)
    }
.block-color.accent-b1 {
    background-color: var(--accent-b1)
    }
.block-color.accent-b2 {
    background-color: var(--accent-b2)
    }
.block-color.accent-b3 {
    background-color: var(--accent-b3)
    }
.block-color.paragraph-color {
    background-color: var(--paragraph)
    }
.text-color {
    color: var(--heading);
    letter-spacing: -0.02em;
    font-size: 1em;
    font-weight: 600;
    line-height: 120%
    }
.text-color.white {
    color: var(--white)
    }
.hex-color {
    opacity: 0.5;
    color: var(--heading);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 130%
    }
.hex-color.white {
    color: var(--white)
    }
.block-button {
    grid-column-gap: 0.8em;
    grid-row-gap: 0.8em;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
    display: flex
    }
.button-outline-small {
    box-shadow: 0 0 0 -10px var(--accent-a1), inset 0 0 0 2px var(--accent-a1);
    color: var(--accent-a1);
    letter-spacing: -0.02em;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50em;
    padding: 0.7em 1.4em;
    font-size: 1em;
    font-weight: 500;
    line-height: 120%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.button-outline-small:hover {
    background-color: var(--accent-a1);
    box-shadow: 0 15px 40px -10px var(--accent-a1), inset 0 0 0 2px var(--accent-a1);
    color: var(--white)
    }
.button-outline {
    box-shadow: 0 0 0 -10px var(--accent-a1), inset 0 0 0 2px var(--accent-a1);
    color: var(--accent-a1);
    letter-spacing: -0.02em;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50em;
    padding: 0.9em 1.8em;
    font-size: 1.12em;
    font-weight: 500;
    line-height: 120%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
.button-outline:hover {
    background-color: var(--accent-a1);
    box-shadow: 0 15px 40px -10px var(--accent-a1), inset 0 0 0 2px var(--accent-a1);
    color: var(--white)
    }
.paragraph-template {
    margin-bottom: 2.4em
    }
.grid-licensing {
    grid-column-gap: 0.8em;
    grid-row-gap: 0.8em;
    grid-template-rows: auto
    }
.image-template {
    object-fit: cover;
    border-radius: 0.6em
    }
.lottie-template {
    background-color: var(--background);
    border-radius: 0.6em
    }
.grid-icon-licensing {
    grid-column-gap: 0.8em;
    grid-row-gap: 0.8em;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    align-content: stretch;
    justify-content: start;
    align-items: center;
    justify-items: start
    }
.icon-licensing {
    width: 4.2em;
    height: 4.2em;
    max-width: none;
    background-color: var(--accent-b1);
    border-radius: 0.87em;
    padding: 1.3em
    }
.font-template {
    background-color: var(--accent-b1);
    border-radius: 0.87em;
    margin-top: 0.7em;
    padding: 1.3em 1.8em
    }
.ibm-plex-mono {
    font-family: IBM Plex Mono, sans-serif;
    font-weight: 500
    }