:root {
  --white: white;
  --background: #f4f6f7;
  --paragraph: rgba(20, 23, 24, .8);
  --heading: #141718;
  --border: rgba(15, 100, 146, .2);

  --neutral-dark: #333;
  --neutral-light: #f2f2f2;

  --navbar-background: rgba(138, 215, 160, 0.8);
  --navbar-border: 1px solid rgba(138, 215, 160, 0.3);

  --strong-green: #00693e;
  --strong-red: #bc0087;
  --strong-blue: #3959ff;
  --strong-yellow: #ffc107;

  --accent-green: rgba(0, 135, 38, .07);
  --accent-red: rgba(188, 0, 135, .07);
  --accent-blue: rgba(57, 89, 255, .07);
  --accent-yellow: rgba(255, 193, 7, .07);

  --accent-success: rgba(138, 215, 160, .09);
  --accent-error: rgba(229, 57, 53, .09);
  --accent-warning: rgba(255, 193, 7, .09);
  --accent-info: rgba(59, 111, 149, .09);

  --pale-lime-green-background: rgba(199, 249, 204, 0.8);
  --tea-green-background: rgba(208, 240, 192, 0.8);
  --honeydew-background: rgba(240, 255, 240, 0.8);
}

.layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid
}

body {
  background-color: var(--background);
  color: var(--paragraph);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  display: flex;
}

h1 {
  color: var(--heading);
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.12em;
  font-weight: 700;
  line-height: 110%;
}

h2 {
  color: var(--heading);
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.12em;
  font-weight: 700;
  line-height: 115%;
}

h3 {
  color: var(--heading);
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.37em;
  font-weight: 700;
  line-height: 120%;
}

h4 {
  color: var(--heading);
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75em;
  font-weight: 700;
  line-height: 125%;
}

h5 {
  color: var(--heading);
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.37em;
  font-weight: 700;
  line-height: 128%;
}

h6 {
  color: var(--heading);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 600;
  line-height: 140%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: underline;
}

ul, ol {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 2.2em;
}

li {
  padding: .3em .5em;
}

strong {
  color: var(--heading);
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {
  color: var(--accent-a1);
  border-left: 2px solid rgba(57, 89, 255, .2);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  padding: .1em 0 .1em 1.3em;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 160%;
}

figure {
  border-radius: .87em;
  margin-top: 2.7em;
  margin-bottom: 2.7em;
  overflow: hidden;
}

figcaption {
  text-align: center;
  background-color: #e4ebee;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.2em 7%;
  font-size: .87em;
  line-height: 145%;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.7em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.6em;
  }
  h5 {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.3em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.4em;
  }
  h5 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.3em;
  }
  h5 {
    font-size: 1.15em;
  }
}

.rich-text-block p {
    margin-bottom: 1.4em
}

.rich-text-block h1 {
    margin-bottom: 0.4em
}

.rich-text-block h2,
.rich-text-block h3,
.rich-text-block h4,
.rich-text-block h5,
.rich-text-block h6 {
    margin-top: 1em;
    margin-bottom: 0.4em
}

.rich-text-block a {
    border-bottom: 1px solid var(--strong-green);
    color: var(--strong-green);
    text-decoration: none;
    transition: border-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.rich-text-block a:hover {
    border-bottom-color: var(--heading);
    color: var(--heading)
}

.section {
    justify-content: center;
    align-items: center;
    padding: 3.75em 2em;
    display: flex
}

.subtitle.white {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1)
}

.accordion-content {
    display: block;
    overflow: hidden
}

.block-content {
    background-color: rgba(0, 0, 0, 0);
    border: 1px #000;
    padding: 1.5em
}

.page-body {
    width: 100%;
    background-color: var(--white);
    border-radius: 0.87em;
    margin-bottom: 1em;
    padding: 5em 13%;
    box-shadow: 0 15px 25px -10px rgba(20, 23, 24, 0.05)
}

.heading-template {
    margin-bottom: 0.8em
}

.paragraph-template {
    margin-bottom: 2.4em
}

.image-template {
    object-fit: cover;
    border-radius: 0.6em
}

.lottie-template {
    background-color: var(--background);
    border-radius: 0.6em
}

.font-template {
    background-color: var(--accent-green);
    border-radius: 0.87em;
    margin-top: 0.7em;
    padding: 1.3em 1.8em
}

@media screen and (max-width: 991px) {
  .block-left {
    padding-right: 10%;
  }

  .block-right {
    padding-left: 10%;
  }

  .section-top {
    padding-top: 4.5em;
    padding-bottom: 0;
  }

  .paragraph-top {
    font-size: 1em;
  }

  .page-body {
    padding: 4em 10%;
  }
}

@media screen and (max-width: 767px) {
  .block-left {
    padding-right: 0%;
  }

  .block-right {
    padding-left: 0%;
  }

  .section-top {
    padding-top: 3.5em;
  }

  .section {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .grid {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr;
  }

  .page-body {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding: 2.5em 1.5em;
  }

  .section-top {
    padding-top: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .paragraph-top {
    margin-bottom: 1.2em;
  }

  .page-body {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}