.yellow-tag {
    background-color: var(--strong-yellow);
    color: var(--heading);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 0.6em;
    padding: 0.7em 1.1em;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 110%;
    position: absolute;
    top: -0.8em;
    bottom: auto;
    left: auto;
    right: 2em
}

.logo-client {
    max-height: 2.7em;
    margin-left: 2.7em;
    margin-right: 2.7em
}