/* Base Flexbox and Display Properties */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Navbar Styles */
.navbar {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    padding: 1.1em 2em;
    margin-top: 0.7em;
}

.nav-block, .nav, .nav-menu, .button-desktop {
    width: 100%;
    max-width: 75em; /* Adjust based on .nav-block needs */
}

/* Text and Link Styles */
.nav-text {
    color: var(--heading);
    letter-spacing: -0.02em;
    font-size: 1em;
    font-weight: 500;
    line-height: 120%;
    transition: color 0.3s ease;
}

.nav-link, .nav-button, .nav-button-outline {
    padding: 0.7em 1.2em;
    border-radius: 50em;
}

.nav-link:hover, .nav-button:hover, .nav-button-outline:hover {
    color: var(--strong-green);
}

/* Button Styles */
.nav-button, .nav-button-outline {
    background-color: var(--heading);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.nav-button:hover {
    box-shadow: 0 15px 40px -10px var(--strong-green);
}

.nav-button-outline {
    box-shadow: inset 0 0 0 2px var(--strong-green);
    background-color: transparent;
}

.nav-button-outline:hover {
    background-color: var(--strong-green);
    color: var(--white);
}

.logo {
    height: 1.56em;
}

/* Responsive Button Visibility */
.button-desktop {
    display: flex;
}

.button-mobile {
    display: none;
    /* Apply responsive media queries as needed */
}
