/* Flexbox Utility Classes */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Notification Bar Base Styles */
.page-notification-bar {
    background-color: var(--strong-green);
    padding: 0.4em 2em;
}

.content {
    width: 100%;
    max-width: 75em
}
.content.narrow {
    max-width: 60em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    display: flex
}

.notification-bar-block, .notification-bar, .link-notification-bar {
    width: 100%;
    max-width: 75em; /* Adjust based on .notification-bar-block needs */
}

/* Shared Text Styles */
.notification-text {
    opacity: 0.7;
    color: var(--white);
    letter-spacing: -0.02em;
    font-size: 0.87em;
    line-height: 120%;
}

.link-notification-bar {
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.link-notification-bar:hover {
    opacity: 1;
}

.icon-notification-bar {
    width: 1.125em;
    height: 1.125em;
}

@media screen and (max-width: 991px) {
  .section-top-bar {
    padding-top: .8em;
    padding-bottom: .8em;
  }

  .top-bar-block {
    grid-row-gap: .6em;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .section-top-bar {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .top-bar {
    grid-row-gap: .6em;
    flex-direction: column;
    align-items: flex-start;
  }
}