{% extends "index.html" %}

{% block title %}Page not found{% endblock %}

{% block body %}
  <header>
    {% get_site_root as site_root %}
    <a href="{% pageurl get_site_root %}" class="brand w-nav-brand w--current">
      {% get_site_logo as site_logo %}
      {% image site_logo max-50x50 loading="eager" alt=site_logo.alt class="logo" %}
    </a>
  </header>

  <main>
    <div class="utility-page-wrap">
      <div class="utility-page-content">
        <div class="subtitle blue">404<br></div>
        <h2 class="heading-account">Page Not Found</h2>
        <p class="paragraph-account">The page you are looking for doesn&#x27;t exist or has been moved</p>
        <a href="index.html" class="button base-button">Back to Home</a>
      </div>
    </div>
  </main>

  <footer>
    <section class="section-footer">
      <div class="content">
        <div class="block-footer-down">
          {% get_footer_copyright %}
        </div>
      </div>
    </section>
  </footer>
{% endblock body %}