{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block title %}Page not found{% endblock %}

{% block body %}
  <div class="utility-page-wrap">
    <div class="utility-page-content">
      <div class="subtitle blue">404<br></div>
      <h2 class="heading-account">Page Not Found</h2>
      <p class="paragraph-account">The page you are looking for doesn&#x27;t exist or has been moved</p>
      <a href="/" class="button base-button">Back to Home</a>
    </div>
  </div>
{% endblock body %}