{% load static navigation_tags %}
<footer>
  <section class="section-footer">
    <div class="content">
      <div class="base-layout-grid grid-footer">
        <div id="base-node-PLACEHOLDER" class="block-footer">
          <img src="{% static 'images/logo/logo.svg' %}" loading="eager" alt="" class="logo-footer">
          <div class="paragraph-footer">{% get_footer_text %}<br></div>
          <div class="block-social">
            <a href="tel:+1(888)123-4567" class="social-link base-inline-block">
              <img src="{% static 'images/bx/phone-voice.svg' %}" loading="eager" alt="" class="icon-social">
            </a>
            <a href="mailto:support@yoursite.com" class="social-link base-inline-block">
              <img src="{% static 'images/bx/email.svg' %}" loading="eager" alt="" class="icon-social">
            </a>
            <a href="#" class="social-link base-inline-block">
              <img src="{% static 'images/bx/chat-launch.svg' %}" loading="eager" alt="" class="icon-social">
            </a>
          </div>
        </div>
        <div id="base-node-PLACEHOLDER" class="block-footer">
          <div class="subtitle-footer">Company Information<br></div>
          <a href="solutions.html" class="link-footer">Solutions</a>
          <a href="company.html" class="link-footer">Company</a>
          <a href="contact.html" class="link-footer">Contact</a>
          <a href="blog.html" class="link-footer">Blog</a>
        </div>
        <div id="base-node-PLACEHOLDER" class="block-footer">
          <div class="subtitle-footer">News & Events<br></div>
          <a href="template-info/licensing.html" class="link-footer">Licensing</a>
          <a href="template-info/style-guide.html" class="link-footer">Style Guide</a>
          <a href="template-info/changelog.html" class="link-footer">Changelog</a>
          <a href="template-info/instructions.html" class="link-footer">Instructions</a>
        </div>
        {% with twitter_url=settings.base.NavigationSettings.twitter_url github_url=settings.base.NavigationSettings.github_url mastodon_url=settings.base.NavigationSettings.mastodon_url %}
          {% if twitter_url or github_url or mastodon_url %}
            <div id="base-node-PLACEHOLDER" class="block-footer">
              <div class="subtitle-footer">Connect With Us<br></div>
              {% if github_url %}
                <a href="{{ github_url }}" target="_blank" class="link-footer">GitHub</a>
              {% endif %}
              {% if twitter_url %}
                <a href="{{ twitter_url }}" target="_blank" class="link-footer">Twitter</a>
              {% endif %}
              {% if linkedin_url %}
                <a href="{{ linkedin_url }}" target="_blank" class="link-footer">Linkedin</a>
              {% endif %}
            </div>
       </div>
      <div class="block-footer-down">
        <div class="text-footer-down">©2024 CyBotany, Institute. All rights reserved. Built with <a href="https://wagtail.org/" target="_blank" class="link-footer-down">Wagtail</a><br></div>
      </div>
    </div>
  </section>
</footer>