{% load wagtailcore_tags navigation_tags wagtailuserbar %}
<header class="header">
  <section class="section-top-bar">
    <div class="top-bar-block">
      <div class="top-bar">
        <div class="info-top-bar">Notification Placeholder</div>
      </div>
      <div class="top-bar">
        <a href="#" class="link-top-bar w-inline-block"><img src="images/bx-chat.svg" loading="eager" alt="" class="icon-top-bar">
          <div class="text-top-bar">Live Chat</div>
        </a>
      </div>
    </div>
  </section>
  <a href="#main" class="skip-link">Skip to content</a>
  {% get_site_root as site_root %}
  <div data-w-id="9c896d19-12ed-148e-4e5a-1c014986d7c2" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="nav-block">
      <div class="nav">
        <a href="{% pageurl site_root %}" aria-current="page" class="brand w-nav-brand w--current">
            <img src="images/logo.svg" loading="eager" alt="" class="logo">
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          {% for menuitem in site_root.get_children.live.in_menu %}
            {# Add the child pages of your HomePage that have their `Show in menu` checked #}
            <a href="{% pageurl menuitem %}" class="nav-link w-nav-link">{{ menuitem.title }}</a>{% if not forloop.last %} | {% endif %}
          {% endfor %}
          <div class="button-mobile">
            <a href="login.html" class="nav-button-outline w-button">Login</a>
            <a href="get-started.html" class="nav-button w-button">Get Started</a>
          </div>
        </nav>
      </div>
      <div class="nav">
        <div class="button-desktop">
          <a href="login.html" class="nav-button-outline w-button">Login</a>
          <a href="get-started.html" class="nav-button w-button">Get Started</a>
        </div>
        <div class="menu-button w-nav-button">
          <div class="icon-menu w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
  {% wagtailuserbar "bottom-right" %}
</header>