{% extends "base.html" %}

{% block title %}Password Required{% endblock %}

{% block content %}
  <div class="utility-page-wrap">
    <div class="utility-page-content w-password-page w-form">
      <div class="subtitle blue">Password<br></div>
      <h2 class="heading-account">Protected Page</h2>
      <form action="{{ action_url }}" method="post" class="utility-page-form w-password-page">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {{ form.password }}
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password.errors }}

        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        <input type="submit" class="submit-button w-password-page w-button" value="Submit">
      </form>
      <a href="/" class="button base-button">Home</a>    
    </div>
  </div>
{% endblock content %}
