{% extends "base/utility.html" %}
{% load i18n %}

{% block title %}
  {% trans "Update Asset" %}
{% endblock title %}

{% block content %}
  <h3 class="account-heading">Update Asset</h3>
  <!-- Render Form -->
  <form id="profile-form" method="post" action="{% url 'accounts:update_account' user.slug %}" class="utility-page-form base-password-page" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Render Avatar Field -->
    <label for="{{ form.avatar.id_for_label }}">Avatar:</label>
    {{ form.avatar }}
    {% if form.avatar.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.avatar.errors|striptags }}</div>
      </div>
    {% endif %}
    <!-- Render Bio Field -->
    <label for="{{ form.bio.id_for_label }}">Bio:</label>
    {{ form.bio }}
    {% if form.bio.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.bio.errors|striptags }}</div>
      </div>
    {% endif %}
    <!-- Render Submit Button -->
    <input type="submit" value="Update" class="submit-button base-button"> 
    {{ form.non_field_errors }}
  </form>
{% endblock %}