.digit-body.deletion {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  padding: 4em 13%;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

@media screen and (max-width: 991px) {  
  .digit-body.deletion {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 767px) {
  .digit-body.deletion {
    padding-top: 2.9em;
    padding-bottom: 2.9em;
  }
}

@media screen and (max-width: 479px) {
  .digit-body.deletion {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}