.digit-body.details {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  padding: 4em 13%;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.digit-modification-link {
  margin-bottom: 1.3em;
  text-decoration: none;
}
  
.digit-modification-link.large {
  margin-bottom: 1.4em;
}

.digit-main-image {
  width: 100%;
  object-fit: cover;
  border-radius: .87em;
}

.journal-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.journal-container ol {
  padding: 0;
  list-style: none;
}

.journal-entry {
  border-bottom: 1px solid #eee; /* Light separator for each entry */
  padding: 1em 0;
}

.journal-entry-header {
  font-size: 0.9em;
  color: #666; /* Subdued color for meta info */
  margin-bottom: 0.5em;
}

.journal-entry-date, .journal-entry-author {
  display: block; /* Or inline-block, based on preference */
  margin-right: 1em;
}

.journal-entry-content {
  font-size: 1em; /* Adjust as needed */
  color: var(--strong-green); /* Or another primary color */
}

/* Styling for 'No journal entries available' */
.journal-container li {
  color: #888; /* Subtle color indicating no content */
}

.journal-entry-form {
  z-index: 50;
  width: 100%;
  max-width: 32em;
  background-color: var(--white);
  text-align: center;
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 3.1em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}
/***********************************************************************************************
 *  Digit Page - Taxonomy Section
 **********************************************************************************************/
.grid-taxonomy {
  display: grid;
  grid-gap: 20px;
  grid-column-gap: 2em;
  grid-row-gap: 1.8em;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.taxonomy {
  grid-column-gap: 1.3em;
  grid-row-gap: 1.3em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
}

.block-heading-taxonomy {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-taxonomy {
  color: var(--primary-color);
}

.paragraph-taxonomy {
  max-width: 20em;
}

.icon-taxonomy {
  width: 2em;
  height: 2em;
}

/***********************************************************************************************
 *  Digit Page - Care Section
 **********************************************************************************************/
.grid-care {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.care {
  grid-row-gap: 1.2em;
  background-color: var(--accent-green);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;
}

.care.red {
  background-color: var(--accent-red);
}

.care.blue {
  background-color: var(--accent-blue);
}

.block-icon-care {
  width: 4.5em;
  height: 4.5em;
  background-color: var(--strong-green);
  border-radius: .87em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-icon-care.red {
  background-color: var(--strong-red);
}

.block-icon-care.blue {
  background-color: var(--strong-blue);
}

.icon-care {
  width: 2em;
  height: 2em;
}

.heading-care {
  color: var(--strong-green);
}

.heading-care.red {
  color: var(--strong-red);
}

.heading-care.blue {
  color: var(--strong-blue);
}

.paragraph-care {
  color: var(--strong-green);
}

.paragraph-care.red {
  color: var(--strong-red);
}

.paragraph-care.blue {
  color: var(--strong-blue);
}

@media screen and (max-width: 991px) {  
  .digit-body.details {
    padding: 4em 10%;
  }

  .grid-care {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .digit-body.details {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .grid-care {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .digit-body.details {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .care {
    padding: 2em;
  }
}