{% extends 'base.html' %}

{% block title %}Welcome to CyBotany{% endblock %}

{% load static %}

{% block content %}

    <section class="container text-center py-5">
        <h1 class="mb-4">Welcome to CyBotany!</h1>
        <p class="lead mb-5">Your go-to platform for managing and growing your plants with the help of artificial intelligence.</p>
    </section>

    <section class="container">
        <!-- Module Section -->
        <div class="row">

            <!-- Botany -->
            <div class="col-12 col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'img/plant.jpg' %}" class="card-img-top" alt="Plant Management"> 
                    <div class="card-body">
                        <h5 class="card-title">Plant Management</h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'botany:home' %}" class="btn btn-sm btn-outline-secondary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>        

            <!-- CEA -->
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'img/cea.jpg' %}" class="card-img-top" alt="Controlled Environmental Agriculture (CEA) Management">
                    <div class="card-body">
                        <h5 class="card-title">CEA Management</h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'cea:home' %}" class="btn btn-sm btn-outline-secondary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Chatbot -->
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'img/chatbot.jpg' %}" class="card-img-top" alt="Chatbot">
                    <div class="card-body">
                        <h5 class="card-title">Chatbot</h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'chatbot:home' %}" class="btn btn-sm btn-outline-secondary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
