{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="chatbox">
  {% for message in messages %}
    <div class="message {% if forloop.first %}user-message{% else %}chatbot-message{% endif %}">{{ message }}</div>
  {% endfor %}
</div>

<form id="chat-form" method="post" enctype="multipart/form-data">
{% csrf_token %}
  <div class="input-group">
    <input id="chat-input" type="text" name="message">      
    <button type="submit" class="send-button"></button>
  </div>
</form>
{% endblock content %}

{% block app_scripts %}
  <script src="{% static 'js/get_chat_message.js' %}"></script>
{% endblock %} 