.digit-body {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  padding: 4em 13%;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.digit-main-image {
  width: 100%;
  object-fit: cover;
  border-radius: .87em;
}

.digit-caption-link {
  margin-bottom: 1.3em;
  text-decoration: none;
}
  
.digit-caption-link.large {
  margin-bottom: 1.4em;
}

@media screen and (max-width: 991px) {  
  .digit-body {
    padding-left: 10%;
    padding-right: 10%;
  }

  .grid-care {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid-features {
    grid-template-columns: 1fr 1fr;
  }

  .grid-about {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .digit-body {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}