.collection-list-digits {
  grid-column-gap: 1.5em;
  grid-row-gap: 3.4em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
  
.collection-list-digits.large {
  grid-template-columns: 1fr;
}
  
.collection-list-wrapper-digits.large {
  margin-bottom: 3.4em;
}

.digit {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.5em 2.8em;
  display: flex;
}
  
.digit.large {
  justify-content: center;
  padding: 4.3em 4.5em;
}

.grid-digits {
  grid-column-gap: .6em;
  grid-row-gap: .6em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.block-digits {
  min-height: 11em;
  grid-column-gap: .25em;
  grid-row-gap: .25em;
  background-color: var(--white);
  border-radius: .5em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1.2em;
  display: flex;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);

}
  
.block-digits.large {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-digits {
  color: var(--heading);
  letter-spacing: -.02em;
  font-size: 1em;
  font-weight: 600;
  line-height: 120%;
}

.text-digits.white {
  color: var(--white);
}

.hex-digits {
  opacity: .5;
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.hex-digits.white {
  color: var(--white);
}

.image-digit-thumbnail {
  width: 100%;
  height: 15em;
  object-fit: cover;
  border-radius: .87em;
}
  
.image-digits-thumbnail.large {
  height: auto;
  max-height: 40em;
}

.link-digits-thumbnail {
  width: 100%;
}
  
.link-digits-thumbnail.large {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

@media screen and (max-width: 991px) {
  .grid-digit {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .digit.large {
    padding: 3.4em 3.2em;
  }

  .image-digits-thumbnail {
    height: 28vw;
  }
}

@media screen and (max-width: 767px) {
  .collection-list-digits {
    grid-column-gap: 1.13em;
    grid-row-gap: 3em;
    grid-template-columns: 1fr 1fr;
  }
  
  .collection-list-wrapper-digits.large {
    margin-bottom: 3em;
  }

  .grid-digits {
    grid-template-columns: 1fr 1fr;
  }

  .image-digits-thumbnail, .image-digits-thumbnail.large {
    height: 50vw;
  }
}

@media screen and (max-width: 479px) {
  .collection-list-digits {
    grid-row-gap: 1.5em;
  }
  
  .collection-list-wrapper-digits.large {
    margin-bottom: 1.5em;
  }

  .grid-digits {
    grid-template-columns: 1fr;
  }

  .digit, .digit.large {
    padding: 1.8em 2.2em;
  }
}