/* Detail Section Styles */
.journal-container {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.empty-state {
  background-color: var(--white);
  text-align: center;
  border-radius: .87em;
  padding: 1em 1.4em;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.digit-body {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  padding: 4em 13%;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.digit-main-image {
  width: 100%;
  object-fit: cover;
  border-radius: .87em;
}

.digit-caption-link {
  margin-bottom: 1.3em;
  text-decoration: none;
}
  
.digit-caption-link.large {
  margin-bottom: 1.4em;
}

.base-list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* Taxonomy Secction */
.grid-taxonomy {
  grid-column-gap: 2em;
  grid-row-gap: 1.8em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Care Section */
.grid-care {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.care {
  grid-row-gap: 1.2em;
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;
}

.care.red {
  background-color: var(--accent-b1);
}

.care.blue {
  background-color: var(--accent-b2);
}

.care.green {
  background-color: var(--accent-b3);
}

.block-icon-care {
  width: 4.5em;
  height: 4.5em;
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-icon-care.red {
  background-color: var(--core-primary-color);
}

.block-icon-care.blue {
  background-color: var(--core-primary-color);
}

.block-icon-care.green {
  background-color: var(--core-primary-color);
}

.icon-care {
  width: 2em;
  height: 2em;
}

.heading-care.red{
  color: var(--core-primary-color);
}

.heading-care.blue{
  color: var(--core-primary-color);
}

.heading-care.green{
  color: var(--core-primary-color);
}

.paragraph-care.red {
  color: var(--core-primary-color);
}

.paragraph-care.blue {
  color: var(--core-primary-color);
}

.paragraph-care.green {
  color: var(--core-primary-color);
}

@media screen and (max-width: 991px) {  
  .digit-body {
    padding-left: 10%;
    padding-right: 10%;
  }

  .grid-care {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid-features {
    grid-template-columns: 1fr 1fr;
  }

  .grid-care {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .digit-body {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .care {
    padding: 2em;
  }
}