{% extends "base.html" %}
{% load static %}

{% block body %}
  <a href="/" class="brand-center w-nav-brand">
    <img src="{% static 'base/images/logos/logo.svg' %}" alt="Digidex Logo" class="logo">
  </a>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  <section class="section-full">
    <div class="content">
      <div class="account-form">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </section>
{% endblock body %}

{% block extra_body %}{% endblock extra_body %}