.button-desktop {
  grid-column-gap: .5em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-mobile {
  grid-column-gap: .5em;
  grid-row-gap: 1em;
  justify-content: center;
  align-items: center;
  display: none;
}

.button {
  background-color: var(--core-primary-color);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  flex-direction: row;
  padding: .9em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.button-hero {
  grid-column-gap: .5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button:hover {
  box-shadow: 0 15px 40px -10px var(--core-primary-color);
}

.button.yellow {
  background-color: var(--core-info-color);
  color: var(--heading);
}

.button.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--core-info-color);
}

.button.dark {
  background-color: var(--heading);
}

.button.dark:hover {
  background-color: var(--core-primary-color);
}

.close-button {
  width: auto;
  height: auto;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .25em;
  display: flex;
}

.button-outline-small {
  box-shadow: 0 0 0 -10px var(--core-primary-color), inset 0 0 0 2px var(--core-primary-color);
  color: var(--core-primary-color);
  letter-spacing: -.02em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50em;
  padding: .7em 1.4em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), color .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button-outline-small:hover {
  background-color: var(--core-primary-color);
  box-shadow: 0 15px 40px -10px var(--core-primary-color), inset 0 0 0 2px var(--core-primary-color);
  color: var(--white);
}

.button-outline {
  box-shadow: 0 0 0 -10px var(--core-primary-color), inset 0 0 0 2px var(--core-primary-color);
  color: var(--core-primary-color);
  letter-spacing: -.02em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50em;
  padding: .9em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), color .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button-outline:hover {
  background-color: var(--core-primary-color);
  box-shadow: 0 15px 40px -10px var(--core-primary-color), inset 0 0 0 2px var(--core-primary-color);
  color: var(--white);
}

.button-small {
  background-color: var(--core-primary-color);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  padding: .7em 1.4em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button-small:hover {
  box-shadow: 0 15px 40px -10px var(--core-primary-color);
}

.button-small.yellow {
  background-color: var(--core-info-color);
  color: var(--heading);
}

.button-small.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--core-info-color);
}

.button-small.dark {
  background-color: var(--heading);
}

.button-small.dark:hover {
  background-color: var(--core-primary-color);
}

@media screen and (max-width: 767px) {
  .button-desktop {
    display: none;
  }

  .button-mobile {
    flex-direction: column;
    align-items: flex-start;
    margin-top: .5em;
    margin-bottom: .8em;
    padding-left: .5em;
    padding-right: .5em;
    display: flex;
  }
}
