/****************************************************
           Company Page - Misc. Styles
*****************************************************/
html {
  height: 100%;
}

html.base-mod-touch * {
  background-attachment: scroll !important;
}

body {
  background-color: var(--background);
  color: var(--paragraph);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  display: flex;
  margin: 0;
  min-height: 100%;
}

.button {
  background-color: var(--core-primary-color);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  flex-direction: row;
  padding: .9em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.button:hover {
  box-shadow: 0 15px 40px -10px var(--core-primary-color);
}

.button.yellow {
  background-color: var(--core-info-color);
  color: var(--heading);
}

.button.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--core-info-color);
}

.button.dark {
  background-color: var(--heading);
}

.button.dark:hover {
  background-color: var(--core-primary-color);
}

.base-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: var(--white);
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

input.base-button {
  -webkit-appearance: button;
}

.lottie {
  position: relative;
}

.block-lottie {
  z-index: 10;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
}

.line-w {
  width: 1px;
  background-image: linear-gradient(to bottom, rgba(15, 100, 146, 0), var(--border) 10%, var(--border) 90%, rgba(15, 100, 146, 0));
}

.line-h {
  height: 1px;
  background-image: linear-gradient(to right, rgba(15, 100, 146, 0), var(--border) 10%, var(--border) 90%, rgba(15, 100, 146, 0));
}

/****************************************************
 * Company Page - About Us Section
 ****************************************************/
.grid-about {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.about {
  grid-row-gap: 1.2em;
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;
}

.about.red {
  background-color: var(--accent-b1);
}

.about.blue {
  background-color: var(--accent-b2);
}

.about.green {
  background-color: var(--accent-b3);
}

.block-icon-about {
  width: 4.5em;
  height: 4.5em;
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-icon-about.red {
  background-color: var(--core-primary-color);
}

.block-icon-about.blue {
  background-color: var(--core-primary-color);
}

.block-icon-about.green {
  background-color: var(--core-primary-color);
}

.icon-about {
  width: 2em;
  height: 2em;
}

.heading-about.red{
  color: var(--core-primary-color);
}

.heading-about.blue{
  color: var(--core-primary-color);
}

.heading-about.green{
  color: var(--core-primary-color);
}

.paragraph-about.red {
  color: var(--core-primary-color);
}

.paragraph-about.blue {
  color: var(--core-primary-color);
}

.paragraph-about.green {
  color: var(--core-primary-color);
}

/****************************************************
 * Company Page - Lottie Section
 ****************************************************/
.lines-b1 {
  z-index: 5;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 4%;
  padding-right: 13%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lines-b2 {
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 12%;
  padding-bottom: 12%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

/****************************************************
 * Company Page - Quote Section
 ****************************************************/
.heading-quote {
  margin-bottom: 1.4em;
}

.block-quote {
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.block-name {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.heading-name {
  margin-bottom: .3em;
  line-height: 120%;
}

.text-role {
  color: rgba(20, 23, 24, .7);
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.signature {
  height: 3.7em;
}

/****************************************************
 * Company Page - Team Section
 ****************************************************/
.grid-team {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
}

.team {
  background-color: var(--white);
  border-radius: .87em;
  padding: 1em;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.image-team {
  object-fit: cover;
  border-radius: .6em;
}

.block-team {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.3em 1em .6em;
  display: flex;
}

@media screen and (max-width: 991px) {
  .grid-about {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid-about {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .about {
    padding: 2em;
  }
}