@media screen and (max-width: 991px) {
  .nav-menu {
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    background-color: var(--white);
    padding: 1.2em 1em;
    box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
  }

  .menu-button {
    background-color: var(--white);
    color: var(--heading);
    border-radius: 50em;
    padding: .6em;
    font-size: 1.2em;
    transition: color .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
    box-shadow: 0 15px 20px -5px rgba(20, 23, 24, .1);
  }

  .menu-button.w--open {
    background-color: var(--heading);
    color: var(--white);
  }

  .link-category {
    padding: 1em 1.2em;
  }

  .product-sticky {
    padding: 3.1em;
    position: relative;
    top: auto;
  }
}

@media screen and (max-width: 767px) {

  .grid-hero {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr;
  }

  .block-hero {
    text-align: center;
    align-items: center;
  }

  .grid-solutions {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
  }

  .solutions {
    padding: 2.2em;
  }

  .logo-client {
    max-height: 1.5em;
    margin-left: 1.8em;
    margin-right: 1.8em;
  }

  .grid {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr;
  }

  .block-right {
    padding-left: 0%;
  }

  .grid-numbers {
    width: 100%;
    font-size: 1em;
  }

  .grid-features {
    grid-template-columns: 1fr 1fr;
  }

  .grid-faq, .block-faq {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
  }

  .grid-banner {
    grid-template-columns: 1fr;
  }

  .block-banner {
    padding: 4em 10%;
  }

  .lottie-banner {
    position: relative;
    top: 0%;
  }

  .grid-footer {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6em;
  }

  .block-footer-down {
    margin-bottom: 2em;
  }

  .grid-solutions-large {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr;
    margin-bottom: .87em;
  }

  .grid-about {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr;
  }

  .grid-team {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
  }

  .nav-menu {
    padding-left: .5em;
    padding-right: .5em;
  }

  .top-bar {
    grid-row-gap: .6em;
    flex-direction: column;
    align-items: flex-start;
  }

  .button-hero {
    grid-row-gap: .5em;
    flex-direction: column;
  }

  .features-lottie {
    grid-row-gap: 1.5em;
  }

  .feature-lottie-block {
    margin-right: 31%;
  }

  .feature-lottie-block.a3 {
    margin-right: 38%;
  }

  .grid-solutions {
    grid-template-columns: 1fr;
  }

  .solutions {
    padding: 2em;
  }

  .grid-numbers {
    grid-template-columns: 1fr;
  }

  .grid-features {
    grid-row-gap: 1.2em;
    grid-template-columns: 1fr;
  }

  .features {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding-top: .8em;
    padding-bottom: .8em;
  }

  .contact-lottie-link {
    min-width: 15em;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-right: 0%;
    font-size: .9em;
  }

  .contact-lottie-link.a2, .contact-lottie-link.a3 {
    margin-right: 0%;
  }

  .grid-faq {
    grid-template-columns: 1fr;
  }

  .block-banner {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .grid-footer {
    grid-template-columns: 1fr;
    margin-bottom: 5em;
  }

  .block-footer {
    text-align: center;
    align-items: center;
  }

  .block-footer-down {
    text-align: center;
    justify-content: center;
    margin-bottom: 1.5em;
  }

  .block-reviews {
    flex-direction: column;
  }

  .review {
    padding: 1.6em;
  }

  .paragraph-top {
    margin-bottom: 1.2em;
  }

  .solutions-large, .about {
    padding: 2em;
  }

  .grid-team {
    grid-column-gap: .6em;
    grid-row-gap: .6em;
  }

  .team {
    padding: 0;
  }

  .block-team {
    padding: .9em 1.2em;
    font-size: .9em;
  }

  .collection-list-posts {
    grid-row-gap: 1.5em;
  }

  .collection-list-wrapper-posts.large {
    margin-bottom: 1.5em;
  }

  .post, .post.large {
    padding: 1.8em 2.2em;
  }

  .post-body {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .contact {
    padding: 2em;
  }

  .text-field {
    margin-bottom: .9em;
  }

  .account-form {
    padding: 2em;
  }

  .paragraph-account {
    margin-bottom: 1em;
  }

  .cart-container {
    min-width: auto;
    border-radius: 0;
    margin-top: 0;
  }

  .product {
    padding: 1.5em;
  }

  .block-price {
    flex-direction: column;
  }

  .block-categories {
    font-size: .9em;
  }

  .text-field-ecommerce {
    margin-bottom: .9em;
  }

  .page-body {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .grid-colors {
    grid-template-columns: 1fr;
  }

  .block-button {
    flex-direction: column;
    align-items: flex-start;
  }

  .grid-licensing {
    grid-template-columns: 1fr;
  }

  .grid-icon-licensing {
    grid-template-columns: auto auto;
  }
}
