.grid-faq {
  grid-column-gap: 1.13em;
  grid-row-gap: 1.13em;
  grid-template-rows: auto;
  align-items: start;
}

.block-faq {
  grid-column-gap: 1.13em;
  grid-row-gap: 1.13em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.accordion-item {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  padding-left: 1.8em;
  padding-right: 1.2em;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.accordion-header {
  grid-column-gap: 1em;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: padding .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.accordion-header:hover {
  padding-left: .3em;
  padding-right: .3em;
}

.heading-accordion {
  margin-top: .3em;
  margin-bottom: .3em;
}

.icon-accordion {
  width: 1.5em;
  height: 1.5em;
  flex: none;
}

.block-icon-accordion {
  width: 2.12em;
  height: 2.12em;
  background-color: var(--accent-b1);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.accordion-content {
  display: block;
  overflow: hidden;
}

.paragraph-accordion {
  max-width: 90%;
  margin-bottom: 1.6em;
}