.features {
  grid-column-gap: 1.3em;
  grid-row-gap: 1.3em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
}

.features-product {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.features-lottie {
  z-index: 20;
  grid-row-gap: 2.7em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.feature-lottie-block {
  grid-column-gap: .6em;
  background-color: var(--accent-b1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: .64em;
  justify-content: center;
  align-items: center;
  margin-right: 43%;
  padding: .8em 1.1em;
  display: flex;
}

.feature-lottie-block.a2 {
  margin-right: 5%;
}

.feature-lottie-block.a3 {
  margin-right: 58%;
}

.feature-lottie-block.a4 {
  margin-right: 15%;
}
