.rich-text-block p {
  margin-bottom: 1.4em;
}
  
.rich-text-block h1 {
  margin-bottom: .4em;
}
  
.rich-text-block h2, .rich-text-block h3, .rich-text-block h4, .rich-text-block h5, .rich-text-block h6 {
  margin-top: 1em;
  margin-bottom: .4em;
}
  
.rich-text-block a {
  border-bottom: 1px solid var(--core-primary-color);
  color: var(--core-primary-color);
  text-decoration: none;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94), color .3s cubic-bezier(.25, .46, .45, .94);
}
  
.rich-text-block a:hover {
  border-bottom-color: var(--heading);
  color: var(--heading);
}

.rich-text:before, .rich-text:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.rich-text:after {
  clear: both;
}

.rich-text[contenteditable="true"]:before, .rich-text[contenteditable="true"]:after {
  white-space: initial;
}

.rich-text ol, .rich-text ul {
  overflow: hidden;
}

.rich-text .rich-text-figure-selected.rich-text-figure-type-video div:after, .rich-text .rich-text-figure-selected[data-rt-type="video"] div:after {
  outline: 2px solid #2895f7;
}

.rich-text .rich-text-figure-selected.rich-text-figure-type-image div, .rich-text .rich-text-figure-selected[data-rt-type="image"] div {
  outline: 2px solid #2895f7;
}

.rich-text figure.rich-text-figure-type-video > div:after, .rich-text figure[data-rt-type="video"] > div:after {
  content: '';
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.rich-text figure {
  position: relative;
  max-width: 60%;
}

.rich-text figure > div:before {
  cursor: default!important;
}

.rich-text figure img {
  width: 100%;
}

.rich-text figure figcaption.rich-text-figcaption-placeholder {
  opacity: 0.6;
}

.rich-text figure div {
  /* fix incorrectly sized selection border in the data manager */
  font-size: 0px;
  color: transparent;
}

.rich-text figure.rich-text-figure-type-image, .rich-text figure[data-rt-type="image"] {
  display: table;
}

.rich-text figure.rich-text-figure-type-image > div, .rich-text figure[data-rt-type="image"] > div {
  display: inline-block;
}

.rich-text figure.rich-text-figure-type-image > figcaption, .rich-text figure[data-rt-type="image"] > figcaption {
  display: table-caption;
  caption-side: bottom;
}

.rich-text figure.rich-text-figure-type-video, .rich-text figure[data-rt-type="video"] {
  width: 60%;
  height: 0;
}

.rich-text figure.rich-text-figure-type-video iframe, .rich-text figure[data-rt-type="video"] iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rich-text figure.rich-text-figure-type-video > div, .rich-text figure[data-rt-type="video"] > div {
  width: 100%;
}

.rich-text figure.rich-text-align-center {
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

.rich-text figure.rich-text-align-center.rich-text-figure-type-image > div, .rich-text figure.rich-text-align-center[data-rt-type="image"] > div {
  max-width: 100%;
}

.rich-text figure.rich-text-align-normal {
  clear: both;
}

.rich-text figure.rich-text-align-fullwidth {
  width: 100%;
  max-width: 100%;
  text-align: center;
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.rich-text figure.rich-text-align-fullwidth > div {
  display: inline-block;
  /* padding-bottom is used for aspect ratios in video figures
      we want the div to inherit that so hover/selection borders in the designer-canvas
      fit right*/
  padding-bottom: inherit;
}

.rich-text figure.rich-text-align-fullwidth > figcaption {
  display: block;
}

.rich-text figure.rich-text-align-floatleft {
  float: left;
  margin-right: 15px;
  clear: none;
}

.rich-text figure.rich-text-align-floatright {
  float: right;
  margin-left: 15px;
  clear: none;
}