.form-block {
  width: 100%;
  margin-top: .4em;
  margin-bottom: 0;
}

.submit-button {
  background-color: var(--core-primary-color);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: .87em;
  padding: 1.2em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.submit-button:hover {
  box-shadow: 0 15px 40px -10px var(--core-primary-color);
}

.submit-button.yellow {
  background-color: var(--core-info-color);
  color: var(--heading);
}

.submit-button.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--core-info-color);
}

.form {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.text-field {
  height: 3.75em;
  border: 1px solid var(--border);
  background-color: var(--white);
  color: var(--heading);
  border-radius: .87em;
  margin-bottom: 1.12em;
  padding: 1em 1.2em;
  font-size: 1em;
  line-height: 130%;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94);
}

.text-field:focus {
  border-color: var(--core-primary-color);
}

.text-field::-ms-input-placeholder {
  color: rgba(20, 23, 24, .6);
}

.text-field::placeholder {
  color: rgba(20, 23, 24, .6);
}

.text-field.transparent {
  color: var(--white);
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .2);
}

.text-field.transparent:focus {
  border-color: var(--white);
}

.text-field.transparent::-ms-input-placeholder {
  color: rgba(255, 255, 255, .65);
}

.text-field.transparent::placeholder {
  color: rgba(255, 255, 255, .65);
}

.textarea {
  max-height: 30em;
  max-width: 100%;
  min-height: 14em;
  min-width: 100%;
  border: 1px solid var(--border);
  background-color: var(--white);
  color: var(--heading);
  border-radius: .87em;
  margin-bottom: 1.12em;
  padding: 1em 1.2em;
  font-size: 1em;
  line-height: 130%;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94);
}

.textarea:focus {
  border-color: var(--core-primary-color);
}

.textarea::-ms-input-placeholder {
  color: rgba(20, 23, 24, .6);
}

.textarea::placeholder {
  color: rgba(20, 23, 24, .6);
}

.error-message {
  background-color: rgba(188, 0, 3, .07);
  border-radius: .87em;
  margin-top: 1em;
  padding: 1em 10%;
}

.error-message.yellow {
  border: 1px dashed var(--core-info-color);
  background-color: rgba(0, 0, 0, 0);
}

.text-error {
  color: #bc0003;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.text-error.yellow {
  color: var(--core-info-color);
}

.success-message {
  background-color: var(--accent-b3);
  border-radius: .87em;
  padding: 1.5em 10%;
}

.success-message.yellow {
  border: 1px dashed var(--core-info-color);
  background-color: rgba(0, 0, 0, 0);
}

.text-success {
  color: var(--core-accent-color);
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.text-success.yellow {
  color: var(--core-info-color);
}