.grid-hero {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
}

.grid-banner {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  background-color: var(--core-primary-color);
  border-radius: .87em;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.grid-numbers {
  grid-column-gap: .87em;
  grid-row-gap: .87em;
  grid-template-rows: auto;
  align-items: start;
}

.grid-team {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
}

.grid-solutions {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
}

.grid-solutions-large {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  margin-bottom: 1.5em;
}

.grid-licensing {
  grid-column-gap: .8em;
  grid-row-gap: .8em;
  grid-template-rows: auto;
}

.grid-icon-licensing {
  grid-column-gap: .8em;
  grid-row-gap: .8em;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  align-content: stretch;
  justify-content: start;
  align-items: center;
  justify-items: start;
}

.grid-product {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  position: relative;
}

@media screen and (max-width: 991px) {
  .grid-solutions {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr;
  }

  .grid-numbers {
    font-size: .9em;
  }

  .grid-solutions-large {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
  }

  .grid-team {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-product {
    grid-template-columns: 1fr;
  }

  .grid-icon-licensing {
    grid-template-columns: auto auto auto auto auto auto;
  }
}

@media screen and (max-width: 767px) {
  .grid-hero {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr;
  }

  .grid-solutions {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
  }

  .grid-numbers {
    width: 100%;
    font-size: 1em;
  }

  .grid-faq, .block-faq {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
  }

  .grid-banner {
    grid-template-columns: 1fr;
  }

  .grid-solutions-large {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr;
    margin-bottom: .87em;
  }

  .grid-team {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr 1fr;
  }

  .ecommerce-grid {
    grid-template-columns: 1fr;
  }

  .grid-icon-licensing {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .grid-solutions {
    grid-template-columns: 1fr;
  }

  .grid-numbers {
    grid-template-columns: 1fr;
  }

  .grid-faq {
    grid-template-columns: 1fr;
  }

  .grid-team {
    grid-column-gap: .6em;
    grid-row-gap: .6em;
  }

  .grid-licensing {
    grid-template-columns: 1fr;
  }

  .grid-icon-licensing {
    grid-template-columns: auto auto;
  }
}

#w-node-_37b3a8d2-c553-a736-f678-9b56fa1506c8-25cd083c, #w-node-a4cb2e2c-97ad-0ff4-4b5f-cbaa674163ff-25cd083c, #w-node-_73c7f32a-11c4-52e7-6886-cdc2875e5856-25cd083c, #w-node-a64c2106-90fa-a11e-de5a-7f571bc9fce5-25cd083c, #w-node-_0eca363f-fcbf-20ff-a3f9-4b4bf2a0943e-25cd083c, #w-node-dd03f682-5e31-981d-1bc3-e09cb94f042f-25cd083c, #w-node-_462e3ae4-d17a-4ca9-c67e-daf8b068f90e-25cd083c, #w-node-a033bb4d-fb8b-e335-6cb2-c443ca8c4bc8-25cd083c, #w-node-_5c6c8a4e-7945-f2b2-64e6-05e263274560-25cd083c, #w-node-_539ba9ce-4f69-f850-0ad8-b7f312d9e8c7-25cd083c, #w-node-d0458a27-e73f-e612-462d-65302581b228-2581b225, #w-node-d0458a27-e73f-e612-462d-65302581b234-2581b225, #w-node-fa5a991c-5956-883f-ada3-90790b0053f4-0b0053f1, #w-node-_0cd70b74-ab87-0e37-8c12-0b38f4d52384-25cd0846, #w-node-afed3ac8-3177-ec05-990a-39f68f9eb356-25cd0846, #w-node-_84b383cf-f2f3-bea7-8c05-b0fd748b650d-25cd0846, #w-node-ef8907ed-ca22-ade3-43fc-33a830f840f2-25cd0846, #w-node-ef8907ed-ca22-ade3-43fc-33a830f84105-25cd0846, #w-node-fa5afabc-a52b-507f-b843-6bbd60cbabf6-25cd0848, #w-node-fa5afabc-a52b-507f-b843-6bbd60cbac12-25cd0848, #w-node-_5363f964-1550-406b-86ab-876ba9bec06f-25cd084a, #w-node-fe319464-75bf-79e4-1d0f-9e588fb063fb-25cd084a, #w-node-fe319464-75bf-79e4-1d0f-9e588fb06402-25cd084a, #w-node-fe319464-75bf-79e4-1d0f-9e588fb06409-25cd084a, #w-node-fe319464-75bf-79e4-1d0f-9e588fb06410-25cd084a, #w-node-fe319464-75bf-79e4-1d0f-9e588fb06417-25cd084a, #w-node-fe319464-75bf-79e4-1d0f-9e588fb0641e-25cd084a, #w-node-_62ab79b9-6032-891d-05d1-d48df402ca5a-25cd084e, #w-node-_0b14b95b-c6e2-7002-10aa-43a2d12ef01b-25cd084e, #w-node-_1ed9bd89-0019-64e2-5b75-d1a6bbea8869-25cd084e, #w-node-_99ac6bff-1bf5-a05a-9d0c-9b325070b661-25cd084e, #w-node-_0016a792-801a-b9d7-b457-6e60c9cec84c-25cd084e, #w-node-a0e5c115-ea09-beab-b4f4-2e1ac60bb639-25cd084e, #w-node-_17a23c16-d9df-b7fc-4cc7-046d36bc9e0d-25cd084e, #w-node-f1634648-5459-ee2f-c769-034c3844fd38-25cd084e, #w-node-_5092c0dc-2443-f6eb-e21d-1dcc5e340488-25cd084e, #w-node-b11d4944-2ba8-3268-e095-3b09f035a977-25cd084e, #w-node-_0f9864ad-3796-a1d5-be37-9d6247e30e46-25cd084e, #w-node-bd7a7f8a-46f8-9878-613d-8ec95513e4a1-25cd084e, #w-node-_280ce3f4-0b01-1e17-1712-e3f362ff0188-25cd084e, #w-node-e9136a8e-c2f0-afc7-f368-34cb9b16efb7-25cd084e, #w-node-_3658a508-b024-6c37-ee42-57a494e44767-25cd084e, #w-node-_14658c5f-9491-ad2f-8412-3d615088303f-25cd084e, #w-node-_3fd93bc6-3195-1ccd-b1b1-a8a6dd1e8e76-25cd084e, #w-node-cb35293c-8748-d6ce-b43d-58be49efc9fc-25cd084e, #w-node-_7b15da3a-978b-ad8f-0c7e-9034e2b084dc-25cd084e, #w-node-_0e6c5cff-a430-b7b6-f0c1-426922754e03-25cd084e, #w-node-_526b2d8f-5a99-d381-312e-6ff47d271bc1-25cd084e, #w-node-_0f80b63c-e731-9a99-305d-5547092ec8f2-25cd084e, #w-node-f2f49a57-b72e-0639-6bee-5df1cdc28b9c-25cd084e, #w-node-_4e3d5f87-7bd7-0135-3e25-991c9ba63478-25cd084e, #w-node-_880abb12-b877-9f0a-0223-83f67f274e74-25cd084e, #w-node-a9745e51-8f3f-0bb7-ff0d-ce589b3504a7-25cd084e, #w-node-_18534a7d-369e-8233-6351-b814f2cc93cb-25cd084e, #w-node-_1aec6a9d-2bfc-5c3b-4e43-693962c19581-25cd084e, #w-node-_32c8226f-33dd-fbaa-d45d-060a456aaf95-25cd0854, #w-node-b387dea9-8019-c2f6-be02-402e509d0d3f-25cd0854, #w-node-e1ae69f4-ecd5-f39a-5fc9-1f700408dd57-25cd0854, #w-node-_1fb25b1f-87ef-df55-75d4-03cf0ca91c9a-25cd0854, #w-node-dae830aa-7d74-8280-15df-739305051422-25cd0854, #w-node-_17c4775c-9fd6-f8ab-9d9f-9d2fece60496-25cd0854, #w-node-_971632f7-d243-a370-a389-ccd2fd07720a-25cd0854, #w-node-_47171186-af89-bff0-fc97-dc7fc0cc80ae-25cd0854, #w-node-_37f28855-38c9-315b-3bed-658dfea6c532-25cd0854, #w-node-c1f37475-78be-77d4-3517-e9edc471daa8-25cd0854, #w-node-fef66e34-bed4-14f1-f94b-58a82175ce80-25cd0854, #w-node-_86c75230-b171-2a4a-b09f-aae835e2572a-25cd0854 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_84b383cf-f2f3-bea7-8c05-b0fd748b650d-25cd0846 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-dd03f682-5e31-981d-1bc3-e09cb94f042f-25cd083c, #w-node-a033bb4d-fb8b-e335-6cb2-c443ca8c4bc8-25cd083c {
    order: -9999;
  }

  #w-node-_84b383cf-f2f3-bea7-8c05-b0fd748b650d-25cd0846 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}