.heading-hero {
  max-width: 11.5em;
  margin-bottom: .38em;
}

.heading-list.blue {
  color: var(--core-primary-color);
}

.heading-list.green {
  color: var(--core-accent-color);
}

.heading-numbers {
  color: var(--core-primary-color);
  font-weight: 500;
}

.heading-numbers.green {
  color: var(--core-accent-color);
}

.heading-quote {
  margin-bottom: 1.4em;
}

.heading-name {
  margin-bottom: .3em;
  line-height: 120%;
}

.heading-contact-lottie {
  color: var(--core-primary-color);
  font-weight: 500;
}

.heading-solution-large {
  color: var(--core-primary-color);
}

.heading-solution-large.green {
  color: var(--core-accent-color);
}