.link {
  border-bottom: 1px solid var(--core-primary-color);
  color: var(--core-primary-color);
  text-decoration: none;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94), color .3s cubic-bezier(.25, .46, .45, .94);
}

.link:hover {
  border-bottom-color: var(--heading);
  color: var(--heading);
}

.navbar {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .7em;
  padding: 1.1em 2em;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-block {
  width: 100%;
  max-width: 75em;
  grid-column-gap: 1em;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav {
  grid-column-gap: .5em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.brand {
  flex: none;
  margin-right: .5em;
  padding: .5em .3em;
}

.logo {
  height: 5.5em;
}

.nav-menu {
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-link {
  color: var(--heading);
  letter-spacing: -.02em;
  padding: .7em 1.2em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
}

.nav-link:hover {
  color: var(--core-primary-color);
}

.nav-link.w--current {
  color: var(--heading);
}

.nav-link.w--current:hover {
  color: var(--core-primary-color);
}

.nav-button {
  background-color: var(--heading);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  padding: .7em 1.4em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.nav-button:hover {
  background-color: var(--core-primary-color);
  box-shadow: 0 15px 40px -10px var(--core-primary-color);
}

.nav-button-outline {
  box-shadow: 0 0 0 -10px var(--core-primary-color), inset 0 0 0 2px var(--core-primary-color);
  color: var(--core-primary-color);
  letter-spacing: -.02em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50em;
  padding: .7em 1.4em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), color .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.nav-button-outline:hover {
  background-color: var(--core-primary-color);
  box-shadow: 0 15px 40px -10px var(--core-primary-color), inset 0 0 0 2px var(--core-primary-color);
  color: var(--white);
}