.content {
  width: 100%;
  max-width: 75em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content.narrow {
  max-width: 60em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.subtitle {
  background-color: var(--white);
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  margin-bottom: .7em;
  padding: .5em 1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
  box-shadow: 0 10px 20px -10px rgba(20, 23, 24, .05);
}

.subtitle.white {
  color: var(--white);
  background-color: rgba(255, 255, 255, .1);
}

.subtitle.blue {
  background-color: var(--accent-b1);
  color: var(--core-primary-color);
}

.page-body {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  margin-bottom: 1em;
  padding: 5em 13%;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

@media screen and (max-width: 991px) {
  .page-body {
    padding: 4em 10%;
  }
}

@media screen and (max-width: 767px) {
  .solutions {
    padding: 2.2em;
  }

  .image-post-thumbnail, .image-post-thumbnail.large {
    height: 50vw;
  }

  .post-body {
    padding-top: 2.9em;
    padding-bottom: 2.9em;
  }

  .collection-list-shop {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .page-body {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}