.numbers {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  background-color: var(--accent-b1);
  border-radius: .64em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.2em 1.4em 1.4em;
  display: flex;
}

.numbers.green {
  background-color: var(--accent-b3);
}
