.top-bar-block {
  width: 100%;
  max-width: 75em;
  grid-column-gap: 1em;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.top-bar {
  grid-column-gap: 1.87em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-top-bar {
  opacity: .7;
  color: var(--white);
  letter-spacing: -.02em;
  font-size: .87em;
  line-height: 120%;
}
