.paragraph {
  max-width: 30em;
  margin-bottom: 2.2em;
}

.paragraph-top {
  max-width: 32em;
  margin-bottom: 2em;
  font-size: 1.125em;
  line-height: 160%;
}

.paragraph-template {
  margin-bottom: 2.4em;
}

.paragraph-hero {
  max-width: 26em;
  margin-bottom: 2em;
  font-size: 1.125em;
  line-height: 160%;
}

.paragraph-features {
  max-width: 20em;
}

.paragraph-about, .paragraph-about.green, .paragraph-about.red {
  color: var(--core-primary-color);
}

.paragraph-accordion {
  max-width: 90%;
  margin-bottom: 1.6em;
}

.paragraph-utility {
  max-width: 23em;
  margin-bottom: 1.8em;
}

.paragraph-review {
  font-size: .87em;
  line-height: 155%;
}

.paragraph-account {
  max-width: 23em;
  margin-bottom: 1.8em;
}

.paragraph-account.white {
  color: rgba(255, 255, 255, .8);
}

.paragraph-solution-large {
  color: var(--core-primary-color);
}

.paragraph-solution-large.green {
  color: var(--core-accent-color);
}

.paragraph-post {
  margin-bottom: 1.4em;
}

.paragraph-post.large {
  max-width: 25em;
  margin-bottom: 1.6em;
}

.paragraph-top.blog-post {
  font-size: 1.125em;
  line-height: 160%;
  max-width: 36em;
  margin-bottom: .5em;
}

.paragraph-description {
  margin-bottom: 2.1em;
  font-size: .87em;
  line-height: 155%;
}

.paragraph-footer {
  max-width: 26em;
  color: rgba(20, 23, 24, .5);
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: 2.2em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 165%;
}

@media screen and (max-width: 991px) {
  .paragraph-hero {
    font-size: 1em;
  }

  .paragraph-top {
    font-size: 1em;
  }
}

@media screen and (max-width: 479px) {
  .paragraph-account {
    margin-bottom: 1em;
  }
}