.paragraph-template {
  margin-bottom: 2.4em;
}

.paragraph-hero {
  max-width: 26em;
  margin-bottom: 2em;
  font-size: 1.125em;
  line-height: 160%;
}

.paragraph-accordion {
  max-width: 90%;
  margin-bottom: 1.6em;
}

.paragraph-review {
  font-size: .87em;
  line-height: 155%;
}

.paragraph-account {
  max-width: 23em;
  margin-bottom: 1.8em;
}

.paragraph-account.white {
  color: rgba(255, 255, 255, .8);
}

.paragraph-solution-large {
  color: var(--core-primary-color);
}

.paragraph-solution-large.green {
  color: var(--core-accent-color);
}

.paragraph-post {
  margin-bottom: 1.4em;
}

.paragraph-post.large {
  max-width: 25em;
  margin-bottom: 1.6em;
}

.paragraph-top.blog-post {
  font-size: 1.125em;
  line-height: 160%;
  max-width: 36em;
  margin-bottom: .5em;
}

.paragraph-description {
  margin-bottom: 2.1em;
  font-size: .87em;
  line-height: 155%;
}