.solutions {
  grid-row-gap: 1.2em;
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.5em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.solutions-large {
  grid-row-gap: 1.2em;
  background-color: var(--accent-b1);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;
}

.solutions-large.green {
  background-color: var(--accent-b3);
}