.tabs {
  outline-color: var(--core-neutral-dark);
  outline-offset: 0px;
  border-radius: 6px;
  outline-width: 2px;
  outline-style: solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.tab-link-label {
  background-color: #c8c8c8;
}

.tab-link-label.w--current {
  background-color: var(--core-accent-color);
  outline-offset: 0px;
  outline: 1px solid #222;
}

.tabl-link {
  background-color: var(--background);
  margin-bottom: 0;
}

.tabl-link.w--current {
  background-color: var(--core-neutral-dark);
  color: var(--background);
  margin-bottom: 0;
  padding-bottom: 0;
}

.tab-link-enjoy {
  background-color: var(--core-accent-color);
}

.tabs-menu {
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.tabs-content {
  outline-offset: 0px;
  border: 1px #000;
  outline: 0 rgba(20, 23, 24, .8);
}

.tab-pane-label {
  outline-offset: 0px;
  outline: 0 #555;
  transition: opacity .2s;
}

.tab-pane {
  outline-offset: 0px;
  border: 1px #000;
  outline: 3px #555;
}
