/****************************************************
 * Utility Pages - Misc. Styles
 ****************************************************/
html {
  height: 100%;
}

html.base-mod-touch * {
  background-attachment: scroll !important;
}

body {
  background-color: var(--background);
  color: var(--paragraph);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  display: flex;
  margin: 0;
  min-height: 100%;
}

.body {
  display: block;
}

.body-green {
  background-color: #0d32f5;
}

.subtitle {
  background-color: var(--white);
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  margin-bottom: .7em;
  padding: .5em 1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
  box-shadow: 0 10px 20px -10px rgba(20, 23, 24, .05);
}

.subtitle.white {
  color: var(--white);
  background-color: rgba(255, 255, 255, .1);
}

.subtitle.green {
  background-color: var(--accent-b1);
  color: var(--core-primary-color);
}

.button {
  background-color: var(--core-primary-color);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  flex-direction: row;
  padding: .9em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.button:hover {
  box-shadow: 0 15px 40px -10px var(--core-primary-color);
}

.button.yellow {
  background-color: var(--core-info-color);
  color: var(--heading);
}

.button.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--core-info-color);
}

.button.dark {
  background-color: var(--heading);
}

.button.dark:hover {
  background-color: var(--core-primary-color);
}

.base-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: var(--white);
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

input.base-button {
  -webkit-appearance: button;
}

/****************************************************
 * Utility Pages - Base Utility Styles
 ****************************************************/
.utility-page-wrap {
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 3em 1em;
  display: flex;
}

.utility-page-content {
  width: 100%;
  max-width: 24em;
  background-color: var(--white);
  text-align: center;
  border-radius: .87em;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  padding: 3.1em;
  display: flex;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.utility-heading {
  max-width: 9em;
  margin-bottom: .3em;
}

.utility-paragraph {
  max-width: 23em;
  margin-bottom: 1.8em;
}

.utility-page-form {
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  margin-top: .8em;
  display: flex;
}

/****************************************************
 * HTTP 401 Page
 ****************************************************/
.utility-page-wrap.page-401 {
  padding: 1em 1em;
}

.utility-page-content.page-401 {
  padding: 1.1em;
}

.utility-heading.page-401 {
  margin-bottom: .9em;
}

.utility-page-form.page-401 {
  margin-top: .6em;
}

/****************************************************
 * HTTP 404 Page
 ****************************************************/
.utility-page-wrap.page-404 {
  padding: 2em 2em;
}

.utility-page-content.page-404 {
  padding: 2.2em;
}

.utility-heading.page-404 {
  max-width: 6em;
}

.utility-paragraph.page-404 {
  margin-bottom: 2.7em;
}

/****************************************************
 * Thank You Page
 ****************************************************/
.utility-page-wrap.page-thank-you {
  padding: 3em 3em;
}

.utility-page-content.page-thank-you {
  padding: 3.3em;
}

.utility-heading.page-thank-you {
  max-width: 6em;
  margin-bottom: .9em;
}

.utility-paragraph.page-thank-you {
  margin-bottom: .9em;
}

/****************************************************
 * Failed Email Verification Page
 ****************************************************/
 .utility-page-wrap.page-failed-verification {
  padding: 1em 1em;
}

.utility-page-content.page-failed-verification {
  padding: 1.1em;
}

.utility-heading.page-failed-verification {
  margin-bottom: .9em;
}

.utility-paragraph.page-failed-verification {
  margin-top: .6em;
}

/****************************************************
 * Email Sent Confirmation Page
 ****************************************************/
 .utility-page-wrap.page-email-confirmation {
  padding: 1em 1em;
}

.utility-page-content.page-email-confirmation {
  padding: 1.1em;
}

.utility-heading.page-email-confirmation {
  margin-bottom: .9em;
}

.utility-paragraph.page-email-confirmation {
  margin-top: .6em;
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 1.9em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.15em;
  }

  .section-top {
    padding-top: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .section-top-bar {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .section-full {
    padding-top: 3em;
  }

  .paragraph-account {
    margin-bottom: 1em;
  }

  .grid-faq {
    grid-template-columns: 1fr;
  }

  .top-bar {
    grid-row-gap: .6em;
    flex-direction: column;
    align-items: flex-start;
  }

  .grid-faq {
    grid-template-columns: 1fr;
  }

  .paragraph-top {
    margin-bottom: 1.2em;
  }

  .text-field {
    margin-bottom: .9em;
  }

  .account-form {
    padding: 2em;
  }

  .paragraph-account {
    margin-bottom: 1em;
  }

  .block-button {
    flex-direction: column;
    align-items: flex-start;
  }

  .utility-page-wrap {
    padding-top: 2em;
  }

  .utility-page-content, .product-content, .product-sticky {
    padding: 2em;
  }
}