.widget {
  position: relative;
}

.widget-map {
  width: 100%;
  height: 400px;
}

.widget-map label {
  width: auto;
  display: inline;
}

.widget-map img {
  max-width: inherit;
}

.widget-map .gm-style-iw {
  text-align: center;
}

.widget-map .gm-style-iw > button {
  display: none !important;
}

.widget-twitter {
  overflow: hidden;
}

.widget-twitter-count-shim {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 28px;
  height: 20px;
  text-align: center;
  background: white;
  border: #758696 solid 1px;
  border-radius: 3px;
}

.widget-twitter-count-shim * {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.widget-twitter-count-shim .widget-twitter-count-inner {
  position: relative;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  color: #999;
  font-family: serif;
}

.widget-twitter-count-shim .widget-twitter-count-clear {
  position: relative;
  display: block;
}

.widget-twitter-count-shim.-large {
  width: 36px;
  height: 28px;
}

.widget-twitter-count-shim.-large .widget-twitter-count-inner {
  font-size: 18px;
  line-height: 18px;
}

.widget-twitter-count-shim:not(.-vertical) {
  margin-left: 5px;
  margin-right: 8px;
}

.widget-twitter-count-shim:not(.-vertical).-large {
  margin-left: 6px;
}

.widget-twitter-count-shim:not(.-vertical):before, .widget-twitter-count-shim:not(.-vertical):after {
  top: 50%;
  left: 0;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.widget-twitter-count-shim:not(.-vertical):before {
  border-color: rgba(117, 134, 150, 0);
  border-right-color: #5d6c7b;
  border-width: 4px;
  margin-left: -9px;
  margin-top: -4px;
}

.widget-twitter-count-shim:not(.-vertical).-large:before {
  border-width: 5px;
  margin-left: -10px;
  margin-top: -5px;
}

.widget-twitter-count-shim:not(.-vertical):after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: white;
  border-width: 4px;
  margin-left: -8px;
  margin-top: -4px;
}

.widget-twitter-count-shim:not(.-vertical).-large:after {
  border-width: 5px;
  margin-left: -9px;
  margin-top: -5px;
}

.widget-twitter-count-shim.-vertical {
  width: 61px;
  height: 33px;
  margin-bottom: 8px;
}

.widget-twitter-count-shim.-vertical:before, .widget-twitter-count-shim.-vertical:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.widget-twitter-count-shim.-vertical:before {
  border-color: rgba(117, 134, 150, 0);
  border-top-color: #5d6c7b;
  border-width: 5px;
  margin-left: -5px;
}

.widget-twitter-count-shim.-vertical:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: white;
  border-width: 4px;
  margin-left: -4px;
}

.widget-twitter-count-shim.-vertical .widget-twitter-count-inner {
  font-size: 18px;
  line-height: 22px;
}

.widget-twitter-count-shim.-vertical.-large {
  width: 76px;
}

.slider {
  position: relative;
  height: 300px;
  text-align: center;
  background: #dddddd;
  clear: both;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.slider-mask {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
  left: 0;
  right: 0;
  height: 100%;
  white-space: nowrap;
}

.slide {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  text-align: left;
}

.slider-nav {
  position: absolute;
  z-index: 2;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-top: 10px;
  height: 40px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.slider-nav.round>div {
  border-radius: 100%;
}

.slider-nav.num>div {
  width: auto;
  height: auto;
  padding: 0.2em 0.5em;
  font-size: inherit;
  line-height: inherit;
}

.slider-nav.shadow>div {
  box-shadow: 0 0 3px rgba(51, 51, 51, 0.4);
}

.slider-nav-invert {
  color: #fff;
}

.slider-nav-invert>div {
  background-color: rgba(34, 34, 34, 0.4);
}

.slider-nav-invert>div.active {
  background-color: #222;
}

.slider-dot {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  margin: 0 3px 0.5em;
  transition: background-color 100ms, color 100ms;
}

.slider-dot.active {
  background-color: #fff;
}

.slider-dot:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px #fff;
}

.slider-dot:focus.active {
  box-shadow: none;
}

.slider-arrow-left,
.slider-arrow-right {
  position: absolute;
  width: 80px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  color: white;
  font-size: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider-arrow-left [class^='w-icon-'],
.slider-arrow-right [class^='w-icon-'],
.slider-arrow-left [class*=' w-icon-'],
.slider-arrow-right [class*=' w-icon-'] {
  position: absolute;
}

.slider-arrow-left:focus,
.slider-arrow-right:focus {
  outline: 0;
}

.slider-arrow-left {
  z-index: 3;
  right: auto;
}

.slider-arrow-right {
  z-index: 4;
  left: auto;
}

.icon-slider-left,
.icon-slider-right {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1em;
  height: 1em;
}

.slider-aria-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.slider-force-show {
  display: block !important;
}

.icon-arrow-down:before,
.icon-dropdown-toggle:before {
  content: "\e603";
}

.dropdown {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;
}

.dropdown-btn,
.dropdown-toggle,
.dropdown-link {
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.dropdown-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
}

.dropdown-toggle:focus {
  outline: 0;
}

.icon-dropdown-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-right: 20px;
  width: 1em;
  height: 1em;
}

.dropdown-list {
  position: absolute;
  background: #dddddd;
  display: none;
  min-width: 100%;
}

.dropdown-list.-open {
  display: block;
}

.dropdown-link {
  padding: 10px 20px;
  display: block;
  color: #222222;
}

.dropdown-link.-current {
  color: #0082f3;
}

.dropdown-link:focus {
  outline: 0;
}