{% load static %}

<div data-w-id="9c896d19-12ed-148e-4e5a-1c014986d7c2" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
  <div class="nav-block">
    <a href="{% url 'main:landing' %}" aria-current="page" class="brand w-nav-brand w--current">
      <img src="{% static 'main/images/Logo.png' %}" loading="lazy" sizes="88px" srcset="{% static 'main/images/Logo-p-500.png' %} 500w, {% static 'main/images/Logo-p-800.png' %} 800w, {% static 'main/images/Logo.png' %} 1024w" alt="" class="logo">
    </a>
    <div class="nav">
      <nav role="navigation" class="nav-menu w-nav-menu">
        {% if request.user.is_authenticated %}
          <div class="username-mobile centered-text">
            <span>{{ request.user.username }}</span>
          </div>
          <div class="button-mobile">
            <a href="{% url 'inventory:storage' %}" class="nav-button-outline w-button">Inventory</a>
            <a href="{% url 'accounts:logout' %}" class="nav-button w-button">Logout</a>
          </div>
        {% else %}
          <div class="button-mobile">
            <a href="{% url 'accounts:login' %}" class="nav-button-outline w-button">Login</a>
            <a href="{% url 'accounts:signup' %}" class="nav-button w-button">Signup</a>
          </div>
        {% endif %}
      </nav>
    </div>
    <div class="nav">
      <nav role="navigation" class="nav-menu w-nav-menu">
        {% if request.user.is_authenticated %}
          <div class="username-desktop">
            <span>{{ request.user.username }}</span>
          </div>
          <div class="button-desktop">
            <a href="{% url 'inventory:storage' %}" class="nav-button-outline w-button">Garden</a>
            <a href="{% url 'accounts:logout' %}" class="nav-button w-button">Logout</a>
          </div>
        {% else %}
          <div class="button-desktop">
            <a href="{% url 'accounts:login' %}" class="nav-button-outline w-button">Login</a>
            <a href="{% url 'accounts:signup' %}" class="nav-button w-button">Signup</a>
          </div>
        {% endif %}
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon-menu w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>