{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <div class="row">

      <!-- Left column -->
      <div class="col-md-4">
        {% if user.avatar %}
          <img src="{{ user.avatar.url }}" alt="User avatar" class="avatar-image">
        {% else %}
          <img src="{% static 'img/test-avatar.jpg' %}" alt="Default avatar" class="avatar-image">
        {% endif %}
      
        <!-- User Info -->
        <div class="user-info text-center mt-3">
          <h2>{{ user.username }}</h2>
          <div class="user-details">
              {% if user_profile.interests %}
                  <p>Interests: {{ user_profile.interests }}</p>
              {% endif %}
              {% if user_profile.experience %}
                  <p>Experience: {{ user_profile.experience }}</p>
              {% endif %}
              <p>Location: {{ user.profile.location }}</p>
          </div>
        </div>

        <!-- Edit Profile Link -->
        <div class="text-center mt-2">
          <a href="{% url 'accounts:profile_change' %}" class="btn btn-secondary">Edit Profile</a>
        </div>
      </div>

      <!-- Right column -->
      <div class="col-md-8">
        <h3>Recent Activities</h3>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Activity</th>
              <th scope="col">Date</th>
            </tr>
          </thead>

          <tbody>
            {% for activity in recent_activities %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ activity.content }}</td>
                <td>{{ activity.timestamp }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
{% endblock %}
