{% extends "base.html" %}

{% block body %}
  {% include "includes/header.html" %}
  {% if messages %}
    <section class="section-top-bar">
      <div class="top-bar-block">
        <div class="top-bar">
          {% for message in messages %}
            <div class="info-top-bar">{{ message }}</div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
  <main role="main">
    {% block content %}{% endblock content %}
  </main>
  {% include "includes/footer.html" %}
{% endblock body %}

{% block extra_body %}{% endblock extra_body %}