<!-- home/home_page.html -->
{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <section class="page-heading">
    <div class="content">
      <div class="block-page-heading">
        <h1 class="title-page-heading">{{ page.heading_title }}</h1>
        {% if page.heading_text %}
          <p class="text-page-heading">{{ page.heading_text }}</p>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- Rendering Content Blocks -->
  {% for block in page.body %}
    {% include_block block %}
  {% endfor %}

{% endblock %}