<!-- templates/home_page.html -->

{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.heading_title }}</h1>
        {% if page.heading_text %}
          <p class="paragraph-top">{{ page.heading_text }}</p>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- Rendering Content Blocks -->
  {% for block in page.body %}
    {% include_block block %}
  {% endfor %}

{% endblock %}