  <section class="section">
    <div style="opacity:0" class="content">
      <div class="w-layout-grid grid-solutions">
        <div id="w-node-b9884999-5af6-d1ff-eb07-8badfae39427-0e941739" class="solutions"><img src="images/edge-node-alt.svg" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">Shared Hosting</h5>
          <p class="paragraph-solution">Lectus tortor aliquam pulvinar cursus eget egestas. Ac fermentum.</p>
          <a href="solutions.html" class="link-block w-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link"><img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="icon-link"></div>
          </a>
        </div>
        <div id="w-node-f8cf0b0a-7bff-358b-dba5-0aa0133e001c-0e941739" class="solutions"><img src="images/object-storage.svg" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">VPS Hosting</h5>
          <p class="paragraph-solution">Diam purus aliquam vulputate urna. Imperdiet enim diam felis ut. Neque.</p>
          <a href="solutions.html" class="link-block w-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link"><img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="icon-link"></div>
          </a>
          <div class="yellow-tag">Most popular<br></div>
        </div>
        <div id="w-node-a3434d13-0c41-9ad3-e49d-ef8ec3aa6675-0e941739" class="solutions"><img src="images/cloud-data-ops.svg" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">Cloud Hosting</h5>
          <p class="paragraph-solution">At magna sed aliquet posuere aenean. Tortor placerat nascetur.</p>
          <a href="solutions.html" class="link-block w-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link"><img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="icon-link"></div>
          </a>
        </div>
        <div id="w-node-ed2a8ead-6789-73b8-380f-ef99f7042f78-0e941739" class="solutions"><img src="images/ibm-cloud-dedicated-host.svg" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">Dedicated Hosting</h5>
          <p class="paragraph-solution">Vitae molestie vel feugiat sapien commodo risus nunc. Justo varius.</p>
          <a href="solutions.html" class="link-block w-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link"><img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="icon-link"></div>
          </a>
          <div class="green-tag">Best Value<br></div>
        </div>
      </div>
      <div class="clients">
        <div class="subtitle-clients">Join 100+ companies trusting Host<br></div>
        <div data-w-id="f7529cf8-f157-cd39-9418-00b33fb34139" class="block-clients">
          <div class="gradient-clients"></div>
          <div class="clients-wrapper"><img src="images/client_9.svg" loading="eager" alt="" class="logo-client"><img src="images/client_10.svg" loading="eager" alt="" class="logo-client"><img src="images/client_8.svg" loading="eager" alt="" class="logo-client"><img src="images/client_7.svg" loading="eager" alt="" class="logo-client"><img src="images/client_4.svg" loading="eager" alt="" class="logo-client"><img src="images/client_1.svg" loading="eager" alt="" class="logo-client"><img src="images/client_6.svg" loading="eager" alt="" class="logo-client"><img src="images/client_2.svg" loading="eager" alt="" class="logo-client"><img src="images/client_5.svg" loading="eager" alt="" class="logo-client"><img src="images/client_3.svg" loading="eager" alt="" class="logo-client"></div>
          <div class="clients-wrapper"><img src="images/client_9.svg" loading="eager" alt="" class="logo-client"><img src="images/client_10.svg" loading="eager" alt="" class="logo-client"><img src="images/client_8.svg" loading="eager" alt="" class="logo-client"><img src="images/client_7.svg" loading="eager" alt="" class="logo-client"><img src="images/client_4.svg" loading="eager" alt="" class="logo-client"><img src="images/client_1.svg" loading="eager" alt="" class="logo-client"><img src="images/client_6.svg" loading="eager" alt="" class="logo-client"><img src="images/client_2.svg" loading="eager" alt="" class="logo-client"><img src="images/client_5.svg" loading="eager" alt="" class="logo-client"><img src="images/client_3.svg" loading="eager" alt="" class="logo-client"></div>
        </div>
      </div>
    </div>
  </section>