<!-- base/templates/base/includes/footer/information.html -->
{% load static %}

<div id="footer-information" class="footer__block">
  <img src="{% static 'images/logo/plant.svg' %}" loading="eager" alt="Footer Logo" class="footer__logo">
  {% if footer_information.paragraph %}
    <div class="footer__paragraph">{{ footer_information.paragraph }}<br></div>
  {% endif %}
  <div class="footer__support-links">
    {% if footer_information.paragraph %}
      <a href="tel:{{ footer_information.phone_number }}" class="footer__social-link base-inline-block">
        <img src="{% static 'images/phone-voice.svg' %}" loading="eager" alt="Phone Contact" class="footer__social-icon">
      </a>
    {% endif %}
    {% if footer_information.email %}
      <a href="mailto:{{ footer_information.email }}" class="footer__social-link base-inline-block">
        <img src="{% static 'images/email.svg' %}" loading="eager" alt="Email Contact" class="footer__social-icon">
      </a>
    {% endif %}
    {% if footer_information.chat %}
      <a href="{{ footer_information.chat }}" class="footer__social-link base-inline-block">
        <img src="{% static 'images/chat-launch.svg' %}" loading="eager" alt="Chat Launch" class="footer__social-icon">
      </a>
    {% endif %}
  </div>
</div>