{% load navigation_tags %}

{% with blog_url=settings.base.NavigationSettings.blog company_url=settings.base.NavigationSettings.company solutions_url=settings.base.NavigationSettings.solutions %}
  <div id="footer-internal-links" class="footer__block">
    <p class="footer__subtitle">More About Us</p>
    {% if blog_url %}
      <a href="{{ blog_url }}" class="footer__link">Blog</a>
    {% endif %}
    {% if company_url %}
      <a href="{{ company_url }}" class="footer__link">Company</a>
    {% endif %}
    {% if solutions_url %}
      <a href="{{ solutions_url }}" class="footer__link">Solutions</a>
    {% endif %}
  </div>
{% endwith %}