{% load wagtailimages_tags wagtailcore_tags %}

<div class="solutions">
    {% if self.tag %}
        {% with tag=self.tag %}
            {% if tag.color %}
                <div class="{{ tag.color }}-tag">{{ tag.text }}<br></div>
            {% endif %}
        {% endwith %}
    {% endif %}
    
    {% with content=self.content %}
        {% if content.image %}
            {% image content.image fill-300x300 as img %}
            <img src="{{ img.url }}" alt="{{ content.image.title }}" loading="eager" class="icon-solution">
        {% endif %}
        
        {% if content.heading %}
            <h5 class="heading-solution">{{ content.heading|richtext }}</h5>
        {% endif %}
        
        {% if content.paragraph %}
            <p class="paragraph-solution">{{ content.paragraph|richtext }}</p>
        {% endif %}
    {% endwith %}
    
    {% include_block self.icon %}
</div>
