<section class="section">
  <div class="content">
    <div class="w-layout-grid grid-banner">
      <div id="w-node-fa5a991c-5956-883f-ada3-90790b0053f4-0b0053f1" class="block-banner">
        <div class="subtitle white">Are you ready?<br></div>
        <h2 class="heading banner">Start your gardening journey today</h2>
        <a data-w-id="fa5a991c-5956-883f-ada3-90790b0053fa" href="{% url 'main:signup' %}" class="button yellow w-button">Stay Updated</a>
      </div>
    </div>
  </div>
</section>