{% load static %}
<section class="section-top">
  <div class="content">
    <div class="block-top">
      <h2 class="heading-top">{{ digit.name }}</h2>
      <p class="paragraph-top">{{ digit.description }}</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="content">
    <h4 class="heading-account">Journal</h4>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Entry</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        {% for journal in digit.journal_entries.all %}
          <tr>
            <td>{{ journal.created_at|date:"F j, Y, g:i A" }}</td>
            <td>{{ journal.user.username }}</td>
            <td>{{ journal.entry }}</td>
            <td>
              {% if journal.image %}
                <img src="{{ journal.image.url }}" alt="Journal Image" width="100">
              {% else %}
                No image
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>      
    </table>
  </div>
</section>

<section class="section">
  <div class="content">
    <div class="account-form">
      <!-- Clickable header for toggling the form -->
      <div class="accordion-header" onclick="toggleJournalForm()">
        <h4 class="heading-account">Create a New Journal Entry</h4>
        <div class="block-icon-accordion" id="toggleIcon">
          <img src="{% static 'images/close.svg' %}" alt="" class="icon-accordion">
        </div>
      </div>
      <!-- Form, initially hidden -->
      <div id="journalForm" style="display:none" class="form-block w-form">
        <form method="post" enctype="multipart/form-data" class="form">
          {% csrf_token %}
          <!-- Form fields -->
          {% for field in journal_entry_form %}
            <div>
              <input type="{{ field.field.widget.input_type }}" class="text-field w-input" name="{{ field.name }}" placeholder="{{ field.label }}" id="{{ field.id_for_label }}" {% if field.is_required %}required=""{% endif %}>
              {% if field.errors %}
                <div class="error-message">
                  <small>{{ field.errors|striptags }}</small>
                </div>
              {% endif %}
            </div>
          {% endfor %}
          <input type="submit" value="Submit Journal Entry" data-wait="Please wait..." class="submit-button w-button">
        </form>
      </div>
    </div> 
  </div>
</section>

<section class="section">
  <div class="content">
    <form action="{% url 'core:delete-digit' object.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete Digit">
    </form>
  </div>
</section>