<div class="content">
  <h2>{{ digit.name }} Summary</h2>
  <p>{{ digit.description }}</p>

  <!-- Loop through journal entries related to the digit -->
  {% for journal in digit.journal_entries.all %}
    <div class="journal-entry">
      <h3>Journal Entry - {{ journal.created_at|date:"Y-m-d H:i" }}</h3>
            
      <!-- Journal Entry Content -->
      <div class="journal-content">
        <p>{{ journal.entry }}</p>
      </div>

      <!-- Journal Entry Image -->
      {% if journal.image %}
        <div class="journal-image">
          <img src="{{ journal.image.url }}" alt="Image for journal entry">
        </div>
      {% else %}
        <p>No image available for this entry.</p>
      {% endif %}
    </div>
  {% empty %}
    <p>No journal entries available for this digit.</p>
  {% endfor %}
</div>

<div class="content">
  <div class="account-form">
    <h4 class="heading-account">Create a New Journal Entry</h4>    
    <div class="form-block w-form">
      <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% for field in journal_entry_form %}
          <div>
            <input type="{{ field.field.widget.input_type }}" class="text-field w-input" name="{{ field.name }}" placeholder="{{ field.label }}" id="{{ field.id_for_label }}" {% if field.is_required %}required=""{% endif %}>
            {% if field.errors %}
              <div class="error-message">
                <small>{{ field.errors|striptags }}</small>
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <input type="submit" value="Submit Journal Entry" data-wait="Please wait..." class="submit-button w-button">
      </form>
    </div>
  </div> 
</div>

<div class="content">
  <form action="{% url 'core:delete-digit' object.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete Digit">
  </form>
</div>