<div class="content">
  <div class="w-layout-grid grid-features">
    {% for group in groups %}
      <a href="{% url 'core:grouped-digits' group.id %}" class="group-card group-card-link">
        <div class="group-card-img-wrapper">
          <!-- Placeholder for group image or icon -->
        </div>
        <div class="group-card-body">
          <h5 class="group-card-header">{{ group.name }}</h5>
        </div>
      </a>
    {% empty %}
      <p>You have no groups.</p>
    {% endfor %}
  </div>
</div>

<div class="content">
  <div class="account-form">
    <h4 class="heading-account">Group plants for easier management</h2>    
    <div class="form-block w-form">
      <form method="post" class="form">
        {% csrf_token %}
        {% for field in form %}
          <div>
            <input type="{{ field.field.widget.input_type }}" class="text-field w-input" name="{{ field.name }}" placeholder="{{ field.label }}" id="{{ field.id_for_label }}" required="">
            {% if field.errors %}
              <div class="error-message">
                <small>{{ field.errors|striptags }}</small>
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <input type="submit" value="Create Group" data-wait="Please wait..." class="submit-button w-button">
      </form>
    </div>
  </div> 
</div>  