<section class="section">
  <div class="content">
    <h2 class="group-name-header">{{ group.name }}</h2>
    <div class="w-layout-grid grid-features">
      {% for digit in digits %}
        <a href="{% url 'core:digit' digit.id %}" class="digit-card digit-card-link">
          <div class="digit-card-img-wrapper">
            <!-- Placeholder for image or a no-image icon -->
          </div>
          <div class="digit-card-body">
            <h5 class="digit-card-header">{{ digit.name }}</h5>
            <p class="digit-card-footer">{{ digit.description }}</p>
          </div>
        </a>
      {% empty %}
        <p>No Digits found in this group.</p>
      {% endfor %}
    </div>
  </div>
</section>

{% if digits|length == 0 %}
  <section class="section">
    <div class="content">
      <form action="{% url 'core:delete-group' group.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Group">
      </form>
    </div>
  </section>
{% endif %}