{% load static %}

<header class="app-header-container">
  <div class="container">
    <div class="row align-items-center">
      <!-- Logo -->
      <div class="col-md-6">
        <a href="{% url 'core:landing' %}" class="header-logo">
          <img src="{% static 'img/logo.png' %}" alt="Cybotany Logo" class="logo-img">
        </a>
      </div>
      <!-- Modules -->
      <div class="col-md-2 header-modules d-flex flex-column align-items-stretch">
        <!-- TODO-->
      </div>
      <!-- Profile & Authentication Links -->
      <div class="col-md-4 header-auth">
        {% if user.is_authenticated %}
          <div class="profile-group">
            <a href="{% url 'core:profile' %}" class="user-avatar-link">
              {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="User avatar" class="avatar-image">
              {% else %}
                <img src="{% static 'img/test-avatar.jpg' %}" alt="Default avatar" class="avatar-image">
              {% endif %}
            </a>
            <div class="auth-buttons">
              <a href="{% url 'core:logout' %}" class="btn btn-modern mb-2">Logout</a>
            </div>
          </div>
        {% else %}
          <div class="auth-buttons">
            <a href="{% url 'core:login' %}" class="btn btn-modern mb-2">Log in</a>
            <a href="{% url 'core:signup' %}" class="btn btn-modern mb-2">Sign up</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>
