<div class="content">
  <div class="account-form">
    <h4 class="heading-account">Create a New Journal Entry</h4>    
    <div class="form-block w-form">
      <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% for field in journal_entry_form %}
          <div>
            <input type="{{ field.field.widget.input_type }}" class="text-field w-input" name="{{ field.name }}" placeholder="{{ field.label }}" id="{{ field.id_for_label }}" {% if field.is_required %}required=""{% endif %}>
            {% if field.errors %}
              <div class="error-message">
                <small>{{ field.errors|striptags }}</small>
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <input type="submit" value="Submit Journal Entry" data-wait="Please wait..." class="submit-button w-button">
      </form>
    </div>
  </div> 
</div>
