.block.icon.accordion {
  width: 2.12em;
  height: 2.12em;
  background-color: var(--accent-green);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content.accordion {
  display: block;
  overflow: hidden;
}