.block {
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  padding: 1.5em;
}

.block.heading {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1em;
  display: flex;
}

.block.heading.center {
  text-align: center;
  align-items: center;
}

.block.left {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 15%;
  display: flex;
}

.block.right {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15%;
  display: flex;
}

.block.icon.info {
  width: 1.375em;
  height: 1.375em;
  background-color: var(--strong-green);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .block.left {
    padding-right: 10%;
  }

  .block.right {
    padding-left: 10%;
  }
}

@media screen and (max-width: 767px) {
  .block.left {
    padding-right: 0%;
  }

  .block.right {
    padding-left: 0%;
  }
}