.button-hero {
  grid-column-gap: .5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  background-color: var(--strong-green);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  padding: .9em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button:hover {
  box-shadow: 0 15px 40px -10px var(--strong-green);
}

.button.yellow {
  background-color: var(--strong-yellow);
  color: var(--heading);
}

.button.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--strong-yellow);
}

.button.dark {
  background-color: var(--heading);
}

.button.dark:hover {
  background-color: var(--strong-green);
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {
  .button-hero {
    grid-row-gap: .5em;
    flex-direction: column;
  }
}