.button.nav {
  background-color: var(--heading);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  padding: .7em 1.4em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button.nav:hover {
  background-color: var(--strong-green);
  box-shadow: 0 15px 40px -10px var(--strong-green);
}

.button.nav.outline {
  box-shadow: 0 0 0 -10px var(--strong-green), inset 0 0 0 2px var(--strong-green);
  color: var(--strong-green);
  letter-spacing: -.02em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50em;
  padding: .7em 1.4em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), color .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button.nav.outline:hover {
  background-color: var(--strong-green);
  box-shadow: 0 15px 40px -10px var(--strong-green), inset 0 0 0 2px var(--strong-green);
  color: var(--white);
}

.button.desktop {
  grid-column-gap: .5em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button.mobile {
  grid-column-gap: .5em;
  grid-row-gap: 1em;
  justify-content: center;
  align-items: center;
  display: none;
}

.button {
  background-color: var(--strong-green);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  padding: .9em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button:hover {
  box-shadow: 0 15px 40px -10px var(--strong-green);
}

.button.yellow {
  background-color: var(--strong-yellow);
  color: var(--heading);
}

.button.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--strong-yellow);
}

.button.dark {
  background-color: var(--heading);
}

.button.dark:hover {
  background-color: var(--strong-green);
}

.button.apply {
  height: 3.75em;
  background-color: var(--accent-a1);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: .87em;
  margin-left: .5em;
  padding: .9em 1.3em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button.apply:hover {
  box-shadow: 0 15px 40px -10px var(--accent-a1);
}

.button.submit {
  background-color: var(--strong-green);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: .87em;
  padding: 1.2em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button.submit:hover {
  box-shadow: 0 15px 40px -10px var(--strong-green);
}

.button.submit.yellow {
  background-color: var(--strong-yellow);
  color: var(--heading);
}

.button.submit.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--strong-yellow);
}

@media screen and (max-width: 991px) {
  .button.menu {
    background-color: var(--white);
    color: var(--heading);
    border-radius: 50em;
    padding: .6em;
    font-size: 1.2em;
    transition: color .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
    box-shadow: 0 15px 20px -5px rgba(20, 23, 24, .1);
  }

  .button.menu.base--open {
    background-color: var(--heading);
    color: var(--white);
  }
}

@media screen and (max-width: 767px) {
  .button.desktop {
    display: none;
  }

  .button.mobile {
    flex-direction: column;
    align-items: flex-start;
    margin-top: .5em;
    margin-bottom: .8em;
    padding-left: .5em;
    padding-right: .5em;
    display: flex;
  }
}