.button.desktop {
  grid-column-gap: .5em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button.mobile {
  grid-column-gap: .5em;
  grid-row-gap: 1em;
  justify-content: center;
  align-items: center;
  display: none;
}

.button.hero {
  grid-column-gap: .5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  background-color: var(--strong-green);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  padding: .9em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button:hover {
  box-shadow: 0 15px 40px -10px var(--strong-green);
}

.button.yellow {
  background-color: var(--strong-yellow);
  color: var(--heading);
}

.button.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--strong-yellow);
}

.button.dark {
  background-color: var(--heading);
}

.button.dark:hover {
  background-color: var(--strong-green);
}

.button.apply {
  height: 3.75em;
  background-color: var(--accent-a1);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: .87em;
  margin-left: .5em;
  padding: .9em 1.3em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button.apply:hover {
  box-shadow: 0 15px 40px -10px var(--accent-a1);
}

.button.submit {
  background-color: var(--strong-green);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: .87em;
  padding: 1.2em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button.submit:hover {
  box-shadow: 0 15px 40px -10px var(--strong-green);
}

.button.submit.yellow {
  background-color: var(--strong-yellow);
  color: var(--heading);
}

.button.submit.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--strong-yellow);
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
  .button.desktop {
    display: none;
  }

  .button.mobile {
    flex-direction: column;
    align-items: flex-start;
    margin-top: .5em;
    margin-bottom: .8em;
    padding-left: .5em;
    padding-right: .5em;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .button.hero {
    grid-row-gap: .5em;
    flex-direction: column;
  }
}