.gradient.clients {
  z-index: 50;
  background-image: linear-gradient(to right, var(--background) 5%, rgba(244, 246, 247, 0) 20%, rgba(244, 246, 247, 0) 80%, var(--background) 95%);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.clients {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3.6em;
  display: flex;
}

.block.clients {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.subtitle.clients {
  opacity: .7;
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: 2.3em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.logo.client {
  max-height: 2.7em;
  margin-left: 2.7em;
  margin-right: 2.7em;
}

@media screen and (max-width: 767px) {
  .logo.client {
    max-height: 1.5em;
    margin-left: 1.8em;
    margin-right: 1.8em;
  }
}