.clients {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3.6em;
  display: flex;
}

.clients-wrapper {
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}