.grid.faq {
  grid-column-gap: 1.13em;
  grid-row-gap: 1.13em;
  grid-template-rows: auto;
  align-items: start;
}

.block.faq {
  grid-column-gap: 1.13em;
  grid-row-gap: 1.13em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.block.icon.accordion {
  width: 2.12em;
  height: 2.12em;
  background-color: var(--accent-green);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon.accordion {
  width: 1.5em;
  height: 1.5em;
  flex: none;
}

.content.accordion {
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .grid.faq {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
  }

  .block.faq {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
  }
}

@media screen and (max-width: 479px) {
  .grid.faq {
    grid-template-columns: 1fr;
  }
}