.grid.faq {
  grid-column-gap: 1.13em;
  grid-row-gap: 1.13em;
  grid-template-rows: auto;
  align-items: start;
}

.block.faq {
  grid-column-gap: 1.13em;
  grid-row-gap: 1.13em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.block.icon.accordion {
  width: 2.12em;
  height: 2.12em;
  background-color: var(--accent-green);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon.accordion {
  width: 1.5em;
  height: 1.5em;
  flex: none;
}

.content.accordion {
  display: block;
  overflow: hidden;
}

.item.accordion {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  padding-left: 1.8em;
  padding-right: 1.2em;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.header.accordion {
  grid-column-gap: 1em;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: padding .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.header.accordion:hover {
  padding-left: .3em;
  padding-right: .3em;
}

.paragraph.accordion {
  max-width: 90%;
  margin-bottom: 1.6em;
}

@media screen and (max-width: 767px) {
  .grid.faq {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
  }

  .block.faq {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
  }
}

@media screen and (max-width: 479px) {
  .grid.faq {
    grid-template-columns: 1fr;
  }
}