.grid.features {
  grid-column-gap: 2em;
  grid-row-gap: 1.8em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.features {
  grid-column-gap: 1.3em;
  grid-row-gap: 1.3em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
}

.block.heading.features {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .grid.features {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid.features {
    grid-row-gap: 1.2em;
    grid-template-columns: 1fr;
  }
  
  .features {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding-top: .8em;
    padding-bottom: .8em;
  }
}
