.section.footer {
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 3.75em 2em 0;
  display: flex;
}

.grid.footer {
  grid-column-gap: 1.4em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  grid-template-columns: 2.4fr 1fr 1fr 1fr;
  margin-bottom: 7.5em;
}

.block.footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block.social {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.block.footer.down {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3em;
  display: flex;
}

.text.footer.down {
  color: rgba(20, 23, 24, .5);
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 165%;
}

@media screen and (max-width: 767px) {
  .grid.footer {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6em;
  }

  .block.footer.down {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 479px) {
  .section.footer {
    padding-top: 2.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .grid.footer {
    grid-template-columns: 1fr;
    margin-bottom: 5em;
  }

  .block.footer {
    text-align: center;
    align-items: center;
  }

  .block.footer.down {
    text-align: center;
    justify-content: center;
    margin-bottom: 1.5em;
  }
}


  .block.footer.down {
    margin-bottom: 2em;
  }