.grid {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .grid {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr;
  }
}