.heading-hero {
  max-width: 11.5em;
  margin-bottom: .38em;
}

.heading {
  max-width: 9em;
  margin-bottom: .5em;
}

.heading-accordion {
  margin-top: .3em;
  margin-bottom: .3em;
}

.heading-top {
  max-width: 11.5em;
  margin-bottom: .38em;
}

.heading.account {
  max-width: 9em;
  margin-bottom: .3em;
}

.heading.account.white {
  color: var(--white);
}