.icon-top-bar {
  width: 1.125em;
  height: 1.125em;
}

.icon-info {
  width: 1em;
  height: 1em;
}

.icon-button {
  width: 1.5em;
  height: 1.5em;
}

.icon-star {
  width: 1.13em;
  height: 1.13em;
}

.icon-accordion {
  width: 1.5em;
  height: 1.5em;
  flex: none;
}

.icon-features {
  width: 2em;
  height: 2em;
}

.icon-feature-lottie {
  width: 1.5em;
  height: 1.5em;
}

.icon-social {
  width: 1.5em;
  height: 1.5em;
}