.navbar {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .7em;
  padding: 1.1em 2em;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav {
  grid-column-gap: .5em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.brand {
  flex: none;
  margin-right: .5em;
  padding: .5em .3em;
}

.nav.menu {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .nav.menu {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
  }

  .nav.menu {
    padding-left: .5em;
    padding-right: .5em;
  }
}