.content.narrow {
  max-width: 60em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.page-body {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  margin-bottom: 1em;
  padding: 5em 13%;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

@media screen and (max-width: 991px) {
  .page-body {
    padding: 4em 10%;
  }
}

@media screen and (max-width: 767px) {
  .page-body {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

@media screen and (max-width: 479px) {
  .page-body {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}