.paragraph {
  max-width: 30em;
  margin-bottom: 2.2em;
}

.paragraph-hero {
  max-width: 26em;
  margin-bottom: 2em;
  font-size: 1.125em;
  line-height: 160%;
}

.paragraph-features {
  max-width: 20em;
}

.paragraph-review {
  font-size: .87em;
  line-height: 155%;
}

.paragraph-accordion {
  max-width: 90%;
  margin-bottom: 1.6em;
}

.paragraph-top {
  max-width: 32em;
  margin-bottom: 2em;
  font-size: 1.125em;
  line-height: 160%;
}

.paragraph-footer {
  max-width: 26em;
  color: rgba(20, 23, 24, .5);
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: 2.2em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 165%;
}

@media screen and (max-width: 991px) {
  .paragraph-hero {
    font-size: 1em;
  }

  .paragraph-top {
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {
  .paragraph-top {
    margin-bottom: 1.2em;
  }
}