.paragraph {
  max-width: 30em;
  margin-bottom: 2.2em;
}

.paragraph.features {
  max-width: 20em;
}

.paragraph.review {
  font-size: .87em;
  line-height: 155%;
}

@media screen and (max-width: 991px) {
  .paragraph.top {
    font-size: 1em;
  }
}

@media screen and (max-width: 479px) {
  .paragraph.top {
    margin-bottom: 1.2em;
  }
}