.review {
  grid-column-gap: .94em;
  grid-row-gap: .94em;
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: .44em;
  margin-bottom: .44em;
  padding: 2em;
  display: flex;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.review.left {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.review.right {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.review.name {
  color: var(--heading);
  letter-spacing: -.02em;
  font-size: .87em;
  font-weight: 500;
  line-height: 130%;
}

.stars {
  grid-column-gap: .25em;
  grid-row-gap: .25em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 479px) {
  .review {
    padding: 1.6em;
  }
}