.section.full {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 3.75em 2em;
  display: flex;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding: 2.5em 1.5em;
  }

  .section.full {
    padding-top: 3em;
  }
}