.top-bar-block {
  width: 100%;
  max-width: 75em;
  grid-column-gap: 1em;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.top-bar {
  grid-column-gap: 1.87em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-top-bar {
  opacity: .7;
  color: var(--white);
  letter-spacing: -.02em;
  font-size: .87em;
  line-height: 120%;
}

.icon-top-bar {
  width: 1.125em;
  height: 1.125em;
}

@media screen and (max-width: 991px) {

  .top-bar-block {
    grid-row-gap: .6em;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {

  .top-bar {
    grid-row-gap: .6em;
    flex-direction: column;
    align-items: flex-start;
  }
}