.brand-center {
  flex: none;
  margin-top: 1.2em;
  margin-left: auto;
  margin-right: auto;
  padding: .5em .3em;
}

.body-green {
  background-color: var(--accent-green);
}

@media screen and (max-width: 479px) {
  .product-sticky {
    padding: 2em;
  }
}