.brand-center {
  flex: none;
  margin-top: 1.2em;
  margin-left: auto;
  margin-right: auto;
  padding: .5em .3em;
}

.body-green {
  background-color: var(--accent-green);
}

.utility-page.content {
  width: 100%;
  max-width: 24em;
  background-color: var(--white);
  text-align: center;
  border-radius: .87em;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  padding: 3.1em;
  display: flex;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

@media screen and (max-width: 479px) {
  .utility-page.content {
    padding: 2em;
  }
}