.grid.banner {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  background-color: var(--strong-green);
  border-radius: .87em;
  grid-template-rows: auto;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.block.banner {
  z-index: 50;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 12%;
  display: flex;
  position: relative;
}

.block.banner.lottie {
  z-index: 10;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
}

@media screen and (max-width: 767px) {
  .grid.banner {
    grid-template-columns: 1fr;
  }

  .block.banner {
    padding: 4em 10%;
  }
}
