.block.hero {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.button.hero {
  grid-column-gap: .5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .block.hero {
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .button.hero {
    grid-row-gap: .5em;
    flex-direction: column;
  }
}