.arrow {
  font-size: 2rem;
  color: #000;
}

.section {
  padding: 4rem 0; 
}

a {
  text-decoration: none;
  color: var(--core-primary-color);
}

a:hover {
  color: var(--core-secondary-color);
}
a, .btn {
  transition: color 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

input, select, button {
  border-radius: 8px; 
}