.header-logo .logo-img {
  max-height: 75px;
}
  
.header-modules .btn-modern {
  margin-right: 10px;
}
  
.header-auth .btn-modern,
.header-auth .user-avatar-link {
  margin-right: 10px;
}
  
.avatar-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 50px;
  border-radius: 50%;
}
  
@media (max-width: 768px) {
  .header-modules, .header-auth {
    text-align: center;
    margin-top: 1rem;
  }
}

.auth-buttons {
  margin-top: 10px;
}

.decorative-header {
  background: linear-gradient(135deg, var(--core-primary-color), var(--core-secondary-color));
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.profile-group {
  text-align: center;
}