<!DOCTYPE html>
<html>
  <head>  
    {% include 'main/partials/head.html' %}
  </head>
  <body class="body">
    {% include 'main/partials/simple-header.html' %}
      <!-- Email Sent Confirmation Content-->
    <div class="utility-page-wrap">
      <div class="utility-page-content">
        <div class="subtitle blue">Email Confirmation<br></div>
        <h2 class="utility-heading">Confirmation Sent</h2>
          <p class="utility-paragraph">An email confirmation has been sent to the email address you provided.</p>
          <p class="utility-paragraph">Please check your inbox and click the link in the email to verify your account.</p>
          <p class="utility-paragraph">If you don't see the email, check your spam or junk folder.</p>
      </div>
    </div>
  </body>
</html>
