<!DOCTYPE html>
<html>
  <head>  
    {% include 'main/partials/head.html' %}
  </head>
  <body class="body">
    {% include 'main/partials/simple_header.html' %}

    <div class="utility-page-wrap">
      <div class="utility-page-content">
        <div class="subtitle blue">Email Confirmation<br></div>
        <h2 class="heading-account">Confirmation Sent</h2>
        <div class="confirmation-message">
          <p>An email confirmation has been sent to the email address you provided.</p>
          <p>Please check your inbox and click the link in the email to verify your account.</p>
          <p>If you don't see the email, check your spam or junk folder.</p>
        </div>
      </div>
    </div>

  </body>
</html>
