<!DOCTYPE html>
<html>
  <head>  
    {% include 'main/partials/head.html' %}
  </head>
  <body class="body">
    {% include 'main/partials/simple-header.html' %}
    <!-- Failed Email Verification Content-->
    <div class="utility-page-wrap">
      <div class="utility-page-content">
        <div class="subtitle blue">Email Verification Failed<br></div>
        <h2 class="utility-heading">Unable to Verify Email</h2>
        <p class="utility-paragraph">We're sorry, but we were unable to verify your email address. This may be due to an expired or invalid link.</p>
        <p class="utility-paragraph">Please try requesting a new verification email, or contact support if you continue to experience issues.</p>
      </div>
    </div>
  </body>
</html>
