<!DOCTYPE html>
<html>
  <head>  
    <meta charset="utf-8">
    <title>Failed Email Verification - Digidex</title>
    <meta content="A platform for gardeners to cultivate their curiosity." name="description">
    <meta content="Failed Email Verification - Digidex" property="og:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="og:description">
    <meta content="Failed Email Verification - Digidex" property="twitter:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    
    {% load static %}
    <link href="{% static 'main/css/partials/navigation-bar.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/css/utility-pages.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
    
    <!-- Load Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Space Grotesk:regular,500,600,700", "IBM Plex Mono:regular,italic,500,500italic,600,600italic,700,700italic"]
        }
      });
    </script>
    
    <link href="{% static 'main/images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'main/images/webclip.png' %}" rel="apple-touch-icon">
  </head>
  <body class="body">
    {% include 'main/partials/simple-navigation-bar.html' %}
    <!-- Failed Email Verification Content-->
    <div class="utility-page-wrap page-failed-verification">
      <div class="utility-page-content page-failed-verification">
        <div class="subtitle green">Email Verification Failed<br></div>
        <h2 class="utility-heading page-failed-verification">Unable to Verify Email</h2>
        <p class="utility-paragraph page-failed-verification">We're sorry, but we were unable to verify your email address. This may be due to an expired or invalid link.</p>
        <p class="utility-paragraph page-failed-verification">Please try requesting a new verification email, or contact support if you continue to experience issues.</p>
      </div>
    </div>
    {% include 'main/partials/page-footer.html' %}
  </body>
</html>
