<!DOCTYPE html>
<html>
  <head>  
    {% include 'main/partials/head.html' %}
  </head>
  <body class="body">
    {% include 'main/partials/simple-navigation-bar.html' %}
      <!-- Login Form Section -->
    <section class="section-full">
      <div class="content">
        <div class="account-form">
          <div class="subtitle green">Sign in<br></div>
          <h2 class="account-heading">Login to your account</h2>
          <div class="form-block base-form">
            <form method="post" class="form">
              {% csrf_token %}
              <div>
                <input type="text" class="text-field base-input" maxlength="256" name="username" placeholder="Username" id="username" required="">
                  {% if form.username.errors %}
                    <div class="error-message">
                      <small>{{ form.username.errors|striptags }}</small>
                    </div>
                  {% endif %}
              </div>
              <div>
                <input type="password" class="text-field base-input" maxlength="256" name="password" placeholder="Password" id="password" required="">
                  {% if form.password.errors %}
                    <div class="error-message">
                      <small>{{ form.password.errors|striptags }}</small>
                    </div>
                  {% endif %}
              </div>
              <input type="submit" value="Login" data-wait="Please wait..." class="submit-button base-button">
              {% if form.non_field_errors %}
                <div class="error-message base-form-fail">
                  {% for error in form.non_field_errors %}
                    <div class="text-error">{{ error }}</div>
                  {% endfor %}
                </div>
              {% else %}
                <div class="success-message base-form-done">
                  <div class="text-success">Your operation was successful!</div>
                </div>
              {% endif %}            
            </form>
            <div class="account-text">Forgot your password? <a href="{% url 'reset_password' %}" class="account-link">Reset password</a></div>
            <div class="account-text">Not registered? <a href="{% url 'accounts:signup' %}" class="account-link">Create account</a></div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
