{% load static %}

<!DOCTYPE html>
<html>
  <head>  
    <meta charset="utf-8">
    <title>User Profile - Digidex</title>
    <meta content="A platform for gardeners to cultivate their curiosity." name="description">
    <meta content="User Profile - Digidex" property="og:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="og:description">
    <meta content="User Profile - Digidex" property="twitter:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    
    {% load static %}
    <link href="{% static 'main/css/partials/navigation-bar.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/css/partials/page-header.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'accounts/css/profile.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/css/partials/page-footer.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
    
    <!-- Load Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Space Grotesk:regular,500,600,700", "IBM Plex Mono:regular,italic,500,500italic,600,600italic,700,700italic"]
        }
      });
    </script>
    
    <link href="{% static 'main/images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'main/images/webclip.png' %}" rel="apple-touch-icon">
  </head>
  <body class="body">
    {% include 'main/partials/navigation-bar.html' %}
    <!-- Digit Modification Page - Modification Form Section --> 
      <!-- Profile Content-->
    <section class="section">
      <div class="content">
        <div class="layout-grid grid">

          <div class="block-right">
            <div class="subtitle green">Profile<br></div>
            <h2 class="heading">{{ user.username }}</h2>
              {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="User avatar" class="avatar-image">
              {% else %}
                <img src="{% static 'accounts/images/placeholder.svg' %}" alt="No Image Available" class="avatar-image">
              {% endif %}
    
              {% if user.profile.location %}
                <p class="paragraph">Location: {{ user.profile.location }}</p>
              {% endif %}
              {% if user_profile.interests %}
                <p class="paragraph">Interests: {{ user_profile.interests }}</p>
              {% endif %}
              {% if user_profile.experience %}
                <p class="paragraph">Experience: {{ user_profile.experience }}</p>
              {% endif %}
          </div>
            
          <div class="lottie">
            <h3>Recent Activities</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Activity</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                {% for activity in recent_activities %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ activity.content }}</td>
                    <td>{{ activity.timestamp }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    {% include 'main/partials/page-footer.html' %}
  </body>
</html>
