{% load wagtailcore_tags %}
<div id="w-node-a4cb2e2c-97ad-0ff4-4b5f-cbaa674163ff-0e941739" data-w-id="a4cb2e2c-97ad-0ff4-4b5f-cbaa674163ff" class="lottie">
  <div class="lines-a1">
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
  </div>
  <div class="lines-a2">
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
  </div>

  {% include "base/blocks/lottie/lottie_block.html" with value=animation %}

  <div class="features-lottie">
    <div data-w-id="dab97f38-52c1-874b-eb57-a86cf28eb073" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="feature-lottie-block">
      <img src="images/bx-check-shield.svg" loading="eager" alt="" class="icon-feature-lottie">
      <div class="text-feature-lottie">Advanced Security</div>
    </div>
    <div data-w-id="483b5f12-0aff-5df5-faf6-c944f3513cd5" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="feature-lottie-block a2">
      <img src="images/bx-tachometer.svg" loading="eager" alt="" class="icon-feature-lottie">
      <div class="text-feature-lottie">Performance</div>
    </div>
    <div data-w-id="3766eb39-3b62-18b7-eee6-1d9212a81349" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="feature-lottie-block a3">
      <img src="images/bx-rocket.svg" loading="eager" alt="" class="icon-feature-lottie">
      <div class="text-feature-lottie">99.99% Uptime</div>
    </div>
    <div data-w-id="525adc7c-9d48-0785-2434-d49c9a28cc47" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="feature-lottie-block a4">
      <img src="images/bx-cloud-snow.svg" loading="eager" alt="" class="icon-feature-lottie">
      <div class="text-feature-lottie">Unlimited Scaling</div>
    </div>
  </div>
</div>