{% load wagtailcore_tags %}
<div id="w-node-a4cb2e2c-97ad-0ff4-4b5f-cbaa674163ff-0e941739" data-w-id="a4cb2e2c-97ad-0ff4-4b5f-cbaa674163ff" class="lottie">
  <div class="lines-a1">
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
  </div>
  <div class="lines-a2">
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
  </div>

  {% include "base/blocks/lottie/lottie_block.html" with value=animation %}

  {% include "base/blocks/lottie/feature_block.html" with value=features %}
</div>