<!-- base/blocks/lottie/features_block.html -->
<div class="features-lottie">
  {% for feature in value %}
    <div data-w-id="{{ feature.value.widget_id }}" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="feature-lottie-block">
      {% if feature.value.icon %}
        <img src="{{ feature.value.icon.url }}" loading="eager" alt="" class="icon-feature-lottie">
      {% endif %}
      <div class="text-feature-lottie">{{ feature.value.text }}</div>
    </div>
  {% endfor %}
</div>
