<div class="block-lottie">
  {% for animation in value %}
    <div class="{% if animation.blurred %}lottie-animation-blurred{% else %}lottie-animation{% endif %}"
      data-loop="{{ animation.loop }}"
      data-direction="{{ animation.direction }}"
      data-autoplay="{{ animation.autoplay }}"
      data-renderer="{{ animation.renderer }}"
      data-src="{{ animation.file.url }}"
      data-default-duration="{{ animation.duration }}"
      data-duration="0">
    </div>
  {% endfor %}
</div>

