.grid.product {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  position: relative;
}

.add-to-cart {
  width: 100%;
}

.quantity {
  width: 4.4em;
  height: 3.4em;
  border-color: var(--border);
  background-color: var(--white);
  color: var(--heading);
  border-radius: .62em;
  margin-bottom: .9em;
  padding: .5em .5em .5em .8em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3em;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94);
}

.quantity:focus {
  border-color: var(--accent-a1);
}

.add-to-cart-button {
  background-color: var(--accent-a1);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  padding: .9em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.add-to-cart-button:hover {
  box-shadow: 0 15px 40px -10px var(--accent-a1);
}

.buy-now-button {
  background-color: var(--accent-a1);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  margin-top: .8em;
  padding: .9em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.buy-now-button:hover {
  box-shadow: 0 15px 40px -10px var(--accent-a1);
}

.buy-now-button.yellow {
  background-color: var(--accent-a4);
  color: var(--heading);
}

.buy-now-button.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--accent-a4);
}

.default-state {
  margin: 0;
}

.field-label-quantity {
  color: rgba(20, 23, 24, .5);
  text-align: left;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: .5em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
  display: none;
}

.out-of-stock-state {
  background-color: rgba(188, 0, 3, .07);
  border-radius: .87em;
  margin-top: 0;
  padding: 1em 10%;
}

.product-content {
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.product-sticky {
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.4em;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}


@media screen and (max-width: 991px) {
  .product-sticky {
    padding: 3.1em;
    position: relative;
    top: auto;
  }
}

@media screen and (max-width: 479px) {
  .product {
    padding: 1.5em;
  }

  .product.content {
    padding: 2em;
  }

  .product-sticky {
    padding: 2em;
  }
}