<section class="section">
  <div class="content">
    <div id="largeAssetCollection" style="opacity:0; display: none;" class="assets__collectionwrapper--large">
      <div role="list" class="assets__collection--large">
        <div role="listitem" class="asset__block--large">
          <img alt="{{ asset.image.caption }}" loading="eager" src="{{ asset.image.url }}" class="asset__thumbnail--large">
          <div class="asset--large">
            <div class="date">{{ asset.date }}</div>
            <h3 class="asset__heading--large">{{ asset.name }}</h3>
            <p class="asset__paragraph--large">{{ asset.description }}</p>
            <a href="{{ asset.cta.url }}" class="link__block w-inline-block">
              <div class="link__text">{{ asset.cta.text }}</div>
              <div class="link__block--icon">
                <img src="{{ asset.cta.image }}" loading="eager" alt="{{ asset.cta.caption }}" class="link__icon">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>