{% load static wagtailcore_tags%}

<div class="panel-wrapper">
  <div class="panel">
    <div class="block-panel">
      {% if panel.image_url %}
        <img src="{{ panel.image_url }}" alt="Profile Avatar" class="panel-avatar">
      {% endif %}
      <div class="panel-content">
        <div class="date">Joined: {{ panel.created_at}}</div>
        <h3 class="heading-panel">{{ panel.name }}</h3>
        {% if panel.description %}
          <p class="paragraph-panel">{{ panel.description|richtext }}</p>
        {% endif %}
        {% if request.user == page.owner %}
          <a href="{{ panel.update_url }}" class="link-block base-inline-block">
            <div class="text-link">Update Account</div>
            <div class="block-icon-link">
              <img src="{% static 'base/images/bx/arrow-green.svg' %}" loading="eager" alt="" class="icon-link">
            </div>
          </a>
          <a href="{{ panel.delete_url }}" class="link-block base-inline-block">
            <div class="text-link">Delete Account</div>
            <div class="block-icon-link">
              <img src="{% static 'base/images/bx/arrow-green.svg' %}" loading="eager" alt="" class="icon-link">
            </div>
          </a>
        {% else %}
          <a href="#" class="link-block base-inline-block">
            <div class="text-link">Message</div>
            <div class="block-icon-link">
              <img src="{% static 'base/images/bx/arrow-green.svg' %}" loading="eager" alt="" class="icon-link">
            </div>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>