<!DOCTYPE html>
<html>
  <head>  
    {% include 'main/partials/head.html' %}
  </head>
  <body class="body">
    {% include 'main/partials/simple-navigation-bar.html' %}
    <div class="utility-page-wrap page-401">
      <div class="utility-page-content page-401">
        <div class="subtitle green">Password<br></div>
        <h2 class="utility-heading page-401">Protected Page</h2>
        <form class="utility-page-form page-401" method="post" name="email-form" action="{% url 'your_login_view_name' %}">
          {% csrf_token %}
          <label for="pass" class="field-label">Password</label>
          <input type="password" class="text-field w-input" autofocus="true" maxlength="256" name="pass" placeholder="Enter your password" id="pass">
          <input type="submit" value="Submit" class="submit-button base-button">
          {% if error_message %}
            <div class="error-message">
              <div class="text-error">{{ error_message }}</div>
            </div>
          {% endif %}
        </form>
      </div>
    </div>
  </body>
</html>
