<!DOCTYPE html>
<html>
  <head>  
    {% include 'main/partials/head.html' %}
  </head>
  <body class="body">
    {% include 'main/partials/simple-header.html' %}
    <div class="utility-page-wrap page-404">
      <div class="utility-page-content page-404">
        <div class="subtitle blue">404<br></div>
        <h2 class="utility-heading page-404">Page Not Found</h2>
        <p class="utility-paragraph page-401">The page you are looking for doesn't exist or has been moved.</p>
        <a href="{% url 'main:landing' %}" class="button base-button">Back to Home</a>
      </div>
    </div>
  </body>
</html>