<!DOCTYPE html>
<html>
  <head>  
    {% include 'main/partials/head.html' %}
  </head>
  <body class="body">
    {% load static %}
    {% include 'main/partials/header.html' %} 

    {% include 'main/partials/company-header.html' %}
    {% include 'main/partials/company-about.html' %}
    {% include 'main/partials/company-lottie.html' %}

    {% include 'main/partials/call-to-action.html' %}  
    {% include 'main/partials/footer.html' %}
    {% include 'main/partials/external-scripts.html' %}
  </body>
</html>