<!DOCTYPE html>
<html>
  <head>  
    {% include 'main/partials/head.html' %}
  </head>
  <body class="body">
    {% load static %}
    {% include 'main/partials/header.html' %}     
    {% include 'main/partials/landing-hero.html' %} 
    {% include 'main/partials/landing-features.html' %} 
    {% include 'main/partials/landing-how-it-works.html' %} 
    {% include 'main/partials/landing-about.html' %} 
    {% include 'main/partials/landing-faqs.html' %} 
    {% include 'main/partials/call-to-action.html' %}
    {% include 'main/partials/footer.html' %}
    {% include 'main/partials/external-scripts.html' %}
  </body>
</html>