
  <body>
    <section class="section-top">
      <div style="opacity:0" class="content">
        <div class="block-top">
          <h1 class="heading-top">Style Guide</h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="content narrow">
        <div class="page-body">
          <h3 class="heading-template">Typography</h3>
          <div class="rich-text-block w-richtext">
            <p>At consectetur ullamcorper in integer quam viverra. Pharetra venenatis integer in dignissim aenean vivamus non id. Ultrices pharetra tellus id sed aliquam faucibus. Tincidunt laoreet amet sodales etiam.</p>
            <ul role="list">
              <li>Bullet Point 1</li>
              <li>Bullet Point 2</li>
              <li>Bullet Point 3</li>
            </ul>
            <ol start="" role="list">
              <li>Point 1</li>
              <li>Point 2</li>
              <li>Point 3</li>
            </ol>
            <p>Condimentum enim ut nunc, sed magna scelerisque quam nec. Ullamcorper ullamcorper sed erat enim. Pellentesque sit nibh faucibus nunc amet hendrerit.</p>
            <blockquote>Amet nisi ut ultrices lacus. Fermentum mattis metus nam id nam nunc fermentum tortor pellentesque. Sit lacus pharetra bibendum velit. Urna lacus ut sed maecenas nisi tempor magna.</blockquote>
            <p>At consectetur ullamcorper in integer quam viverra. Pharetra venenatis integer in dignissim aenean vivamus non id. Ultrices pharetra tellus id sed aliquam faucibus. Tincidunt laoreet amet sodales etiam. Convallis tincidunt id nam auctor.</p>
            <figure style="max-width:882pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
              <div><img src="../images/style_guide.png" loading="lazy" alt=""></div>
              <figcaption>Pharetra venenatis integer in dignissim aenean vivamus non id.</figcaption>
            </figure>
            <p>At consectetur ullamcorper in integer quam viverra. Pharetra venenatis integer in dignissim aenean vivamus non id. Ultrices pharetra tellus id sed aliquam.</p>
        <div class="page-body">
          <h3 class="heading-template">Colors</h3>
          <div class="w-layout-grid grid-colors">
            <div id="w-node-_32c8226f-33dd-fbaa-d45d-060a456aaf95-25cd0854" class="block-color">
              <div class="text-color">White</div>
              <div class="hex-color">#FFFFFF</div>
            </div>
            <div id="w-node-b387dea9-8019-c2f6-be02-402e509d0d3f-25cd0854" class="block-color background">
              <div class="text-color">Background</div>
              <div class="hex-color">#F4F6F7</div>
            </div>
            <div id="w-node-e1ae69f4-ecd5-f39a-5fc9-1f700408dd57-25cd0854" class="block-color border">
              <div class="text-color">Border</div>
              <div class="hex-color">#0f6492 - 20%</div>
            </div>
            <div id="w-node-_1fb25b1f-87ef-df55-75d4-03cf0ca91c9a-25cd0854" class="block-color heading-color">
              <div class="text-color white">Heading</div>
              <div class="hex-color white">#141718</div>
            </div>
            <div id="w-node-dae830aa-7d74-8280-15df-739305051422-25cd0854" class="block-color accent-a1">
              <div class="text-color white">Accent A1</div>
              <div class="hex-color white">#3959ff</div>
            </div>
            <div id="w-node-_17c4775c-9fd6-f8ab-9d9f-9d2fece60496-25cd0854" class="block-color accent-a2">
              <div class="text-color white">Accent  A2</div>
              <div class="hex-color white">#bc0087</div>
            </div>
            <div id="w-node-_971632f7-d243-a370-a389-ccd2fd07720a-25cd0854" class="block-color accent-a3">
              <div class="text-color white">Accent A3</div>
              <div class="hex-color white">#008726</div>
            </div>
            <div id="w-node-_47171186-af89-bff0-fc97-dc7fc0cc80ae-25cd0854" class="block-color accent-a4">
              <div class="text-color">Accent A4</div>
              <div class="hex-color">#eadb5b</div>
            </div>
            <div id="w-node-_37f28855-38c9-315b-3bed-658dfea6c532-25cd0854" class="block-color accent-b1">
              <div class="text-color">Accent B1</div>
              <div class="hex-color">#3959FF - 7%</div>
            </div>
            <div id="w-node-c1f37475-78be-77d4-3517-e9edc471daa8-25cd0854" class="block-color accent-b2">
              <div class="text-color">Accent  B2</div>
              <div class="hex-color">#BC0087 - 7%</div>
            </div>
            <div id="w-node-fef66e34-bed4-14f1-f94b-58a82175ce80-25cd0854" class="block-color accent-b3">
              <div class="text-color">Accent B3</div>
              <div class="hex-color">#008726 - 7%</div>
            </div>
            <div id="w-node-_86c75230-b171-2a4a-b09f-aae835e2572a-25cd0854" class="block-color paragraph-color">
              <div class="text-color white">Paragraph</div>
              <div class="hex-color white">#141718 - 80%</div>
            </div>
          </div>
        </div>
      </div>
    </section>