<!DOCTYPE html>
<html>
  <head>  
    {% include 'main/partials/head.html' %}
  </head>
  <body class="body">
    {% include 'main/partials/simple-header.html' %}
    <!-- Message Submission Confirmation -->
    <div class="utility-page-wrap">
      <div class="utility-page-content">
        <div class="subtitle blue">Message Submission<br></div>
        <h2 class="utility-heading">Thank You!</h2>
        <p class="utility-paragraph">Thank you for your message. We will get back to you soon!</p>
      </div>
    </div>
  </body>
</html>