{% load static %}
<!DOCTYPE html>
<html data-wf-page="6567eb537706d17425cd0847" data-wf-site="6567eb537706d17425cd07f4">
  <head>  
    {% include 'inventory/partials/head.html' %}
  </head>
  <body class="body">
    {% include 'inventory/partials/header.html' %}  
    {% include 'inventory/partials/digit_summary.html' %}
    {% include 'inventory/partials/footer.html' %}
  
    <script>
      function toggleDigitForm() {
        console.log("Toggle function called");  // Debugging line
        var form = document.getElementById('digitForm');
        var icon = document.getElementById('toggleIcon');
    
        if (form.style.display === 'none' || form.style.display === '') {
            form.style.display = 'block';
            icon.classList.add('rotate-icon');
        } else {
            form.style.display = 'none';
            icon.classList.remove('rotate-icon');
        }
      }
    </script>

  </body>
</html>