{% extends "inventory/includes/base.html" %}
{% load static %}

{% block title %}Add Asset{% endblock title %}

{% block content %}
  <h3 class="account-heading">Add Asset</h3>
  <form method="post" class="form">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label for="{{ form.name.id_for_label }}">Name:</label>
    {{ form.name }}
    {% if form.name.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.name.errors|striptags }}</div>
      </div>
    {% endif %}

    <label for="{{ form.description.id_for_label }}">Description:</label>
    {{ form.description }}
    {% if form.description.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.description.errors|striptags }}</div>
      </div>
    {% endif %}

    <select id="species-select" name="species" class="text-field w-input">
    </select>
   
    {{ form.taxon_id }}

    <input type="submit" value="Create" class="submit-button w-button"> 
  </form>     
{% endblock content %}

{% block extra_body %}
  <script src="{% static 'inventory/js/species-autocomplete.js' %}"></script>
{% endblock extra_body %}