{% extends "inventory/includes/base.html" %}

{% block title %}Delete Asset{% endblock title %}

{% block content %}
  <h3 class="account-heading">Delete Asset</h3>
  <form method="post" class="utility-page-form base-password-page" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label class="field-label" for="{{ form.confirmation.id_for_label }}">Confirm Asset Deletion:</label>
    {{ form.confirmation }}
    {% if form.delete.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.confirmation.errors|striptags }}</div>
      </div>
    {% endif %}

    <input type="submit" value="Delete" class="submit-button base-button"> 
  </form>
{% endblock content %}