{% extends "inventory/includes/base.html" %}

{% block title %}Edit Inventory{% endblock title %}

{% block content %}
  <h3 class="account-heading">Edit Inventory</h3>
  <form method="post" class="utility-page-form base-password-page" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label class="field-label" for="{{ form.description.id_for_label }}">Description:</label>
    {{ form.description }}
    {% if form.description.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.description.errors|striptags }}</div>
      </div>
    {% endif %}

    <input type="submit" value="Submit" class="submit-button base-button"> 
  </form>
{% endblock content %}