{% extends "inventory/includes/base.html" %}

{% block title %}Edit Asset{% endblock title %}

{% block content %}
  <h3 class="account-heading">Edit Asset</h3>
  <form method="post" class="utility-page-form base-password-page" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    <label class="field-label" for="{{ form.name.id_for_label }}">Name:</label>
    {{ form.name }}
    {% if form.name.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.name.errors|striptags }}</div>
      </div>
    {% endif %}

    <label class="field-label" for="{{ form.description.id_for_label }}">Description:</label>
    {{ form.description }}
    {% if form.description.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.description.errors|striptags }}</div>
      </div>
    {% endif %}
  
    {% if show_decoupling_checkbox %}
      <label class="field-label" for="{{ form.decouple_nfc_tag.id_for_label }}">Decouple NFC TAG:</label>
      {{ form.decouple_nfc_tag }}
      {% if form.decouple_nfc_tag.errors %}
        <div class="error-message">
          <div class="text-error">{{ form.decouple_nfc_tag.errors|striptags }}</div>
        </div>
      {% endif %}
    {% endif %}

    <input type="submit" value="Submit" class="submit-button base-button"> 
  </form>
{% endblock content %}