{% load static %}

<section class="section">
  <div class="content content-digit-top">
    <div class="block-digit-top">
      <a href="{{ parent_url }}" class="block-digit-link base-inline-block">
        <div class="subtitle green">{{ parent_name }}<br></div>
      </a>
      <div class="date-top">Created: {{ digit.created_at|date:"M. d, Y" }}</div>
      {% if is_owner %}
        <div class="digit-text-top">
          <a href="{% url 'inventory:update-digit' type=digit.get_digit_type uuid=digit.uuid %}" class="digit-link-top">Update Digit</a>
        </div>
      {% endif %}
      <h2 class="digit-heading-top">{{ digit.name }}</h2>
      <div class="digit-paragraph-top">{{ digit.description }}</div>
    </div>
  </div>
</section>