{% extends "inventory/includes/base.html" %}

{% block title %}Manage NFC Tag{% endblock title %}

{% block content %}
  <h3 class="account-heading">Manage NFC Tag</h3>
  <form method="post" class="utility-page-form w-password-page" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    <label for="{{ form.asset.id_for_label }}">Asset:</label>
    {{ form.asset }}
    {% if form.asset.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.asset.errors|striptags }}</div>
      </div>
    {% endif %}

    {% if asset %}
      <div class="text-account">View linked asset: <a href="{{ asset.url }}" class="link-account">{{ asset.title }}</a></div>
    {% endif %}

    <input type="submit" value="Submit" class="submit-button w-button"> 
  </form>
{% endblock content %}