{% load static wagtailcore_tags wagtailimages_tags %}

<section class="section">
  <div style="opacity:0" class="content">
    <div class="collection-list-wrapper-posts base-dyn-list">
      <div role="list" class="collection-list-posts w-dyn-items">
        <div role="listitem" class="base-dyn-item">
          <div class="block-post">
            <a href="#" class="link-post-thumbnail base-inline-block">
              <img alt="" loading="eager" src="" class="image-post-thumbnail">
            </a>
            <div class="post">
              <div class="date"></div>
              <a href="#" class="link-heading-post base-inline-block">
                <h4 class="heading-post"></h4>
              </a>
              <p class="paragraph-post"></p>
              <a href="#" class="link-block base-inline-block">
                <div class="text-link">Read more</div>
                <div class="block-icon-link">
                  <img src="{% static 'images/bx/arrow-green.svg' %}" loading="eager" alt="" class="icon-link">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>