{% load wagtailcore_tags %}

<section class="section-top padding-0">
  <div class="content">
    <div class="block-top">
      {% include "inventory/includes/heading/heading-title.html" %}
      {% include "inventory/includes/heading/heading-introduction.html" %}
    </div>
    <div class="block-button">
      {% with children=page.get_children %}
        {% if children.exists %}
          {% include "inventory/includes/heading/children-button.html" %}
        {% endif %}
      {% endwith %}
      {% with parent=page.get_parent %}
        {% if parent and parent.url != request.path %}
          {% include "inventory/includes/heading/parent-button.html" %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
</section>
