{% load static wagtailcore_tags wagtailimages_tags %}

<section class="section">
  <div style="opacity:0" class="content">
    <div class="collection-list-wrapper-digits base-dyn-list">
      {% if page_children %}
        <div role="list" class="collection-list-digits base-dyn-items">
          {% for child_item in page_children %}
            <div role="listitem" class="base-dyn-item">
              <div class="block-digit">
                {% include 'inventory/includes/grid/digit-thumbnail.html' %}
                <div class="digit">
                  {% include 'inventory/includes/grid/date-created.html' %}
                  {% include 'inventory/includes/grid/digit-name.html' %}
                  {% include 'inventory/includes/grid/digit-body.html' %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        {% include 'inventory/includes/grid/empty-grid.html' %}
      {% endif %}
    </div>
  </div>
</section>