{% extends "inventory/includes/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Update Inventory" %}
{% endblock title %}

{% block subtitle %}
  {% trans "Update" %}
{% endblock subtitle %}

{% block heading %}
  {% trans "Update Digital Inventory" %}
{% endblock heading %}

{% block content %}
  <form method="post" class="form">
    {% csrf_token %}
      <label for="{{ form.title.id_for_label }}">{% trans "Title" %}:</label>
      {{ form.title }}
      {% if form.title.errors %}
        <div class="error-message">
          <div class="text-error">{{ form.title.errors|striptags }}</div>
        </div>
      {% endif %}
      <label for="{{ form.description.id_for_label }}">{% trans "Description" %}:</label>
      {{ form.description }}
      {% if form.description.errors %}
        <div class="error-message">
          <div class="text-error">{{ form.description.errors|striptags }}</div>
        </div>
      {% endif %}
      <input type="submit" value="Submit" class="submit-button base-button"> 
      {{ form.non_field_errors }}
  </form>
{% endblock %}
