.apple-pay, .pay-with-browser {
  height: 2.8em;
  border-radius: 50em;
}
.product {
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.4em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}
.compare-at-price {
  color: rgba(20, 23, 24, .5);
  letter-spacing: -.01em;
  font-size: 1em;
  font-weight: 400;
  line-height: 120%;
  text-decoration: line-through;
}
.features-product {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.yellow-tag-product {
  background-color: var(--accent-a4);
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 110%;
}
.green-tag-product {
  background-color: var(--accent-a3);
  color: var(--white);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 110%;
}
.field-label {
  color: var(--heading);
  text-align: left;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: .5em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}
.add-to-cart {
  width: 100%;
}
.quantity {
  width: 4.4em;
  height: 3.4em;
  border-color: var(--border);
  background-color: var(--white);
  color: var(--heading);
  border-radius: .62em;
  margin-bottom: .9em;
  padding: .5em .5em .5em .8em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3em;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94);
}
.quantity:focus {
  border-color: var(--accent-a1);
}
.default-state {
  margin: 0;
}
.field-label-quantity {
  color: rgba(20, 23, 24, .5);
  text-align: left;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: .5em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
  display: none;
}
.out-of-stock-state {
  background-color: rgba(188, 0, 3, .07);
  border-radius: .87em;
  margin-top: 0;
  padding: 1em 10%;
}

.product-content {
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}
.product-sticky {
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.4em;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}
.ecommerce-form {
  min-height: auto;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}
.ecommerce-grid {
  width: 100%;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  align-items: start;
}
.ecommerce-contents {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  margin-right: 0;
  display: flex;
}
.ecommerce-sidebar {
  top: 100px;
}
.ecommerce-block {
  background-color: var(--white);
  border-radius: .87em;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}
.order-summary {
  background-color: var(--white);
  border-radius: .87em;
  margin-bottom: 1.5em;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}
.country {
  height: 3.75em;
  border: 1px solid var(--border);
  background-color: var(--background);
  color: var(--heading);
  border-radius: .87em;
  margin-bottom: 1.12em;
  padding: 1em 1.2em;
  font-size: 1em;
  line-height: 130%;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94);
}
.country:focus {
  border-color: var(--accent-a1);
}
.billing-address-toggle {
  align-items: baseline;
}
.shipping-method-list {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  border: 1px #000;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}
.shipping-method {
  background-color: var(--accent-b1);
  border: 1px #000;
  border-radius: .87em;
  margin-bottom: 0;
  padding: 1em 1.2em;
}
.discounts {
  border-style: none;
  border-color: var(--border);
  background-color: var(--white);
  border-radius: .87em;
  margin-bottom: 1.5em;
  padding: 1.5em;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}
.apply-button {
  height: 3.75em;
  background-color: var(--accent-a1);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: .87em;
  margin-left: .5em;
  padding: .9em 1.3em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}
.apply-button:hover {
  box-shadow: 0 15px 40px -10px var(--accent-a1);
}

@media screen and (max-width: 991px) {
  .product-sticky {
    padding: 3.1em;
    position: relative;
    top: auto;
  }
}

@media screen and (max-width: 767px) {
  .ecommerce-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .product {
    padding: 1.5em;
  }
}
