{% load wagtailcore_tags static %}

<link rel="stylesheet" href="{% static 'css/notification-bar.css' %}" type="text/css">

<section class="section-notification-bar">
  <div class="content">
    <div class="notification-bar-block">
      <!-- Render the information text -->
      {% if self.information %}
        <div class="notification-bar">
          {% include_block self.information %}
        </div>
      {% endif %}
      <!-- Render the list of links -->  
      {% if self.links %}
        <div class="notification-bar">
          {% for link in self.links %}
            {% include_block link %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>