{% extends "index.html" %}
{% load i18n %}

{% block title %}
  {% trans "Delete Inventory" %}
{% endblock title %}

{% block content %}
  <h3 class="account-heading">Delete Inventory</h3>
  <!-- Render Form -->
  <form method="post" action="" class="utility-page-form base-password-page" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Render Deletion Confirmation Checkbox -->
    <label for="{{ form.confirmation.id_for_label }}">Confirm Deletion:</label>
    {{ form.confirmation }}
    {% if form.confirmation.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.confirmation.errors|striptags }}</div>
      </div>
    {% endif %}
    <!-- Render Submit Button -->
    <input type="submit" value="Delete" class="submit-button base-button"> 
    {{ form.non_field_errors }}
  </form>
{% endblock %}