{% extends "index.html" %}
{% load i18n %}

{% block title %}
  {% trans "Update Inventory" %}
{% endblock title %}

{% block body %}
<section class="section-full">
  <div class="content">
    <div class="account-form">
      <h3 class="account-heading">Update Inventory</h3>
      <form method="post" action="" class="utility-page-form base-password-page" enctype="multipart/form-data">
      {% csrf_token %}
        <!-- Render Name Field -->
        <label for="{{ form.name.id_for_label }}">Name:</label>
        {{ form.name }}
        {% if form.name.errors %}
          <div class="error-message">
            <div class="text-error">{{ form.name.errors|striptags }}</div>
          </div>
        {% endif %}
        <!-- Render Submit Button -->
        <input type="submit" value="Update" class="submit-button base-button"> 
        {{ form.non_field_errors }}
      </form>
    </div>
  </div>
</section>
{% endblock body %}