<form id="profile-form" method="post" action="{{ url }}" class="utility-page-form base-password-page" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="{{ form.image.id_for_label }}">Avatar:</label>
  {{ form.image }}
  {% if form.image.errors %}
    <div class="error-message">
      <div class="text-error">{{ form.image.errors|striptags }}</div>
    </div>
  {% endif %}
  <label for="{{ form.bio.id_for_label }}">Bio:</label>
  {{ form.bio }}
  {% if form.bio.errors %}
    <div class="error-message">
      <div class="text-error">{{ form.bio.errors|striptags }}</div>
    </div>
  {% endif %}
  <input type="submit" value="Submit" class="submit-button base-button"> 
  {{ form.non_field_errors }}
</form>