@import 'static/sass/utils/_variables';
@import 'static/sass/utils/_mixins';

.section-full {
  flex: 1;
  @include center-flex;
  padding: 3.75em 2em;
}

.brand-center {
  flex: none;
  margin: 1.2em auto 0;
  padding: .5em .3em;
}

.account-form {
  @include account-form-base;
  background-color: $white-color;
  padding: 3.1em;
  box-shadow: 0 15px 25px -10px $shadow-color;
  
  &.green {
    background-color: $strong-green-color;
    box-shadow: none;
  }
}

.account-heading, .account-paragraph {
  margin-bottom: .3em; // default for .account-heading
  max-width: 9em; // default for .account-heading

  &.white {
    color: $text-white;
  }
}

.account-paragraph {
  max-width: 23em;
  margin-bottom: 1.8em;
}

.account-text {
  width: 100%;
  max-width: 32em;
  color: $text-dark;
  text-align: center;
  margin-top: 1.4em;
  margin-left: auto;
  margin-right: auto;
  font-size: .87em;
  line-height: 140%;
  
  &.white {
    color: $text-white;
  }
}

.account-link {
  color: $text-dark;
  transition: color .3s cubic-bezier(.25, .46, .45, .94);

  &:hover {
    color: $strong-green-color;
  }
  
  &.white {
    color: $text-white;

    &:hover {
      color: $white-color;
    }
  }
}

.body-green {
  background-color: $accent-green-color;
}

@media screen and (max-width: 479px) {
  .section-full {
    padding-top: 3em;
  }

  .text-field {
    margin-bottom: .9em;
  }
  
  .account-form {
    @include responsive-padding;
  }

  .paragraph-account {
    margin-bottom: 1em;
  }

  .contact {
    padding: 2em;
  }
}
