@import 'static/sass/utils/_variables';
@import 'static/sass/utils/_mixins';

.collection-list-posts {
  @include grid-standard;

  &.large {
    grid-template-columns: 1fr;
  }
}

.block-post {
  @include box-standard;
  @include flex-column-start;
  
  &.large {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.collection-list-wrapper-posts.large {
  margin-bottom: 3.4em;
}

.image-post-thumbnail {
  width: 100%;
  height: 15em;
  object-fit: cover;
  border-radius: $border-radius-standard;

  &.large {
    height: auto;
    max-height: 40em;
  }
}

.link-post-thumbnail {
  width: 100%;

  &.large {
    @include flex-column-start;
  }
}

.post {
  width: 100%;
  @include flex-column-start;
  padding: $padding-standard;

  &.large {
    justify-content: center;
    padding: $padding-large;
  }
}

.link-heading-post {
  margin-bottom: $margin-bottom-standard;
  
  &.large {
    margin-bottom: 1.4em;
  }
}

.date, .date-top {
  @include post-text-style;
}

.paragraph-post {
  margin-bottom: $margin-bottom-standard;

  &.large {
    max-width: 25em;
    margin-bottom: 1.6em;
  }
}

.empty-state {
  @include box-standard;
  text-align: center;
  padding: 1em 1.4em;
}

.text-empty {
  @include post-text-style;
  opacity: .7;
}

.post-body {
  width: 100%;
  @include box-standard;
  padding: 4em 13%;
}

.image-main-post {
  width: 100%;
  object-fit: cover;
  border-radius: $border-radius-standard;
}

// Responsive Adjustments
@media screen and (max-width: 991px) {
  .collection-list-posts {
    grid-template-columns: 1fr 1fr;
    // Other adjustments
  }
}

@media screen and (max-width: 767px) {
  .collection-list-posts {
    grid-template-columns: 1fr;
    // Other adjustments
  }
}

@media screen and (max-width: 479px) {
  .post, .post.large {
    padding: 1.8em 2.2em;
    // Other adjustments
  }
}
