@import 'static/sass/utils/_variables';
@import 'static/sass/utils/_mixins';

.section-hero {
  justify-content: center;
  align-items: center;
  padding: 3.5em 2em 3.75em;
  display: flex;
}
.grid-hero {
  @include grid-basic($col-gap: 0, $row-gap: 0, $columns: 1.2fr 1fr, $align: center);
  grid-template-rows: auto;
}

.block-hero {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.heading-hero {
  max-width: 11.5em;
  margin-bottom: .38em;
}

.paragraph-hero {
  max-width: 26em;
  margin-bottom: 2em;
  font-size: 1.125em;
  line-height: 160%;
}

.button-hero {
  grid-column-gap: .5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .paragraph-hero {
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  .section-hero {
    padding-bottom: 3em;
  }

  .grid-hero {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr;
  }

  .block-hero {
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .section-hero {
    padding: 3em 1.5em 2.5em;
  }

  .button-hero {
    grid-row-gap: .5em;
    flex-direction: column;
  }
}

.link-button {
  grid-column-gap: .4em;
  border-radius: 50em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .9em;
  text-decoration: none;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), padding .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.link-button:hover {
  box-shadow: inset 0 0 0 2px var(--strong-green);
  padding-left: 1.6em;
  padding-right: 1.6em;
}

.icon-button {
  width: 1.5em;
  height: 1.5em;
}

.text-button {
  color: var(--strong-green);
  letter-spacing: -.02em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
}

.text-info {
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-left: 1em;
  margin-right: 1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 110%;
}

.link-info {
  background-color: var(--white);
  border-radius: 50em;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: .8em;
  padding: 3px;
  text-decoration: none;
  transition: background-color .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.link-info:hover {
  background-color: var(--strong-blue);
}

.block-icon-info {
  width: 1.375em;
  height: 1.375em;
  background-color: var(--strong-blue);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-info {
  width: 1em;
  height: 1em;
}

.features-lottie {
  z-index: 20;
  grid-row-gap: 2.7em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.feature-lottie-block {
  grid-column-gap: .6em;
  background-color: var(--accent-b1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: .64em;
  justify-content: center;
  align-items: center;
  margin-right: 43%;
  padding: .8em 1.1em;
  display: flex;
}
.feature-lottie-block.a2 {
  margin-right: 5%;
}
.feature-lottie-block.a3 {
  margin-right: 58%;
}
.feature-lottie-block.a4 {
  margin-right: 15%;
}

@media screen and (max-width: 479px) {
  .features-lottie {
    grid-row-gap: 1.5em;
  }
  .feature-lottie-block {
    margin-right: 31%;
  }
  .feature-lottie-block.a3 {
    margin-right: 38%;
  }
  .features {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding-top: .8em;
    padding-bottom: .8em;
  }
}