.section {
  justify-content: center;
  align-items: center;
  padding: 3.75em 2em;
  display: flex;
}

.utility-page-wrap {
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 3em 1em;
  display: flex;
}

.utility-page-content {
  width: 100%;
  max-width: 24em;
  background-color: var(--white);
  text-align: center;
  border-radius: .87em;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  padding: 3.1em;
  display: flex;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.utility-page-form {
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  margin-top: .8em;
  display: flex;
}



.ecommerce-form {
  min-height: auto;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

.ecommerce-grid {
  width: 100%;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  align-items: start;
}

.ecommerce-contents {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  margin-right: 0;
  display: flex;
}

.ecommerce-sidebar {
  top: 100px;
}

.ecommerce-block {
  background-color: var(--white);
  border-radius: .87em;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.block-header {
  border-style: none none solid;
  border-color: var(--border);
  background-color: rgba(0, 0, 0, 0);
  padding: 1em 1.5em;
}

.block-content {
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  padding: 1.5em;
}

.order-summary {
  background-color: var(--white);
  border-radius: .87em;
  margin-bottom: 1.5em;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.text-required {
  color: var(--accent-a3);
  font-size: .9em;
  font-weight: 500;
  line-height: 155%;
}

.text-field-ecommerce {
  height: 3.75em;
  border: 1px solid var(--border);
  background-color: var(--background);
  color: var(--heading);
  border-radius: .87em;
  margin-bottom: 1.12em;
  padding: 1em 1.2em;
  font-size: 1em;
  line-height: 130%;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94);
}

.text-field-ecommerce:focus, .text-field-ecommerce.-wfp-focus {
  border-color: var(--accent-a1);
}

.text-field-ecommerce::-ms-input-placeholder {
  color: rgba(20, 23, 24, .6);
}

.text-field-ecommerce::placeholder {
  color: rgba(20, 23, 24, .6);
}

.country {
  height: 3.75em;
  border: 1px solid var(--border);
  background-color: var(--background);
  color: var(--heading);
  border-radius: .87em;
  margin-bottom: 1.12em;
  padding: 1em 1.2em;
  font-size: 1em;
  line-height: 130%;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94);
}

.country:focus {
  border-color: var(--accent-a1);
}

.billing-address-toggle {
  align-items: baseline;
}

.shipping-method-list {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  border: 1px #000;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.shipping-method {
  background-color: var(--accent-b1);
  border: 1px #000;
  border-radius: .87em;
  margin-bottom: 0;
  padding: 1em 1.2em;
}

.block-quantity {
  font-size: .9em;
}

.discounts {
  border-style: none;
  border-color: var(--border);
  background-color: var(--white);
  border-radius: .87em;
  margin-bottom: 1.5em;
  padding: 1.5em;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.apply-button {
  height: 3.75em;
  background-color: var(--accent-a1);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: .87em;
  margin-left: .5em;
  padding: .9em 1.3em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.apply-button:hover {
  box-shadow: 0 15px 40px -10px var(--accent-a1);
}

.grid-features {
  grid-column-gap: 2em;
  grid-row-gap: 1.8em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.features {
  grid-column-gap: 1.3em;
  grid-row-gap: 1.3em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
}

.block-heading-features {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-features {
  width: 2em;
  height: 2em;
}

.paragraph-features {
  max-width: 20em;
}
@media screen and (max-width: 991px) {
  .collection-list-shop {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr;
  }

  .link-category {
    padding: 1em 1.2em;
  }

  .block-categories {
    flex-direction: column;
  }

  .grid-product {
    grid-template-columns: 1fr;
  }

  .product-sticky {
    padding: 3.1em;
    position: relative;
    top: auto;
  }
}

@media screen and (max-width: 767px) {
  .grid-features {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .cart-container {
    min-width: auto;
    border-radius: 0;
    margin-top: 0;
  }

  .product {
    padding: 1.5em;
  }

  .block-price {
    flex-direction: column;
  }

  .block-categories {
    font-size: .9em;
  }

  .utility-page-wrap {
    padding-top: 2em;
  }

  .utility-page-content, .product-content, .product-sticky {
    padding: 2em;
  }

  .text-field-ecommerce {
    margin-bottom: .9em;
  }

  .features-lottie {
    grid-row-gap: 1.5em;
  }

  .feature-lottie-block {
    margin-right: 31%;
  }

  .feature-lottie-block.a3 {
    margin-right: 38%;
  }

  .grid-features {
    grid-row-gap: 1.2em;
    grid-template-columns: 1fr;
  }

  .features {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding-top: .8em;
    padding-bottom: .8em;
  }
}

.lines-b1 {
  z-index: 5;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 4%;
  padding-right: 13%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lines-b2 {
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 12%;
  padding-bottom: 12%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.block-right {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15%;
  display: flex;
}

.grid {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  align-items: center;
}

.subtitle {
  background-color: var(--white);
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  margin-bottom: .7em;
  padding: .5em 1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
  box-shadow: 0 10px 20px -10px rgba(20, 23, 24, .05);
}

.subtitle.white {
  background-color: rgba(255, 255, 255, .1);
  color: var(--white);
}

.subtitle.green {
  background-color: var(--accent-green);
  color: var(--strong-green);
}

.heading {
  max-width: 9em;
  margin-bottom: .5em;
}

.paragraph {
  max-width: 30em;
  margin-bottom: 2.2em;
}

.grid-numbers {
  grid-column-gap: .87em;
  grid-row-gap: .87em;
  grid-template-rows: auto;
  align-items: start;
}

.numbers {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  background-color: var(--accent-blue);
  border-radius: .64em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.2em 1.4em 1.4em;
  display: flex;
}

.numbers.green {
  background-color: var(--accent-green);
}

.icon-numbers {
  width: 2em;
  height: 2em;
}

.heading-numbers {
  color: var(--strong-blue);
  font-weight: 500;
}

.heading-numbers.green {
  color: var(--strong-green); 
}

.text-numbers {
  max-width: 11em;
  color: var(--strong-blue);
  letter-spacing: -.02em;
  font-size: .87em;
  font-weight: 500;
  line-height: 130%;
}

.text-numbers.green {
  color: var(--strong-green);
}

@media screen and (max-width: 991px) {
  .grid-numbers {
    font-size: .9em;
  }
}

@media screen and (max-width: 767px) {
  .grid-numbers {
    width: 100%;
    font-size: 1em;
  }
}

@media screen and (max-width: 479px) {
  .grid-numbers {
    grid-template-columns: 1fr;
  }
}

.block-heading {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1em;
  display: flex;
}

.block-heading.center {
  text-align: center;
  align-items: center;
}

.lottie-wrapper {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.lines-c1 {
  z-index: 5;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 22%;
  padding-right: 22%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lines-c2 {
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 15%;
  padding-bottom: 15%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.block-left {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 15%;
  display: flex;
}

.section-full {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 3.75em 2em;
  display: flex;
}

.brand-center {
  flex: none;
  margin-top: 1.2em;
  margin-left: auto;
  margin-right: auto;
  padding: .5em .3em;
}

.account-form {
  z-index: 50;
  width: 100%;
  max-width: 32em;
  background-color: var(--white);
  text-align: center;
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 3.1em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.account-form.green {
  background-color: var(--strong-green);
  box-shadow: none;
}

.account-heading {
  max-width: 9em;
  margin-bottom: .3em;
}

.account-heading.white {
  color: var(--white);
}

.account-paragraph {
  max-width: 23em;
  margin-bottom: 1.8em;
}

.account-paragraph.white {
  color: rgba(255, 255, 255, .8);
}

.account-text {
  width: 100%;
  max-width: 32em;
  color: rgba(20, 23, 24, .6);
  text-align: center;
  margin-top: 1.4em;
  margin-left: auto;
  margin-right: auto;
  font-size: .87em;
  line-height: 140%;
}

.account-text.white {
  color: rgba(255, 255, 255, .5);
}

.account-link {
  color: rgba(20, 23, 24, .6);
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
}

.account-link:hover {
  color: var(--strong-green);
}

.account-link.white {
  color: rgba(255, 255, 255, .5);
}

.account-link.white:hover {
  color: var(--white);
}

.body-green {
  background-color: var(--accent-green);
}

@media screen and (max-width: 479px) {
  .section-full {
    padding-top: 3em;
  }

  .text-field {
    margin-bottom: .9em;
  }
  
  .account-form {
    padding: 2em;
  }

  .paragraph-account {
    margin-bottom: 1em;
  }
}

.rotate-icon {
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 991px) {
  .block-left {
    padding-right: 10%;
  }

  .block-right {
    padding-left: 10%;
  }
}

@media screen and (max-width: 767px) {
  .block-left {
    padding-right: 0%;
  }

  .block-right {
    padding-left: 0%;
  }

  .section {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .grid {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding: 2.5em 1.5em;
  }
}

