<!-- Hero Lottie Section (LP- Landing Page)-->
<div id="heroLottie-LP" data-w-id="heroLottie" class="lottie">
  {% include "blocks/lottie/lines_a1_a2.html" %}
  <div class="block-lottie">
    <div data-w-id="heroLottie-LP-animation1" class="lottie-animation-1" data-animation-type="lottie" data-src="{% static 'documents/Lottie-A1-White.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
    <div data-w-id="heroLottie-LP-animation2" class="lottie-animation-2" data-animation-type="lottie" data-src="{% static 'documents/Lottie-A2-Green.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="19.5" data-duration="0"></div>
    <div data-w-id="heroLottie-LP-animation2-blur" class="lottie-animation-2-blur" data-animation-type="lottie" data-src="{% static 'documents/Lottie-A2-Green.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="19.5" data-duration="0"></div>
  </div>
  {% if value.lottie_features %}
    <div class="features-lottie">
      {% for feature in value.lottie_features %}
        {% include_block feature %}
      {% endfor %}
    </div>
  {% endif %}
</div>
