{% load wagtailcore_tags wagtailimages_tags %}

<section class="section-hero">
  <div class="content">
    <div class="layout-grid grid-hero">
      {% include_block value.hero_block %}
      {% include_block value.hero_lottie %}
      <!-- Hero Features -->
      {% if value.hero_features %}
        <div class="features-lottie">
          {% for feature in value.hero_features %}
            {% include_block feature %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
