.text-field {
    height: 3.75em;
    border: 1px solid var(--border);
    background-color: var(--white);
    color: var(--heading);
    border-radius: .87em;
    margin-bottom: 1.12em;
    padding: 1em 1.2em;
    font-size: 1em;
    line-height: 130%;
    transition: border-color .3s cubic-bezier(.25, .46, .45, .94);
}

.text-field:focus {
  border-color: var(--strong-green);
}

.text-field::-ms-input-placeholder {
  color: rgba(20, 23, 24, .6);
}

.text-field::placeholder {
  color: rgba(20, 23, 24, .6);
}

.text-field.transparent {
color: var(--white);
background-color: rgba(255, 255, 255, .1);
border-color: rgba(255, 255, 255, .2);
}

.text-field.transparent:focus {
border-color: var(--white);
}

.text-field.transparent::-ms-input-placeholder {
color: rgba(255, 255, 255, .65);
}

.text-field.transparent::placeholder {
color: rgba(255, 255, 255, .65);
}

.textarea {
  max-height: 30em;
  max-width: 100%;
  min-height: 14em;
  min-width: 100%;
  border: 1px solid var(--border);
  background-color: var(--white);
  color: var(--heading);
  border-radius: .87em;
  margin-bottom: 1.12em;
  padding: 1em 1.2em;
  font-size: 1em;
  line-height: 130%;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94);
}

.textarea:focus {
  border-color: var(--strong-green);
}

.textarea::-ms-input-placeholder {
  color: rgba(20, 23, 24, .6);
}

.textarea::placeholder {
  color: rgba(20, 23, 24, .6);
}
