{% extends "trainer/includes/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Delete Account" %}
{% endblock title %}

{% block subtitle %}
  {% trans "Delete" %}
{% endblock subtitle %}

{% block heading %}
  {% trans "Delete User Account" %}
{% endblock heading %}

{% block content %}
  <form method="post" class="form" enctype="multipart/form-data">
  {% csrf_token %}
    <label for="{{ form.delete.id_for_label }}">{% trans "Confirm Account Deletion" %}:</label>
    {{ form.delete }}
    {% if form.delete.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.delete.errors|striptags }}</div>
      </div>
    {% endif %}
    <input type="submit" value="Delete" class="submit-button base-button"> 
    {{ form.non_field_errors }}
  </form>
{% endblock %}