{% extends "trainer/includes/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Update Account" %}
{% endblock title %}

{% block subtitle %}
  {% trans "Update" %}
{% endblock subtitle %}

{% block heading %}
  {% trans "Update User Account" %}
{% endblock heading %}

{% block content %}
  <form method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="{{ form.introduction.id_for_label }}">{% trans "introduction" %}:</label>
    {{ form.introduction }}
    {% if form.introduction.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.introduction.errors|striptags }}</div>
      </div>
    {% endif %}
    <input type="submit" value="Submit" class="submit-button base-button"> 
    {{ form.non_field_errors }}
  </form>
{% endblock %}
