{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>- Digidex - Smart Garden Management</title>
    <meta content="A platform for gardeners to cultivate their curiosity." name="description">
    <meta content="- Digidex - Smart Garden Management" property="og:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="og:description">
    <meta content="" property="og:image">
    <meta content="- Digidex - Smart Garden Management" property="twitter:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="twitter:description">
    <meta content="" property="twitter:image">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="{% static 'base/css/normalize.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/base-styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'digidex/css/digidex-styles.css' %}" rel="stylesheet" type="text/css">
  
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">

    <!-- Load Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Space Grotesk:regular,500,600,700", "IBM Plex Mono:regular,italic,500,500italic,600,600italic,700,700italic"]
        }
      });
    </script>

    {% load i18n %}
    <script src="{% static 'digidex/js/jquery/jquery.js' %}"></script>
    
    <link href="{% static 'digidex/images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'digidex/images/webclip.png' %}" rel="apple-touch-icon">
  </head>
<body>
  {% include 'main/partials/navigation-bar.html' %}
  {% include 'main/partials/page-header.html' %}
  <section class="section">
    <div class="content">
      <div class="layout-grid grid-product">
        <div class="product-sticky">
          <div class="block-icon-product"><img alt="" loading="eager" src="" class="icon-product"></div>
          <a href="#" class="link-product base-inline-block">
            <h3 class="heading-product"></h3>
          </a>
          <div class="block-price">
            <div class="text-price"></div>
            <div class="compare-at-price"></div>
          </div>
          <p class="paragraph-description"></p>
          <div class="subtitle-product">Features<br></div>
          <div class="block-features-product">
            <div class="features-product"><img src="{% static 'main/images/bx-check.svg' %}" loading="eager" alt="" class="icon-features-product">
              <h6 class="heading-features-product"></h6>
            </div>
            <div class="features-product"><img src="{% static 'main/images/bx-check.svg' %}" loading="eager" alt="" class="icon-features-product">
              <h6 class="heading-features-product"></h6>
            </div>
            <div class="features-product"><img src="{% static 'main/images/bx-check.svg' %}" loading="eager" alt="" class="icon-features-product">
              <h6 class="heading-features-product"></h6>
            </div>
            <div class="features-product"><img src="{% static 'main/images/bx-check.svg' %}" loading="eager" alt="" class="icon-features-product">
              <h6 class="heading-features-product"></h6>
            </div>
            <div class="features-product"><img src="{% static 'main/images/bx-check.svg' %}" loading="eager" alt="" class="icon-features-product">
              <h6 class="heading-features-product"></h6>
            </div>
            <div class="features-product"><img src="{% static 'main/images/bx-check.svg' %}" loading="eager" alt="" class="icon-features-product">
              <h6 class="heading-features-product"></h6>
            </div>
            <div class="features-product"><img src="{% static 'main/images/bx-check.svg' %}" loading="eager" alt="" class="icon-features-product">
              <h6 class="heading-features-product"></h6>
            </div>
          </div>
          <div class="add-to-cart">
            <form data-node-type="commerce-add-to-cart-form" class="base-commerce-commerceaddtocartform default-state"><label for="quantity-94cffd88067ead143d2d55658ca26f2a" class="field-label-quantity base-password-page">Quantity</label><input type="submit" data-node-type="commerce-add-to-cart-button" data-loading-text="Adding to cart..." aria-busy="false" aria-haspopup="dialog" class="base-commerce-commerceaddtocartbutton add-to-cart-button" value="Add to Cart">
              <a data-node-type="commerce-buy-now-button" data-default-text="Buy now" data-subscription-text="Subscribe now" aria-busy="false" aria-haspopup="false" style="display:none" class="base-commerce-commercebuynowbutton buy-now-button yellow" href="checkout.html">Buy now</a>
            </form>
            <div style="display:none" class="base-commerce-commerceaddtocartoutofstock out-of-stock-state" tabindex="0">
              <div class="text-error">This product is out of stock.</div>
            </div>
            <div aria-live="assertive" data-node-type="commerce-add-to-cart-error" style="display:none" class="base-commerce-commerceaddtocarterror error-message">
              <div data-node-type="commerce-add-to-cart-error" class="text-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
            </div>
          </div>
          <div class="block-tag-product">
            <div class="yellow-tag-product">Most popular<br></div>
            <div class="blue-tag-product">Best Value<br></div>
          </div>
        </div>
        <div class="product-content">
          <div class="subtitle-product">More Details<br></div>
          <div class="base-richtext"></div>
        </div>
      </div>
    </div>
  </section>
  {% include 'main/partials/features-section.html' %}
  {% include 'main/partials/page-footer.html' %}
</body>
</html>