{% load static %}
<!DOCTYPE html>
<html>
  <head>  
    <meta charset="utf-8">
    <title>Digidex - Smart Garden Management</title>
    <meta content="A platform for gardeners to cultivate their curiosity." name="description">
    <meta content="Digidex - Smart Garden Management" property="og:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="og:description">
    <meta content="Digidex - Smart Garden Management" property="twitter:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="{% static 'base/css/normalize.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/base-styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'digidex/css/digidex-styles.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.4/lottie.min.js" type="text/javascript"></script>

    <!-- Load Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Space Grotesk:regular,500,600,700", "IBM Plex Mono:regular,italic,500,500italic,600,600italic,700,700italic"]
        }
      });
    </script>
    
    <link href="{% static 'digidex/images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'digidex/images/webclip.png' %}" rel="apple-touch-icon">
  </head>
  <body>
    {% include 'main/partials/navigation-bar.html' %}
    <!-- Landing Page - Hero Call To Action Section -->
    <section class="section-hero">
      <div class="content">
        <div class="layout-grid grid-hero">
          <div class="block-hero">
            <h1 class="heading-hero">The Ultimate Gardening Companion</h1>
            <p class="paragraph-hero">Digitize, manage, and nurture your garden with an AI assistant tailored for you.</p>
            <div class="button-hero">
              <a href="{% url 'accounts:signup' %}" class="button base-button">Signup</a>
            </div>
          </div>
          <!-- Hero Lottie Section (LP- Landing Page)-->
          <div id="heroLottie-LP" data-w-id="heroLottie" class="lottie">
            <div class="lines-a1">
              <div class="line-w"></div>
              <div class="line-w"></div>
              <div class="line-w"></div>
              <div class="line-w"></div>
              <div class="line-w"></div>
              <div class="line-w"></div>
            </div>
            <div class="lines-a2">
              <div class="line-h"></div>
              <div class="line-h"></div>
              <div class="line-h"></div>
              <div class="line-h"></div>
              <div class="line-h"></div>
              <div class="line-h"></div>
            </div>
            <div class="block-lottie">
              <div data-w-id="heroLottie-LP-animation1" class="lottie-animation-1" data-animation-type="lottie" src="{% static 'digidex/documents/Lottie-A1-White.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
              <div data-w-id="heroLottie-LP-animation2" class="lottie-animation-2" data-animation-type="lottie" src="{% static 'digidex/documents/Lottie-A2-Blue.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="19.5" data-duration="0"></div>
              <div data-w-id="heroLottie-LP-animation2-blur" class="lottie-animation-2-blur" data-animation-type="lottie" src="{% static 'digidex/documents/Lottie-A2-Blue.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="19.5" data-duration="0"></div>
            </div>
            <div class="features-lottie">
              <div style="transform: none;" class="feature-lottie-block">
                <img src="{% static 'main/images/bx-check.svg' %}" loading="eager" alt="" class="icon-feature-lottie">
                <div class="text-feature-lottie">Saguaro Seedlings</div>
              </div>
              <div style="transform: none;" class="feature-lottie-block a2">
                <img src="{% static 'main/images/bx-check.svg' %}" loading="eager" alt="" class="icon-feature-lottie">
                <div class="text-feature-lottie">Melocactus Seedlings</div>
              </div>
              <div style="transform: none;" class="feature-lottie-block a3">
                <img src="{% static 'main/images/bx-check.svg' %}" loading="eager" alt="" class="icon-feature-lottie">
                <div class="text-feature-lottie">Ferocactus Seedlings</div>
              </div>
              <div style="transform: none;" class="feature-lottie-block a4">
                <img src="{% static 'main/images/close.svg' %}" loading="eager" alt="" class="icon-feature-lottie">
                <div class="text-feature-lottie">Notocactus Seedlings</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 
    <!-- Landing Page - How it Works Section -->
    <section class="section">
      <div class="content">
        <div class="layout-grid">
          <div class="block-left">
            <div class="subtitle">How does it work?<br></div>
            <h2 class="heading">Transform your plant label into a digital touchpoint</h2>
            <p class="paragraph">Each sticker uses NFC, or Near Field Communication to link to our platform when tapped with a smartphone or tablet.</p>
          </div>
        </div>
      </div>
    </section> 
    {% include 'main/partials/feature-section.html' %}
    <!-- About Us Section -->
    <section class="section">
      <div class="content">
        <div class="layout-grid grid">
          <div class="lottie">
            <div class="lines-b1">
              <div class="line-w"></div>
              <div class="line-w"></div>
              <div class="line-w"></div>
              <div class="line-w"></div>
              <div class="line-w"></div>
              <div class="line-w"></div>
            </div>
            <div class="lines-b2">
              <div class="line-h"></div>
              <div class="line-h"></div>
              <div class="line-h"></div>
              <div class="line-h"></div>
              <div class="line-h"></div>
              <div class="line-h"></div>
            </div>
            <div class="block-lottie">
              <div class="lottie-animation-1" data-animation-type="lottie" src="{% static 'digidex/documents/Lottie-B1-White.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1"  data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
              <div class="lottie-animation-2" data-animation-type="lottie" src="{% static 'digidex/documents/Lottie-B2-Blue.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
              <div class="lottie-animation-2-blur" data-animation-type="lottie" src="{% static 'digidex/documents/Lottie-B2-Blue.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
            </div>
          </div>
          <div class="block-right">
            <div class="subtitle">Our Story<br></div>
            <h2 class="heading">Built by Gardeners, for Gardeners</h2>
            <p class="paragraph">Digit was built to empower gardeners to cultivate their curiosity and creativity.  </p>
            <div class="layout-grid grid-numbers">
              <div class="numbers"><img src="{% static 'main/images/app-connectivity.svg' %}" loading="eager" alt="" class="icon-numbers">
                <h4 class="heading-numbers">3,500,000+</h4>
                <div class="text-numbers">websites currently hosted.</div>
              </div>
              <div class="numbers green"><img src="{% static 'main/images/content-delivery-network.svg' %}" loading="eager" alt="" class="icon-numbers">
                <h4 class="heading-numbers green">50,000+</h4>
                <div class="text-numbers green">servers around the world</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'main/partials/faq-section.html' %}

    {% include 'main/partials/call-to-action.html' %} 
    {% include 'main/partials/page-footer.html' %}
    <script src="{% static 'digidex/js/toggle-faqs.js' %}" type="text/javascript"></script>
    <script src="{% static 'digidex/js/toggle-lottie.js' %}" type="text/javascript"></script>
  </body>
</html>