<form method="post" class="form">
  {% csrf_token %}

  <!-- Render Name Field -->
  <div>
    {{ form.name }}
    {% if form.name.errors %}
      <div class="error-message">
        <small>{{ form.name.errors|striptags }}</small>
      </div>
    {% endif %}
  </div>

  <!-- Render Email Field -->
  <div>
    {{ form.email }}
    {% if form.email.errors %}
      <div class="error-message">
        <small>{{ form.email.errors|striptags }}</small>
      </div>
    {% endif %}
  </div>

  <!-- Render Message Field -->
  <div>
    {{ form.message }}
    {% if form.message.errors %}
      <div class="error-message">
        <small>{{ form.message.errors|striptags }}</small>
      </div>
    {% endif %}
  </div>

  <!-- Render Submit Button -->
  <input type="submit" value="Submit" class="submit-button base-button">

  <!-- Non-Field Errors -->
  {% if form.non_field_errors %}
    <div class="error-message base-form-fail">
      {% for error in form.non_field_errors %}
        <div class="text-error">{{ error }}</div>
      {% endfor %}
    </div>
  {% else %}
    <div class="success-message base-form-done">
      <div class="text-success">Your operation was successful!</div>
    </div>
  {% endif %}          
</form>
