{% load static %}
<section class="section">
  <div class="content">
    <div class="block-heading center">
      <div class="subtitle">Features<br></div>
      <h2 class="heading">Get the most from your garden</h2>
    </div>
    <div class="layout-grid grid-features"> 
      <div class="features"> 
        <div class="block-heading-features"><img src="{% static 'main/images/lightning.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">Easy Digitization</h5>
        </div>
        <p class="paragraph-features">Digitize your garden onto our platform using our easy-to-use NFC stickers. Secure and durable, they ensure your plant data is always available.</p>
      </div>
      <div class="features"> 
        <div class="block-heading-features"><img src="{% static 'main/images/app-connectivity.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">Simplified Management</h5>
        </div>
        <p class="paragraph-features">Gather all essential plant information in one place, making it effortless to track, analyze, and nurture your garden.</p>
      </div>
      <div class="features">
        <div class="block-heading-features"><img src="{% static 'main/images/headset.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">Personalized AI Assistant</h5>
        </div>
        <p class="paragraph-features">Digitization enables your AI assistant to provide context-rich, customized advice, ensuring every response is attuned to your garden&#x27;s unique needs.</p>
      </div>
      <!-- Second Row of Features -->
      <div class="features">
        <div class="block-heading-features"><img src="{% static 'main/images/lightning.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">Easy Digitization</h5>
        </div>
        <p class="paragraph-features">Digitize your garden onto our platform using our easy-to-use NFC stickers. Secure and durable, they ensure your plant data is always available.</p>
      </div>
      <div class="features"> 
        <div class="block-heading-features"><img src="{% static 'main/images/app-connectivity.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">Simplified Management</h5>
        </div>
        <p class="paragraph-features">Gather all essential plant information in one place, making it effortless to track, analyze, and nurture your garden.</p>
      </div>
      <div class="features">
        <div class="block-heading-features"><img src="{% static 'main/images/headset.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">Personalized AI Assistant</h5>
        </div>
        <p class="paragraph-features">Digitization enables your AI assistant to provide context-rich, customized advice, ensuring every response is attuned to your garden&#x27;s unique needs.</p>
      </div>
    </div>
  </div>
</section>