{% load static %}
<section class="section-footer">
  <div class="content">
    <div class="layout-grid grid-footer">
      <div class="block-footer"><img src="{% static 'digidex/images/logo.png' %}" loading="lazy" alt="" class="logo-footer">
        <div class="paragraph-footer">Fast, Reliable, Secure - Your Website Deserves the Best Hosting<br></div>
        <div class="block-social">
          <a href="tel:+1(888)123-4567" class="social-link base-inline-block"><img src="{% static 'main/images/phone-voice.svg' %}" loading="eager" alt="" class="icon-social"></a>
          <a href="mailto:support@yoursite.com" class="social-link base-inline-block"><img src="{% static 'main/images/email.svg' %}" loading="eager" alt="" class="icon-social"></a>
          <a href="#" class="social-link base-inline-block"><img src="{% static 'main/images/chat-launch.svg' %}" loading="eager" alt="" class="icon-social"></a>
        </div>
      </div>
      <div class="block-footer">
        <div class="subtitle-footer">Quick Links<br></div>
          <a href="{% url 'main:company' %}" class="link-footer">Company</a>
          <a href="{% url 'main:contact' %}" class="link-footer">Contact</a>
          <a href="{% url 'main:solutions' %}" class="link-footer">Solutions</a>
          <a href="{% url 'main:pricing' %}" class="link-footer">Pricing</a>
          <a href="{% url 'main:blog' %}" class="link-footer">Blog</a>
      </div>
      <div class="block-footer">
        <div class="subtitle-footer">Social<br></div>
          <a href="https://www.facebook.com/webflow/" target="_blank" class="link-footer">Facebook</a>
          <a href="https://twitter.com/webflow" target="_blank" class="link-footer">Twitter</a>
          <a href="https://www.youtube.com/c/Webflow" target="_blank" class="link-footer">YouTube</a>
      </div>
    </div>
    <div class="block-footer-down">
      <div class="text-footer-down">All rights reserved.<br></div>
    </div>
  </div>
</section>