.cart {
    flex: none
}

.cart-button {
    background-color: var(--strong-green);
    border-radius: 50em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6em;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex;
    position: relative
}

.cart-button:hover {
    box-shadow: 0 15px 30px -8px var(--strong-green)
}

.icon-cart {
    width: 1.37em;
    height: 1.37em;
    flex: none
}

.icon-cart-quantity {
    height: auto;
    min-width: auto;
    background-color: var(--white);
    color: var(--heading);
    border-radius: 50em;
    margin-left: 0;
    padding: 0.3em 0.6em 0.1em;
    font-size: 0.71em;
    font-weight: 500;
    line-height: 130%;
    position: absolute;
    top: -15%;
    bottom: auto;
    left: auto;
    right: -20%;
    box-shadow: 0 5px 5px rgba(20, 23, 24, 0.05)
}

.cart-wrapper {
    background-color: rgba(0, 0, 0, 0)
}

.cart-container {
    width: 100%;
    max-width: 30em;
    min-width: 22em;
    background-color: var(--white);
    border-radius: 0.87em;
    margin-top: 0.7em;
    box-shadow: 0 15px 25px -5px rgba(20, 23, 24, 0.15)
}

.cart-header {
    border-bottom-color: var(--border);
    padding: 1em 1.5em
}

.close-button {
    width: auto;
    height: auto;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
    display: flex
}

.icon-close {
    width: 1.5em;
    height: 1.5em
}

.cart-list {
    padding: 1em 1.5em
}

.cart-item {
    align-items: flex-start;
    padding-top: 0.7em;
    padding-bottom: 0.7em
}

.image-cart-item {
    width: 3.5em;
    height: 3.5em;
    background-color: var(--accent-green);
    object-fit: cover;
    border-radius: 0.62em;
    padding: 0.9em
}

.block-cart-item {
    margin-left: 1em;
    margin-right: 1em
}

.cart-item-name {
    color: var(--heading);
    letter-spacing: -0.02em;
    font-size: 1.05em;
    font-weight: 600;
    line-height: 130%
}

.cart-item-price {
    color: var(--strong-green);
    margin-bottom: 0.6em;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 120%
}

.remove-button {
    color: rgba(20, 23, 24, 0.7);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 130%;
    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.remove-button:hover {
    color: var(--strong-green)
}

.cart-quantity {
    width: 3.7em;
    height: 2.4em;
    border-color: var(--border);
    background-color: var(--white);
    color: var(--heading);
    border-radius: 0.62em;
    margin-bottom: 0.8em;
    padding: 0.5em 0.5em 0.5em 0.8em;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.3em;
    transition: border-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.cart-quantity:focus {
    border-color: var(--strong-green)
}

.cart-line-item {
    margin-bottom: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 0.9em;
    line-height: 140%
}

.text-subtotal {
    color: var(--heading);
    font-size: 1.2em;
    font-weight: 600
}

.apple-pay, .pay-with-browser {
    height: 2.8em;
    border-radius: 50em
}

.checkout-button {
    background-color: var(--strong-green);
    color: var(--white);
    letter-spacing: -0.02em;
    border-radius: 50em;
    margin-top: 1em;
    padding: 0.9em 1.8em;
    font-size: 1.12em;
    font-weight: 500;
    line-height: 120%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.checkout-button:hover {
    box-shadow: 0 15px 40px -10px var(--strong-green)
}

.cart-empty-state {
    flex-direction: column;
    padding-top: 3.5em;
    padding-bottom: 3.5em
}

.text-cart-empty {
    color: var(--heading);
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 130%
}

.cart-error-state {
    background-color: rgba(188, 0, 3, 0.07);
    border-radius: 0.62em;
    margin: 0 1.5em 1.5em;
    padding: 1em 1.4em
}

.yellow-tag-product {
    background-color: var(--strong-yellow);
    color: var(--heading);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 0.6em;
    padding: 0.7em 1.1em;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 110%
}

.link-category.base--current {
    background-color: var(--white);
    box-shadow: 0 15px 25px -10px rgba(20, 23, 24, 0.05)
}

.add-to-cart {
    width: 100%
}

.add-to-cart-button {
    background-color: var(--strong-green);
    color: var(--white);
    letter-spacing: -0.02em;
    border-radius: 50em;
    padding: 0.9em 1.8em;
    font-size: 1.12em;
    font-weight: 500;
    line-height: 120%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.add-to-cart-button:hover {
    box-shadow: 0 15px 40px -10px var(--strong-green)
}

.apply-button {
    height: 3.75em;
    background-color: var(--strong-green);
    color: var(--white);
    letter-spacing: -0.02em;
    border-radius: 0.87em;
    margin-left: 0.5em;
    padding: 0.9em 1.3em;
    font-size: 1em;
    font-weight: 500;
    line-height: 120%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.apply-button:hover {
    box-shadow: 0 15px 40px -10px var(--strong-green)
}

.buy-now-button {
    background-color: var(--strong-green);
    color: var(--white);
    letter-spacing: -0.02em;
    border-radius: 50em;
    margin-top: 0.8em;
    padding: 0.9em 1.8em;
    font-size: 1.12em;
    font-weight: 500;
    line-height: 120%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.buy-now-button:hover {
    box-shadow: 0 15px 40px -10px var(--strong-green)
}

.buy-now-button.yellow {
    background-color: var(--strong-yellow);
    color: var(--heading)
}

.buy-now-button.yellow:hover {
    box-shadow: 0 15px 40px -10px var(--strong-yellow)
}


.product-content {
    background-color: var(--white);
    border-radius: 0.87em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3.1em;
    display: flex;
    position: relative;
    box-shadow: 0 15px 25px -10px rgba(20, 23, 24, 0.05)
}

.ecommerce-contents {
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    flex-direction: column;
    margin-right: 0;
    display: flex
}