<section class="section-full">
  <div class="content">
    <div class="account-form">
      <div class="subtitle">Sign in<br></div>
      <h2 class="account-heading">Login to your account</h2>
      <div class="form-block base-form">
        <form method="post" class="form">
          {% csrf_token %} 
            <!-- Render Username Field -->
            <div>
              {{ form.username }}
              {% if form.username.errors %}
                <div class="error-message">
                  <span class="text-error">{{ form.username.errors|striptags }}</span>
                </div>
              {% endif %}
            </div>
            <!-- Render Password Field -->
            <div>
              {{ form.password }}
              {% if form.password.errors %}
                <div class="error-message">
                  <span class="text-error">{{ form.password.errors|striptags }}</span>
                </div>
              {% endif %}
            </div>
            <!-- Render Submit Button -->
            <input type="submit" value="Login" class="submit-button base-button">       
          </form>
        <div class="account-text">Forgot your password? <a href="{% pageurl 'reset_password' %}" class="account-link">Reset password</a></div>
        <div class="account-text">Not registered? <a href="{% pageurl 'accounts:signup-user' %}" class="account-link">Create account</a></div>
      </div>
    </div>
  </div>
</section>