@import 'static/sass/utils/_variables';
@import 'static/sass/utils/_mixins';

.section-top-bar {
  background-color: var(--accent-a1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .4em 2em;
  display: flex;
}
.section-top-bar {
  @include section-style(accent-a1, .4em 2em);
}