<!DOCTYPE html>
<html data-wf-page="6567eb537706d17425cd084f" data-wf-site="6567eb537706d17425cd07f4">
  <head>  
    {% include 'accounts/partials/head.html' %}
  </head>
  <body class="body">
    {% include 'accounts/partials/simple_header.html' %}

    <section class="section-full">
      <div class="content">
        <div class="account-form">
          <div class="subtitle blue">Password Reset Complete<br></div>
          <h2 class="heading-account">Password reset successfully</h2>
          <p>Your password has been set. You may now <a href="{% url 'accounts:login' %}" class="link-account">log in</a>.</p>
        </div>
      </div>
    </section>

  </body>
</html>
