.section.top {
  justify-content: center;
  align-items: center;
  padding: 6em 2em 1.5em;
  display: flex;
}

.section.top.padding-0 {
  padding-bottom: 0;
}

.block.top {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading.top {
  max-width: 11.5em;
  margin-bottom: .38em;
}

.paragraph.top {
  max-width: 32em;
  margin-bottom: 2em;
  font-size: 1.125em;
  line-height: 160%;
}

@media screen and (max-width: 991px) {
  .section.top {
    padding-top: 4.5em;
    padding-bottom: 0;
  }

  .paragraph.top {
    font-size: 1em;
  }
}

@media screen and (max-width: 479px) {
  .section.top {
    padding-top: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .paragraph.top {
    margin-bottom: 1.2em;
  }
}
