:root {
  --white: white;
  --background: #f4f6f7;
  --paragraph: rgba(20, 23, 24, .8);
  --heading: #141718;
  --border: rgba(15, 100, 146, .2);

  --neutral-dark: #333;
  --neutral-light: #f2f2f2;

  --navbar-background: rgba(138, 215, 160, 0.8);
  --navbar-border: 1px solid rgba(138, 215, 160, 0.3);

  --strong-green: #00693e;
  --strong-red: #bc0087;
  --strong-blue: #3959ff;
  --strong-yellow: #ffc107;

  --accent-green: rgba(0, 135, 38, .07);
  --accent-red: rgba(188, 0, 135, .07);
  --accent-blue: rgba(57, 89, 255, .07);
  --accent-yellow: rgba(255, 193, 7, .07);

  --accent-success: rgba(138, 215, 160, .09);
  --accent-error: rgba(229, 57, 53, .09);
  --accent-warning: rgba(255, 193, 7, .09);
  --accent-info: rgba(59, 111, 149, .09);

  --pale-lime-green-background: rgba(199, 249, 204, 0.8);
  --tea-green-background: rgba(208, 240, 192, 0.8);
  --honeydew-background: rgba(240, 255, 240, 0.8);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
html.base-mod-touch * {
  background-attachment: scroll !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
blockquote {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  border-left: 5px solid #E2E2E2;
  font-size: 18px;
  line-height: 22px;
}
figure {
  margin: 0;
  margin-bottom: 10px;
}
figcaption {
  margin-top: 5px;
  text-align: center;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}
html[data-w-dynpage] [data-w-cloak] {
  color: transparent !important;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
