.base-richtext:before,
.base-richtext:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.base-richtext:after {
  clear: both;
}
.base-richtext[contenteditable="true"]:before,
.base-richtext[contenteditable="true"]:after {
  white-space: initial;
}
.base-richtext ol,
.base-richtext ul {
  overflow: hidden;
}
.base-richtext .base-richtext-figure-selected.base-richtext-figure-type-video div:after,
.base-richtext .base-richtext-figure-selected[data-rt-type="video"] div:after {
  outline: 2px solid #2895f7;
}
.base-richtext .base-richtext-figure-selected.base-richtext-figure-type-image div,
.base-richtext .base-richtext-figure-selected[data-rt-type="image"] div {
  outline: 2px solid #2895f7;
}
.base-richtext figure.base-richtext-figure-type-video > div:after,
.base-richtext figure[data-rt-type="video"] > div:after {
  content: '';
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.base-richtext figure {
  position: relative;
  max-width: 60%;
}
.base-richtext figure > div:before {
  cursor: default!important;
}
.base-richtext figure img {
  width: 100%;
}
.base-richtext figure figcaption.base-richtext-figcaption-placeholder {
  opacity: 0.6;
}
.base-richtext figure div {
  /* fix incorrectly sized selection border in the data manager */
  font-size: 0px;
  color: transparent;
}
.base-richtext figure.base-richtext-figure-type-image,
.base-richtext figure[data-rt-type="image"] {
  display: table;
}
.base-richtext figure.base-richtext-figure-type-image > div,
.base-richtext figure[data-rt-type="image"] > div {
  display: inline-block;
}
.base-richtext figure.base-richtext-figure-type-image > figcaption,
.base-richtext figure[data-rt-type="image"] > figcaption {
  display: table-caption;
  caption-side: bottom;
}
.base-richtext figure.base-richtext-figure-type-video,
.base-richtext figure[data-rt-type="video"] {
  width: 60%;
  height: 0;
}
.base-richtext figure.base-richtext-figure-type-video iframe,
.base-richtext figure[data-rt-type="video"] iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.base-richtext figure.base-richtext-figure-type-video > div,
.base-richtext figure[data-rt-type="video"] > div {
  width: 100%;
}
.base-richtext figure.base-richtext-align-center {
  margin-right: auto;
  margin-left: auto;
  clear: both;
}
.base-richtext figure.base-richtext-align-center.base-richtext-figure-type-image > div,
.base-richtext figure.base-richtext-align-center[data-rt-type="image"] > div {
  max-width: 100%;
}
.base-richtext figure.base-richtext-align-normal {
  clear: both;
}
.base-richtext figure.base-richtext-align-fullwidth {
  width: 100%;
  max-width: 100%;
  text-align: center;
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.base-richtext figure.base-richtext-align-fullwidth > div {
  display: inline-block;
  /* padding-bottom is used for aspect ratios in video figures
      we want the div to inherit that so hover/selection borders in the designer-canvas
      fit right*/
  padding-bottom: inherit;
}
.base-richtext figure.base-richtext-align-fullwidth > figcaption {
  display: block;
}
.base-richtext figure.base-richtext-align-floatleft {
  float: left;
  margin-right: 15px;
  clear: none;
}
.base-richtext figure.base-richtext-align-floatright {
  float: right;
  margin-left: 15px;
  clear: none;
}

body {
  background-color: var(--background);
  color: var(--paragraph);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  display: flex;
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--heading);
  margin-top: 20;
  margin-bottom: 0em;
  letter-spacing: -.05em;
  font-weight: 700;
}

h1 {
  font-size: 4.12em;
  line-height: 110%;
}

h2 {
  font-size: 3.12em;
  line-height: 115%;
}

h3 {
  font-size: 2.37em;
  line-height: 120%;
}

h4 {
  font-size: 1.75em;
  line-height: 125%;
}

h5 {
  font-size: 1.37em;
  line-height: 128%;
}

h6 {
  letter-spacing: -.02em;
  font-size: 1em;
  font-weight: 600;
  line-height: 140%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: underline;
}

ul, ol {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 2.2em;
}

li {
  padding: .3em .5em;
}

strong {
  color: var(--heading);
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {
  color: var(--strong-green);
  border-left: 2px solid rgba(57, 89, 255, .2);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  padding: .1em 0 .1em 1.3em;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 160%;
}

figure {
  border-radius: .87em;
  margin-top: 2.7em;
  margin-bottom: 2.7em;
  overflow: hidden;
}

figcaption {
  text-align: center;
  background-color: #e4ebee;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.2em 7%;
  font-size: .87em;
  line-height: 145%;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 2.7em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.6em;
  }

  h5 {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.3em;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 1.9em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.15em;
  }
}

.rich-text-block p {
  margin-bottom: 1.4em;
}
  
.rich-text-block h1 {
  margin-bottom: .4em;
}
  
.rich-text-block h2,
.rich-text-block h3,
.rich-text-block h4,
.rich-text-block h5,
.rich-text-block h6 {
  margin-top: 1em;
  margin-bottom: .4em;
}
  
.rich-text-block a {
  border-bottom: 1px solid var(--strong-green);
  color: var(--strong-green);
  text-decoration: none;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94), color .3s cubic-bezier(.25, .46, .45, .94);
}
  
.rich-text-block a:hover {
  border-bottom-color: var(--heading);
  color: var(--heading);
}