// Color Palette
$color-primary: #3959ff;
$color-secondary: #bc0087;
$color-accent: #008726;
$color-background: #F4F6F7;
$color-text: #141718;

// Typography
$font-primary: 'Space Grotesk', sans-serif;
$font-secondary: 'IBM Plex Mono', monospace;
