{% extends "asset/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Update Asset" %}
{% endblock title %}

{% block content %}
  <h3 class="account-heading">{% trans "Update Digital Asset" %}</h3>
  <form method="post" class="form">
    {% csrf_token %}
      <!-- Render Category Field -->
      <label for="{{ form.category.id_for_label }}">{% trans "Category" %}:</label>
      {{ form.category }}
      {% if form.category.errors %}
        <div class="error-message">
          <div class="text-error">{{ form.category.errors|striptags }}</div>
        </div>
      {% endif %}
      <!-- Render Name Field -->
      <label for="{{ form.name.id_for_label }}">{% trans "Name" %}:</label>
      {{ form.name }}
      {% if form.name.errors %}
        <div class="error-message">
          <div class="text-error">{{ form.name.errors|striptags }}</div>
        </div>
      {% endif %}
      <!-- Render Description Field -->
      <label for="{{ form.description.id_for_label }}">{% trans "Description" %}:</label>
      {{ form.description }}
      {% if form.description.errors %}
        <div class="error-message">
          <div class="text-error">{{ form.description.errors|striptags }}</div>
        </div>
      {% endif %}
      <!-- Render Submit Button -->
      <input type="submit" value="Submit" class="submit-button base-button"> 
      {{ form.non_field_errors }}
  </form>     
{% endblock %}
