{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <!-- Plant Details -->
    <div class="card mb-4">
        <!-- Plant Image Slideshow -->
        <div id="plantCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in plant.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100" alt="Image of {{ plant.name }}">
                    <!-- Delete Button -->
                    <a href="{% url 'delete_plant_image' image.id %}" class="btn btn-danger position-absolute top-0 end-0 m-2">Delete</a>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#plantCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#plantCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Plant Information -->
        <div class="card-body">
            <p class="card-text">{{ plant.name }}</p>
            <p class="card-text">Complete name: {{ plant.tsn.complete_name }}</p>
            <p class="card-text">Added on: {{ plant.added_on }}</p>
            <p class="card-text">Quantity: {{ plant.quantity }}</p>
            <p class="card-text">
                {% if plant.nfc_tag %}
                    <span class="plant-link-bubble">Linked</span>
                {% else %}
                    Not Linked
                {% endif %}
            </p>
            <p class="card-text">{{ plant.description }}</p>
        </div>
    </div>

    <!-- Watering Events Table -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Watering Date and Time</th>
            </tr>
        </thead>
        <tbody>
            {% for event in plant.waterings.all %}
            <tr>
                <td>{{ event.timestamp }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="text-center">No watering events recorded.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Buttons -->
    <div class="row justify-content-center mb-4">
        <a href="{% url 'botany:update_plant' plant.id %}" class="btn btn-primary me-2">Update Plant</a>
        <a href="{% url 'botany:delete_plant' plant.id %}" class="btn btn-danger">Delete Plant</a>
    </div>

</div>
{% endblock %}
