{% extends "base.html" %}
{% load static %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'botany/css/plant_summary.css' %}">
{% endblock %}

<!-- Botany app container -->
{% block content %}
  {% include "botany/plant_summary.html" %}
  <!-- Buttons to update or delete plant -->
  
  <div class="d-flex justify-content-center mb-5 w-100">
      <a href="{% url 'botany:update_plant' plant.id %}" class="btn btn-primary btn-lg shadow mx-2">Update</a>
      <a href="{% url 'botany:delete_plant' plant.id %}" class="btn btn-danger btn-lg shadow mx-2">Delete</a>
  </div>
{% endblock %}
