{% extends "base.html" %}

{% block title %} CyBotany {% endblock %}

{% block content %}
{% load static %}
<div class="container mt-4">
    <div class="row mb-4">
        {% for plant in plants %}
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="plant-images">
                    {% for image in plant.images.all %}
                        <img src="{{ image.image.url }}" class="d-block w-100 mb-2" alt="Image of {{ plant.name }}">
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ plant.get_absolute_url }}">{{ plant.name }}</a></h5>
                        <p class="card-text">TSN: {{ plant.tsn }}</p>
                        <p class="card-text">NFC Tag: {{ plant.nfc_tag }}</p>
                        <p class="card-text">Quantity: {{ plant.quantity }}</p>
                        <p class="card-text">Description: {{ plant.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No plants found.</p>
    {% endfor %}
    </div>

    <!-- Pagination Controls -->
    <div class="row justify-content-center">
        <nav>
            <ul class="pagination">
                {% if plants.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ plants.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                {% for i in plants.paginator.page_range %}
                    {% if plants.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if plants.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ plants.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ plants.paginator.num_pages }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- Registration link -->
    <div class="row my-4">
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="{% url 'botany:register_plant' %}" class="btn btn-primary">Upload New Plant</a>
        </div>
    </div>

</div>
{% endblock %}