{% extends "base.html" %}

{% block title %}
Botany Home - CyBotany
{% endblock %}

{% block content %}
<div class="container mt-4">
    {% for group in plant_groups %}
    <div class="row mb-4">
        <h2>{{ group.name }}</h2>
        {% for plant in group.plants.all %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ plant.image }}" class="card-img-top" alt="Image of {{ plant.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ plant.name }}</h5>
                    <p class="card-text">{{ plant.description }}</p>
                    <a href="{% url 'botany:plant_detail' pk=plant.id %}" class="btn btn-primary">See more</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    
    <!-- Unlabeled plants -->
    <div class="row mb-4">
        <h2>Unlabeled Plants</h2>
        {% for plant in unlabeled_plants %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ plant.image }}" class="card-img-top" alt="Image of {{ plant.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ plant.name }}</h5>
                    <p class="card-text">{{ plant.description }}</p>
                    <a href="{% url 'botany:plant_detail' plant.id %}" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No unlabeled plants.</p>
        {% endfor %}
    </div>

    <!-- Registration link -->
    <div class="row my-4">
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="{% url 'botany:new_plant' %}" class="btn btn-primary">Register New Plant</a>
        </div>
    </div>
</div>
{% endblock %}
