{% extends "core/base.html" %}
{% load static %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'css/plant_card.css' %}">
{% endblock %}

<!-- Plant Grid -->
{% block content %}
  <!-- Grid Container -->
  <div class="row">
    <!-- Display Plants for the Current Group -->
    {% for plant in plants %}
      {% include 'botany/partials/plant_card.html' %}
    {% empty %}
      <div class="col-12 text-center">
        <p>No plants in this group.</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block app_scripts %}
  <script src="{% static 'js/get_plant_group.js' %}"></script>
{% endblock %}
