{% extends "core/base.html" %}
{% load static %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'css/plant_card.css' %}">
{% endblock %}

<!-- Plant Grid -->
{% block content %}
  <!-- Grid Selector -->
  <div class="row align-items-center group-header">
    <div class="col-2 text-end">
      <!-- Navigation Arrow: Previous Group -->
      {% if page_obj.has_previous %}
        <button id="leftArrow" class="group-arrow" data-group-id="{{ page_obj.previous_page_number }}">←</button>
      {% else %}
        <span class="group-arrow disabled">←</span>
      {% endif %}
    </div>
    <div class="col-8 text-center">
      <!-- Current Group Name -->
      {% if current_group %}
        <span id="currentGroupName">{{ current_group.name }}</span>
      {% else %}
        <span id="currentGroupName">Empty Group</span>
      {% endif %}
    </div>
    <div class="col-2 text-start">
      <!-- Navigation Arrow: Next Group -->
      {% if page_obj.has_next %}
        <button id="rightArrow" class="group-arrow" data-group-id="{{ page_obj.next_page_number }}">→</button>
      {% else %}
        <span class="group-arrow disabled">→</span>
      {% endif %}
    </div>
  </div>

  <!-- Grid Container -->
  <div id="plantListContainer" class="row">
    <!-- Display Plants for the Current Group -->
    {% for plant in plants %}
      {% include 'botany/partials/plant_card.html' %}
    {% empty %}
      <div class="col-12 text-center">
        <p>No plants in this group.</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block app_scripts %}
  <script src="{% static 'js/get_plant_group.js' %}"></script>
{% endblock %}
