{% extends "base.html" %}
{% load static %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'css/plant_card.css' %}">
{% endblock %}

<!-- Plant Grid -->
{% block content %}
  <!-- Grid Selector -->
  <div class="row align-items-center group-header">
    <div class="col-2 text-end">
        <button id="leftArrow" class="group-arrow" data-group-id="{{ prev_group_id }}">←</button>
    </div>
    <div class="col-8 text-center">
        <span id="currentGroupName">{{ current_group.name }}</span>
    </div>
    <div class="col-2 text-start">
        <button id="rightArrow" class="group-arrow" data-group-id="{{ next_group_id }}">→</button>
    </div>
  </div>
  <!-- Grid Container -->
  <div id="plantListContainer" data-current-group-id="{{ current_group.id }}" class="row">
    <!-- Plants will be loaded here by JavaScript -->
  </div>
  <p id="noPlantsMessage" class="text-center" style="display: none;">No plants found.</p>
{% endblock %}

{% block app_scripts %}
  <script src="{% static 'js/get_plant_group.js' %}"></script>
{% endblock %}
