{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2> Register a new plant </h2> 
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>
            {{ form.name.label_tag }} {{ form.name }}
        </p>
        <p>
            {{ form.description.label_tag }} {{ form.description }}
        </p>
        <p>
            {{ form.image.label_tag }} {{ form.image }}
        </p>
        <p>
            {{ form.quantity.label_tag }} {{ form.quantity }}
        </p>
        <p>
            {{ form.tsn.label_tag }}
            <select name="{{ form.tsn.name }}" id="tsnField" style="width:300px;">
                <!-- This can be left empty, options will be populated via AJAX -->
            </select>
        </p>
        <script src="{% static 'botany/js/tsn_field.js' %}"></script>

        <!-- Your additional image form -->
        <p>
            {{ image_form.as_p }}
        </p>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
