{% extends 'core/base.html' %}
{% load static %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'css/botany_styles.css' %}">
{% endblock %}

{% block content %}
  <h2>Register a New Plant</h2>
  <div class="form-container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Hidden Fields -->
      {{ form.user }}
      {{ form.nfc_tag }}
      
      <!-- Name Field -->
      <div class="form-field">
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>

      <!-- Description Field -->
      <div class="form-field">
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>

      <!-- Image Field -->
      <div class="form-field">
        {{ form.image.label_tag }}
        {{ form.image }}
      </div>

      <!-- Quantity Field -->
      <div class="form-field">
        {{ form.quantity.label_tag }}
        {{ form.quantity }}
      </div>

      <!-- Group Field -->
      <div class="form-field">
        {{ form.group.label_tag }}
        {{ form.group }}
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn-submit">Submit</button>
    </form>
  </div>
{% endblock %}

{% block app_scripts %} {% endblock %}
