{% extends 'core/base.html' %}
{% load static %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'css/botany_styles.css' %}">
{% endblock %}

{% block content %}
  <h2>Update Plant</h2>
  <div class="form-container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Quantity Field -->
      <div class="form-field">
        {{ form.quantity.label_tag }}
        {{ form.quantity }}
      </div>

      <!-- Image Field -->
      <div class="form-field">
        {{ form.image.label_tag }}
        {{ form.image }}
      </div>

      <!-- NFC Tag Field -->
      <div class="form-field">
        {{ form.nfc_tag.label_tag }}
        {{ form.nfc_tag }}
      </div>

      <!-- Group Field -->
      <div class="form-field">
        {{ form.group.label_tag }}
        {{ form.group }}
      </div>

      <!-- Watered Field -->
      <div class="form-field">
        {{ form.watered.label_tag }}
        {{ form.watered }}
      </div>

      <!-- Fertilized Field -->
      <div class="form-field">
        {{ form.fertilized.label_tag }}
        {{ form.fertilized }}
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn-submit">Update</button>
    </form>
  </div>
{% endblock %}

{% block app_scripts %}{% endblock %}
