{% extends 'base.html' %}

{% block title %}Upload Plant Image{% endblock %}

{% block content %}
<div class="container">
  <h1 class="my-4">Upload Plant Image</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    {% if form.errors %}
      <p style="color: red;">
        Your submission has errors. Please correct them and try again.
      </p>
    {% endif %}

    <button type="submit" class="btn btn-primary">Upload Image</button>
  </form>

</div>
{% endblock %}
