{% load wagtailcore_tags %}

<div class="block-heading">
  <div class="subtitle">{{ value.subtitle }}<br></div>
  {% if value.title_size == 'h2' %}
    <h2 class="heading">{{ value.title }}</h2>
  {% elif value.title_size == 'h3' %}
    <h3 class="heading">{{ value.title }}</h3>
  {% elif value.title_size == 'h2' %}
    <h2 class="heading">{{ value.title }}</h2>
  {% elif value.title_size == 'h3' %}
    <h3 class="heading">{{ value.title }}</h3>
  {% elif value.title_size == 'h4' %}
    <h4 class="heading">{{ value.title }}</h4>
  {% endif %}
</div>