<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "core/partials/head.html" %}
    {% block app_styles %}{% endblock %}
  </head>
    
  <body>
    {% include "core/partials/messages.html" %}
    {% include "core/partials/header.html" %}
    <main class="container app-main-container">
      {% block content %}
        <!-- Page-specific content goes here -->
      {% endblock %}
    </main>
    {% include "core/partials/footer.html" %}
    {% block app_scripts %}{% endblock %} 
  </body>
</html>