{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container text-center py-5">
    <!-- First row -->
    <div class="row row-equal-height mb-5">
        <div class="col">
            <!-- You can add some content or an image here for the top row -->
        </div>
    </div>

    <!-- Middle row with two columns -->
    <div class="row row-equal-height mb-5">
        <div class="col column-equal-width">
            <h1 class="mb-4">Welcome to CyBotany!</h1>
            <p class="lead mb-5">Your go-to platform for managing and growing your plants with the help of artificial intelligence.</p>
        </div>
        <div class="col column-equal-width">
            <!-- You can add another content section or a relevant image here for better user engagement -->
        </div>
    </div>

    <!-- Third row -->
    <div class="row row-equal-height">
        <div class="col">
            <!-- You can add some content or a CTA (Call to Action) button here for the bottom row -->
        </div>
    </div>
</div>

{% endblock %}
