{% extends 'base.html' %}

{% block title %}Welcome to CyBotany{% endblock %}

{% load static %}

{% block content %}

    <section class="container text-center py-5">
        <h1 class="mb-4">Welcome to CyBotany!</h1>
        <p class="lead mb-5">Your go-to platform for managing and growing your plants with the help of artificial intelligence.</p>
    </section>

    <section class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/plant.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Plant Management</h5>
                        <p><a href="{% url 'botany:home' %}" class="btn btn-sm btn-outline-secondary">Learn more</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/cea.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>CEA Management</h5>
                        <p><a href="{% url 'cea:home' %}" class="btn btn-sm btn-outline-secondary">Learn more</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/chatbot.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Chatbot</h5>
                        <p><a href="{% url 'chatbot:home' %}" class="btn btn-sm btn-outline-secondary">Learn more</a></p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

{% endblock %}
