{% extends "base.html" %}
{% load static %}

<!-- Core App Container -->
{% block content %}
<div class="container app-fullscreen-container">

  <!-- Hero Section -->
  {% include "core/hero_section.html" %}

  <!-- How It Works Section-->
  {% include "core/how_it_works.html" %}

  <!-- Trust Section -->
  {% include "core/trust_building.html" %}

  <!-- About Us Section -->
  {% include "core/about_us.html" %}

  <!-- Call to Action Section -->
  {% include "core/call_to_action.html" %}

</div>
{% endblock %}
