{% extends "base.html" %}
{% load static %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'core/css/tiles.css' %}">
{% endblock %}

<!-- Core App Container -->
{% block content %}
<div class="container app-fullscreen-container">
  <!-- First Row -->
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'botany:home' %}" class="tile-link">
        <div class="tile">
          <h2>Plants</h2>
        </div>
      </a>
    </div>
  </div>
  <!-- Second Row -->
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'itis:home' %}" class="tile-link">
        <div class="tile">
          <h2>Taxonomy</h2>
        </div>
      </a>
    </div>
  </div>
  <!-- Third Row -->
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'chatbot:home' %}" class="tile-link">
        <div class="tile">
          <h2>AI Assistant</h2>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
