{% extends "base.html" %}
{% load static %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'core/css/tiles.css' %}">
{% endblock %}

<!-- Core App Container -->
{% block content %}
<div class="container app-fullscreen-container">
  <!-- First Section -->
  <div class="row">
    <div class="col-md-12">What is it</div>
  </div>
  <!-- Second Section -->
  <div class="row">
    <div class="col-md-12"> How it works</div>
  </div>
  <!-- Third Section -->
  <div class="row">
    <div class="col-md-12">How we build trust</div>
  </div>
  <!-- Fourth Section -->
  <div class="row">
    <div class="col-md-12">Who we are and a call to action</div>
  </div>
</div>
{% endblock %}
