// Typography
$font-primary: 'Space Grotesk', sans-serif;
$font-secondary: 'IBM Plex Mono', monospace;

// Colors
$color-white: #ffffff;
$color-background: #f4f6f7;
$color-paragraph: rgba(20, 23, 24, 0.8);
$color-heading: #141718;
$color-border: rgba(15, 100, 146, 0.2);

$color-neutral-dark: #333333;
$color-neutral-light: #f2f2f2;

$color-navbar-background: rgba(138, 215, 160, 0.8);
$color-navbar-border: rgba(138, 215, 160, 0.3);

$color-strong-green: #00693e;
$color-strong-red: #bc0087;
$color-strong-blue: #3959ff;
$color-strong-yellow: #ffc107;

$color-accent-green: rgba(0, 135, 38, 0.07);
$color-accent-red: rgba(188, 0, 135, 0.07);
$color-accent-blue: rgba(57, 89, 255, 0.07);
$color-accent-yellow: rgba(255, 193, 7, 0.07);

$color-accent-success: rgba(138, 215, 160, 0.09);
$color-accent-error: rgba(229, 57, 53, 0.09);
$color-accent-warning: rgba(255, 193, 7, 0.09);
$color-accent-info: rgba(59, 111, 149, 0.09);

$color-pale-lime-green-background: rgba(199, 249, 204, 0.8);
$color-tea-green-background: rgba(208, 240, 192, 0.8);
$color-honeydew-background: rgba(240, 255, 240, 0.8);
