<footer>
  <section class="section-footer">
    <div class="content">
      <div class="layout-grid grid-footer">
        <div class="block-footer">
          <img src="{% static 'images/logo/logo.png' %}" loading="lazy" alt="" class="logo-footer">
          <div class="paragraph-footer">Built with Wagtail<br></div>
        </div>
        <div class="block-footer">
          <div class="subtitle-footer">Quick Links<br></div>
          <a href="https://www.facebook.com" target="_blank" class="link-footer">Facebook</a>
          <a href="https://twitter.com" target="_blank" class="link-footer">Twitter</a>
          <a href="https://www.youtube.com" target="_blank" class="link-footer">YouTube</a>
        </div>
  {% with twitter_url=settings.base.NavigationSettings.twitter_url github_url=settings.base.NavigationSettings.github_url mastodon_url=settings.base.NavigationSettings.mastodon_url %}
    {% if twitter_url or github_url or mastodon_url %}
      <p>
        Follow me on:
        {% if github_url %}
          <a href="{{ github_url }}">GitHub</a>
        {% endif %}
        {% if twitter_url %}
          <a href="{{ twitter_url }}">Twitter</a>
        {% endif %}
        {% if mastodon_url %}
          <a href="{{ mastodon_url }}">Mastodon</a>
          {% endif %}
        </p>
      {% endif %}
    {% endwith %}
      <div class="block-footer-down">
        <div class="text-footer-down">Copyright 2024 Cybotany, Institue. All Rights Reserved.<br></div>
      </div>
    </div>
  </section>
</footer>