{% load static wagtailcore_tags%}

<section class="section">
  <div class="content">
    <div class="block">
      <div class="block-assets">
        {% include 'profiles/includes/asset/category/default.html' %}
        {% if page.inventories.exists %}
          {% include 'profiles/includes/asset/category/list.html' %}
        {% else %}
          {% include 'profiles/includes/asset/category/add.html' %}
        {% endif %}
      </div>
    </div>
    <div class="asset-item-collection-wrapper base-dyn-list">
      <div role="list" class="asset-item-collection base-dyn-items">
        <div role="listitem" class="base-dyn-item">
          <div class="asset-item">
            <div class="block-icon-asset-item">
              <img src="{% static 'images/google/tree.svg' %}" alt="" loading="eager" class="icon-asset-item">
            </div>
            <a href="#" class="link-asset-item base-inline-block">
              <h3 class="heading-asset-item"></h3>
            </a>
            <div class="block-price">
              <div class="text-price">New Price</div>
              <div class="compare-at-price">Original Price</div>
            </div>
            <p class="paragraph-description"></p>
            <div class="subtitle-asset-item">Features<br></div>
            <div class="block-features-asset-item">
              <div class="features-asset-item">
                <img src="{% static 'images/bx/check-green.svg' %}" loading="eager" alt="" class="icon-features-asset-item">
                <h6 class="heading-features-asset-item"></h6>
              </div>
              <div class="features-asset-item">
                <img src="{% static 'images/bx/check-green.svg' %}" loading="eager" alt="" class="icon-features-asset-item">
                <h6 class="heading-features-asset-item"></h6>
              </div>
              <div class="features-asset-item">
                <img src="{% static 'images/bx/check-green.svg' %}" loading="eager" alt="" class="icon-features-asset-item">
                <h6 class="heading-features-asset-item"></h6>
              </div>
              <div class="features-asset-item">
                <img src="{% static 'images/bx/check-green.svg' %}" loading="eager" alt="" class="icon-features-asset-item">
                <h6 class="heading-features-asset-item"></h6>
              </div>
              <div class="features-asset-item">
                <img src="{% static 'images/bx/check-green.svg' %}" loading="eager" alt="" class="icon-features-asset-item">
                <h6 class="heading-features-asset-item"></h6>
              </div>
            </div>
            <a href="#" class="button base-button">View Asset</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>