{% load static %}

<section class="section">
  <div class="content">
    <div class="block-asset-categories block">
      <div class="collection-list-wrapper-categories base-dyn-list">
        <div role="list" class="collection-list-categories base-dyn-items">
          <div role="listitem" class="collection-item-categories base-dyn-item">
            <a href="{{ form_url }}" aria-current="page" class="link-asset-category base-inline-block base--current">
              <img src="{% static 'base/images/google/add-circle.svg' %}" loading="eager" alt="" class="icon-asset-category">
              <div class="text-asset-category">Add {{ form_model}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>