{% load static wagtailcore_tags wagtailimages_tags %}

{% if page.inventories.exists %}
  <div class="collection-list-wrapper-digits base-dyn-list">
    <div role="list" class="collection-list-digits base-dyn-items">
      {% for item in page.inventories.all %}
        <div role="listitem" class="base-dyn-item">
          <div class="block-digit">
            <a href="{{ item.detail_page.url }}" class="link-digit-thumbnail base-inline-block">
              <img alt="" loading="eager" src="" class="image-digit-thumbnail">
            </a>
            <div class="digit">
              <div class="date">{{ item.created_at }}</div>
              <a href="{{ item.detail_page.url }}" class="link-heading-digit base-inline-block">
                <h4 class="heading-digit">{{ item.name }}</h4>
              </a>
              <p class="paragraph-digit">{{ item.description }}</p>
              <a href="{{ item.detail_page.url }}" class="link-block base-inline-block">
                <div class="text-link">View Details</div>
                <div class="block-icon-link">
                  <img src="{% static 'images/bx/arrow-green.svg' %}" loading="eager" alt="" class="icon-link">
                </div>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}