.plant-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plant-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.plant-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.plant-card-img {
  width: 70%;
  height: 50px;
  object-fit: cover;
  display: block;
}

.plant-card-img-wrapper {
  max-height: 50px;
  overflow: hidden;
  padding: 10px 0;
}

.plant-card-header {
  margin-bottom: 0;
  font-size: 16px;
  color: var(--core-neutral-dark);
}

.plant-card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.plant-card-footer {
  margin-top: 0;
  font-size: 12px;
  color: var(--core-neutral-dark);
}

.link-bubble {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--core-info-color);
  border-radius: 50%;
}

.link-bubble:hover {
  background-color: rgba(33, 150, 243, 0.8);
}

.link-bubble-wrapper {
  display: inline-flex;
  align-items: center;
}

.no-image-placeholder {
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  font-size: 16px;
  font-weight: bold;
}