<section class="section">
  <div class="content">
    <div class="w-layout-grid grid-banner">
      <div class="block-banner">
        <div class="subtitle white">Are you ready?<br></div>
        <h2 class="heading banner">Your digital success story begins here</h2>
        <a data-w-id="fa5a991c-5956-883f-ada3-90790b0053fa" href="get-started.html" class="button yellow w-button">Get Started</a>
      </div>
      <div data-w-id="fa5a991c-5956-883f-ada3-90790b0053fc" class="lottie-banner">
        <div class="lines-d1">
          <div class="line-banner-w"></div>
          <div class="line-banner-w"></div>
          <div class="line-banner-w"></div>
          <div class="line-banner-w"></div>
          <div class="line-banner-w"></div>
          <div class="line-banner-w"></div>
        </div>
        <div class="lines-d2">
          <div class="line-banner-h"></div>
          <div class="line-banner-h"></div>
          <div class="line-banner-h"></div>
          <div class="line-banner-h"></div>
          <div class="line-banner-h"></div>
          <div class="line-banner-h"></div>
        </div>
        <div class="block-lottie-banner">
          <div data-w-id="fa5a991c-5956-883f-ada3-90790b00540c" data-is-ix2-target="1" class="lottie-animation-1-banner" data-animation-type="lottie" data-src="documents/Lottie-D1-Blue.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
          <div data-w-id="fa5a991c-5956-883f-ada3-90790b00540d" data-is-ix2-target="1" class="lottie-animation-2-banner" data-animation-type="lottie" data-src="documents/Lottie-D2-Yellow.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2" data-duration="0"></div>
          <div data-w-id="fa5a991c-5956-883f-ada3-90790b00540e" data-is-ix2-target="1" class="lottie-animation-2-blur-banner" data-animation-type="lottie" data-src="documents/Lottie-D2-Yellow.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2" data-duration="0"></div>
        </div>
      </div>
    </div>
  </div>
</section>
