{% load static %}
<section class="section">
  <div class="content">
    <div class="base-layout-grid grid">
      <div id="base-node-_PLACEHOLDER" data-w-id="PLACEHOLDER" class="block-reviews">
        <div id="base-node-PLACEHOLDER" class="reviews-wrapper">
          <div class="review-left">
            <div class="review">
              <div class="stars">
                <img src="{% static 'images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Lectus pulvinar diam et felis sed integer. Duis non quis vitae donec diam nunc tristique sit.</p>
              <div class="review-name">Morris Ferguson</div>
            </div>
          </div>
        </div>
        <div class="reviews-wrapper right">
          <div class="review-right">
            <div class="review">
              <div class="stars">
                <img src="{% static 'images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Lectus pulvinar diam et felis sed integer. Duis non quis vitae donec diam nunc tristique sit.</p>
              <div class="review-name">Morris Ferguson</div>
            </div>
          </div>
          <div class="gradient-reviews"></div>
        </div>
        <div id="base-node-PLACEHOLDER" class="block-right">
          <div class="subtitle">reviews<br></div>
          <h2 class="heading">Our clients&#x27; experiences speak volumes</h2>
          <p class="paragraph">A lobortis id augue consequat nunc. Consectetur in aliquet sit gravida non non. Elementum urna at pulvinar et purus cras urna eget aliquet. Non vulputate urna.</p>
          <a href="#" class="button base-button">More Reviews</a>
        </div>
      </div>
    </div>
  </div>
</section>