{% load static %}

<section class="section">
  <div class="content">
    <div class="block-heading center">
      <div class="subtitle">Features<br></div>
      <h2 class="heading">Hosting tailored to your needs</h2>
    </div>
    <div class="w-layout-grid grid-features">
      <div id="home-feature-1" class="features">
        <div class="block-heading-features">
          <img src="{% static 'base/images/lightning.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">99.99% Uptime</h5>
        </div>
        <p class="paragraph-features">A suspendisse volutpat tincidunt nibh ut nibh accumsan amet neque. Id nisl porttitor non sem posuere.</p>
      </div>
      <div id="home-feature-2" class="features">
        <div class="block-heading-features">
          <img src="{% static 'base/images/ibm/cloud-hyper-protect-dbaas.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">Advanced Security</h5>
        </div>
        <p class="paragraph-features">Platea vitae venenatis turpis eu facilisis rhoncus condimentum sit urna. A pretium eget nisl pharetra.</p>
      </div>
      <div id="home-feature-3" class="features">
        <div class="block-heading-features">
          <img src="{% static 'base/images/container-registry.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">Unlimited Scaling</h5>
        </div>
        <p class="paragraph-features">Varius ut sed vel faucibus nisl aliquam placerat facilisi felis. Elit tellus tortor quam massa. Rutrum id mauris.</p>
      </div>
    </div>
  </div>
</section>


