{% load wagtailcore_tags wagtailimages_tags %}

<section class="section">
  <div class="content">
    <div class="block-heading center">
      <div class="subtitle">{{ page.feature_subtitle }}<br></div>
      <h2 class="heading">{{ page.feature_heading }}</h2>
    </div>
    <div class="base-layout-grid grid-features">
      {% for feature in page.feature.all %}
      <div class="features">
        <div class="block-heading-features">
          {% if feature.icon %}
            {% image feature.icon original class="icon-features" %}
          {% endif %}
          <h5 class="heading-features">{{ feature.heading }}</h5>
        </div>
        <p class="paragraph-features">{{ feature.paragraph }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
