{% load static %}

<section class="section">
  <div class="content">
    <div class="block-heading center">
      <div class="subtitle"><br></div>
      <h2 class="heading"></h2>
    </div>
    <div class="base-layout-grid grid-features">
      <div id="home-feature-1" class="features">
        <div class="block-heading-features">
          <img src="{% static 'images/lightning.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">99.99% Uptime</h5>
        </div>
        <p class="paragraph-features">A suspendisse volutpat tincidunt nibh ut nibh accumsan amet neque. Id nisl porttitor non sem posuere.</p>
      </div>
      <div id="home-feature-2" class="features">
        <div class="block-heading-features">
          <img src="{% static 'images/ibm-cloud-hyper-protect-dbaas.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">Advanced Security</h5>
        </div>
        <p class="paragraph-features">Platea vitae venenatis turpis eu facilisis rhoncus condimentum sit urna. A pretium eget nisl pharetra.</p>
      </div>
      <div id="home-feature-3" class="features">
        <div class="block-heading-features">
          <img src="{% static 'images/container-registry.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">Unlimited Scaling</h5>
        </div>
        <p class="paragraph-features">Varius ut sed vel faucibus nisl aliquam placerat facilisi felis. Elit tellus tortor quam massa. Rutrum id mauris.</p>
      </div>
      <div id="home-feature-4" class="features">
        <div class="block-heading-features">
          <img src="{% static 'images/headset.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">24/7 Expert Support</h5>
        </div>
        <p class="paragraph-features">Faucibus imperdiet iaculis sed ultrices proin feugiat at nunc libero. Quis nullam integer natoque aliquam.</p>
      </div>
      <div id="home-feature-5" class="features">
        <div class="block-heading-features">
          <img src="{% static 'images/ibm-watson-machine-learning.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">Unmetered Bandwidth</h5>
        </div>
        <p class="paragraph-features">Viverra pulvinar sed amet lacinia in volutpat quis. Risus gravida mauris augue at. Risus placerat mattis proin eget.</p>
      </div>
      <div id="home-feature-6" class="features">
        <div class="block-heading-features">
          <img src="{% static 'images/ibm-cloud-hyper-protect-crypto-services.svg' %}" loading="eager" alt="" class="icon-features">
          <h5 class="heading-features">Free SSL Certificate</h5>
        </div>
        <p class="paragraph-features">Vitae pharetra pretium morbi cursus pretium mauris lorem pellentesque. Fames mattis lorem blandit.</p>
      </div>
    </div>
  </div>
</section>


