{% load static %}
<section class="section">
  <div class="content">
    <div class="block-heading center">
      <div class="subtitle">Got questions?<br></div>
      <h2 class="heading">Frequently Asked Questions</h2>
    </div>
    <div class="base-layout-grid grid-faq">
      <div class="block-faq">
        <div class="accordion-item">
          <div class="accordion-header">
            <h6 class="heading-accordion">What type of web hosting do I need?</h6>
            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion">
              <img src="{% static 'images/bx/close.svg' %}" loading="eager" alt="" class="icon-accordion"></div>
          </div>
          <div style="height:0px;display:none" class="accordion-content">
            <p class="paragraph-accordion">Euismod tristique vulputate vel lobortis. Mollis tellus neque gravida aliquet. Vel aliquet netus leo posuere.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>