{% load static wagtailcore_tags wagtailimages_tags %}

<section class="section-hero">
  <div class="content">
    <div class="w-layout-grid grid-hero">
      <div id="hero-content" class="block-hero">
        <h1 class="heading-hero">Transform your digital world with hosting excellence</h1>
        <p class="paragraph-hero">Your Website Deserves the Best - Choose Hosting that Delivers Excellence Every Time!</p>
        <div class="button-hero">
          <a href="#" class="button w-button">Get Started</a>
          <a href="#" class="link-button w-inline-block">
            <img src="{% static 'base/images/bx/support.svg' %}" loading="eager" alt="" class="icon-button">
            <div class="text-button">Support Center</div>
          </a>
        </div>
      </div>
      <div id="hero-lottie" data-id="" class="lottie">
        <div class="lines-a1">
          <div class="line-w"></div>
          <div class="line-w"></div>
          <div class="line-w"></div>
          <div class="line-w"></div>
          <div class="line-w"></div>
          <div class="line-w"></div>
        </div>
        <div class="lines-a2">
          <div class="line-h"></div>
          <div class="line-h"></div>
          <div class="line-h"></div>
          <div class="line-h"></div>
          <div class="line-h"></div>
          <div class="line-h"></div>
        </div>
          <div class="block-lottie">
            <div class="lottie-animation-1" data-id="" data-animation-type="lottie" data-src="{% static 'base/documents/lottie/A1-White.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-id="" data-animation-type="lottie" data-src="{% static 'base/documents/lottie/A2-Green.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="19.5" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-id="" data-animation-type="lottie" data-src="{% static 'base/documents/lottie/A2-Green.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="19.5" data-duration="0"></div>
          </div>
          <div class="features-lottie">
            <div data-id="lottie-feature-1" class="feature-lottie-block">
              <img src="{% static 'base/images/bx/check-shield.svg' %}" loading="eager" alt="" class="icon-feature-lottie">
              <div class="text-feature-lottie">Advanced Security</div>
            </div>
            <div data-id="lottie-feature-2" class="feature-lottie-block a2">
              <img src="{% static 'base/images/bx/tachometer.svg' %}" loading="eager" alt="" class="icon-feature-lottie">
              <div class="text-feature-lottie">Performance</div>
            </div>
            <div data-id="lottie-feature-3" class="feature-lottie-block a3">
              <img src="{% static 'base/images/rocket.svg' %}" loading="eager" alt="" class="icon-feature-lottie">
              <div class="text-feature-lottie">99.99% Uptime</div>
            </div>
            <div data-id="lottie-feature-4" class="feature-lottie-block a4">
              <img src="{% static 'base/images/bx/cloud-snow.svg' %}" loading="eager" alt="" class="icon-feature-lottie">
              <div class="text-feature-lottie">Unlimited Scaling</div>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </section>