{% load static wagtailcore_tags wagtailimages_tags %}

<section class="section">
  <div class="content">
    <div class="base-layout-grid grid">
      <div id="" data-id="" class="block-reviews">
        <div id="" class="reviews-wrapper">
          <div class="review-left">
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Lectus pulvinar diam et felis sed integer. Duis non quis vitae donec diam nunc tristique sit.</p>
              <div class="review-name">Morris Ferguson</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Viverra pulvinar sed amet lacinia in volutpat quis. Risus gravida mauris augue at.</p>
              <div class="review-name">June Dolton</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Bibendum urna purus mauris egestas faucibus dolor parturient morbi mi. Euismod tristique placerat pretium vitae.</p>
              <div class="review-name">Nancy Harmon</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Amet neque eu mauris sed vivamus. Sit cursus arcu mi risus pretium lectus eget. Libero mauris eu viverra lacus in semper sit ullamcorper aliquet. </p>
              <div class="review-name">Priscilla Ogley</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Sed malesuada auctor dui interdum id. Sollicitudin in orci velit enim. Proin viverra blandit</p>
              <div class="review-name">Garth Perkins</div>
            </div>
          </div>
          <div class="review-left">
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Lectus pulvinar diam et felis sed integer. Duis non quis vitae donec diam nunc tristique sit.</p>
              <div class="review-name">Morris Ferguson</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Viverra pulvinar sed amet lacinia in volutpat quis. Risus gravida mauris augue at.</p>
              <div class="review-name">June Dolton</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Bibendum urna purus mauris egestas faucibus dolor parturient morbi mi. Euismod tristique placerat pretium vitae.</p>
              <div class="review-name">Nancy Harmon</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Amet neque eu mauris sed vivamus. Sit cursus arcu mi risus pretium lectus eget. Libero mauris eu viverra lacus in semper sit ullamcorper aliquet. </p>
              <div class="review-name">Priscilla Ogley</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Sed malesuada auctor dui interdum id. Sollicitudin in orci velit enim. Proin viverra blandit</p>
              <div class="review-name">Garth Perkins</div>
            </div>
          </div>
        </div>
        <div class="reviews-wrapper right">
          <div class="review-right">
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Lectus pulvinar diam et felis sed integer. Duis non quis vitae donec diam nunc tristique sit.</p>
              <div class="review-name">Morris Ferguson</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Viverra pulvinar sed amet lacinia in volutpat quis. Risus gravida mauris augue at.</p>
              <div class="review-name">June Dolton</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Bibendum urna purus mauris egestas faucibus dolor parturient morbi mi. Euismod tristique placerat pretium vitae.</p>
              <div class="review-name">Nancy Harmon</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Amet neque eu mauris sed vivamus. Sit cursus arcu mi risus pretium lectus eget. Libero mauris eu viverra lacus in semper sit ullamcorper aliquet. </p>
              <div class="review-name">Priscilla Ogley</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Sed malesuada auctor dui interdum id. Sollicitudin in orci velit enim. Proin viverra blandit</p>
              <div class="review-name">Garth Perkins</div>
            </div>
          </div>
          <div class="review-right">
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Lectus pulvinar diam et felis sed integer. Duis non quis vitae donec diam nunc tristique sit.</p>
              <div class="review-name">Morris Ferguson</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Viverra pulvinar sed amet lacinia in volutpat quis. Risus gravida mauris augue at.</p>
              <div class="review-name">June Dolton</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Bibendum urna purus mauris egestas faucibus dolor parturient morbi mi. Euismod tristique placerat pretium vitae.</p>
              <div class="review-name">Nancy Harmon</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Amet neque eu mauris sed vivamus. Sit cursus arcu mi risus pretium lectus eget. Libero mauris eu viverra lacus in semper sit ullamcorper aliquet. </p>
              <div class="review-name">Priscilla Ogley</div>
            </div>
            <div class="review">
              <div class="stars">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
                <img src="{% static 'base/images/bx/star.svg' %}" loading="eager" alt="" class="icon-star">
              </div>
              <p class="paragraph-review">Sed malesuada auctor dui interdum id. Sollicitudin in orci velit enim. Proin viverra blandit</p>
              <div class="review-name">Garth Perkins</div>
            </div>
          </div>
        </div>
        <div class="gradient-reviews"></div>
      </div>
      <div id="" class="block-right">
        <div class="subtitle">reviews<br></div>
        <h2 class="heading">Our clients&#x27; experiences speak volumes</h2>
        <p class="paragraph">A lobortis id augue consequat nunc. Consectetur in aliquet sit gravida non non. Elementum urna at pulvinar et purus cras urna eget aliquet. Non vulputate urna.</p>
        <a href="#" class="button base-button">More Reviews</a>
      </div>
    </div>
  </div>
</section>