{% load static wagtailcore_tags wagtailimages_tags %}

<section class="section">
  <div class="content">
    <div class="block-heading center">
      <div class="subtitle">Get in Touch<br></div>
      <h2 class="heading large">Have questions? Contact us for expert advice</h2>
    </div>
    <div class="lottie-wrapper">
      <div class="contact-lottie">
        <a href="#" class="contact-lottie-link base-inline-block">
          <div class="block-icon-contact-lottie">
            <img src="{% static 'base/images/bx/chat-launch.svg' %}" loading="eager" alt="" class="icon-contact-lottie">
          </div>
          <div class="block-heading-contact-lottie">
            <h4 class="heading-contact-lottie">Chat us</h4>
            <div class="text-contact-lottie">Live Chat</div>
          </div>
        </a>
        <a href="mailto:support@yoursite.com" class="contact-lottie-link a2 base-inline-block">
          <div class="block-icon-contact-lottie">
            <img src="{% static 'base/images/bx/email.svg' %}" loading="eager" alt="" class="icon-contact-lottie">
          </div>
          <div class="block-heading-contact-lottie">
            <h4 class="heading-contact-lottie">Email us</h4>
            <div class="text-contact-lottie">support@yoursite.com</div>
          </div>
        </a>
        <a href="tel:+1(888)123-4567" class="contact-lottie-link a3 base-inline-block">
          <div class="block-icon-contact-lottie">
            <img src="{% static 'base/images/bx/phone-voice.svg' %}" loading="eager" alt="" class="icon-contact-lottie">
          </div>
          <div class="block-heading-contact-lottie">
            <h4 class="heading-contact-lottie">Call us</h4>
            <div class="text-contact-lottie">+1 (888) 123-4567</div>
          </div>
        </a>
      </div>
      <div id="support-lottie" data-id="" class="lottie">
        <div class="lines-c1">
          <div class="line-w"></div>
          <div class="line-w"></div>
          <div class="line-w"></div>
        </div>
        <div class="lines-c2">
          <div class="line-h"></div>
          <div class="line-h"></div>
          <div class="line-h"></div>
          <div class="line-h"></div>
          <div class="line-h"></div>
          <div class="line-h"></div>
          <div class="line-h"></div>
          <div class="line-h"></div>
        </div>
        <div class="block-lottie">
          <div class="lottie-animation-1" data-id="" data-animation-type="lottie" data-src="{% static 'base/documents/lottie/C1-White.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
          <div class="lottie-animation-2" data-id="" data-animation-type="lottie" data-src="{% static 'base/documents/lottie/C2-Blue.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="12.5" data-duration="0"></div>
          <div class="lottie-animation-2-blur" data-id="" data-animation-type="lottie" data-src="{% static 'base/documents/lottie/C2-Blue.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="12.5" data-duration="0"></div>
        </div>
      </div>
    </div>
  </div>
</section>