.contact-lottie {
  z-index: 20;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 6%;
  padding-bottom: 6%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.contact-lottie-link {
  min-width: 18em;
  grid-column-gap: 1.44em;
  background-color: var(--accent-green);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: .64em;
  justify-content: flex-start;
  align-items: center;
  margin-right: 28%;
  padding-top: .87em;
  padding-bottom: .87em;
  padding-right: 2em;
  text-decoration: none;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.contact-lottie-link:hover {
  box-shadow: inset 0 0 0 2px var(--strong-green);
}

.contact-lottie-link.a2 {
  margin-right: -33%;
}

.contact-lottie-link.a3 {
  margin-right: 16%;
}

.icon-contact-lottie {
  width: 2em;
  height: 2em;
}

.block-icon-contact-lottie {
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -.94em;
  padding: 1.1em;
  display: flex;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.heading-contact-lottie {
  color: var(--strong-green);
  font-weight: 500;
}

.block-heading-contact-lottie {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.text-contact-lottie {
  max-width: 11em;
  opacity: .5;
  color: var(--strong-green);
  letter-spacing: -.02em;
  font-size: .87em;
  font-weight: 500;
  line-height: 130%;
}

@media screen and (max-width: 479px) {
  .contact {
    padding: 2em;
  }

  .contact-lottie-link {
    min-width: 15em;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-right: 0%;
    font-size: .9em;
  }

  .contact-lottie-link.a2,
  .contact-lottie-link.a3 {
    margin-right: 0%;
  }
}