/* CSS styles for Botany app */

.plant-card-image {
    width: 100%;      /* Ensures the image takes the full width of its container */
    height: 200px;    /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the entire content box */
    margin: 10px;     /* Adds space around the image */
}
