/* CSS styles for Botany app */

#left-container {
    float: left;
    width: 65%;
    padding: 20px;
    background-color: var(--accent-color);
    border-radius: 15px;
    margin-right: 2%;
}
  
#right-container {
    float: right;
    width: 30%;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 15px;
}
