/* Alignment Classes */
.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text Classes */
.text-primary {
  color: var(--core-primary-color);
}
  
.text-secondary {
  color: var(--core-secondary-color);
}

/* Background Classes */
.bg-primary {
  background-color: var(--core-primary-color);
}
  
.bg-secondary {
  background-color: var(--core-secondary-color);
}

/* Shadow Classes */
.shadow-sm {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
  
.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}