  <section class="section">
    <div style="opacity:0" class="content">
      <div class="w-layout-grid grid">
        <div id="w-node-_462e3ae4-d17a-4ca9-c67e-daf8b068f90e-0e941739" data-w-id="462e3ae4-d17a-4ca9-c67e-daf8b068f90e" class="lottie">
          <div class="lines-b1">
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
          </div>
          <div class="lines-b2">
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div data-w-id="462e3ae4-d17a-4ca9-c67e-daf8b068f91e" data-is-ix2-target="1" class="lottie-animation-1" data-animation-type="lottie" data-src="documents/Lottie-B1-White.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-w-id="462e3ae4-d17a-4ca9-c67e-daf8b068f91f" data-animation-type="lottie" data-src="documents/Lottie-B2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-w-id="462e3ae4-d17a-4ca9-c67e-daf8b068f920" data-animation-type="lottie" data-src="documents/Lottie-B2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
          </div>
        </div>
        <div id="w-node-a033bb4d-fb8b-e335-6cb2-c443ca8c4bc8-0e941739" class="block-right">
          <div class="subtitle">Company<br></div>
          <h2 class="heading">Real solutions for real web pros</h2>
          <p class="paragraph">Sit venenatis mattis fringilla molestie duis sit diam enim. Sed tempor habitasse mi duis tincidunt aliquet metus at. Cursus iaculis ac enim risus quam vulputate.</p>
          <div class="w-layout-grid grid-numbers">
            <div id="w-node-_418ca167-2aa7-6102-c555-e760a541672d-0e941739" class="numbers"><img src="images/app-connectivity.svg" loading="eager" alt="" class="icon-numbers">
              <h4 class="heading-numbers">3,500,000+</h4>
              <div class="text-numbers">websites currently hosted.</div>
            </div>
            <div id="w-node-_789e64b8-db23-92f3-fc78-b228e61599d1-0e941739" class="numbers green"><img src="images/content-delivery-network.svg" loading="eager" alt="" class="icon-numbers">
              <h4 class="heading-numbers green">50,000+</h4>
              <div class="text-numbers green">servers around the world</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>