/****************************************************
 * Landing Page - Call To Action Section
 ****************************************************/
.grid-banner {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  background-color: var(--core-primary-color);
  border-radius: .87em;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.block-banner {
  z-index: 50;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  display: flex;
  position: relative;
}

.heading.banner {
  color: var(--white);
  text-align: center;
  align-self: auto;
  margin-bottom: .7em;
}

@media screen and (max-width: 767px) {
  .grid-banner {
    grid-template-columns: 1fr;
  }

  .block-banner {
    padding: 4em 10%;
  }

  .lottie-banner {
    position: relative;
    top: 0%;
  }
}

@media screen and (max-width: 479px) {
  .block-banner {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}