.section-footer {
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 3.75em 2em 0;
  display: flex;
}

.grid-footer {
  grid-column-gap: 1.4em;
  grid-row-gap: 0em;
  grid-template: "Area"
  / 2.4fr 1fr 1fr;
  margin-bottom: 7.5em;
}

.block-footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo-footer {
  height: 1.56em;
  flex: 0 auto;
  margin-bottom: 1.8em;
}

.subtitle-footer {
  color: rgba(20, 23, 24, .5);
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: 1.7em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.link-footer {
  color: var(--heading);
  letter-spacing: -.02em;
  padding-top: .44em;
  padding-bottom: .44em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
}

.link-footer:hover {
  color: var(--core-primary-color);
}

.block-footer-down {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3em;
  display: flex;
}

.text-footer-down {
  color: var(--heading);
  text-decoration: none;
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 165%;
}

.link-footer-down:hover {
  color: var(--core-primary-color);
}

@media screen and (max-width: 767px) {
  .section-footer {
    padding-top: 3em;
  }

  .grid-footer {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6em;
  }

  .block-footer-down {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 479px) {
  .section-footer {
    padding-top: 2.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .grid-footer {
    grid-template-columns: 1fr;
    margin-bottom: 5em;
  }

  .block-footer {
    text-align: center;
    align-items: center;
  }

  .block-footer-down {
    text-align: center;
    justify-content: center;
    margin-bottom: 1.5em;
  }
}