.navbar {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .7em;
  padding: 1.1em 2em;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.base-nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}

.base-nav:before, .base-nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.base-nav:after {
  clear: both;
}

.base-nav[data-collapse="all"] .base-nav-menu {
  display: none;
}

.base-nav[data-collapse="all"] .base-nav-button {
  display: block;
}

.nav-block {
  width: 100%;
  max-width: 75em;
  grid-column-gap: 1em;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.brand {
  flex: none;
  margin-right: .5em;
  padding: .5em .3em;
}

.brand-center {
  flex: none;
  margin-top: 1.2em;
  margin-left: auto;
  margin-right: auto;
  padding: .5em .3em;
}

.base-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}

.logo {
  height: 5.5em;
}

.nav {
  grid-column-gap: .5em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: center;
  align-items: center;
  display: flex;
}

.base-nav-menu {
  position: relative;
  float: right;
}

.button-desktop {
  grid-column-gap: .5em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-mobile {
  grid-column-gap: .5em;
  grid-row-gap: 1em;
  justify-content: center;
  align-items: center;
  display: none;
}

.nav-button {
  background-color: var(--heading);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  padding: .7em 1.4em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.nav-button:hover {
  background-color: var(--core-primary-color);
  box-shadow: 0 15px 40px -10px var(--core-primary-color);
}

.nav-button-outline {
  box-shadow: 0 0 0 -10px var(--core-primary-color), inset 0 0 0 2px var(--core-primary-color);
  color: var(--core-primary-color);
  letter-spacing: -.02em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50em;
  padding: .7em 1.4em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), color .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.nav-button-outline:hover {
  background-color: var(--core-primary-color);
  box-shadow: 0 15px 40px -10px var(--core-primary-color), inset 0 0 0 2px var(--core-primary-color);
  color: var(--white);
}

.base-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

input.base-button {
  -webkit-appearance: button;
}

.menu-button {
  background-color: var(--white);
  color: var(--heading);
  border-radius: 50em;
  padding: .6em;
  font-size: 1.2em;
  transition: color .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
  box-shadow: 0 15px 20px -5px rgba(20, 23, 24, .1);
}

.menu-button.w--open {
  background-color: var(--heading);
  color: var(--white);
}

.base-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.base-nav-button:focus {
  outline: 0;
}

.base-nav-button.base--open {
  background-color: #C8C8C8;
  color: white;
}

.icon-menu {
  width: 1.5em;
  height: 1.5em;
}

.nav-link {
  color: var(--heading);
  letter-spacing: -.02em;
  padding: .7em 1.2em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
}

.nav-link:hover {
  color: var(--core-primary-color);
}

.nav-link.base--current {
  color: var(--heading);
}

.nav-link.base--current:hover {
  color: var(--core-primary-color);
}

.base-icon-nav-menu:before {
  content: "\e602";
}

@media screen and (max-width: 991px) {
  .base-nav[data-collapse="medium"] .base-nav-menu {
    display: none;
  }

  .base-nav[data-collapse="medium"] .base-nav-button {
    display: block;
  }

  .nav-menu {
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    background-color: var(--white);
    padding: 1.2em 1em;
    box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
  }

  .menu-button {
    background-color: var(--white);
    color: var(--heading);
    border-radius: 50em;
    padding: .6em;
    font-size: 1.2em;
    transition: color .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
    box-shadow: 0 15px 20px -5px rgba(20, 23, 24, .1);
  }

  .menu-button.base--open {
    background-color: var(--heading);
    color: var(--white);
  }
}

@media screen and (max-width: 767px) {
  .base-nav[data-collapse="small"] .base-nav-menu {
    display: none;
  }

  .base-nav[data-collapse="small"] .base-nav-button {
    display: block;
  }

  .base-nav-brand {
    padding-left: 10px;
  }

  .button-desktop {
    display: none;
  }

  .button-mobile {
    flex-direction: column;
    align-items: flex-start;
    margin-top: .5em;
    margin-bottom: .8em;
    padding-left: .5em;
    padding-right: .5em;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
  }

  .base-nav[data-collapse="tiny"] .base-nav-menu {
    display: none;
  }

  .base-nav[data-collapse="tiny"] .base-nav-button {
    display: block;
  }

  .nav-menu {
    padding-left: .5em;
    padding-right: .5em;
  }
}
