.embed:before, .embed:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.embed:after {
  clear: both;
}

.video {
  width: 100%;
  position: relative;
  padding: 0;
}

.video iframe, .video object, .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.background-video {
  position: relative;
  overflow: hidden;
  height: 500px;
  color: white;
}

.background-video>video {
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  right: -100%;
  bottom: -100%;
  top: -100%;
  left: -100%;
  object-fit: cover;
  z-index: -100;
}

.background-video>video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.background-video--control {
  position: absolute;
  bottom: 1em;
  right: 1em;
  background-color: transparent;
  padding: 0;
}

.background-video--control>[hidden] {
  display: none !important;
}