/****************************************************
 * Company Page - About Us Section
 ****************************************************/
 .grid-about {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.about {
  grid-row-gap: 1.2em;
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;
}

.about.red {
  background-color: var(--accent-red);
}

.about.blue {
  background-color: var(--accent-blue);
}

.about.green {
  background-color: var(--accent-green);
}

.block-icon-about {
  width: 4.5em;
  height: 4.5em;
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-icon-about.red {
  background-color: var(--strong-red);
}

.block-icon-about.blue {
  background-color: var(--strong-blue);
}

.block-icon-about.green {
  background-color: var(--strong-green);
}

.icon-about {
  width: 2em;
  height: 2em;
}

.heading-about.red{
  color: var(--strong-red);
}

.paragraph-about.red {
  color: var(--strong-red);
}

.heading-about.blue{
  color: var(--strong-blue);
}

.paragraph-about.blue {
  color: var(--strong-blue);
}

.heading-about.green{
  color: var(--strong-green);
}

.paragraph-about.green {
  color: var(--strong-green);
}

/****************************************************
 * Company Page - Lottie Section
 ****************************************************/
.lines-b1 {
  z-index: 5;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 4%;
  padding-right: 13%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lines-b2 {
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 12%;
  padding-bottom: 12%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

/****************************************************
 * Company Page - Quote Section
 ****************************************************/
.block-right {
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0%;
  padding-right: 15%;
  display: flex;
}

.heading-quote {
  margin-bottom: 1.4em;
}

.block-quote {
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.block-name {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.heading-name {
  margin-bottom: .3em;
  line-height: 120%;
}

.text-role {
  color: rgba(20, 23, 24, .7);
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.signature {
  height: 3.7em;
}

/****************************************************
 * Company Page - Team Section
 ****************************************************/
.grid-team {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
}

.team {
  background-color: var(--white);
  border-radius: .87em;
  padding: 1em;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.image-team {
  object-fit: cover;
  border-radius: .6em;
}

.block-team {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.3em 1em .6em;
  display: flex;
}

@media screen and (max-width: 991px) {
  .grid-about {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid-about {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .about {
    padding: 2em;
  }
}