/***********************************************************************************************
 *  Digit Page - Detail Section
 **********************************************************************************************/
.image-main-digit {
  width: 100%;
  object-fit: cover;
  border-radius: .87em;
}

.journal-container {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.digit-body {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  padding: 4em 13%;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.digit-main-image {
  width: 100%;
  object-fit: cover;
  border-radius: .87em;
}

.digit-modification-link {
  margin-bottom: 1.3em;
  text-decoration: none;
}
  
.digit-modification-link.large {
  margin-bottom: 1.4em;
}

/***********************************************************************************************
 *  Digit Page - Taxonomy Section
 **********************************************************************************************/
.grid-taxonomy {
  display: grid;
  grid-gap: 20px;
  grid-column-gap: 2em;
  grid-row-gap: 1.8em;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.taxonomy {
  grid-column-gap: 1.3em;
  grid-row-gap: 1.3em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
}

.block-heading-taxonomy {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-taxonomy {
  color: var(--primary-color);
}

.paragraph-taxonomy {
  max-width: 20em;
}

.icon-taxonomy {
  width: 2em;
  height: 2em;
}

/***********************************************************************************************
 *  Digit Page - Care Section
 **********************************************************************************************/
.grid-care {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.care {
  grid-row-gap: 1.2em;
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;
}

.care.red {
  background-color: var(--accent-b1);
}

.care.blue {
  background-color: var(--accent-b2);
}

.care.green {
  background-color: var(--accent-b3);
}

.block-icon-care {
  width: 4.5em;
  height: 4.5em;
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-icon-care.red {
  background-color: var(--error-color);
}

.block-icon-care.blue {
  background-color: var(--info-color);
}

.block-icon-care.green {
  background-color: var(--primary-color);
}

.icon-care {
  width: 2em;
  height: 2em;
}

.heading-care.red{
  color: var(--strong-red);
}

.heading-care.blue{
  color: var(--strong-blue);
}

.heading-care.green{
  color: var(--strong-green);
}

.paragraph-care.red {
  color: var(--strong-red);
}

.paragraph-care.blue {
  color: var(--strong-blue);
}

.paragraph-care.green {
  color: var(--strong-green);
}

/***********************************************************************************************
 *  Digit Page - Journal Entry Section
 **********************************************************************************************/
.page-body {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  margin-bottom: 1em;
  padding: 5em 13%;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.grid-faq {
  grid-column-gap: 1.13em;
  grid-row-gap: 1.13em;
  grid-template-rows: auto;
  align-items: start;
}

.block-faq {
  grid-column-gap: 1.13em;
  grid-row-gap: 1.13em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.accordion-item {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  padding-left: 1.8em;
  padding-right: 1.2em;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.accordion-header {
  grid-column-gap: 1em;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: padding .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.accordion-header:hover {
  padding-left: .3em;
  padding-right: .3em;
}

.heading-accordion {
  margin-top: .3em;
  margin-bottom: .3em;
}

.block-icon-accordion {
  width: 2.12em;
  height: 2.12em;
  background-color: var(--accent-red);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-accordion {
  width: 1.5em;
  height: 1.5em;
  flex: none;
}

.accordion-content {
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 991px) {  
  .digit-body {
    padding-left: 10%;
    padding-right: 10%;
  }

  .grid-care {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr;
  }

  .page-body {
    padding: 4em 10%;
  }
}

@media screen and (max-width: 767px) {
  .grid-features {
    grid-template-columns: 1fr 1fr;
  }

  .grid-care {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr;
  }

  .digit-body {
    padding-top: 2.9em;
    padding-bottom: 2.9em;
  }
}

@media screen and (max-width: 479px) {
  .digit-body {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .care {
    padding: 2em;
  }

  .page-body {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}