/* Styles to make Select2 field match other input fields */
.select2-container--default .select2-selection--single {
  height: 38px;
  padding: 8px 12px;
  border: 1px solid #cccccc;
  border-radius: 0;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 22px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
}

.select2-container--default .select2-results__option {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #eeeeee;
}