/****************************************************
 * Landing Page - Hero Call To Action Section
 ****************************************************/
 .section-hero {
  justify-content: center;
  align-items: center;
  padding: 3.5em 2em 3.75em;
  display: flex;
}

.grid-hero {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
}

.block-hero {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.heading-hero {
  max-width: 11.5em;
  margin-bottom: .38em;
}

.paragraph-hero {
  max-width: 26em;
  margin-bottom: 2em;
  font-size: 1.125em;
  line-height: 160%;
}

.button-hero {
  grid-column-gap: .5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

/****************************************************
 * Landing Page - Hero Lottie Section
 ****************************************************/
.lines-a1 {
  z-index: 5;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 6%;
  padding-right: 10.5%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lines-a2 {
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 11%;
  padding-bottom: 13%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.features-lottie {
  z-index: 20;
  grid-row-gap: 2.7em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.feature-lottie-block {
  grid-column-gap: .6em;
  background-color: var(--accent-b1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: .64em;
  justify-content: center;
  align-items: center;
  margin-right: 43%;
  padding: .8em 1.1em;
  display: flex;
}

.feature-lottie-block.a2 {
  margin-right: 5%;
}

.feature-lottie-block.a3 {
  margin-right: 58%;
}

.feature-lottie-block.a4 {
  margin-right: 15%;
}

.icon-feature-lottie {
  width: 1.5em;
  height: 1.5em;
}

.text-feature-lottie {
  color: var(--primary-color);
  letter-spacing: -.02em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
}

/****************************************************
 * Landing Page - Features Section
 ****************************************************/
.block-heading {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1em;
  display: flex;
}

.grid-features {
  grid-column-gap: 2em;
  grid-row-gap: 1.8em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.features {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding-top: .8em;
  padding-bottom: .8em;
}

.block-heading-features {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-features {
  width: 2em;
  height: 2em;
}

.heading-features {
  margin-top: .3em;
  margin-bottom: .3em;
}

.paragraph-features {
  max-width: 20em;
}

/****************************************************
 * Landing Page - How it Works Section
 ****************************************************/
.block-left {
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0%;
  padding-right: 15%;
  display: flex;
}

/****************************************************
 * Landing Page - About Us Section
 ****************************************************/
.grid {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  align-items: center;
}

.lines-b1 {
  z-index: 5;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 4%;
  padding-right: 13%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lines-b2 {
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 12%;
  padding-bottom: 12%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.block-right {
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0%;
  padding-right: 15%;
  display: flex;
}

/****************************************************
 * Landing Page - FAQs Section
 ****************************************************/
.grid-faq {
  grid-column-gap: 1.13em;
  grid-row-gap: 1.13em;
  grid-template-rows: auto;
  align-items: start;
}

.block-faq {
  grid-column-gap: 1.13em;
  grid-row-gap: 1.13em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.accordion-item {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  padding-left: 1.8em;
  padding-right: 1.2em;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.accordion-header {
  grid-column-gap: 1em;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: padding .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.accordion-header:hover {
  padding-left: .3em;
  padding-right: .3em;
}

.heading-accordion {
  margin-top: .3em;
  margin-bottom: .3em;
}

.paragraph-accordion {
  max-width: 90%;
  margin-bottom: 1.6em;
}

.block-icon-accordion {
  width: 2.12em;
  height: 2.12em;
  background-color: var(--accent-b1);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-accordion {
  width: 1.5em;
  height: 1.5em;
  flex: none;
}

.icon-close {
  width: 1.5em;
  height: 1.5em;
}

.rotate-icon {
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  transition: transform 0.3s ease;
}

.accordion-content {
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .grid-about {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr;
  }

  .paragraph-hero {
    font-size: 1em;
  }

  .block-right {
    padding-left: 10%;
  }

  .block-left {
    padding-right: 10%;
  }
}

@media screen and (max-width: 767px) {
  .grid-hero {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr;
  }

  .block-hero {
    text-align: center;
    align-items: center;
  }

  .section-hero {
    padding-bottom: 3em;
  }

  .paragraph-hero {
    font-size: 1em;
  }

  .section {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .grid-features {
    grid-template-columns: 1fr 1fr;
  }

  .block-right {
    padding-left: 0%;
  }

  .grid {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr;
  }

  .grid-faq, .block-faq {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
  }

  .block-left {
    padding-right: 0%;
  }
}

@media screen and (max-width: 479px) {
  .section-hero {
    padding: 3em 1.5em 2.5em;
  }

  .button-hero {
    grid-row-gap: .5em;
    flex-direction: column;
  }

  .section {
    padding: 2.5em 1.5em;
  }
  
  .grid-features {
    grid-row-gap: 1.2em;
    grid-template-columns: 1fr;
  }

  .features {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding-top: .8em;
    padding-bottom: .8em;
  }

  .features-lottie {
    grid-row-gap: 1.5em;
  }

  .feature-lottie-block {
    margin-right: 31%;
  }

  .feature-lottie-block.a3 {
    margin-right: 38%;
  }

  .grid-faq {
    grid-template-columns: 1fr;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}