.base-dropdown {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;
}

.base-dropdown-btn,
.base-dropdown-toggle,
.base-dropdown-link {
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.base-dropdown-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
}
.base-dropdown-toggle:focus {
  outline: 0;
}

.base-icon-dropdown-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-right: 20px;
  width: 1em;
  height: 1em;
}

.base-dropdown-list {
  position: absolute;
  background: #dddddd;
  display: none;
  min-width: 100%;
}

.base-dropdown-list.base--open {
  display: block;
}

.base-dropdown-link {
  padding: 10px 20px;
  display: block;
  color: #222222;
}

.base-dropdown-link.base--current {
  color: #0082f3;
}

.base-dropdown-link:focus {
  outline: 0;
}