<section class="section-top">
    <div style="opacity:0" class="content">
      <div class="block-top">
        <h1 class="heading-top">Have questions? Contact us for expert advice</h1>
        <p class="paragraph-top">Nullam nisl nunc sit semper. Neque tristique enim fringilla ut volutpat. Vitae leo vitae duis rhoncus.</p>
      </div>
    </div>
  </section>
<section class="section">
    <div style="opacity:0" class="content">
      <div class="lottie-wrapper">
        <div class="contact-lottie">
          <a href="#" class="contact-lottie-link w-inline-block">
            <div class="block-icon-contact-lottie"><img src="images/chat-launch.svg" loading="eager" alt="" class="icon-contact-lottie"></div>
            <div class="block-heading-contact-lottie">
              <h4 class="heading-contact-lottie">Chat us</h4>
              <div class="text-contact-lottie">Live Chat</div>
            </div>
          </a>
          <a href="mailto:support@yoursite.com" class="contact-lottie-link a2 w-inline-block">
            <div class="block-icon-contact-lottie"><img src="images/email.svg" loading="eager" alt="" class="icon-contact-lottie"></div>
            <div class="block-heading-contact-lottie">
              <h4 class="heading-contact-lottie">Email us</h4>
              <div class="text-contact-lottie">support@yoursite.com</div>
            </div>
          </a>
          <a href="tel:+1(888)123-4567" class="contact-lottie-link a3 w-inline-block">
            <div class="block-icon-contact-lottie"><img src="images/phone-voice.svg" loading="eager" alt="" class="icon-contact-lottie"></div>
            <div class="block-heading-contact-lottie">
              <h4 class="heading-contact-lottie">Call us</h4>
              <div class="text-contact-lottie">+1 (888) 123-4567</div>
            </div>
          </a>
        </div>
        <div data-w-id="ed5f1cea-daa0-5df9-8b39-55c44c0ee1e6" class="lottie">
          <div class="lines-c1">
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
          </div>
          <div class="lines-c2">
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div data-w-id="ed5f1cea-daa0-5df9-8b39-55c44c0ee1f5" data-is-ix2-target="1" class="lottie-animation-1" data-animation-type="lottie" data-src="documents/Lottie-C1-White.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-w-id="ed5f1cea-daa0-5df9-8b39-55c44c0ee1f6" data-animation-type="lottie" data-src="documents/Lottie-C2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="12.5" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-w-id="ed5f1cea-daa0-5df9-8b39-55c44c0ee1f7" data-animation-type="lottie" data-src="documents/Lottie-C2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="12.5" data-duration="0"></div>
          </div>
        </div>
      </div>
      <div class="contact">
        <div class="subtitle blue">contact form<br></div>
        <h2 class="heading">Let&#x27;s Talk Hosting</h2>
        <div class="form-block w-form">
          <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form" data-wf-page-id="65b171706d216e500e941740" data-wf-element-id="4b1a2417-bbea-39ab-8d1d-a6bd085c0cae"><input class="text-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Name" type="text" id="name"><input class="text-field w-input" maxlength="256" name="email" data-name="Email" placeholder="Email" type="email" id="email" required=""><textarea placeholder="Message" maxlength="5000" id="Message" name="Message" data-name="Message" class="textarea w-input"></textarea><input type="submit" data-wait="Please wait..." class="submit-button w-button" value="Submit"></form>
          <div class="success-message w-form-done">
            <div class="text-success">Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div class="text-error">Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div style="opacity:0" class="content">
      <div class="block-heading center">
        <div class="subtitle">Got questions?<br></div>
        <h2 class="heading">Frequently Asked Questions</h2>
      </div>
      <div class="w-layout-grid grid-faq">
        <div id="w-node-_10a5bec3-f22d-3b1c-b8ff-3c2548c2c49f-0e941740" class="block-faq">
          <div class="accordion-item">
            <div data-w-id="10a5bec3-f22d-3b1c-b8ff-3c2548c2c4a1" class="accordion-header">
              <h6 class="heading-accordion">What type of web hosting do I need?</h6>
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion"><img src="images/close.svg" loading="eager" alt="" class="icon-accordion"></div>
            </div>
            <div style="height:0px;display:none" class="accordion-content">
              <p class="paragraph-accordion">Euismod tristique vulputate vel lobortis. Mollis tellus neque gravida aliquet. Vel aliquet netus leo posuere.</p>
            </div>
          </div>
          <div class="accordion-item">
            <div data-w-id="10a5bec3-f22d-3b1c-b8ff-3c2548c2c4aa" class="accordion-header">
              <h6 class="heading-accordion">What is Shared hosting?</h6>
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion"><img src="images/close.svg" loading="eager" alt="" class="icon-accordion"></div>
            </div>
            <div style="height:0px;display:none" class="accordion-content">
              <p class="paragraph-accordion">Suspendisse interdum volutpat auctor faucibus risus. Adipiscing etiam fringilla viverra lorem sed. Lobortis posuere elit nunc nibh imperdiet.</p>
            </div>
          </div>
          <div class="accordion-item">
            <div data-w-id="10a5bec3-f22d-3b1c-b8ff-3c2548c2c4b3" class="accordion-header">
              <h6 class="heading-accordion">How does the web hosting money-back guarantee work if I have prepaid for a year or more?</h6>
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion"><img src="images/close.svg" loading="eager" alt="" class="icon-accordion"></div>
            </div>
            <div style="height:0px;display:none" class="accordion-content">
              <p class="paragraph-accordion">Luctus semper dignissim tortor sed vehicula nulla. Ac sed phasellus iaculis sed sed nunc.</p>
            </div>
          </div>
        </div>
        <div id="w-node-_10a5bec3-f22d-3b1c-b8ff-3c2548c2c4bb-0e941740" class="block-faq">
          <div class="accordion-item">
            <div data-w-id="10a5bec3-f22d-3b1c-b8ff-3c2548c2c4bd" class="accordion-header">
              <h6 class="heading-accordion">How do I switch web hosting providers?</h6>
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion"><img src="images/close.svg" loading="eager" alt="" class="icon-accordion"></div>
            </div>
            <div style="height:0px;display:none" class="accordion-content">
              <p class="paragraph-accordion">Facilisis arcu vel quis convallis nunc eros ipsum vestibulum vulputate. Augue fringilla mauris netus sollicitudin ullamcorper risus non. Nulla ultricies non et blandit.</p>
            </div>
          </div>
          <div class="accordion-item">
            <div data-w-id="10a5bec3-f22d-3b1c-b8ff-3c2548c2c4c6" class="accordion-header">
              <h6 class="heading-accordion">Why should I choose “Host” as my web hosting provider?</h6>
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion"><img src="images/close.svg" loading="eager" alt="" class="icon-accordion"></div>
            </div>
            <div style="height:0px;display:none" class="accordion-content">
              <p class="paragraph-accordion">Ultrices tristique dolor at non pharetra. Felis sit neque sed adipiscing vulputate bibendum aliquam quam amet. Rhoncus nisl gravida sem dictum ac iaculis quam sit faucibus. Pellentesque faucibus mi turpis egestas.</p>
            </div>
          </div>
          <div class="accordion-item">
            <div data-w-id="10a5bec3-f22d-3b1c-b8ff-3c2548c2c4cf" class="accordion-header">
              <h6 class="heading-accordion">How to manage your hosting account?</h6>
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion"><img src="images/close.svg" loading="eager" alt="" class="icon-accordion"></div>
            </div>
            <div style="height:0px;display:none" class="accordion-content">
              <p class="paragraph-accordion">Felis feugiat arcu sed turpis dui massa sollicitudin ornare amet. Dictum in risus urna diam porttitor. Vitae mi in pharetra vel euismod lectus at eget.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="w-layout-grid grid-banner">
        <div id="w-node-fa5a991c-5956-883f-ada3-90790b0053f4-0b0053f1" class="block-banner">
          <div class="subtitle white">Are you ready?<br></div>
          <h2 class="heading banner">Your digital success story begins here</h2>
          <a data-w-id="fa5a991c-5956-883f-ada3-90790b0053fa" href="get-started.html" class="button yellow w-button">Get Started</a>
        </div>
        <div id="w-node-fa5a991c-5956-883f-ada3-90790b0053fc-0b0053f1" data-w-id="fa5a991c-5956-883f-ada3-90790b0053fc" class="lottie-banner">
          <div class="lines-d1">
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
          </div>
          <div class="lines-d2">
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
          </div>
          <div class="block-lottie-banner">
            <div data-w-id="fa5a991c-5956-883f-ada3-90790b00540c" data-is-ix2-target="1" class="lottie-animation-1-banner" data-animation-type="lottie" data-src="documents/Lottie-D1-Blue.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div data-is-ix2-target="1" class="lottie-animation-2-banner" data-w-id="fa5a991c-5956-883f-ada3-90790b00540d" data-animation-type="lottie" data-src="documents/Lottie-D2-Yellow.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2" data-duration="0"></div>
            <div data-is-ix2-target="1" class="lottie-animation-2-blur-banner" data-w-id="fa5a991c-5956-883f-ada3-90790b00540e" data-animation-type="lottie" data-src="documents/Lottie-D2-Yellow.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2" data-duration="0"></div>
          </div>
        </div>
      </div>
    </div>
  </section>