{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/support.css' %}">
{% endblock extra_css %}

{% block content %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.heading_title }}</h1>
        <p class="paragraph-top">{{ page.heading_paragraph }}</p>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="block-heading center">
        <div class="subtitle">{{ page.body_heading_subtitle }}<br></div>
        <h2 class="heading large">{{ page.body_heading_title }}</h2>
      </div>
      <div class="lottie-wrapper">
        <div class="contact-lottie">
          <a href="{{ page.support_launch_chat }}" class="contact-lottie-link base-inline-block">
            <div class="block-icon-contact-lottie">
              <img src="{% static 'images/bx/chat-launch.svg' %}" loading="eager" alt="" class="icon-contact-lottie">
            </div>
            <div class="block-heading-contact-lottie">
              <h4 class="heading-contact-lottie">Chat us</h4>
              <div class="text-contact-lottie">{{ page.support_chat }}</div>
            </div>
          </a>
          <a href="{{ page.support_launch_email }}" class="contact-lottie-link a2 base-inline-block">
            <div class="block-icon-contact-lottie">
              <img src="{% static 'images/bx/email.svg' %}" loading="eager" alt="" class="icon-contact-lottie">
            </div>
            <div class="block-heading-contact-lottie">
              <h4 class="heading-contact-lottie">Email us</h4>
              <div class="text-contact-lottie">{{ page.support_email }}</div>
            </div>
          </a>
          <a href="{{ page.support_launch_call }}" class="contact-lottie-link a3 base-inline-block">
            <div class="block-icon-contact-lottie">
              <img src="{% static 'images/bx/phone-voice.svg' %}" loading="eager" alt="" class="icon-contact-lottie">
            </div>
            <div class="block-heading-contact-lottie">
              <h4 class="heading-contact-lottie">Call us</h4>
              <div class="text-contact-lottie">{{ page.support_call }}</div>
            </div>
          </a>
        </div>
        <div data-w-id="" class="lottie">
          <div class="lines-c1">
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
          </div>
          <div class="lines-c2">
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div class="lottie-animation-1" data-w-id="" data-animation-type="lottie" data-src="{% static 'documents/Lottie-C1-White.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-w-id="" data-animation-type="lottie" data-src="{% static 'documents/Lottie-C2-Blue.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="12.5" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-w-id="" data-animation-type="lottie" data-src="{% static 'documents/Lottie-C2-Blue.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="12.5" data-duration="0"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}