<div class="block-social">
  <a href="tel:+1(888)123-4567" class="social-link w-inline-block">
    <img src="  'static/images/bx/phone-voice.svg'  " loading="eager" alt="" class="icon-social">
  </a>
  <a href="mailto:support@yoursite.com" class="social-link w-inline-block">
    <img src=" static '/images/bx/email.svg' " loading="eager" alt="" class="icon-social">
  </a>
  <a href="#" class="social-link w-inline-block">
    <img src=" static 'images/bx/chat-launch.svg' " loading="eager" alt="" class="icon-social">
  </a>
</div>