{% load static %}
<!DOCTYPE html>
<html>
  <head>  
    <meta charset="utf-8">
    <title>New Journal Entry - Digidex - Smart Garden Management</title>
    <meta content="A platform for gardeners to cultivate their curiosity." name="description">
    <meta content="New Journal Entry - Digidex - Smart Garden Management" property="og:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="og:description">
    <meta content="New Journal Entry - Digidex - Smart Garden Management" property="twitter:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="{% static 'base/css/normalize.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/base-styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'digidex/css/digidex-styles.css' %}" rel="stylesheet" type="text/css">
  
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
    
    <!-- Load Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Space Grotesk:regular,500,600,700", "IBM Plex Mono:regular,italic,500,500italic,600,600italic,700,700italic"]
        }
      });
    </script>

    <link href="{% static 'digidex/images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'digidex/images/webclip.png' %}" rel="apple-touch-icon">
  </head>
  <body>
    {% include 'main/partials/navigation-bar.html' %}
    <section class="section-full">
      <div class="content">
        <div class="account-form">
          <div class="subtitle green">Journal Entry<br></div>
          <h2 class="account-heading">Create new entry</h2>
          <div class="form-block base-form">
            <form method="post" class="form" enctype="multipart/form-data">
              {% csrf_token %}
              
              {% if form.non_field_errors %}
                <div class="error-message">
                  {% for error in form.non_field_errors %}
                    <small>{{ error }}</small><br>
                  {% endfor %}
                </div>
              {% endif %}
          
              <div>
                {{ form.content }}
                {% if form.content.errors %}
                  <div class="error-message">
                    <small>{{ form.content.errors|striptags }}</small>
                  </div>
                {% endif %}
              </div>
          
              <div class="base-file-upload">
                <label for="imageField" class="base-file-upload-label">Upload Image</label>
                {{ form.image }}
                {% if form.image.errors %}
                  <div class="error-message">
                    <small>{{ form.image.errors|striptags }}</small>
                  </div>
                {% endif %}
              </div>
          
              <input type="submit" value="Submit Entry" class="submit-button">
              {% if form.non_field_errors %}
                <div class="error-message base-form-fail">
                  {% for error in form.non_field_errors %}
                    <div class="text-error">{{ error }}</div>
                  {% endfor %}
                </div>
              {% else %}
                <div class="success-message base-form-done">
                  <div class="text-success">Your operation was successful!</div>
                </div>
              {% endif %} 
            </form>                    
          </div>
        </div>
    </div>
  </section>
  </body>
</html>