{% load wagtailimages_tags wagtailcore_tags %}

<section class="section">
  <div class="content narrow">
    <div class="block-heading center">
      <div class="subtitle">{{ section.title }}<br></div>
    </div>
    <div class="page-body">
      {% for item in section.collection %}
        <div class="rich-text-block w-richtext" data-id="{{ item.uuid }}">
          <div class="date">{{ item.date }}</div>
          {% if item.image %}
            <figure style="max-width:882pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
              <div>
                {% image item.image original alt=item.image.alt %}
              </div>
              {% if item.image.caption %}
                <figcaption>{{ item.image.caption }}</figcaption>
              {% endif %}
            </figure>
          {% endif %}
          {{ item.entry|richtext }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>