{% load static %}
{% load navigation_tags %}

<footer>
  <section class="section-footer">
    <div class="content">
      <div class="layout-grid grid-footer">
        <div class="block-footer">
          <img src="{% static 'images/logo/logo.png' %}" loading="lazy" alt="" class="logo-footer">
          <div class="paragraph-footer">Built with Wagtail<br></div>
        </div>
        <div class="block-footer">
          {% with twitter_url=settings.base.PageFooterNavigationSettings.twitter_url github_url=settings.base.PageFooterNavigationSettings.github_url mastodon_url=settings.base.PageFooterNavigationSettings.mastodon_url %}
            {% if twitter_url or github_url or mastodon_url %}
              <div class="subtitle-footer">Social Media Links<br></div>
              {% if github_url %}
                <a href="{{ github_url }}" target="_blank" rel="noopener noreferrer" class="link-footer">GitHub</a>
              {% endif %}
              {% if mastodon_url %}
                <a href="{{ mastodon_url }}" target="_blank" rel="noopener noreferrer" class="link-footer">Mastodon</a>
              {% endif %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
      {% get_footer_text %}
    </div>
  </section>
</footer>