{% load static %}
{% load navigation_tags %}

<footer>
  <section class="section-footer">
    <div class="content">
      <div class="layout-grid grid-footer">
        {% for block in footer_settings.content %}
          {% if block.block_type == 'logo' %}
            <div class="block-footer">
              <img src="{{ block.value.url }}" loading="eager" alt="" class="logo-footer">
            </div>
  
          {% elif block.block_type == 'paragraph' %}
            <div class="paragraph-footer">{{ block.value|richtext }}</div>

          {% elif block.block_type == 'contact' %}
            <!-- Handling Contact Information -->
            <div class="block-social">
              {% if block.value.phone %}
                <a href="tel:{{ block.value.phone }}" class="social-link base-inline-block">
                  <!-- Insert phone icon here -->
                </a>
              {% endif %}
              {% if block.value.email %}
                <a href="mailto:{{ block.value.email }}" class="social-link base-inline-block">
                  <!-- Insert email icon here -->
                </a>
              {% endif %}
              {% if block.value.chat %}
                <a href="{{ block.value.chat }}" class="social-link base-inline-block">
                  <!-- Insert chat icon here -->
                </a>
              {% endif %}
            </div>

          {% elif block.block_type == 'link' %}
            <div class="block-footer">
              <div class="subtitle-footer">{{ block.value.category|title }}<br></div>
              <a href="{{ block.value.url }}" class="link-footer">{{ block.value.title }}</a>
            </div>
  
          {% elif block.block_type == 'copyright' %}
            <div class="block-footer-down">
              <div class="text-footer-down">{{ block.value }}</div>
            </div>
          {% elif block.block_type == 'credits' %}
            <div class="block-footer-down">
              <div class="text-footer-down">{{ block.value }}</div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</footer>