{% load static navigation_tags wagtailcore_tags %}
<footer>
  <section class="section-footer">
    <div class="content">
      <div class="base-layout-grid grid-footer">
        <div class="block-footer">
          <img src="{% static 'images/logo/plant.svg' %}" loading="eager" alt="" class="logo-footer">
          <div class="paragraph-footer">{% get_footer_text %}<br></div>
        </div>
        <div class="block-footer">
          <div class="subtitle-footer">About Us<br></div>
          {% with company=settings.base.AboutUsSettings.company %}
            <a href="{% pageurl company %}" class="link-footer">Company</a>
          {% endwith %}
          {% with contact=settings.base.AboutUsSettings.contact %}
            <a href="{% pageurl contact %}" class="link-footer">Contact</a>
          {% endwith %}
        </div>
        <div class="block-footer">
          <div class="subtitle-footer">News & Events<br></div>
          {% with solutions=settings.base.NewsAndEventsSettings.solutions %}
            <a href="{% pageurl solutions %}" class="link-footer">Solutions</a>
          {% endwith %}
          {% with blog=settings.base.NewsAndEventsSettings.blog %} 
            <a href="{% pageurl blog %}" class="link-footer">Blog</a>
          {% endwith %}
        </div>
          <div class="block-footer">
            <div class="subtitle-footer">Connect With Us<br></div>
            {% with github=settings.base.SocialMediaSettings.github %}
              <a href="{% if github %}{{ github }}{% else %}#{% endif %}" target="_blank" class="link-footer">GitHub</a>
            {% endwith %}
            {% with twitter=settings.base.SocialMediaSettings.twitter %}
              <a href="{% if twitter %}{{ twitter }}{% else %}#{% endif %}" target="_blank" class="link-footer">Twitter</a>
            {% endwith %}
          </div>
       </div>
      <div class="block-footer-down">
        <div class="text-footer-down">©2024 CyBotany, Institute. All rights reserved. Built with <a href="https://wagtail.org/" target="_blank" class="link-footer-down">Wagtail</a><br></div>
      </div>
    </div>
  </section>
</footer>