{% load wagtailuserbar wagtailcore_tags footer_tags %}

<header class="navbar" role="banner">
  <div class="navbar__container">
    {% wagtailuserbar "top-right" %}
    {% get_header_navbar_logo %}
    <nav class="navbar__menu" role="navigation">
      {% get_header_navbar_menu %}
      <div class="navbar__actions navbar__actions--mobile">
        {% get_header_navbar_mobile %}
      </div>
    </nav>
    <div class="navbar__actions navbar__actions--desktop">
      {% get_header_navbar_desktop %}
    </div>
    <button class="menu-button navbar__toggle" type="button">
      <span class="icon-menu"></span>
    </button>
  </div>
</header>