  <section class="section-top-bar">
    <div class="top-bar-block">
      <div class="top-bar">
        <div class="info-top-bar">New customer offer: Get 25% off your first order with promo code NEW25</div>
      </div>
      <div class="top-bar">
        <a href="#" class="link-top-bar w-inline-block"><img src="images/bx-world.svg" loading="eager" alt="" class="icon-top-bar">
          <div class="text-top-bar">English</div>
        </a>
        <a href="#" class="link-top-bar w-inline-block"><img src="images/bx-chat.svg" loading="eager" alt="" class="icon-top-bar">
          <div class="text-top-bar">Live Chat</div>
        </a>
        <a href="#" class="link-top-bar w-inline-block"><img src="images/bx-phone-call.svg" loading="eager" alt="" class="icon-top-bar">
          <div class="text-top-bar">(888) 123-4567</div>
        </a>
      </div>
    </div>
  </section>