<div data-id="header-navbar" role="banner" class="navbar base-navbar" style="border-color: rgba(15, 100, 146, 0.2); will-change: background; background-color: rgba(244, 246, 247, 0.647);">
  <div class="navbar__container">
    <div class="navbar__item">
      {% include "base/includes/navbar/logo.html" %}
      <nav class="navbar__menu base-nav-menu" role="navigation">
        {% include "base/includes/navbar/menu.html" %}
        <div class="navbar__buttons--mobile">
          {% include "base/includes/navbar/temp.html" %}
        </div>
      </nav>
    </div>
    <div class="navbar__item">
      <div class="navbar__buttons--desktop">
        {% include "base/includes/navbar/temp.html" %}
      </div>
      <div class="menu__button base-navbar-button">
        <div class="menu__icon base-icon-navbar-menu"></div>
      </div>
    </div>
  </div>
</div>