<div data-id="header-navbar" role="banner" class="navbar base-navbar">
  <div class="navbar__container">
    <div class="navbar__item">
      {% include "base/includes/navbar/logo.html" %}
      <nav class="navbar__menu base-nav-menu" role="navigation">
        {% include "base/includes/navbar/menu.html" %}
        <div class="navbar__buttons--mobile">
          {% if user.is_authenticated %}
            {% include "base/includes/navbar/authenticated_button.html" %}
          {% else %}
            {% include "base/includes/navbar/non_authenticated_button.html" %}
          {% endif %}
        </div>
      </nav>
    </div>
    <div class="navbar__item">
      <div class="navbar__buttons--desktop">
        {% if user.is_authenticated %}
          {% include "base/includes/navbar/authenticated_button.html" %}
        {% else %}
          {% include "base/includes/navbar/non_authenticated_button.html" %}
        {% endif %}
      </div>
      <div class="menu__button base-navbar-button">
        <div class="menu__icon base-icon-navbar-menu"></div>
      </div>
    </div>
  </div>
</div>