{% load navbar_tags %}

<header class="navbar" role="banner">
  <div class="navbar__container">
    <a href="{% pageurl site_root %}" aria-current="page" class="navbar__brand base-navbar-brand base--current">
      <img src="{% static 'images/logo.svg' %}" loading="eager" alt="Company Logo" class="navbar__logo">
    </a>
    <nav class="navbar__menu" role="navigation">
      {% get_navbar_menu %}
      <div class="navbar__actions navbar__actions--mobile">
        {% if user.is_authenticated %}
          {% get_authenticated_navbar_buttons %}
        {% else %}
          {% get_non_authenticated_navbar_buttons %}
        {% endif %}
      </div>
    </nav>
    <div class="navbar__actions navbar__actions--desktop">
      {% if user.is_authenticated %}
        {% get_authenticated_navbar_buttons %}
      {% else %}
        {% get_non_authenticated_navbar_buttons %}
      {% endif %}
    </div>
    <button class="menu-button navbar__toggle" type="button">
      <span class="icon-menu"></span>
    </button>
  </div>
</header>