{% load static laces navigation_tags %}

<div role="banner" class="navbar w-nav">
  <div class="nav-block">
    <div class="nav">
      {% get_navigation_logo %}
      <nav role="navigation" class="nav-menu w-nav-menu">
        {% get_navigation_links %}
        <div class="button-mobile">
          {% get_navigation_buttons %}
        </div>
      </nav>
    </div>
    <div class="nav">
      <div class="button-desktop">
        {% get_navigation_buttons %}
      </div>
      <div class="menu-button w-nav-button">
        <div class="icon-menu w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>