{% extends "category/base.html" %}

{% block body %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">News and Updates</h1>
        <p class="paragraph-top">Egestas ac in semper pharetra sed. In mattis dapibus aliquet tempor ut lorem adipiscing ridiculus.</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="collection-list-wrapper-posts large w-dyn-list">
        <div role="list" class="collection-list-posts large w-dyn-items">
          <div role="listitem" class="w-dyn-item">
            <div class="block-post large">
              <a href="#" class="link-post-thumbnail large w-inline-block">
                <img alt="" loading="eager" src="" class="image-post-thumbnail large">
              </a>
              <div class="post large">
                <div class="date"></div>
                <a href="#" class="link-heading-post large w-inline-block">
                  <h3 class="heading-post"></h3>
                </a>
                <p class="paragraph-post large"></p>
                <a href="#" class="link-block w-inline-block">
                  <div class="text-link">Read more</div>
                  <div class="block-icon-link">
                    <img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="icon-link">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collection-list-wrapper-posts w-dyn-list">
        <div role="list" class="collection-list-posts w-dyn-items">
          <div role="listitem" class="w-dyn-item">
            <div class="block-post">
              <a href="#" class="link-post-thumbnail w-inline-block">
                <img alt="" loading="eager" src="" class="image-post-thumbnail">
              </a>
              <div class="post">
                <div class="date"></div>
                <a href="#" class="link-heading-post w-inline-block">
                  <h4 class="heading-post"></h4>
                </a>
                <p class="paragraph-post"></p>
                <a href="#" class="link-block w-inline-block">
                  <div class="text-link">Read more</div>
                  <div class="block-icon-link">
                    <img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="icon-link">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="empty-state w-dyn-empty">
          <div class="text-empty">No items found.</div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}