{% extends "index.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
{% endblock %}

{% block body %}
  <header id="header">
      {% include 'includes/notification.html' %}
      {% include 'includes/navigation.html' %}
      {% include 'includes/header.html' %}
  </header>
  <main id="main">
      {% block content %}{% endblock %}
  </main>
  <footer id="footer">
      {% include 'includes/footer.html' %}
  </footer>
{% endblock %}

{% block extra_js %}{% endblock %}
