{% load static wagtailimages_tags wagtailcore_tags %}

<section class="section">
  <div class="content">
    <div id="largeAssetCollection" class="collection-list-wrapper-assets large base-dyn-list">
      <div role="list" class="collection-list-assets large base-dyn-items">
        <div role="listitem" class="block-asset large base-dyn-item">
          <a href="" class="link-asset-thumbnail base-inline-block">
            <img src="" loading="eager" alt="" class="image-asset-thumbnail large">
          </a>
          <div class="asset large">
            <div class="date"></div>
            <a href="" class="link-heading-asset base-inline-block">
              <h3 class="heading-asset large"></h3>
            </a>
            <p class="paragraph-asset large"></p>
            <a href="" class="link-block w-inline-block">
              <div class="text-link">Read More</div>
              <div class="link-block-icon">
                <img src="{% static 'base/images/bx/arrow.svg' %}" loading="eager" alt="Right Arrow" class="icon-link">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% with collection=section.collection %}
      <div id="asset-items-list" class="collection-list-wrapper-assets base-dyn-list">
        <div role="list" class="collection-list-assets base-dyn-items">
          {% for asset in collection %}
            <div role="listitem" class="block-asset base-dyn-item" onclick="showLargeAsset(this)" data-id="{{ asset.uuid }}">
              <a href="{{ asset.url }}" class="link-asset-thumbnail base-inline-block">
                {% if asset.image %}
                  {% image asset.image original class="image-asset-thumbnail" %}
                {% endif %}
              </a>
              <div class="asset">
                <div class="date">{{ asset.date }}</div>
                <a href="{{ asset.url }}" class="link-heading-asset base-inline-block">
                  <h3 class="heading-asset">{{ asset.title }}</h3>
                </a>
                <p class="paragraph-asset">{{ asset.paragraph }}</p>
                <a href="{{ asset.url }}" class="link-block w-inline-block">
                  <div class="text-link">Read more</div>
                  <div class="block-icon-link">
                    <img src="{% static 'base/images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
                  </div>
                </a>
              </div>
            </div>
          {% empty %}
            <div class="empty-state base-dyn-empty">
              <div class="text-empty">No assets found.</div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endwith %}
  </div>
</section>
