.lottie-wrapper {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.lines-c1 {
  z-index: 5;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 22%;
  padding-right: 22%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lines-c2 {
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 15%;
  padding-bottom: 15%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.block-heading {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1em;
  display: flex;
}

.block-heading.center {
  text-align: center;
  align-items: center;
}

.grid-features {
  grid-column-gap: 2em;
  grid-row-gap: 1.8em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.features {
  grid-column-gap: 1.3em;
  grid-row-gap: 1.3em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
}

.block-heading-features {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-features {
  width: 2em;
  height: 2em;
}

.paragraph-features {
  max-width: 20em;
}

.contact-lottie {
  z-index: 20;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 6%;
  padding-bottom: 6%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.contact-lottie-link {
  min-width: 18em;
  grid-column-gap: 1.44em;
  background-color: var(--accent-b1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: .64em;
  justify-content: flex-start;
  align-items: center;
  margin-right: 28%;
  padding-top: .87em;
  padding-bottom: .87em;
  padding-right: 2em;
  text-decoration: none;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.contact-lottie-link:hover {
  box-shadow: inset 0 0 0 2px var(--accent-a1);
}

.contact-lottie-link.a2 {
  margin-right: -33%;
}

.contact-lottie-link.a3 {
  margin-right: 16%;
}

.icon-contact-lottie {
  width: 2em;
  height: 2em;
}

.block-icon-contact-lottie {
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -.94em;
  padding: 1.1em;
  display: flex;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.heading-contact-lottie {
  color: var(--accent-a1);
  font-weight: 500;
}

.block-heading-contact-lottie {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.text-contact-lottie {
  max-width: 11em;
  opacity: .5;
  color: var(--accent-a1);
  letter-spacing: -.02em;
  font-size: .87em;
  font-weight: 500;
  line-height: 130%;
}

.contact {
  z-index: 50;
  width: 100%;
  max-width: 42em;
  background-color: var(--white);
  text-align: center;
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 3.1em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.form-block {
  width: 100%;
  margin-top: .4em;
  margin-bottom: 0;
}

.submit-button {
  background-color: var(--accent-a1);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: .87em;
  padding: 1.2em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.submit-button:hover {
  box-shadow: 0 15px 40px -10px var(--accent-a1);
}

.submit-button.yellow {
  background-color: var(--accent-a4);
  color: var(--heading);
}

.submit-button.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--accent-a4);
}

.form {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.text-field {
  height: 3.75em;
  border: 1px solid var(--border);
  background-color: var(--white);
  color: var(--heading);
  border-radius: .87em;
  margin-bottom: 1.12em;
  padding: 1em 1.2em;
  font-size: 1em;
  line-height: 130%;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94);
}

.text-field:focus {
  border-color: var(--accent-a1);
}

.text-field::-ms-input-placeholder {
  color: rgba(20, 23, 24, .6);
}

.text-field::placeholder {
  color: rgba(20, 23, 24, .6);
}

.text-field.transparent {
  color: var(--white);
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .2);
}

.text-field.transparent:focus {
  border-color: var(--white);
}

.text-field.transparent::-ms-input-placeholder {
  color: rgba(255, 255, 255, .65);
}

.text-field.transparent::placeholder {
  color: rgba(255, 255, 255, .65);
}

.textarea {
  max-height: 30em;
  max-width: 100%;
  min-height: 14em;
  min-width: 100%;
  border: 1px solid var(--border);
  background-color: var(--white);
  color: var(--heading);
  border-radius: .87em;
  margin-bottom: 1.12em;
  padding: 1em 1.2em;
  font-size: 1em;
  line-height: 130%;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94);
}

.textarea:focus {
  border-color: var(--accent-a1);
}

.textarea::-ms-input-placeholder {
  color: rgba(20, 23, 24, .6);
}

.textarea::placeholder {
  color: rgba(20, 23, 24, .6);
}

.error-message {
  background-color: rgba(188, 0, 3, .07);
  border-radius: .87em;
  margin-top: 1em;
  padding: 1em 10%;
}

.error-message.yellow {
  border: 1px dashed var(--accent-a4);
  background-color: rgba(0, 0, 0, 0);
}

.text-error {
  color: #bc0003;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.text-error.yellow {
  color: var(--accent-a4);
}

.success-message {
  background-color: var(--accent-b3);
  border-radius: .87em;
  padding: 1.5em 10%;
}

.success-message.yellow {
  border: 1px dashed var(--accent-a4);
  background-color: rgba(0, 0, 0, 0);
}

.text-success {
  color: var(--accent-a3);
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.text-success.yellow {
  color: var(--accent-a4);
}
@media screen and (min-width: 991px) {

}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 479px) {

}