.section {
  justify-content: center;
  align-items: center;
  padding: 3.75em 2em;
  display: flex;
}

.grid-solutions {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
}

.solutions {
  grid-row-gap: 1.2em;
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.5em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.icon-solution {
  width: 2em;
  height: 2em;
}

.text-link {
  color: var(--accent-a1);
  letter-spacing: -.02em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
}

.icon-link {
  width: 1em;
  height: 1em;
}

.block-icon-link {
  width: 1.375em;
  height: 1.375em;
  background-color: var(--accent-b1);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-block {
  grid-column-gap: .5em;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: .3em;
  text-decoration: none;
  transition: background-color .3s cubic-bezier(.25, .46, .45, .94), padding .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.link-block:hover {
  background-color: var(--accent-b1);
  padding-left: 1em;
}

.yellow-tag {
  background-color: var(--accent-a4);
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 110%;
  position: absolute;
  top: -.8em;
  bottom: auto;
  left: auto;
  right: 2em;
}

.green-tag {
  background-color: var(--accent-a3);
  color: var(--white);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 110%;
  position: absolute;
  top: -.8em;
  bottom: auto;
  left: auto;
  right: 2em;
}

.clients {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3.6em;
  display: flex;
}

.subtitle-clients {
  opacity: .7;
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: 2.3em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.block-clients {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.gradient-clients {
  z-index: 50;
  background-image: linear-gradient(to right, var(--background) 5%, rgba(244, 246, 247, 0) 20%, rgba(244, 246, 247, 0) 80%, var(--background) 95%);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.clients-wrapper {
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.logo-client {
  max-height: 2.7em;
  margin-left: 2.7em;
  margin-right: 2.7em;
}


@media screen and (min-width: 991px) {

}
@media screen and (max-width: 991px) {
  .grid-solutions {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  .grid-solutions {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
  }
  .solutions {
    padding: 2.2em;
  }
  .logo-client {
    max-height: 1.5em;
    margin-left: 1.8em;
    margin-right: 1.8em;
  }
}
@media screen and (max-width: 479px) {
  .grid-solutions {
    grid-template-columns: 1fr;
  }

  .solutions {
    padding: 2em;
  }
}