.button {
  background-color: var(--strong-green);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  padding: .9em 1.8em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.button:hover {
  box-shadow: 0 15px 40px -10px var(--strong-green);
}

.button.yellow {
  background-color: var(--strong-yellow);
  color: var(--heading);
}

.button.yellow:hover {
  box-shadow: 0 15px 40px -10px var(--strong-yellow);
}

.button.dark {
  background-color: var(--heading);
}

.button.dark:hover {
  background-color: var(--strong-green);
}

.link-button {
  grid-column-gap: .4em;
  border-radius: 50em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .9em;
  text-decoration: none;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), padding .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.link-button:hover {
  box-shadow: inset 0 0 0 2px var(--strong-green);
  padding-left: 1.6em;
  padding-right: 1.6em;
}

.icon-button {
  width: 1.5em;
  height: 1.5em;
}

.text-button {
  color: var(--accent-a1);
  letter-spacing: -.02em;
  font-size: 1.12em;
  font-weight: 500;
  line-height: 120%;
}