.text-info {
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-left: 1em;
  margin-right: 1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 110%;
}

.link-info {
  background-color: var(--white);
  border-radius: 50em;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: .8em;
  padding: 3px;
  text-decoration: none;
  transition: background-color .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.link-info:hover {
  background-color: var(--info-color);
}

.block-icon-info {
  width: 1.375em;
  height: 1.375em;
  background-color: var(--info-color);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-info {
  width: 1em;
  height: 1em;
}