{% load static %}
<section class="section">
  <div class="content">
    <div class="block-heading center">
      <div class="subtitle">have questions?<br></div>
      <h2 class="heading">Frequently Asked Questions</h2>
    </div>
    <div class="layout-grid grid-faq">
      <div class="block-faq">
        <div class="accordion-item">
          <div class="accordion-header">
            <h6 class="heading-accordion">Why are we named Digit?</h6>
            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion">
              <img src="{% static 'images/bx/close.svg' %}" loading="eager" alt="" class="icon-accordion">
            </div>
          </div>
          <div class="accordion-content" style="display: none;">
            <p class="paragraph-accordion">In anatomy, a &#x27;digit&#x27; refers to the distal parts of a limb, like the fingers or toes. They are essential for tactile sensation in complex organisms like humans. Each of our stickers acts as a &#x27;digit&#x27; for your personalized AI assistant, providing a touchpoint for sensing and understanding your garden&#x27;s unique needs and ensuring precise care.</p>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header">
            <h6 class="heading-accordion"><strong>Is my data secure with Digit?</strong></h6>
            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion">
              <img src="{% static 'images/bx/close.svg' %}" loading="eager" alt="" class="icon-accordion">
            </div>
          </div>
          <div class="accordion-content" style="display: none;">
            <p class="paragraph-accordion">Yes, absolutely! At Digit, we prioritize the security of your data. Once a plant has been registered on our platform, its linked NFC tag becomes a gatekeeper of sorts. This means that only the registered user – that&#x27;s you – has the authority to make any updates or changes to the plant&#x27;s information. As for other users, their access is limited to viewing only what you, as the plant owner, choose to share. This ensures that your data remains secure and under your control, fostering a safe and trustworthy environment for all our users.</p>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header">
            <h6 class="heading-accordion"><strong>What makes Digit different from other plant care apps?</strong></h6>
            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion">
              <img src="{% static 'images/bx/close.svg' %}" loading="eager" alt="" class="icon-accordion">
            </div>
          </div>
          <div class="accordion-content" style="display: none;">
            <p class="paragraph-accordion">What sets Digit apart from other plant care apps is our comprehensive approach to plant management. We&#x27;re not just about caring for your plants; we&#x27;re a versatile platform designed for plant enthusiasts to manage every aspect of their plant journey. Digit was born from a personal ambition to hybridize new cacti varieties. This required not just basic care information but a deeper understanding of taxonomic details for breeding compatibility, a structured way to organize a diverse collection, and the application of AI for insights on flowering and cross-pollination techniques. At Digit, we cater to these nuanced needs. Whether you&#x27;re a gardener, a botanist, or someone venturing into the world of plant breeding, our platform is equipped to support your goals.</p>
          </div>
        </div>
      </div>
      <div class="block-faq">
        <div class="accordion-item">
          <div class="accordion-header">
            <h6 class="heading-accordion"><strong>What kind of data can I store about my plants?</strong></h6>
            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion">
              <img src="{% static 'images/bx/close.svg' %}" loading="eager" alt="" class="icon-accordion">
            </div>
          </div>
          <div class="accordion-content" style="display: none;">
            <p class="paragraph-accordion">Each digitized plant comes with a journal so you can log entries, upload growth images, and note care routines. This comprehensive data collection not only tracks your plant&#x27;s development but also enhances interactions with our AI assistant for personalized plant care advice.</p>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header">
            <h6 class="heading-accordion"><strong>How does the Personalized AI Assistant help in plant care?</strong></h6>
            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion">
              <img src="{% static 'images/bx/close.svg' %}" loading="eager" alt="" class="icon-accordion">
            </div>
          </div>
          <div class="accordion-content" style="display: none;">
            <p class="paragraph-accordion">By tapping into the extensive digitized data of each registered plant, your AI Assistant is uniquely equipped to provide context-rich and tailored advice. When you interact with it, the Assistant doesn&#x27;t just offer generic guidance; instead, it analyses the specific data related to your plants – such as images, species, age, growth conditions, and past care routines. This enables it to craft responses and suggestions that are not only accurate but also perfectly suited to the individual needs of each plant in your collection. It&#x27;s like having a personal plant care expert at your fingertips, ensuring that your green friends receive the best possible care.</p>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header">
            <h6 class="heading-accordion"><strong>What should I do if I encounter issues with the app?</strong></h6>
            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion">
              <img src="{% static 'images/bx/close.svg' %}" loading="eager" alt="" class="icon-accordion">
            </div>
          </div>
          <div class="accordion-content" style="display: none;">
            <p class="paragraph-accordion">If you experience any difficulties or have questions while using our app, we&#x27;re here to help. Please don&#x27;t hesitate to reach out to us at <a href="mailto:support@digidex.app" target="_new">support@digidex.app</a>. Our dedicated support team is committed to assisting you with any issues or inquiries you may have, ensuring a smooth and enjoyable experience with our app.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 