{% load static %}
<section class="section-full">
  <div class="content">
    <div class="account-form">
      <h2 class="account-heading">Create Digit</h2>
      <div class="form-block base-form">
        <form method="post" class="form">
          {% csrf_token %}
          <div>
            {{ form.name }}
            {% if form.name.errors %}
              <div class="error-message">
                <span class="text-error">{{ form.name.errors|striptags }}</span>
              </div>
            {% endif %}
          </div>
          <div>
            {{ form.description }}
            {% if form.description.errors %}
              <div class="error-message">
                <span class="text-error">{{ form.description.errors|striptags }}</span>
              </div>
            {% endif %}
          </div>
          <input type="submit" value="Create" class="submit-button base-button"> 
        </form>
      </div>
    </div>
  </div>
</section>