{% extends "contact/base.html" %}
{% load static wagtailcore_tags %}

{% block header %}
  {% include "includes/header.html" %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.title }}</h1>
        {% if page.specific.intro %}
          <p class="paragraph-top">{{ page.specific.intro }}</p>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock header %}

{% block body %}
  <section class="section">
    <div class="content">
      <div class="lottie-wrapper">
        <div class="contact-lottie">
          <a href="#" class="contact-lottie-link w-inline-block">
            <div class="block-icon-contact-lottie">
              <img src="{% static 'base/images/chat-launch.svg' %}" decoding="async" loading="lazy" alt="Launch Chat Icon" class="icon-contact-lottie">
            </div>
            <div class="block-heading-contact-lottie">
              <h4 class="heading-contact-lottie">Chat</h4>
              <div class="text-contact-lottie">Live Chat</div>
            </div>
          </a>
          <a href="mailto:support@digidex.tech" class="contact-lottie-link a2 w-inline-block">
            <div class="block-icon-contact-lottie">
              <img src="{% static 'base/images/email.svg' %}" decoding="async" loading="lazy" alt="Launch Email Icon" class="icon-contact-lottie">
            </div>
            <div class="block-heading-contact-lottie">
              <h4 class="heading-contact-lottie">Email</h4>
              <div class="text-contact-lottie">support@digidex.tech</div>
            </div>
          </a>
          <a href="tel:+1(888)123-4567" class="contact-lottie-link a3 w-inline-block">
            <div class="block-icon-contact-lottie">
              <img src="{% static 'base/images/phone-voice.svg' %}" decoding="async" loading="lazy" alt="Launch Phone Call Icon" class="icon-contact-lottie">
            </div>
            <div class="block-heading-contact-lottie">
              <h4 class="heading-contact-lottie">Call</h4>
              <div class="text-contact-lottie">+1 (888) 123-4567</div>
            </div>
          </a>
        </div>
        <div data-w-id="ed5f1cea-daa0-5df9-8b39-55c44c0ee1e6" class="lottie">
          <div class="lines-c1">
            <div style="width:1px" class="line-w"></div>
            <div style="width:1px" class="line-w"></div>
            <div style="width:1px" class="line-w"></div>
          </div>
          <div class="lines-c2">
            <div style="height:1px" class="line-h"></div>
            <div style="height:1px" class="line-h"></div>
            <div style="height:1px" class="line-h"></div>
            <div style="height:1px" class="line-h"></div>
            <div style="height:1px" class="line-h"></div>
            <div style="height:1px" class="line-h"></div>
            <div style="height:1px" class="line-h"></div>
            <div style="height:1px" class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div class="lottie-animation-1" data-w-id="ed5f1cea-daa0-5df9-8b39-55c44c0ee1f5" data-animation-type="lottie" data-src="{% static 'base/documents/lottie/C1-White.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-w-id="ed5f1cea-daa0-5df9-8b39-55c44c0ee1f6" data-animation-type="lottie" data-src="{% static 'base/documents/lottie/C2-Green.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="12.5" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-w-id="ed5f1cea-daa0-5df9-8b39-55c44c0ee1f7" data-animation-type="lottie" data-src="{% static 'base/documents/lottie/C2-Green.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="12.5" data-duration="0"></div>
          </div>
        </div>
      </div>
      <div class="contact">
        {% if page.specific.form_subtitle %}
          <div class="subtitle blue">{{ page.specific.form_subtitle }}</div>
        {% endif %}
        {% if page.specific.form_title %}
          <h2 class="heading">{{ page.specific.form_title }}</h2>
        {% endif %}
        <div class="form-block w-form">
          <form class="form" action="{% pageurl page %}" method="POST">
            {% csrf_token %}

            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
            {% if form.name.errors %}
              <div class="error-message w-form-fail">
                <div class="text-error">{{ form.name.errors|striptags }}</div>
              </div>
            {% endif %}

            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            {% if form.email.errors %}
              <div class="error-message w-form-fail">
                <div class="text-error">{{ form.email.errors|striptags }}</div>
              </div>
            {% endif %}

            <label for="{{ form.message.id_for_label }}">Message:</label>
            {{ form.message }}
            {% if form.message.errors %}
              <div class="error-message w-form-fail">
                <div class="text-error">{{ form.message.errors|striptags }}</div>
              </div>
            {% endif %}

            <input type="submit" class="submit-button w-button" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}
