<form method="post" class="form" enctype="multipart/form-data">
{% csrf_token %}

  <!-- Render Bio Field -->
  <div>
    {{ form.bio }}
    {% if form.bio.errors %}
      <div class="error-message">
        <span class="text-error">{{ form.bio.errors|striptags }}</span>
      </div>
    {% endif %}
  </div>

  <!-- Render Location Field -->
  <div>
    {{ form.location }}
    {% if form.location.errors %}
      <div class="error-message">
        <span class="text-error">{{ form.location.errors|striptags }}</span>
      </div>
    {% endif %}
  </div>

  <!-- Render Avatar Field -->
  <div class='base-file-upload'>
    {{ form.avatar }} 
    {% if form.avatar.errors %}
      <div class="error-message">
        <span class="text-error">{{ form.avatar.errors|striptags }}</span>
      </div>
    {% endif %}
  </div>

  <!-- Render Submit Button -->
  <input type="submit" value="Update Profile"  class="submit-button base-button">
</form>