{% extends 'cybotany/base.html' %}

{% block content %}

<div class="center">
    <form method="post" class="card" novalidate>
        {% csrf_token %}
        <h2 class="text-center">Create an account</h2>
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} 
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        <small>{{ field.errors|striptags }}</small>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="form-group">
            <p class="text-muted">Username can only contain letters, numbers, underscores, and periods. There is a 15-character limit for usernames. Username is not case-sensitive.</p>
            <p class="text-muted">Password must be between 8 and 20 characters and can contain letters, numbers, and special symbols.</p>
        </div>
        <input type="submit" value="Sign Up" class="btn btn-primary full-width">
        <hr>
        <p class="text-center">Already have an account? <a href="{% url 'login' %}">Log In</a></p>
    </form>
</div>

{% endblock content %}
