{% load static %}
  <section class="section">
    <div class="content">
      <div class="base-layout-grid grid-solutions">
        <div class="solutions">
          <img src="{% static 'images/tech/edge-node-alt.svg' %}" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">Shared Hosting</h5>
          <p class="paragraph-solution">Lectus tortor aliquam pulvinar cursus eget egestas. Ac fermentum.</p>
          <a href="solutions.html" class="link-block base-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link">
              <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link"></div>
          </a>
        </div>
        <div class="solutions">
          <img src="{% static 'images/tech/object-storage.svg' %}" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">VPS Hosting</h5>
          <p class="paragraph-solution">Diam purus aliquam vulputate urna. Imperdiet enim diam felis ut. Neque.</p>
          <a href="solutions.html" class="link-block base-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link">
              <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link"></div>
          </a>
          <div class="yellow-tag">Best Value<br></div>
        </div>
        <div class="solutions">
          <img src="{% static 'images/tech/cloud-data-ops.svg' %}" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">Cloud Hosting</h5>
          <p class="paragraph-solution">At magna sed aliquet posuere aenean. Tortor placerat nascetur.</p>
          <a href="solutions.html" class="link-block base-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link">
              <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link"></div>
          </a>
        </div>
        <div class="solutions">
          <img src="{% static 'images/tech/ibm-cloud-dedicated-host.svg' %}" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">Dedicated Hosting</h5>
          <p class="paragraph-solution">Vitae molestie vel feugiat sapien commodo risus nunc. Justo varius.</p>
          <a href="solutions.html" class="link-block base-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link">
              <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link"></div>
          </a>
          <div class="blue-tag">Most popular<br></div>
        </div>
      </div>
      <div class="clients">
        <div class="subtitle-clients">Join 100+ companies trusting Host<br></div>
        <div class="block-clients">
          <div class="gradient-clients"></div>
          <div class="clients-wrapper">
            <img src="{% static 'images/team/client_9.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_10.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_8.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_7.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_4.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_1.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_6.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_2.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_5.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_3.svg' %}" loading="eager" alt="" class="logo-client">
          </div>
          <div class="clients-wrapper">
            <img src="{% static 'images/team/client_9.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_10.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_8.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_7.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_4.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_1.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_6.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_2.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_5.svg' %}" loading="eager" alt="" class="logo-client">
            <img src="{% static 'images/team/client_3.svg' %}" loading="eager" alt="" class="logo-client">
          </div>
        </div>
      </div>
    </div>
  </section>