{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/solutions.css' %}">
{% endblock extra_css %}

{% block content %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.heading_title }}</h1>
        <p class="paragraph-top">{{ page.heading_intro }}</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="base-layout-grid grid-solutions-large">
        <div class="solutions-large">
          <div class="block-icon-solution">
            <img src="{% static 'images/bx/meter.svg' %}" loading="eager" alt="" class="icon-solution">
          </div>
          <h4 class="heading-solution-large">{{ page.solution_heading }}</h4>
          <p class="paragraph-solution-large">{{ page.solution_description }}</p>
          <div class="block-list">
            <div class="list">
              <div class="block-icon-list">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list blue">{{ page.list_item_one }}</h6>
            </div>
            <div class="list">
              <div class="block-icon-list">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list blue">{{ page.list_item_two }}</h6>
            </div>
            <div class="list">
              <div class="block-icon-list">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list blue">{{ page.list_item_three }}</h6>
            </div>
          </div>
        </div>
        <div class="solutions-large green">
          <div class="block-icon-solution green">
            <img src="{% static 'images/tech/key-protect.svg' %}" loading="eager" alt="" class="icon-solution">
          </div>
          <h4 class="heading-solution-large green">{{ page.green_solution_heading }}</h4>
          <p class="paragraph-solution-large green">{{ page.green_solution_description }}</p>
          <div class="block-list">
            <div class="list">
              <div class="block-icon-list green">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list green">{{ page.green_list_item_one }}</h6>
            </div>
            <div class="list">
              <div class="block-icon-list green">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list green">{{ page.green_list_item_two }}</h6>
            </div>
            <div class="list">
              <div class="block-icon-list green">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list green">{{ page.green_list_item_three }}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="base-layout-grid grid-solutions">
        <div class="solutions">
          <img src="{% static 'images/tech/edge-node-alt.svg' %}" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">{{ page.small_solution_heading }}</h5>
          <p class="paragraph-solution">{{ page.small_solution_description }}</p>
          <a href="pricing.html" class="link-block base-inline-block">
            <div class="text-link">{{ page.small_solution_link_text }}</div>
            <div class="block-icon-link">
              <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
            </div>
          </a>
        </div>
        <div class="solutions">
          <img src="{% static 'images/tech/object-storage.svg' %}" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">{{ page.small_solution_heading }}</h5>
          <p class="paragraph-solution">{{ page.small_solution_description }}</p>
          <a href="pricing.html" class="link-block base-inline-block">
            <div class="text-link">{{ page.small_solution_link_text }}</div>
            <div class="block-icon-link">
              <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
            </div>
          </a>
          <div class="yellow-tag">Best Value<br></div>
        </div>
        <div class="solutions">
          <img src="{% static 'images/tech/cloud-data-ops.svg' %}" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">{{ page.small_solution_heading }}</h5>
          <p class="paragraph-solution">{{ page.small_solution_description }}</p>
          <a href="pricing.html" class="link-block base-inline-block">
            <div class="text-link">{{ page.small_solution_link_text }}</div>
            <div class="block-icon-link">
              <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link"></div>
          </a>
        </div>
        <div class="solutions">
          <img src="{% static 'images/tech/ibm-cloud-dedicated-host.svg' %}" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">{{ page.small_solution_heading }}</h5>
          <p class="paragraph-solution">{{ page.small_solution_description }}</p>
          <a href="pricing.html" class="link-block base-inline-block">
            <div class="text-link">{{ page.small_solution_link_text }}</div>
            <div class="block-icon-link">
              <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
            </div>
          </a>
          <div class="green-tag">Most Popular<br></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="base-layout-grid grid">
        <div class="block-left">
          <div class="subtitle">{{ page.block_left_subtitle }}<br></div>
          <h2 class="heading">{{ page.block_left_heading }}</h2>
          <p class="paragraph">{{ page.block_left_paragraph }}</p>
          <div class="block-list">
            <div class="list">
              <div class="block-icon-list">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list">{{ page.block_left_list_item }}</h6>
            </div>
            <div class="list">
              <div class="block-icon-list">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list">{{ page.block_left_list_item }}</h6>
            </div>
          </div>
        </div>
        <div class="lottie">
          <div class="lines-b1">
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
          </div>
          <div class="lines-b2">
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div data-is-ix2-target="1" class="lottie-animation-1" data-animation-type="lottie" data-src="documents/Lottie-B1-White.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-animation-type="lottie" data-src="documents/Lottie-B2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-animation-type="lottie" data-src="documents/Lottie-B2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="block-heading">
        <div class="subtitle">{{ page.features_subtitle }}<br></div>
        <h2 class="heading">{{ page.features_heading }}</h2>
      </div>
      <div class="base-layout-grid grid-features">
        <div class="features">
          <div class="block-heading-features">
            <img src="{% static 'images/bx/headset.svg' %}" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">{{ page.feature_1_heading }}</h5>
          </div>
          <p class="paragraph-features">{{ page.feature_1_paragraph }}</p>
        </div>
        <div class="features">
          <div class="block-heading-features">
            <img src="{% static 'images/tech/ibm-watson-rocket.svg' %}" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">{{ page.feature_2_heading }}</h5>
          </div>
          <p class="paragraph-features">{{ page.feature_2_paragraph }}</p>
        </div>
        <div class="features">
          <div class="block-heading-features">
            <img src="{% static 'images/tech/protect-data.svg' %}" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">{{ page.feature_3_heading }}</h5>
          </div>
          <p class="paragraph-features">{{ page.feature_3_paragraph }}</p>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}