{% load laces %}

<div class="collection-list-wrapper{% if style %}-{{ style }}{% endif %} base-dyn-list">
  {% if children %}
    <div role="list" class="collection-list{% if style %}-{{ style }}{% endif %} base-dyn-items">
      <div role="listitem" class="collection-item{% if style %}-{{ style }}{% endif %} base-dyn-item">
          {% for child in children %}
              {% component child %}
          {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="empty-state base-dyn-empty">
      <div class="text-empty">No {{ style }} found.</div>
    </div>
  {% endif %}
</div>