{% if size == 1 %}
  <h1 class="heading{% if style %}-{{ style }}{% endif %}">{{ text }}</h1>
{% elif size == 2 %}
  <h2 class="heading{% if style %}-{{ style }}{% endif %}">{{ text }}</h2>
{% elif size == 3 %}
  <h3 class="heading{% if style %}-{{ style }}{% endif %}">{{ text }}</h3>
{% elif size == 4 %}
  <h4 class="heading{% if style %}-{{ style }}{% endif %}">{{ text }}</h4>
{% elif size == 5 %}
  <h5 class="heading{% if style %}-{{ style }}{% endif %}">{{ text }}</h5>
{% else %}
  <h6 class="heading{% if style %}-{{ style }}{% endif %}">{{ text }}</h6>
{% endif %}