{% load static laces wagtailimages_tags wagtailcore_tags %}

<section class="section-top padding-0">
  <div class="content">
    <div class="block-top">
      <div class="date-top">{{ date }}</div>
      <h1 class="heading-top">{{ heading }}</h1>
      <p class="paragraph-top blog-post">{{ paragraph }}</p>
    </div>
  </div>
</section>

<section class="section-top">
  <div class="content">
    <div class="block-top">
      <h1 class="heading-top">{{ heading }}</h1>
      <p class="paragraph-top">{{ paragraph }}</p>
    </div>
  </div>
</section>