{% extends "botany/base.html" %}
{% load static %}

<!-- CSS styling specific to app -->
{% block app_styles %}
  <link rel="stylesheet" href="{% static 'botany/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'botany/css/plant_details.css' %}">
{% endblock %}

<!-- Botany app container -->
{% block content %}
<div class="container app-fullscreen-container">
  <!-- Plant detail container --> 
  <div class="mb-5">
    <!-- Plant Image Slideshow -->
    <div id="plantCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for image in plant.images.all %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ image.image.url }}" class="d-block w-100 rounded" alt="Image of {{ plant.name }}" style="max-height: 500px; object-fit: cover;">
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#plantCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#plantCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Plant Information -->
    <div class="col-md-6">
      <h2 class="mb-3">{{ plant.name }}</h2>
        <p><strong>Complete name:</strong> {{ plant.tsn.complete_name }}</p>
        <p><strong>Added on:</strong> {{ plant.added_on }}</p>
        <p><strong>Quantity:</strong> {{ plant.quantity }}</p>
        <p>
          {% if plant.nfc_tag %}
            <span class="badge bg-success">Linked</span>
          {% else %}
            <span class="badge bg-warning">Not Linked</span>
          {% endif %}
        </p>
        <p>
          {{ plant.description }}
        </p>
      <!-- Watering Table -->
      <h3 class="mb-3">Watering Events</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Watering Date and Time</th>
            </tr>
          </thead>
          <tbody>
            {% for event in plant.waterings.all %}
            <tr>
              <td>{{ event.timestamp }}</td>
            </tr>
            {% empty %}
            <tr>
              <td class="text-center">No watering events recorded.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      <!-- Fertilization Table -->
      <h3 class="mb-3">Fertilization Events</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Fertilization Date and Time</th>
            </tr>
          </thead>
          <tbody>
            {% for event in plant.fertilizations.all %}
            <tr>
              <td>{{ event.timestamp }}</td>
            </tr>
            {% empty %}
              <tr>
                <td class="text-center">No fertilization events recorded.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      <!-- Buttons -->
      <div class="row justify-content-center mb-5">
        <a href="{% url 'botany:update_plant' plant.id %}" class="btn btn-primary btn-lg me-3 shadow">Update Plant</a>
        <a href="{% url 'botany:delete_plant' plant.id %}" class="btn btn-danger btn-lg shadow">Delete Plant</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
