{% extends "botany/base.html" %}
{% load static %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'botany/css/cards.css' %}">
{% endblock %}

<!-- Botany App Homepage -->
{% block content %}
<div class="container app-fullscreen-container">
  <!-- First Row -->
  <div class="row">
    <div class="col-md-12">
      <h2>Box</h2>
    </div>
  </div>

  <!-- Plant Grid -->
  <div class="row">
    {% for plant in plants %}
      <!-- Plant Card -->
      <div class="col-md-4 mb-4">
        <a href="{{ plant.get_absolute_url }}" class="card-link">
          <div class="card">
            <!-- Plant Image -->
            {% if plant.images.all %}
              <img src="{{ plant.images.last.image.url }}" class="card-img" alt="Image of {{ plant.name }}">
            {% else %}
              <div class="no-image-placeholder">No Image</div>
            {% endif %}
            <!-- Plant Body -->
            <div class="card-body">
              <h5 class="card-title text-center">{{ plant.name }}</h5>
              {% if plant.nfc_tag %}
                <div class="plant-link-bubble-wrapper">
                  <span class="plant-link-bubble"></span>
                </div>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    
      <!-- After every 3 plants, close the row and start a new row -->
      {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}
  </div>

  {% if plants|length == 0 %}
    <p class="text-center">No plants found.</p>
  {% endif %}

  <!-- Pagination Controls -->
  <div class="row justify-content-center mt-4">
    <nav>
      <ul class="pagination">
        {% if plants.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="?page={{ plants.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        {% for i in plants.paginator.page_range %}
            {% if plants.number == i %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% if plants.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ plants.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="?page={{ plants.paginator.num_pages }}">Last</a>
            </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
