{% extends "botany/base.html" %}
{% load static %}

<!-- CSS styling specific to Botany app -->
{% block app_styles %}
  <link rel="stylesheet" href="{% static 'botany/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'botany/css/plant_card.css' %}">
{% endblock %}

<!-- Botany app container -->
{% block content %}
<div class="container app-fullscreen-container">
  <!-- Plant Card -->
  {% for plant in plants %}
    <div class="card plant-card mb-4 shadow-sm">
      <!-- Plant Image -->
      {% if plant.images.all %}
        <img src="{{ plant.images.last.image.url }}" class="card-img-top" alt="Image of {{ plant.name }}">
      {% else %}
        <div class="no-image-placeholder">No Image</div>
      {% endif %}
      <!-- Plant Name -->
      <div class="card-body">
        <h5 class="card-title text-center">{{ plant.name }}</h5>
      </div>
    </div>
      <!-- Plant Link Bubble -->
      {% if plant.nfc_tag %}
        <div class="plant-link-bubble-wrapper">
          <span class="plant-link-bubble">Linked</span>
        </div>
      {% endif %}
  {% empty %}
    <p>No plants found.</p>
  {% endfor %}

  <!-- Pagination Controls -->
  <div class="row justify-content-center">
    <nav>
      <ul class="pagination">
        {% if plants.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="?page={{ plants.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        {% for i in plants.paginator.page_range %}
            {% if plants.number == i %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% if plants.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ plants.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="?page={{ plants.paginator.num_pages }}">Last</a>
            </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
