.base-clearfix:before,
.base-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.base-clearfix:after {
  clear: both;
}