{% load static wagtailcore_tags %}

<div id="asset-categories-list" class="asset-category-collection-wrapper base-dyn-list">
  <div role="list" class="asset-category-collection base-dyn-items">
    {% for inventory in page.inventories.all %}
      <div role="listitem" class="asset-category base-dyn-item" alt="" loading="eager">
        <a href="{{ inventory.detail_page.url }}" class="link-asset-category base-inline-block">
          <img src="{% static 'base/images/ibm/cloud-dedicated-host.svg' %}" class="icon-asset-category">
          <div class="text-asset-category">{{ inventory.name }}</div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>