<form method="post" class="form" enctype="multipart/form-data">
  {% csrf_token %}
  <!-- Render Content Field -->
  <div>
    {{ form.content }}
    {% if form.content.errors %}
      <div class="error-message">
        <span class="text-error">{{ form.content.errors|striptags }}</span>
      </div>
    {% endif %}
  </div>
  <!-- Render Image Field -->
  <div class="base-file-upload">
    {{ form.image }}
    {% if form.image.errors %}
      <div class="error-message">
        <span class="text-error">{{ form.image.errors|striptags }}</span>
      </div>
    {% endif %}
  </div>
  <!-- Render Submit Button -->
  <input type="submit" value="Submit Entry" class="submit-button">
</form>