@import 'static/sass/utils/_variables';
@import 'static/sass/utils/_mixins';

.base-nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}
.base-nav:before,
.base-nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.base-nav:after {
  clear: both;
}
.base-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}
.base-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.base-nav-link.base--current {
  color: #0082f3;
}
.base-nav-menu {
  position: relative;
  float: right;
}
[data-nav-menu-open] {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #C8C8C8;
  text-align: center;
  overflow: visible;
  min-width: 200px;
}
.base--nav-link-open {
  display: block;
  position: relative;
}
.base-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}
.base-nav-overlay [data-nav-menu-open] {
  top: 0;
}
.base-nav[data-animation="over-left"] .base-nav-overlay {
  width: auto;
}
.base-nav[data-animation="over-left"] .base-nav-overlay,
.base-nav[data-animation="over-left"] [data-nav-menu-open] {
  right: auto;
  z-index: 1;
  top: 0;
}
.base-nav[data-animation="over-right"] .base-nav-overlay {
  width: auto;
}
.base-nav[data-animation="over-right"] .base-nav-overlay,
.base-nav[data-animation="over-right"] [data-nav-menu-open] {
  left: auto;
  z-index: 1;
  top: 0;
}
.base-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.base-nav-button:focus {
  outline: 0;
}
.base-nav-button.base--open {
  background-color: #C8C8C8;
  color: white;
}
.base-nav[data-collapse="all"] .base-nav-menu {
  display: none;
}
.base-nav[data-collapse="all"] .base-nav-button {
  display: block;
}
.base--nav-dropdown-open {
  display: block;
}
.base--nav-dropdown-toggle-open {
  display: block;
}
.base--nav-dropdown-list-open {
  position: static;
}

@media screen and (max-width: 767px) {
  .base-nav-brand {
    padding-left: 10px;
  }
}
@media screen and (max-width: 991px) {
  .base-nav[data-collapse="medium"] .base-nav-menu {
    display: none;
  }
  .base-nav[data-collapse="medium"] .base-nav-button {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .base-nav[data-collapse="small"] .base-nav-menu {
    display: none;
  }
  .base-nav[data-collapse="small"] .base-nav-button {
    display: block;
  }
  .base-nav-brand {
    padding-left: 10px;
  }
}
@media screen and (max-width: 479px) {
  .base-nav[data-collapse="tiny"] .base-nav-menu {
    display: none;
  }
  .base-nav[data-collapse="tiny"] .base-nav-button {
    display: block;
  }
}

.navbar {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .7em;
  padding: 1.1em 2em;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nav-block {
  width: 100%;
  max-width: 75em;
  grid-column-gap: 1em;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.nav {
  grid-column-gap: .5em;
  justify-content: center;
  align-items: center;
  display: flex;
}
.brand {
  flex: none;
  margin-right: .5em;
  padding: .5em .3em;
}
.logo {
  height: 1.56em;
}
.nav-menu {
  justify-content: center;
  align-items: center;
  display: flex;
}
.nav-link {
  color: var(--heading);
  letter-spacing: -.02em;
  padding: .7em 1.2em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
}
.nav-link:hover {
  color: var(--accent-a1);
}
.nav-link.w--current {
  color: var(--heading);
}
.nav-link.w--current:hover {
  color: var(--accent-a1);
}
.nav-button {
  background-color: var(--heading);
  color: var(--white);
  letter-spacing: -.02em;
  border-radius: 50em;
  padding: .7em 1.4em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}
.nav-button:hover {
  background-color: var(--accent-a1);
  box-shadow: 0 15px 40px -10px var(--accent-a1);
}
.nav-button-outline {
  box-shadow: 0 0 0 -10px var(--accent-a1), inset 0 0 0 2px var(--accent-a1);
  color: var(--accent-a1);
  letter-spacing: -.02em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50em;
  padding: .7em 1.4em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), color .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}
.nav-button-outline:hover {
  background-color: var(--accent-a1);
  box-shadow: 0 15px 40px -10px var(--accent-a1), inset 0 0 0 2px var(--accent-a1);
  color: var(--white);
}

@media screen and (max-width: 991px) {
  .nav-menu {
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    background-color: var(--white);
    padding: 1.2em 1em;
    box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
  }
  .menu-button {
    background-color: var(--white);
    color: var(--heading);
    border-radius: 50em;
    padding: .6em;
    font-size: 1.2em;
    transition: color .3s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
    box-shadow: 0 15px 20px -5px rgba(20, 23, 24, .1);
  }
  .menu-button.w--open {
    background-color: var(--heading);
    color: var(--white);
  }
}