{% load static wagtailcore_tags wagtailimages_tags %}

<div role="listitem" class="asset-item base-dyn-item">
  <div class="block-icon-asset-item">
    <img src="{% static 'base/images/google/tree.svg' %}" alt="" loading="eager" class="icon-asset-item">
  </div>
  <a href="#" class="link-asset-item base-inline-block">
    <h3 class="heading-asset-item">{{ digit.name }}</h3>
  </a>
  <p class="paragraph-description">{{ digit.description }}</p>
  <div class="subtitle-asset-item">Analytics<br></div>
  <div class="block-features-asset-item">
    <div class="features-asset-item">
      <img src="{% static 'base/images/bx/check-green.svg' %}" loading="eager" alt="" class="icon-features-asset-item">
      <h6 class="heading-features-asset-item"></h6>
    </div>
    <div class="features-asset-item">
      <img src="{% static 'base/images/bx/check-green.svg' %}" loading="eager" alt="" class="icon-features-asset-item">
      <h6 class="heading-features-asset-item"></h6>
    </div>
    <div class="features-asset-item">
      <img src="{% static 'base/images/bx/check-green.svg' %}" loading="eager" alt="" class="icon-features-asset-item">
      <h6 class="heading-features-asset-item"></h6>
    </div>
  </div>
  <a href="#" class="button base-button">View Details</a>
</div>