{% load static wagtailcore_tags%}

<div class="block-asset-categories block">
  <a href="#" aria-current="page" class="link-asset-category base-inline-block base--current">
    <img src="{% static 'base/images/google/pet.svg' %}" loading="eager" alt="" class="icon-asset-category">
    <div class="text-asset-category">Pets</div>
  </a>
  <a href="#" aria-current="page" class="link-asset-category base-inline-block base--current">
    <img src="{% static 'base/images/google/plant.svg' %}" loading="eager" alt="" class="icon-asset-category">
    <div class="text-asset-category">Plants</div>
  </a>
</div>