<div role="banner" class="navbar base-nav">
  <div class="nav-block">
    <div class="nav">
      {% include "base/blocks/page/header/navigation/logo.html" %}
      {% include "base/blocks/page/header/navigation/menu.html" %}
    </div>
    <div class="nav">
      {% include "base/blocks/page/header/navigation/action_buttons.html" %}
      {% include "base/blocks/page/header/navigation/shopping_cart.html" %}
      {% include "base/blocks/page/header/navigation/menu_button.html" %}
    </div>
  </div>
</div>