{% load wagtailcore_tags wagtailimages_tags %}
<section class="section-top-bar">
  <div class="top-bar-block">
    <div class="top-bar">
      <div class="info-top-bar">
        {{ self.promo.message.value }}
      </div>
    </div>
    <div class="top-bar">
      <div class="link-top-bar">
        {% for _icon in self.icons %}
          <a href="{{ _icon.value.url }}" class="base-inline-block icon-top-bar" target="{{ _icon.value.target }}">
            {% if _icon.value.icon %}
              {% image _icon.value.icon fill-32x32 as img %}
                <img src="{{ img.url }}" alt="{{ _icon.value.text }}">
            {% endif %}
            <span class="text-top-bar">{{ _icon.value.text }}</span>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>