{% load wagtailcore_tags wagtailimages_tags %}

<div class="top-bar">
    {% if self.promo %}
        <div class="info-top-bar">
            {{ self.promo.message }}
        </div>
    {% endif %}
    {% if self.icons %}
        <div class="link-top-bar">
            {% for icon in self.icons %}
                <a href="{{ icon.value.icon.url }}" class="w-inline-block icon-top-bar">
                    {% if icon.value.icon.icon %}
                        {% image icon.value.icon.icon fill-32x32 as img %}
                        <img src="{{ img.url }}" alt="{{ icon.value.icon.text }}">
                    {% endif %}
                    <span class="text-top-bar">{{ icon.value.icon.text }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>


{% load static %}
<section class="section-top-bar">
  <div class="top-bar-block">
    <div class="top-bar">
      <div class="info-top-bar">New customer offer: Get 25% off your first order with promo code NEW25</div>
    </div>
  </div>
  <div class="top-bar">
    <a href="#" class="link-top-bar base-inline-block"><img src="{% static 'images/bx/world.svg' %}" loading="eager" alt="" class="icon-top-bar">
      <div class="text-top-bar">English</div>
    </a>
    <a href="#" class="link-top-bar base-inline-block"><img src="{% static 'images/bx/chat.svg' %}" loading="eager" alt="" class="icon-top-bar">
      <div class="text-top-bar">Live Chat</div>
    </a>
    <a href="#" class="link-top-bar base-inline-block"><img src="{% static 'images/bx/phone-call.svg' %}" loading="eager" alt="" class="icon-top-bar">
      <div class="text-top-bar">(888) 123-4567</div>
    </a>
  </div>
</section>