@import 'static/sass/utils/_variables';
@import 'static/sass/utils/_mixins';

.grid-faq {
  @include grid-faq;
  grid-template-rows: auto;
}

.block-faq {
  @include block-faq;
}

.accordion-item {
  @include accordion-item-base;
  padding-left: 1.8em; // Specific left padding
}

.accordion-header {
  @include accordion-header-base;
  padding: 1em; // Uniform padding, adjust as needed
}

.accordion-header:hover {
  padding-left: .3em;
  padding-right: .3em;
}

.heading-accordion, .paragraph-accordion {
  margin-top: .3em;
  margin-bottom: .3em;
}

.icon-accordion, .block-icon-accordion {
  width: 1.5em;
  height: 1.5em;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-icon-accordion {
  background-color: $accent-green;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 100%;
}

.accordion-content {
  display: block;
  overflow: hidden;
}

.paragraph-accordion {
  max-width: 90%;
  margin-bottom: 1.6em;
}

@include responsive-grid-faq;
