.icon-top-bar {
  width: 1.125em;
  height: 1.125em;
}
.icon-button {
  width: 1.5em;
  height: 1.5em;
}
.icon-info {
  width: 1em;
  height: 1em;
}
.icon-feature-lottie {
  width: 1.5em;
  height: 1.5em;
}
.icon-solution {
  width: 2em;
  height: 2em;
}
.icon-link {
  width: 1em;
  height: 1em;
}
.icon-numbers {
  width: 2em;
  height: 2em;
}
.icon-features {
  width: 2em;
  height: 2em;
}
.icon-contact-lottie {
  width: 2em;
  height: 2em;
}
.icon-accordion {
  width: 1.5em;
  height: 1.5em;
  flex: none;
}
.icon-social {
  width: 1.5em;
  height: 1.5em;
}
.icon-star {
  width: 1.13em;
  height: 1.13em;
}
.icon-list {
  width: 1.125em;
  height: 1.125em;
}
.icon-about {
  width: 2em;
  height: 2em;
}
.icon-cart {
  width: 1.37em;
  height: 1.37em;
  flex: none;
}

.icon-cart-quantity {
  height: auto;
  min-width: auto;
  background-color: var(--white);
  color: var(--heading);
  border-radius: 50em;
  margin-left: 0;
  padding: .3em .6em .1em;
  font-size: .71em;
  font-weight: 500;
  line-height: 130%;
  position: absolute;
  top: -15%;
  bottom: auto;
  left: auto;
  right: -20%;
  box-shadow: 0 5px 5px rgba(20, 23, 24, .05);
}
.icon-close {
  width: 1.5em;
  height: 1.5em;
}
.icon-product {
  width: 1.7em;
  height: 1.7em;
  object-fit: cover;
}
.icon-features-product {
  width: 1.5em;
  height: 1.5em;
}
.icon-category {
  width: 1.7em;
  height: 1.7em;
}
.icon-licensing {
  width: 4.2em;
  height: 4.2em;
  max-width: none;
  background-color: var(--accent-b1);
  border-radius: .87em;
  padding: 1.3em;
}