.link {
  border-bottom: 1px solid var(--accent-a1);
  color: var(--accent-a1);
  text-decoration: none;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94), color .3s cubic-bezier(.25, .46, .45, .94);
}
.link:hover {
  border-bottom-color: var(--heading);
  color: var(--heading);
}
.link-top-bar {
  grid-column-gap: .35em;
  opacity: .7;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: opacity .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}
.link-top-bar:hover {
  opacity: 1;
}
.link-button {
  grid-column-gap: .4em;
  border-radius: 50em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .9em;
  text-decoration: none;
  transition: box-shadow .3s cubic-bezier(.25, .46, .45, .94), padding .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}
.link-button:hover {
  box-shadow: inset 0 0 0 2px var(--accent-a1);
  padding-left: 1.6em;
  padding-right: 1.6em;
}
.link-info {
  background-color: var(--white);
  border-radius: 50em;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: .8em;
  padding: 3px;
  text-decoration: none;
  transition: background-color .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}
.link-info:hover {
  background-color: var(--accent-a4);
}
.link-block {
  grid-column-gap: .5em;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: .3em;
  text-decoration: none;
  transition: background-color .3s cubic-bezier(.25, .46, .45, .94), padding .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}
.link-block:hover {
  background-color: var(--accent-b1);
  padding-left: 1em;
}
.link-footer {
  color: var(--heading);
  letter-spacing: -.02em;
  padding-top: .44em;
  padding-bottom: .44em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
}
.link-footer:hover {
  color: var(--accent-a1);
}
.link-footer-down {
  color: var(--heading);
  text-decoration: none;
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
}
.link-footer-down:hover {
  color: var(--accent-a1);
}
.link-post-thumbnail {
  width: 100%;
}
.link-post-thumbnail.large {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}
.link-heading-post {
  margin-bottom: 1.3em;
  text-decoration: none;
}
.link-heading-post.large {
  margin-bottom: 1.4em;
}
.link-account {
  color: rgba(20, 23, 24, .6);
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
}
.link-account:hover {
  color: var(--accent-a1);
}
.link-account.white {
  color: rgba(255, 255, 255, .5);
}
.link-account.white:hover {
  color: var(--white);
}
.link-product {
  margin-bottom: .15em;
  text-decoration: none;
}
.link-category {
  grid-column-gap: .63em;
  grid-row-gap: .63em;
  color: var(--heading);
  border-radius: .87em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2em 1.4em;
  text-decoration: none;
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}
.link-category:hover {
  color: var(--accent-a1);
}
.link-category.w--current {
  background-color: var(--white);
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

@media screen and (max-width: 991px) {
  .link-category {
    padding: 1em 1.2em;
  }
}