@import 'static/sass/utils/_variables';
@import 'static/sass/utils/_mixins';

.button-desktop {
  grid-column-gap: .5em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-mobile {
  grid-column-gap: .5em;
  grid-row-gap: 1em;
  justify-content: center;
  align-items: center;
  display: none;
}