.base-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.base-container:before,
.base-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.base-container:after {
  clear: both;
}
.base-container .base-row {
  margin-left: -10px;
  margin-right: -10px;
}
.base-row:before,
.base-row:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.base-row:after {
  clear: both;
}
.base-row .base-row {
  margin-left: 0;
  margin-right: 0;
}
.base-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.base-col .base-col {
  padding-left: 0;
  padding-right: 0;
}
.base-col-1 {
  width: 8.33333333%;
}
.base-col-2 {
  width: 16.66666667%;
}
.base-col-3 {
  width: 25%;
}
.base-col-4 {
  width: 33.33333333%;
}
.base-col-5 {
  width: 41.66666667%;
}
.base-col-6 {
  width: 50%;
}
.base-col-7 {
  width: 58.33333333%;
}
.base-col-8 {
  width: 66.66666667%;
}
.base-col-9 {
  width: 75%;
}
.base-col-10 {
  width: 83.33333333%;
}
.base-col-11 {
  width: 91.66666667%;
}
.base-col-12 {
  width: 100%;
}
.base-hidden-main {
  display: none !important;
}
@media screen and (max-width: 991px) {
  .base-container {
    max-width: 728px;
  }
  .base-hidden-main {
    display: inherit !important;
  }
  .base-hidden-medium {
    display: none !important;
  }
  .base-col-medium-1 {
    width: 8.33333333%;
  }
  .base-col-medium-2 {
    width: 16.66666667%;
  }
  .base-col-medium-3 {
    width: 25%;
  }
  .base-col-medium-4 {
    width: 33.33333333%;
  }
  .base-col-medium-5 {
    width: 41.66666667%;
  }
  .base-col-medium-6 {
    width: 50%;
  }
  .base-col-medium-7 {
    width: 58.33333333%;
  }
  .base-col-medium-8 {
    width: 66.66666667%;
  }
  .base-col-medium-9 {
    width: 75%;
  }
  .base-col-medium-10 {
    width: 83.33333333%;
  }
  .base-col-medium-11 {
    width: 91.66666667%;
  }
  .base-col-medium-12 {
    width: 100%;
  }
  .base-col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 767px) {
  .base-hidden-main {
    display: inherit !important;
  }
  .base-hidden-medium {
    display: inherit !important;
  }
  .base-hidden-small {
    display: none !important;
  }
  .base-row,
  .base-container .base-row {
    margin-left: 0;
    margin-right: 0;
  }
  .base-col {
    width: 100%;
    left: auto;
    right: auto;
  }
  .base-col-small-1 {
    width: 8.33333333%;
  }
  .base-col-small-2 {
    width: 16.66666667%;
  }
  .base-col-small-3 {
    width: 25%;
  }
  .base-col-small-4 {
    width: 33.33333333%;
  }
  .base-col-small-5 {
    width: 41.66666667%;
  }
  .base-col-small-6 {
    width: 50%;
  }
  .base-col-small-7 {
    width: 58.33333333%;
  }
  .base-col-small-8 {
    width: 66.66666667%;
  }
  .base-col-small-9 {
    width: 75%;
  }
  .base-col-small-10 {
    width: 83.33333333%;
  }
  .base-col-small-11 {
    width: 91.66666667%;
  }
  .base-col-small-12 {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .base-container {
    max-width: none;
  }
  .base-hidden-main {
    display: inherit !important;
  }
  .base-hidden-medium {
    display: inherit !important;
  }
  .base-hidden-small {
    display: inherit !important;
  }
  .base-hidden-tiny {
    display: none !important;
  }
  .base-col {
    width: 100%;
  }
  .base-col-tiny-1 {
    width: 8.33333333%;
  }
  .base-col-tiny-2 {
    width: 16.66666667%;
  }
  .base-col-tiny-3 {
    width: 25%;
  }
  .base-col-tiny-4 {
    width: 33.33333333%;
  }
  .base-col-tiny-5 {
    width: 41.66666667%;
  }
  .base-col-tiny-6 {
    width: 50%;
  }
  .base-col-tiny-7 {
    width: 58.33333333%;
  }
  .base-col-tiny-8 {
    width: 66.66666667%;
  }
  .base-col-tiny-9 {
    width: 75%;
  }
  .base-col-tiny-10 {
    width: 83.33333333%;
  }
  .base-col-tiny-11 {
    width: 91.66666667%;
  }
  .base-col-tiny-12 {
    width: 100%;
  }
}