.base-embed:before,
.base-embed:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.base-embed:after {
  clear: both;
}
.base-video {
  width: 100%;
  position: relative;
  padding: 0;
}
.base-video iframe,
.base-video object,
.base-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}