<div class="clients">
    {% if self.subtitle %}
        <div class="subtitle-clients">{{ self.subtitle }}<br></div>
    {% endif %}
    <div class="block-clients">
        <div class="gradient-clients"></div>
        <div class="clients-wrapper">
            {% for logo in self.logos %}
                {% if logo.value.image %}
                {% image logo.value.image original as img %}
                <img src="{{ img.url }}" alt="{{ logo.value.alt_text }}" class="logo-client">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
