{% extends 'base.html' %}

{% block title %}CEA Home{% endblock %}

{% block content %}
<div class="container">
  <h1 class="my-4">Controlled Environment Agriculture</h1>

    {% if cea_chambers %} <!-- If the user has at least one CEA -->
    <ul class="nav nav-tabs">
        {% for type, chambers in cea_chambers.items %}
            {% if chambers %} <!-- If the user has at least one CEA of this type -->
                <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}" id="{{ type|slugify }}-tab" data-bs-toggle="tab" href="#{{ type|slugify }}">{{ type }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="tab-content" id="ceaTabContent">
        {% for type, chambers in cea_chambers.items %}
            {% if chambers %}
                <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="{{ type|slugify }}">
                    <div class="row my-4">
                        {% for chamber in chambers %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="{% url 'cea:growth_chamber_status' chamber.id %}">{{ chamber.name }}</a>
                                        </h4>
                                        <!-- Include more information about the chamber here if needed -->
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
  {% else %}
    <p>You don't have any CEA yet.</p>
  {% endif %}


  <!-- Registration section -->
  <div class="row my-4">
    <h2>Register New CEA</h2>
    
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="growth-chamber-tab" data-bs-toggle="tab" href="#growth-chamber">Growth Chamber</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="greenhouse-tab" data-bs-toggle="tab" href="#greenhouse">Greenhouse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tissue-culture-chamber-tab" data-bs-toggle="tab" href="#tissue-culture-chamber">Tissue Culture Chamber</a>
      </li>
    </ul>

    <div class="tab-content" id="ceaTabContent">
      <div class="tab-pane fade show active" id="growth-chamber">
        <div class="col-lg-4 col-md-6 mb-4">
          <a href="{% url 'cea:find_cea' %}" class="btn btn-primary">Register New Growth Chamber</a>
        </div>
      </div>
      <div class="tab-pane fade" id="greenhouse">
        <div class="col-lg-4 col-md-6 mb-4">
          <a href="{% url 'cea:find_cea' %}" class="btn btn-primary">Register New Greenhouse</a>
        </div>
      </div>
      <div class="tab-pane fade" id="tissue-culture-chamber">
        <div class="col-lg-4 col-md-6 mb-4">
          <a href="{% url 'cea:find_cea' %}" class="btn btn-primary">Register New Tissue Culture Chamber</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
