{% extends 'base.html' %}

{% block title %}CEA Home{% endblock %}

{% block content %}
<div class="container">
  <h1 class="my-4">Controlled Environment Agriculture</h1>

  {% for type, chambers in cea_chambers.items %}
  <div class="row my-4">
    <h2>{{ type }}</h2>
    {% for chamber in chambers %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <a href="{% url 'cea:chamber_detail' chamber.id %}">{{ chamber.name }}</a>
            </h4>
            <!-- Include more information about the chamber here if needed -->
          </div>
        </div>
      </div>
    {% empty %}
      <p>You don't have any {{ type.lower() }} yet.</p>
    {% endfor %}
  </div>
  {% endfor %}

  <!-- Registration links -->
  <div class="row my-4">
    <h2>Register New CEA</h2>
    <div class="col-lg-4 col-md-6 mb-4">
      <a href="{% url 'cea:new_growth_chamber' %}" class="btn btn-primary">Register New Growth Chamber</a>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <a href="{% url 'cea:new_greenhouse' %}" class="btn btn-primary">Register New Greenhouse</a>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <a href="{% url 'cea:new_tissue_culture_chamber' %}" class="btn btn-primary">Register New Tissue Culture Chamber</a>
    </div>
  </div>
</div>
{% endblock %}
