{% load static %}

<div class="hero-section">
  <div class="row align-items-center my-5">
    <div class="col-md-6">
      <h1>Digitize and Manage Your Garden with Ease</h1>
      <p class="lead">Create digitial representations, or digits, of your plants on our platform and recieve personalized assistance anytime.</p>
     
      <a href="#features" class="btn btn-primary">Start now</a> <!-- Call to action -->
    </div>
    <!-- Helps them visualize product and use -->
    <div class="col-md-6">
      <img src="{% static 'path/to/your/image.jpg' %}" alt="Your Image Description" class="img-fluid">
    </div>
  </div>
</div>