{% load static %}

<div class="hero-section">
  <!-- The video element containing background video --> 
  <!-- video autoplay loop muted playsinline class="hero-background-video"> -->
  <!--   <source src="{% static 'AdobeStock/digital_management.mp4' %}" type="video/mp4"> -->
  <!--   Your browser does not support the video tag. -->
  <!-- </video> -->
  <!-- Struggling to manage your plant's growth process?-->
  <!-- From varying watering schedules to specific sunlight requirements, keeping each plant thriving can be overwhelming and time-consuming. -->
  <!-- digit simplifies plant care. Our digital platform, equipped with NFC tags and a specialized chatbot, offers personalized care schedules and expert advice for each plant in your collection.-->

  <div class="row align-items-center my-5">
    <div class="col-md-12">
      <h1>Plant management made easy</h1>
      <p class="lead">Our platform makes managing your plants an easy and enjoyable experience. Recieve personalized assistance anytime from CyBot, our AI-powered chatbot. Creators can apply to the Digit Partner Program. Just attach our smart sticker to any plant label and tap with your smartphone to get started!</p>
    </div>
  </div>
</div>
