{% load static %}

<div class="hero-section">

  <div class="row align-items-center my-5">
    <div class="col-md-12">
      <h1>Digitize Your World with Ease</h1>
      <p class="lead">Welcome to Digit, where we revolutionize the way you manage biodiversity data.</p>
      <a href="#features" class="btn btn-primary">Explore Features</a>
      <a href="#contact" class="btn btn-secondary">Get in Touch</a>
    </div>
  </div>

  <div class="row align-items-center mt-4">
    <div class="col-md-12">
      <h2>Personalize Your Digital Botanical Journey</h2>
      <p class="lead">In Digit, your experience is uniquely yours. Our user profiles allow you to customize your digital botanical journey. By adding details like your location, Digit can automatically journal local environmental variables - sunlight, humidity, temperature, and more - alongside your digitized plants.</p>
    </div>
  </div>

  <div class="row align-items-center mt-4">
    <div class="col-md-12">
      <h2>Bridge the Gap Between Physical and Digital World</h2>
      <p class="lead">Each plant, or plant grouping, in your collection is linked using a sticker embedded with NFC technolgy, turning it into a digital touchpoint. Just a tap with your smartphone, and you're instantly connected to a digital representation, or digit, on our platform. Here you can create journal entries recording important dates, seed/plant information, or new images as needed.</p>
    </div>
  </div>

  <div class="row align-items-center mt-4">
    <div class="col-md-12">
      <h2>Powered by Science, Perfected for Your Use</h2>
      <p class="lead">At the heart of Digit lies our commitment to precision and reliability. Our platform uses the Integrated Taxonomic Information System, a leading scientific resource for taxonomic data. Experience a new level of confidence in managing your botanical world.</p>
    </div>
  </div>

  <div class="row align-items-center mt-4">
    <div class="col-md-12">
      <h2>Interact with Your Digitized World</h2>
      <p class="lead">Digit brings your plant data to life with our state-of-the-art AI model. Once your plants are digitized, you're not just storing data - you're unlocking a dynamic interaction. Our AI enables you to retrieve, analyze, and engage with your plants' information in real-time. Whether it's identifying plant health trends, receiving care tips, or exploring botanical insights, our platform makes every interaction intuitive.</p>
    </div>
  </div>

</div>