{% extends "journal/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Journal Entry" %}
{% endblock title %}

{% block subtitle %}
  {% trans "Add" %}
{% endblock subtitle %}

{% block heading %}
  {% trans "Add Journal Entry" %}
{% endblock heading %}

{% block content %}
  <form method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="{{ form.image.id_for_label }}">{% trans "Image" %}:</label>
    {{ form.image }}
    {% if form.image.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.image.errors|striptags }}</div>
      </div>
    {% endif %}
    <label for="{{ form.caption.id_for_label }}">{% trans "Image Caption" %}:</label>
    {{ form.caption }}
    {% if form.caption.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.caption.errors|striptags }}</div>
      </div>
    {% endif %}
    <label for="{{ form.entry.id_for_label }}">{% trans "Entry" %}:</label>
    {{ form.entry }}
    {% if form.entry.errors %}
      <div class="error-message">
        <div class="text-error">{{ form.entry.errors|striptags }}</div>
      </div>
    {% endif %}
    <input type="submit" value="Add" class="submit-button base-button"> 
    {{ form.non_field_errors }}
  </form>
{% endblock %}
