{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
  {% for block in page.body %}
    {% if block.block_type == 'hero_section' %}
      <section class="section-hero">
        <div class="content">
          <div class="layout-grid grid-hero">
            <div class="block-hero">
              <h1 class="heading-hero">{{ block.value.heading }}</h1>
              <p class="paragraph-hero">{{ block.value.paragraph }}</p>
            </div>
            <!-- Hero Lottie animations are now rendered dynamically -->
            <div id="heroLottie-LP" data-w-id="heroLottie" class="lottie">
              {% for animation in block.value.lottie_animations %}
                <div class="{{ animation.css_class }}" data-animation-type="lottie" data-src="{% static animation.json_file %}" data-loop="{{ animation.loop }}" data-direction="{{ animation.direction }}" data-autoplay="{{ animation.autoplay }}" data-renderer="svg" data-default-duration="{{ animation.default_duration }}" data-duration="{{ animation.duration }}"></div>
              {% endfor %}
            </div>
            <div class="features-lottie">
              {% for feature in block.value.features %}
                <div style="transform: none;" class="feature-lottie-block">
                  <img src="{% static feature.icon %}" loading="eager" alt="" class="icon-feature-lottie">
                  <div class="text-feature-lottie">{{ feature.text }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    {% else %}
      {% include_block block %}
    {% endif %}
  {% endfor %}

  {% include 'home/landing/partials/how_it_works.html' %}
  {% include 'home/landing/partials/call_to_action.html' %}
{% endblock content %}