.base-file-upload {
  display: block;
  margin-bottom: 10px;
}
.base-file-upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -100;
}
.base-file-upload-default,
.base-file-upload-uploading,
.base-file-upload-success {
  display: inline-block;
  color: #333333;
}
.base-file-upload-error {
  display: block;
  margin-top: 10px;
}
.base-file-upload-default.base-hidden,
.base-file-upload-uploading.base-hidden,
.base-file-upload-error.base-hidden,
.base-file-upload-success.base-hidden {
  display: none;
}
.base-file-upload-uploading-btn {
  display: flex;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  margin: 0;
  padding: 8px 12px;
  border: 1px solid #cccccc;
  background-color: #fafafa;
}
.base-file-upload-file {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  padding: 8px 9px 8px 11px;
  border: 1px solid #cccccc;
  background-color: #fafafa;
}
.base-file-upload-file-name {
  font-size: 14px;
  font-weight: normal;
  display: block;
}
.base-file-remove-link {
  margin-top: 3px;
  margin-left: 10px;
  width: auto;
  height: auto;
  padding: 3px;
  display: block;
  cursor: pointer;
}
.base-icon-file-upload-remove {
  margin: auto;
  font-size: 10px;
}
.base-file-upload-error-msg {
  display: inline-block;
  color: #ea384c;
  padding: 2px 0;
}
.base-file-upload-info {
  display: inline-block;
  line-height: 38px;
  padding: 0 12px;
}
.base-file-upload-label {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  margin: 0;
  padding: 8px 12px;
  border: 1px solid #cccccc;
  background-color: #fafafa;
}
.base-icon-file-upload-icon,
.base-icon-file-upload-uploading {
  display: inline-block;
  margin-right: 8px;
  width: 20px;
}
.base-icon-file-upload-uploading {
  height: 20px;
}