.base-dyn-empty {
  padding: 10px;
  background-color: #dddddd;
}

.base-dyn-hide {
  display: none !important;
}

.base-dyn-bind-empty {
  display: none !important;
}

.base-condition-invisible {
  display: none !important;
}

.layout-layout {
  display: grid;
}