{% load static wagtailimages_tags wagtailcore_tags %}

<section class="section">
  <div class="content">
    <div id="largeItemCollection" class="collection-list-wrapper-items large base-dyn-list">
      <div role="list" class="collection-list-items large base-dyn-items">
        <div role="listitem" class="block-item large base-dyn-item">
          <a href="" class="link-item-thumbnail base-inline-block">
            <img src="" loading="eager" alt="" class="image-item-thumbnail large">
          </a>
          <div class="item large">
            <div class="date"></div>
            <a href="" class="link-heading-item base-inline-block">
              <h3 class="heading-item large"></h3>
            </a>
            <p class="paragraph-item large"></p>
            <a href="" class="link-block w-inline-block">
              <div class="text-link">Read More</div>
              <div class="link-block-icon">
                <img src="{% static 'base/images/bx/arrow.svg' %}" loading="eager" alt="Right Arrow" class="icon-link">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="item-items-list" class="collection-list-wrapper-items base-dyn-list">
      <div role="list" class="collection-list-items base-dyn-items">
        {% for item in collection %}
          <div role="listitem" class="block-item base-dyn-item" onclick="showLargeitem(this)" data-id="{{ item.uuid }}">
            <a href="{{ item.url }}" class="link-item-thumbnail base-inline-block">
              {% if item.image %}
                {% image item.image original class="image-item-thumbnail" %}
              {% endif %}
            </a>
            <div class="item">
              <div class="date">{{ item.date }}</div>
              <a href="{{ item.url }}" class="link-heading-item base-inline-block">
                <h3 class="heading-item">{{ item.title }}</h3>
              </a>
              <p class="paragraph-item">{{ item.paragraph }}</p>
              <a href="{{ item.url }}" class="link-block w-inline-block">
                <div class="text-link">Read more</div>
                <div class="block-icon-link">
                  <img src="{% static 'base/images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
                </div>
              </a>
            </div>
          </div>
        {% empty %}
          <div class="empty-state base-dyn-empty">
            <div class="text-empty">No items found.</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
