{% load static %}
<!-- Clickable header for toggling the form -->
<div class="accordion-header" onclick="toggleUserButtons()">
  <h4 class="heading-account">Update or Delete Account</h4>
  <div class="block-icon-accordion" id="toggleIcon">
    <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion"><img src="{% static 'accounts/images/close.svg' %}" loading="eager" alt="" class="icon-accordion"></div>
  </div>
</div>

<!-- Container for update and delete buttons -->
<div id="userButtons" style="display: none;">
  <section class="section">
    <div class="content">
      <a href="{% url 'accounts:modify-profile' %}" class="button">Update Account</a>
    </div>
  </section>
    
  <section class="section">
    <div class="content">
      <form action="{% url 'accounts:delete' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Account" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
      </form>
    </div>
  </section>
</div>

<script>
    function toggleUserButtons() {
        console.log("Toggle function called");
        var userButtons = document.getElementById('userButtons');
        var toggleIcon = document.getElementById('toggleIcon');

        if (userButtons.style.display === 'none' || userButtons.style.display === '') {
            userButtons.style.display = 'block';
            toggleIcon.classList.add('rotate-icon');
        } else {
            userButtons.style.display = 'none';
            toggleIcon.classList.remove('rotate-icon');
        }
    }
</script>