.care {
  grid-row-gap: 1.2em;
  background-color: var(--accent-b1);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;
}

.care.green {
  background-color: var(--accent-b3);
}

.care.red {
  background-color: var(--accent-b2);
}

.block-icon-care {
  width: 4.5em;
  height: 4.5em;
  background-color: var(--core-primary-color);
  border-radius: .87em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-icon-care.green, .block-icon-care.red {
  background-color: var(--core-primary-color);
}

.heading-care, .heading-care.green, .heading-care.red{
  color: var(--core-primary-color);
}

.paragraph-care, .paragraph-care.green, .paragraph-care.red {
  color: var(--core-primary-color);
}

.icon-care {
  width: 2em;
  height: 2em;
}