{% load static wagtailcore_tags wagtailimages_tags %}

<section class="section">
  <div class="content">    
    <div class="collection-list-wrapper-posts large base-dyn-list">
      <div role="list" class="collection-list-posts large base-dyn-items">
        <div role="listitem" class="base-dyn-item">
          {% with profile=featured_profile.specific %}
            <div class="block-post large">
              <a href="{% pageurl profile %}" class="link-post-thumbnail large base-inline-block">
                {% with profile.avatar as avatar %}
                  {% if avatar %}{% image avatar fill-120x80 class="image-post-thumbnail large" %}{% endif %}
                {% endwith %}
              </a>
              <div class="post large">
                <div class="date">{{ profile.date }}</div>
                <a href="{% pageurl profile %}" class="link-heading-post large base-inline-block">
                  <h3 class="heading-post">{{ profile.title }}</h3>
                </a>
                <p class="paragraph-post large">{{ profile.body|richtext }}</p>
                <a href="{% pageurl profile %}" class="link-block base-inline-block">
                  <div class="text-link">Read more</div>
                  <div class="block-icon-link">
                    <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
                  </div>
                </a>
              </div>
            </div>
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</section>