{% load static wagtailcore_tags wagtailimages_tags %}

<section class="section">
  <div class="content">    
    <div class="collection-list-wrapper-posts large base-dyn-list">
      <div role="list" class="collection-list-posts large base-dyn-items">
        <div role="listitem" class="base-dyn-item">
          <div class="block-post large">
            {% if profile.profile.avatar %}
              {% image profile.profile.avatar fill-120x80 class="image-post-thumbnail large" %}
            {% endif %}
            <div class="post large">
              <div class="date">{{ profile.profile.created_at }}</div>
              <h3 class="heading-post">{{ profile.profile.user.username }}</h3>
              <p class="paragraph-post large">{{ profile.body|richtext }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
