{% load static wagtailcore_tags wagtailimages_tags %}

<section class="section">
  <div class="content">    
    <div class="collection-list-wrapper-posts large base-dyn-list">
      <div role="list" class="collection-list-posts large base-dyn-items">
        <div role="listitem" class="base-dyn-item">
          <div class="block-post large">
            <a href="{% pageurl profile %}" class="link-post-thumbnail large base-inline-block">
              {% if profile.profile.avatar %}{% image profile.profile.avatar fill-120x80 class="image-post-thumbnail large" %}{% endif %}
            </a>
            <div class="post large">
              <div class="date">{{ profile.profile.created_at }}</div>
              <a href="{% pageurl profile %}" class="link-heading-post large base-inline-block">
                <h3 class="heading-post">{{ profile.profile.user.username }}</h3>
              </a>
              <p class="paragraph-post large">{{ profile.body|richtext }}</p>
              <a href="{% pageurl profile %}" class="link-block base-inline-block">
                <div class="text-link">Read more</div>
                <div class="block-icon-link">
                  <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
