<section class="section">
  <div style="opacity:0" class="content">
    <div class="assets__collectionwrapper--large w-dyn-list">
      <div role="list" class="assets__collection--large w-dyn-items">
        <div role="listitem" class="w-dyn-item">
          <div class="asset__block--large">
            <a href="#" class="asset__thumbnaillink--large w-inline-block">
              <img alt="" loading="eager" src="" class="asset__thumbnail--large">
            </a>
            <div class="asset--large">
              <div class="date"></div>
              <a href="#" class="asset__headinglink--large w-inline-block">
                <h3 class="asset__heading"></h3>
              </a>
              <p class="asset__paragraph--large"></p>
              <a href="#" class="link__block w-inline-block">
                <div class="link__text">Read more</div>
                <div class="link__block--icon">
                  <img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="link__icon">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="assets__collectionwrapper w-dyn-list">
      <div role="list" class="assets__collection w-dyn-items">
        <div role="listitem" class="w-dyn-item">
          <div class="asset__block">
            <a href="#" class="asset__thumbnaillink w-inline-block">
              <img alt="" loading="eager" src="" class="asset__thumbnail">
            </a>
            <div class="asset">
              <div class="date"></div>
              <a href="#" class="asset__headinglink w-inline-block">
                <h4 class="asset__heading"></h4>
              </a>
              <p class="asset__paragraph"></p>
              <a href="#" class="link-block w-inline-block">
                <div class="text-link">Read more</div>
                <div class="block-icon-link">
                  <img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="icon-link">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>