<section class="section">
  <div class="content">
    <div id="largeAssetCollection" style="opacity:0; display: none;" class="assets__collectionwrapper--large">
      <div role="list" class="assets__collection--large">
        <div role="listitem" class="asset__block--large">
          <img id="largeAssetImage" alt="" loading="eager" src="" class="asset__thumbnail--large">
          <div class="asset--large">
            <div id="largeAssetDate" class="date"></div>
            <h3 id="largeAssetHeading" class="asset__heading--large"></h3>
            <p id="largeAssetParagraph" class="asset__paragraph--large"></p>
            <a href="#" class="link__block w-inline-block">
              <div class="link__text">Read more</div>
              <div class="link__block--icon">
                <img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="link__icon">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="assetCollection" class="assets__collectionwrapper">
      <div role="list" class="assets__collection">
        <!-- Asset items will be injected here by JavaScript -->
      </div>
    </div>
  </div>
</section>
