{% load static laces wagtailimages_tags wagtailcore_tags %}

<section class="section">
  <div class="content">
    <div class="block-top">
      <div class="block-categories">
        <div class="collection-list-wrapper-categories w-dyn-list">
          <div role="list" class="collection-list-categories w-dyn-items">
            <div role="listitem" class="collection-item-categories w-dyn-item">
              <a href="#" class="link-category w-inline-block">
                <img alt="" loading="eager" src="" class="icon-category">
                <div class="text-category"></div>
              </a>
            </div>
          </div>
          <div class="empty-state w-dyn-empty">
            <div class="text-empty">No categories found.</div>
          </div>
        </div>
        <a href="pricing.html" aria-current="page" class="link-category w-inline-block w--current">
          <img src="images/switcher.svg" loading="eager" alt="" class="icon-category">
          <div class="text-category">Add</div>
        </a>
      </div>
    </div>
  </div>
</section>