<section class="header__section">
  <div style="opacity:0" class="content">
    <div class="header__block">
      {% if header.heading %}
        <h1 class="header__heading">{{ header.heading }}</h1>
      {% endif %}
      {% if header.subheading %}
        <p class="header__subheading">{{ header.subheading }}</p>
      {% endif %}
      {% if header.includes_categories %}
        {% include 'inventory/components/categories.html' with categories=header.categories %}
      {% endif %}
    </div>
  </div>
</section>