{% load laces %}

{% block extra_css %}
  {{ header_panels.media.css }}
  {{ body_panels.media.css }}
  {{ footer_panels.media.css }}
{% endblock extra_css %}

{% if header_panels %}
  {% block header %}
    {% for panel in header_panels %}
      {% component panel %}
    {% endfor %}
  {% endblock header %}
{% endif %}

{% if body_panels %}
  {% block body %}
    {% for panel in body_panels %}
      {% component panel %}
    {% endfor %}
  {% endblock body %}
{% endif %}

{% if footer_panels %}
  {% block footer %}
    {% for panel in footer_panels %}
      {% component panel %}
    {% endfor %}
  {% endblock footer %}
{% endif %}

{% block extra_js %}{% endblock extra_js %}