{% load laces static wagtailimages_tags %}

<div class="block-post">
  <a href="{{ url }}" class="link-post-thumbnail w-inline-block">
    {% image thumbnail original class="image-post-thumbnail" alt=thumbail.alt %}
  </a>
  <div class="post">
    <div class="date">{{ date }}</div>
    <a href="{{ url }}" class="link-heading-post w-inline-block">
      {% component heading %}
    </a>
    {% component paragraph %}
    <a href="{{ url }}" class="link-block w-inline-block">
      <div class="text-link">Read More</div>
      <div class="block-icon-link">
        <img src="{% static 'base/images/bx/arrow-green.svg' %}" class="icon-link" alt="Green Right Arrow" loading="eager">
      </div>
    </a>
  </div>
</div>