<div data-w-id="9c896d19-12ed-148e-4e5a-1c014986d7c2" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar base-nav">
  <div class="nav-block">
    <div class="nav">
      <a href="index.html" class="brand base-nav-brand">
        <img src="images/logo.svg" loading="eager" alt="" class="logo">
      </a>
      <nav role="navigation" class="nav-menu base-nav-menu">
        <a href="solutions.html" class="nav-link base-nav-link">Solutions</a>
        <a href="company.html" class="nav-link base-nav-link">Company</a>
        <a href="blog.html" class="nav-link base-nav-link">Blog</a>
        <a href="contact.html" class="nav-link base-nav-link">Contact</a>
        <a href="pricing.html" aria-current="page" class="nav-link base-nav-link base--current">Pricing</a>
        <div class="button-mobile">
          <a href="login.html" class="nav-button-outline base-button">Login</a>
          <a href="get-started.html" class="nav-button base-button">Get Started</a>
        </div>
      </nav>
    </div>
    <div class="nav">
      <div class="button-desktop">
        <a href="login.html" class="nav-button-outline base-button">Login</a>
        <a href="get-started.html" class="nav-button base-button">Get Started</a>
      </div>
      <div class="menu-button base-nav-button">
        <div class="icon-menu base-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>