{% load wagtailcore_tags %}

<div class="block-footer-down">
  {% if footer_copyright %}
    <div class="text-footer-down">{{ footer_copyright|richtext }}<br></div>
  {% else %}
    <div class="text-footer-down">Copyright CyBotany, Institute. All rights reserved. Built with <a href="https://wagtail.org/" target="_blank" class="link-footer-down">Wagtail</a><br></div>
  {% endif %}
  {% if footer_credit %}
    <div class="text-footer-down">{{ footer_credit|richtext }}<br></div>
  {% endif %}
</div>