{% load static %}
  <section class="section">
    <div class="content">
      <div class="block-heading">
        <div class="subtitle">Features<br></div>
        <h2 class="heading">Hosting tailored to your needs</h2>
      </div>
      <div class="base-layout-grid grid-features">
        <div class="features">
          <div class="block-heading-features">
            <img src="{% static 'base/images/tech/ibm-watson-rocket.svg' %}" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">Free SSL Certificate</h5>
          </div>
          <p class="paragraph-features">Vitae pharetra pretium morbi cursus pretium mauris lorem pellentesque. Fames mattis lorem blandit.</p>
        </div>
      </div>
    </div>
  </section>