{% extends "inventory/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <section class="section">
    <div class="content">  
      <div class="collection-list-wrapper-assets large base-dyn-list">
        <div role="list" class="collection-list-assets large base-dyn-items">
          <div role="listitem" class="base-dyn-item">
            <div class="block-asset large">
              {% if panel.image %}
                <a href="#" class="link-asset-thumbnail large base-inline-block">
                  {% image panel.image original class="image-asset-thumbnail large" %}
                </a>
              {% endif %}
              <div class="asset large">
                {% if panel.date %}
                  <div class="date">{{ panel.date}}</div>
                {% endif %}
                {% if panel.name %}
                  <a href="#" class="link-heading-asset large base-inline-block">
                    <h3 class="heading-asset">{{ panel.name }}</h3>
                  </a>
                {% endif %}
                {% if panel.description %}
                  <p class="paragraph-asset large">{{ panel.description }}</p>
                {% endif %}
                {% if request.user == page.owner %}
                  <div class="block-button">
                    <a href="{{ panel.update_url }}" class="button-outline-small base-button">Update</a>
                    <a href="{{ panel.delete_url }}" class="button-small dark base-button">Delete</a>
                  </div>
                {% else %}
                  <a href="#" class="button base-button">Message</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'base/layouts/inventory.html' with inventory=page_inventory %}
{% endblock %}