{% load wagtailimages_tags %}

<section class="section-top-bar">
  <div class="top-bar-block">
    <div class="top-bar">
      <div class="info-top-bar">{{ value.message }}</div>
    </div>
    {% if value.icons and value.icons|length > 0 %}
      <div class="top-bar">
        {% for icon in value.icons %}
          <a href="{{ icon.url.link }}" class="link-top-bar w-inline-block" >
            {% image icon.image width-400 class="icon-top-bar" alt="{{ icon.alt_text }}" %}
            <div class="text-top-bar">{{ icon.url.text }}</div>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
