<!-- base/blocks/components/reviews.html -->
<section class="section">
  <div class="content">
    <div class="subtitle">{{ self.content.block.subtitle }}</div>
    <h2 class="heading">{{ self.content.block.title }}</h2>
    <p class="paragraph">{{ self.content.block.text }}</p>
    <a href="{{ self.content.block.button.url }}" class="button base-button">{{ self.content.block.button.text }}</a>

    <div class="base-layout-grid grid">
      {% for review in self.content.grid.reviews %}
        <div class="review">
          <div class="stars">
            {% for star in range(review.value.rating) %}
              <img src="images/star.svg" loading="eager" alt="" class="icon-star">
            {% endfor %}
          </div>
          <p class="paragraph-review">{{ review.value.text }}</p>
          <div class="review-name">{{ review.value.name }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
