.avatar-image {
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 150px;
  margin-bottom: 15px;
}

.digit-body {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  margin-bottom: 1em;
  padding: 4em 13%;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.digit-modification-link {
  margin-bottom: 1.3em;
  text-decoration: none;
}
  
.digit-modification-link.large {
  margin-bottom: 1.4em;
}

@import url('digit/journal-section.css');
@import url('digit/taxonomy-section.css');
@import url('digit/care-section.css');

@import url('box/grid-section.css');

@media screen and (max-width: 991px) {  
  .digit-body {
    padding: 4em 10%;
  }
}

@media screen and (max-width: 767px) {
  .digit-body {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

@media screen and (max-width: 479px) {
  .digit-body {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}