.collection-list-items {
  grid-column-gap: 1.5em;
  grid-row-gap: 3.4em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-list-items.large {
  grid-template-columns: 1fr;
}

.block-item {
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.block-item.large {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-list-wrapper-items.large {
  margin-bottom: 3.4em;
}

.image-item-thumbnail {
  width: 100%;
  height: 15em;
  object-fit: cover;
  border-radius: .87em;
}

.image-item-thumbnail.large {
  height: auto;
  max-height: 40em;
}

.link-item-thumbnail {
  width: 100%;
}

.link-item-thumbnail.large {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.item {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.5em 2.8em;
  display: flex;
}

.item.large {
  justify-content: center;
  padding: 4.3em 4.5em;
}

.date {
  color: rgba(20, 23, 24, .5);
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: .8em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.link-heading-item {
  margin-bottom: 1.3em;
  text-decoration: none;
}

.link-heading-item.large {
  margin-bottom: 1.4em;
}

.paragraph-item {
  margin-bottom: 1.4em;
}

.paragraph-item.large {
  max-width: 25em;
  margin-bottom: 1.6em;
}

.item-body {
  width: 100%;
  background-color: var(--white);
  border-radius: .87em;
  padding: 4em 13%;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.image-main-item {
  width: 100%;
  object-fit: cover;
  border-radius: .87em;
}

.subtitle-item {
  color: rgba(20, 23, 24, .5);
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: 1.4em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.icon-features-item {
  width: 1.5em;
  height: 1.5em;
}

.features-item {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.block-features-item {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2.2em;
  display: flex;
}

@media screen and (max-width: 991px) {
  .collection-list-items {
    grid-column-gap: 1.13em;
    grid-row-gap: 3em;
    grid-template-columns: 1fr 1fr;
  }

  .collection-list-wrapper-items.large {
    margin-bottom: 3em;
  }

  .image-item-thumbnail {
    height: 28vw;
  }

  .item.large {
    padding: 3.4em 3.2em;
  }

  .item-body {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 767px) {
  .collection-list-items {
    grid-row-gap: 2em;
    grid-template-columns: 1fr;
  }

  .block-item.large {
    grid-template-columns: 1fr;
  }

  .collection-list-wrapper-items.large {
    margin-bottom: 2em;
  }

  .image-item-thumbnail, .image-item-thumbnail.large {
    height: 50vw;
  }

  .item-body {
    padding-top: 2.9em;
    padding-bottom: 2.9em;
  }
}

@media screen and (max-width: 479px) {
  .collection-list-items {
    grid-row-gap: 1.5em;
  }

  .collection-list-wrapper-items.large {
    margin-bottom: 1.5em;
  }

  .item, .item.large {
    padding: 1.8em 2.2em;
  }

  .item-body {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}