.ecommerce-form {
  min-height: auto;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

.ecommerce-grid {
  width: 100%;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  align-items: start;
}

.ecommerce-contents {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  margin-right: 0;
  display: flex;
}

.ecommerce-sidebar {
  top: 100px;
}

.ecommerce-block {
  background-color: var(--white);
  border-radius: .87em;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}