.product {
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.4em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.product-content {
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.product-sticky {
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.4em;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.subtitle-product {
  color: rgba(20, 23, 24, .5);
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: 1.4em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.yellow-tag {
  background-color: var(--core-info-color);
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 110%;
  position: absolute;
  top: -.8em;
  bottom: auto;
  left: auto;
  right: 2em;
}

.green-tag {
  background-color: var(--core-accent-color);
  color: var(--white);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 110%;
  position: absolute;
  top: -.8em;
  bottom: auto;
  left: auto;
  right: 2em;
}

.yellow-tag-product {
  background-color: var(--core-info-color);
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 110%;
}

.green-tag-product {
  background-color: var(--core-accent-color);
  color: var(--white);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 110%;
}