{% extends "profiles/base.html" %}
{% load static %}

{% block content %}
  <section class="section">
    <div class="content">    
      {% include 'profiles/elements/panel.html' %}
    </div>
  </section>
  <section class="section">
    <div class="content">
      {% include 'profiles/elements/tabs.html' %}
      <div id="asset-items-list" class="asset-item-collection-wrapper base-dyn-list">
        <div role="list" class="asset-item-collection base-dyn-items">
          {% include 'profiles/elements/card.html' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block extra_js %}{% endblock %}