{% extends "profiles/base.html" %}
{% load static wagtailcore_tags%}

{% block content %}
  <!-- Profile Section -->
  <section class="section">
    <div class="content">    
      <div class="profile-wrapper large">
        <div class="profile large">
          <div class="block-profile large">
            {% include "profiles/includes/profile/avatar.html" %}
            {% include "profiles/includes/profile/body.html" %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">Digitized Assets</h1>
        <div class="block-categories">
          <div class="collection-list-wrapper-categories base-dyn-list">
            <div role="list" class="collection-list-categories base-dyn-items">
              <div role="listitem" class="collection-item-categories base-dyn-item" alt="" loading="eager">
                <a href="#" class="link-category base-inline-block">
                  <img src="{% static 'images/switcher.svg' %}" class="icon-category">
                  <div class="text-category">All</div>
                </a>
              </div>
              <div role="listitem" class="collection-item-categories base-dyn-item" alt="" loading="eager">
                <a href="#" class="link-category base-inline-block">
                  <img src="{% static 'images/ibm/cloud-dedicated-host.svg' %}" class="icon-category">
                  <div class="text-category">Dedicated Hosting</div>
                </a>
              </div>
              <div role="listitem" class="collection-item-categories base-dyn-item">
                <a href="#" class="link-category base-inline-block">
                  <img src="{% static 'images/cloud-data-ops.svg' %}" class="icon-category" alt="" loading="eager">
                  <div class="text-category">Cloud Hosting</div>
                </a>
              </div>
              <div role="listitem" class="collection-item-categories base-dyn-item">
                <a href="#" class="link-category base-inline-block">
                  <img src="{% static 'images/object-storage.svg' %}" class="icon-category" alt="" loading="eager">
                  <div class="text-category">VPS Hosting</div>
                </a>
              </div>
              <div role="listitem" class="collection-item-categories base-dyn-item">
                <a href="#" class="link-category base-inline-block">
                  <img src="{% static 'images/edge-node-alt.svg' %}" class="icon-category" alt="" loading="eager">
                  <div class="text-category">Shared Hosting</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}