{% extends "profiles/base.html" %}
{% load static %}

{% block content %}
  <section class="section">
    <div class="content">    
      {% include 'profiles/elements/panel.html' %}
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="block-asset-categories block">
        <a href="#" aria-current="page" class="link-asset-category base-inline-block base--current" data-category="party">
          <img src="{% static 'base/images/switcher.svg' %}" loading="eager" alt="" class="icon-asset-category">
          <div class="text-asset-category">Party</div>
        </a>
      </div>
      <div id="asset-items-list" class="asset-item-collection-wrapper base-dyn-list">
        <div role="list" class="asset-item-collection base-dyn-items">
          {% for digit in party_digits %}
            {% include 'profiles/elements/card.html' %}
          {% empty %}
            {% include 'profiles/elements/empty.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
{% endblock %}