{% extends "company/base.html" %}
{% load static wagtailcore_tags %}

{% block header %}
  {% include "includes/header.html" %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.title }}</h1>
        <p class="paragraph-top">{{ page.intro }}</p>
      </div>
    </div>
  </section>
{% endblock header %}

{% block body %}
  <section class="section">
    <div class="content">
      <div class="w-layout-grid grid-about">
        <div id="w-node-_0cd70b74-ab87-0e37-8c12-0b38f4d52384-0e94173f" class="about">
          <div class="block-icon-about">
            <img src="{% static 'base/images/earth.svg' %}" loading="lazy" decoding="async" alt="" class="icon-about">
          </div>
          <h4 class="heading-about">Our Mission</h4>
          <p class="paragraph-about">Quam varius nullam aliquet a orci consequat feugiat. Adipiscing lacus condimentum eu nullam risus neque turpis. Aliquet justo <br><br>In malesuada id nunc pharetra diam pellentesque morbi id auctor. Facilisis justo nunc at a vitae id ullamcorper arcu.</p>
        </div>
        <div id="w-node-afed3ac8-3177-ec05-990a-39f68f9eb356-0e94173f" class="about green">
          <div class="block-icon-about green">
            <img src="{% static 'base/images/cloud-mod-stack.svg' %}" loading="lazy" decoding="async" alt="" class="icon-about">
          </div>
          <h4 class="heading-about green">Our Role</h4>
          <p class="paragraph-about green">Aenean in mauris nec sed arcu volutpat morbi risus at. Consequat purus et bibendum malesuada. <br><br>Urna ac massa morbi at sed urna cursus. Pharetra imperdiet suspendisse pharetra cras proin adipiscing. Venenatis cras sit nulla etiam pharetra.</p>
        </div>
        <div id="w-node-_84b383cf-f2f3-bea7-8c05-b0fd748b650d-0e94173f" class="about red">
          <div class="block-icon-about red">
            <img src="{% static 'base/images/events.svg' %}" loading="lazy" decoding="async" alt="" class="icon-about">
          </div>
          <h4 class="heading-about red">Our Values</h4>
          <p class="paragraph-about red">Blandit massa sodales pellentesque pellentesque in iaculis dignissim porttitor quisque. Amet dui integer ac platea viverra. Aenean facilisis fusce laoreet sit dolor. <br><br>Massa pharetra vel urna dolor non. Suspendisse dignissim quis nam iaculis. Libero commodo.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="w-layout-grid grid">
        <div id="w-node-ef8907ed-ca22-ade3-43fc-33a830f840f2-0e94173f" data-w-id="ef8907ed-ca22-ade3-43fc-33a830f840f2" class="lottie">
          <div class="lines-b1">
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
          </div>
          <div class="lines-b2">
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div class="lottie-animation-1" data-w-id="ef8907ed-ca22-ade3-43fc-33a830f84102" data-animation-type="lottie" data-src="documents/Lottie-B1-White.json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-w-id="ef8907ed-ca22-ade3-43fc-33a830f84103" data-animation-type="lottie" data-src="documents/Lottie-B2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-w-id="ef8907ed-ca22-ade3-43fc-33a830f84104" data-animation-type="lottie" data-src="documents/Lottie-B2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
          </div>
        </div>
        <div id="w-node-ef8907ed-ca22-ade3-43fc-33a830f84105-0e94173f" class="block-right">
          <h5 class="heading-quote">“Quis duis laoreet euismod facilisis posuere fringilla viverra tortor. Sit est duis enim lectus ac tincidunt. Eleifend interdum nulla ut vitae. Nunc sem faucibus neque faucibus. <br><br>Urna non et dictum sit cras. Urna etiam elit proin amet sed magna faucibus varius. Pulvinar gravida imperdiet cras dui pellentesque amet augue. Tincidunt et velit.”</h5>
          <div class="block-quote">
            <div class="block-name">
              <h6 class="heading-name">Tommy Yates</h6>
              <div class="text-role">Co-founder<br></div>
            </div>
            <img src="{% static 'base/images/earth.svg' %}images/signature.svg" loading="lazy" decoding="async" alt="" class="signature">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="block-heading">
        <div class="subtitle">Our Team<br></div>
        <h2 class="heading">The heart and soul of our success story</h2>
      </div>
      <div class="w-layout-grid grid-team">
        <div id="w-node-_2351d0c9-a38d-c3f1-19a0-86639b9befd4-0e94173f" class="team">
          <img src="images/team-3.svg" loading="lazy" decoding="async" alt="" class="image-team">
          <div class="block-team">
            <h6 class="heading-name">Tommy Yates</h6>
            <div class="text-role">Co-founder<br></div>
          </div>
        </div>
        <div id="w-node-_2b554ef2-66cc-1f87-36f9-dec8f5421416-0e94173f" class="team">
          <img src="images/team-4.svg" loading="lazy" decoding="async" alt="" class="image-team">
          <div class="block-team">
            <h6 class="heading-name">Milo Douglas</h6>
            <div class="text-role">Co-founder<br></div>
          </div>
        </div>
        <div id="w-node-_94ac81a6-9f7e-a653-c594-3ef40ce8e7ba-0e94173f" class="team">
          <img src="images/team-5.svg" loading="lazy" decoding="async" alt="" class="image-team">
          <div class="block-team">
            <h6 class="heading-name">Lesley Floyd</h6>
            <div class="text-role">DevOps Engineer<br></div>
          </div>
        </div>
        <div id="w-node-_5f12ca6a-d3d1-3d89-3c54-1984acb258fe-0e94173f" class="team">
          <img src="images/team-7.svg" loading="lazy" decoding="async" alt="" class="image-team">
          <div class="block-team">
            <h6 class="heading-name">Vanessa Jarvis</h6>
            <div class="text-role">Data Analyst<br></div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock footer %}