{% extends "company/base.html" %}
{% load static wagtailcore_tags %}

{% block header %}
  {% include "includes/header.html" %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.title }}</h1>
        {% if page.specific.intro %}
          <p class="paragraph-top">{{ page.specific.intro }}</p>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock header %}

{% block body %}
  <section class="section">
    <div class="content">
      <div class="w-layout-grid grid-about">
        <div class="about">
          <div class="block-icon-about">
            <img src="{% static 'base/images/earth.svg' %}" loading="lazy" decoding="async" alt="Earth Icon" class="icon-about">
          </div>
          <h4 class="heading-about">Our Mission</h4>
          <p class="paragraph-about">Quam varius nullam aliquet a orci consequat feugiat. Adipiscing lacus condimentum eu nullam risus neque turpis. Aliquet justo <br><br>In malesuada id nunc pharetra diam pellentesque morbi id auctor. Facilisis justo nunc at a vitae id ullamcorper arcu.</p>
        </div>
        <div class="about green">
          <div class="block-icon-about green">
            <img src="{% static 'base/images/cloud-mod-stack.svg' %}" loading="lazy" decoding="async" alt="Cloud Icon" class="icon-about">
          </div>
          <h4 class="heading-about green">Our Role</h4>
          <p class="paragraph-about green">Aenean in mauris nec sed arcu volutpat morbi risus at. Consequat purus et bibendum malesuada. <br><br>Urna ac massa morbi at sed urna cursus. Pharetra imperdiet suspendisse pharetra cras proin adipiscing. Venenatis cras sit nulla etiam pharetra.</p>
        </div>
        <div class="about red">
          <div class="block-icon-about red">
            <img src="{% static 'base/images/events.svg' %}" loading="lazy" decoding="async" alt="Events Icon" class="icon-about">
          </div>
          <h4 class="heading-about red">Our Values</h4>
          <p class="paragraph-about red">Blandit massa sodales pellentesque pellentesque in iaculis dignissim porttitor quisque. Amet dui integer ac platea viverra. Aenean facilisis fusce laoreet sit dolor. <br><br>Massa pharetra vel urna dolor non. Suspendisse dignissim quis nam iaculis. Libero commodo.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="block-heading">
        <div class="subtitle"><br></div>
          <h2 class="heading"></h2>
      </div>
      <div class="w-layout-grid grid-team">
        {% for team_member in page.specific.team_members.all %}
          <div class="team">
            <img src="{{ team_member.image.url }}" loading="lazy" decoding="async" alt="" class="image-team">
            <div class="block-team">
              <h6 class="heading-name">{{ team_member.name }}</h6>
              <div class="text-role">{{ team_member.role }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock body %}
