{% extends "company/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block header %}
  {% include "includes/header.html" %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.title }}</h1>
      </div>
    </div>
  </section>
{% endblock header %}

{% block body %}
  <section class="section">
    <div class="content">
      <div class="w-layout-grid grid-about">
        <div class="about">
          <div class="block-icon-about">
            <img src="{% static 'base/images/earth.svg' %}" loading="lazy" decoding="async" alt="Earth Icon" class="icon-about">
          </div>
          <h4 class="heading-about">Our Mission</h4>
          <p class="paragraph-about">{{ about.mission }}</p>
        </div>
        <div class="about green">
          <div class="block-icon-about green">
            <img src="{% static 'base/images/cloud-mod-stack.svg' %}" loading="lazy" decoding="async" alt="Cloud Icon" class="icon-about">
          </div>
          <h4 class="heading-about green">Our Vision</h4>
          <p class="paragraph-about green">{{ about.vision }}</p>
        </div>
        <div class="about red">
          <div class="block-icon-about red">
            <img src="{% static 'base/images/events.svg' %}" loading="lazy" decoding="async" alt="Events Icon" class="icon-about">
          </div>
          <h4 class="heading-about red">Our Values</h4>
          <p class="paragraph-about red">{{ about.values }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="block-heading">
        <div class="subtitle">The Team<br></div>
          <h2 class="heading">Learn more about each team member</h2>
      </div>
      <div class="w-layout-grid grid-team">
        {% for member in team.members %}
          <div class="team">
            {% with member.image as profile_pic %}
              {% if profile_pic %}
                {% image profile_pic fill-250x250 loading="lazy" alt="profile_pic.alt" class="image-team" %}
              {% else %}
                <img src="{% static 'base/images/placeholders/team-1.svg' %}" loading="lazy" decoding="async" alt="{{ member.name }}'s Photo" class="image-team">
              {% endif %}
            {% endwith %}
            <div class="block-team">
              <h6 class="heading-name">{{ member.name }}</h6>
              <div class="text-role">{{ member.role }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock body %}
