  <section class="section-top">
    <div style="opacity:0" class="content">
      <div class="block-top">
        <h1 class="heading-top">Who we are and why we&#x27;re doing this</h1>
        <p class="paragraph-top">Tellus libero habitant tellus eget integer imperdiet nec pellentesque nam. Nisi aliquam mauris erat.</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div style="opacity:0" class="content">
      <div class="w-layout-grid grid-about">
        <div id="w-node-_0cd70b74-ab87-0e37-8c12-0b38f4d52384-0e94173f" class="about">
          <div class="block-icon-about"><img src="images/earth.svg" loading="eager" alt="" class="icon-about"></div>
          <h4 class="heading-about">Our Mission</h4>
          <p class="paragraph-about">Quam varius nullam aliquet a orci consequat feugiat. Adipiscing lacus condimentum eu nullam risus neque turpis. Aliquet justo <br><br>In malesuada id nunc pharetra diam pellentesque morbi id auctor. Facilisis justo nunc at a vitae id ullamcorper arcu.</p>
        </div>
        <div id="w-node-afed3ac8-3177-ec05-990a-39f68f9eb356-0e94173f" class="about green">
          <div class="block-icon-about green"><img src="images/cloud-mod-stack.svg" loading="eager" alt="" class="icon-about"></div>
          <h4 class="heading-about green">Our Role</h4>
          <p class="paragraph-about green">Aenean in mauris nec sed arcu volutpat morbi risus at. Consequat purus et bibendum malesuada. <br><br>Urna ac massa morbi at sed urna cursus. Pharetra imperdiet suspendisse pharetra cras proin adipiscing. Venenatis cras sit nulla etiam pharetra.</p>
        </div>
        <div id="w-node-_84b383cf-f2f3-bea7-8c05-b0fd748b650d-0e94173f" class="about red">
          <div class="block-icon-about red"><img src="images/events.svg" loading="eager" alt="" class="icon-about"></div>
          <h4 class="heading-about red">Our Values</h4>
          <p class="paragraph-about red">Blandit massa sodales pellentesque pellentesque in iaculis dignissim porttitor quisque. Amet dui integer ac platea viverra. Aenean facilisis fusce laoreet sit dolor. <br><br>Massa pharetra vel urna dolor non. Suspendisse dignissim quis nam iaculis. Libero commodo.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div style="opacity:0" class="content">
      <div class="w-layout-grid grid">
        <div id="w-node-ef8907ed-ca22-ade3-43fc-33a830f840f2-0e94173f" data-w-id="ef8907ed-ca22-ade3-43fc-33a830f840f2" class="lottie">
          <div class="lines-b1">
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
          </div>
          <div class="lines-b2">
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div data-w-id="ef8907ed-ca22-ade3-43fc-33a830f84102" data-is-ix2-target="1" class="lottie-animation-1" data-animation-type="lottie" data-src="documents/Lottie-B1-White.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-w-id="ef8907ed-ca22-ade3-43fc-33a830f84103" data-animation-type="lottie" data-src="documents/Lottie-B2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-w-id="ef8907ed-ca22-ade3-43fc-33a830f84104" data-animation-type="lottie" data-src="documents/Lottie-B2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
          </div>
        </div>
        <div id="w-node-ef8907ed-ca22-ade3-43fc-33a830f84105-0e94173f" class="block-right">
          <h5 class="heading-quote">“Quis duis laoreet euismod facilisis posuere fringilla viverra tortor. Sit est duis enim lectus ac tincidunt. Eleifend interdum nulla ut vitae. Nunc sem faucibus neque faucibus. <br><br>Urna non et dictum sit cras. Urna etiam elit proin amet sed magna faucibus varius. Pulvinar gravida imperdiet cras dui pellentesque amet augue. Tincidunt et velit.”</h5>
          <div class="block-quote">
            <div class="block-name">
              <h6 class="heading-name">Tommy Yates</h6>
              <div class="text-role">Co-founder<br></div>
            </div><img src="images/signature.svg" loading="eager" alt="" class="signature">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div style="opacity:0" class="content">
      <div class="block-heading">
        <div class="subtitle">Our Team<br></div>
        <h2 class="heading">The heart and soul of our success story</h2>
      </div>
      <div class="w-layout-grid grid-team">
        <div id="w-node-_2351d0c9-a38d-c3f1-19a0-86639b9befd4-0e94173f" class="team"><img src="images/team-3.svg" loading="eager" alt="" class="image-team">
          <div class="block-team">
            <h6 class="heading-name">Tommy Yates</h6>
            <div class="text-role">Co-founder<br></div>
          </div>
        </div>
        <div id="w-node-_2b554ef2-66cc-1f87-36f9-dec8f5421416-0e94173f" class="team"><img src="images/team-4.svg" loading="eager" alt="" class="image-team">
          <div class="block-team">
            <h6 class="heading-name">Milo Douglas</h6>
            <div class="text-role">Co-founder<br></div>
          </div>
        </div>
        <div id="w-node-_0b233eff-b5e1-bcf1-7c3e-8291f92fad59-0e94173f" class="team"><img src="images/team-1.svg" loading="eager" alt="" class="image-team">
          <div class="block-team">
            <h6 class="heading-name">Tristram Slater</h6>
            <div class="text-role">Security Analyst<br></div>
          </div>
        </div>
        <div id="w-node-_94ac81a6-9f7e-a653-c594-3ef40ce8e7ba-0e94173f" class="team"><img src="images/team-5.svg" loading="eager" alt="" class="image-team">
          <div class="block-team">
            <h6 class="heading-name">Lesley Floyd</h6>
            <div class="text-role">DevOps Engineer<br></div>
          </div>
        </div>
        <div id="w-node-_254d2427-e57b-8abe-9d0e-ce1d14e5a9e6-0e94173f" class="team"><img src="images/team-8.svg" loading="eager" alt="" class="image-team">
          <div class="block-team">
            <h6 class="heading-name">Jenson Menzie</h6>
            <div class="text-role">Customer Manager<br></div>
          </div>
        </div>
        <div id="w-node-a898ce16-5799-e429-3346-5c5addbc5566-0e94173f" class="team"><img src="images/team-2.svg" loading="eager" alt="" class="image-team">
          <div class="block-team">
            <h6 class="heading-name">Glen Jenkins</h6>
            <div class="text-role">Marketing Specialist<br></div>
          </div>
        </div>
        <div id="w-node-_5f12ca6a-d3d1-3d89-3c54-1984acb258fe-0e94173f" class="team"><img src="images/team-7.svg" loading="eager" alt="" class="image-team">
          <div class="block-team">
            <h6 class="heading-name">Vanessa Jarvis</h6>
            <div class="text-role">Data Analyst<br></div>
          </div>
        </div>
        <div id="w-node-_479c54ea-5d2d-648b-c33f-74592da3e1a2-0e94173f" class="team"><img src="images/team-6.svg" loading="eager" alt="" class="image-team">
          <div class="block-team">
            <h6 class="heading-name">Celeste Romero</h6>
            <div class="text-role">Finance Specialist<br></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div style="opacity:0" class="content">
      <div class="w-layout-grid grid">
        <div id="w-node-_40f515c9-a2fe-edb7-7d1d-764cfb887974-0e94173f" data-w-id="40f515c9-a2fe-edb7-7d1d-764cfb887974" class="block-reviews">
          <div id="w-node-_40f515c9-a2fe-edb7-7d1d-764cfb887975-0e94173f" class="reviews-wrapper">
            <div class="review-left">
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Lectus pulvinar diam et felis sed integer. Duis non quis vitae donec diam nunc tristique sit.</p>
                <div class="review-name">Morris Ferguson</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Viverra pulvinar sed amet lacinia in volutpat quis. Risus gravida mauris augue at.</p>
                <div class="review-name">June Dolton</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Bibendum urna purus mauris egestas faucibus dolor parturient morbi mi. Euismod tristique placerat pretium vitae.</p>
                <div class="review-name">Nancy Harmon</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Amet neque eu mauris sed vivamus. Sit cursus arcu mi risus pretium lectus eget. Libero mauris eu viverra lacus in semper sit ullamcorper aliquet. </p>
                <div class="review-name">Priscilla Ogley</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Sed malesuada auctor dui interdum id. Sollicitudin in orci velit enim. Proin viverra blandit</p>
                <div class="review-name">Garth Perkins</div>
              </div>
            </div>
            <div class="review-left">
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Lectus pulvinar diam et felis sed integer. Duis non quis vitae donec diam nunc tristique sit.</p>
                <div class="review-name">Morris Ferguson</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Viverra pulvinar sed amet lacinia in volutpat quis. Risus gravida mauris augue at.</p>
                <div class="review-name">June Dolton</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Bibendum urna purus mauris egestas faucibus dolor parturient morbi mi. Euismod tristique placerat pretium vitae.</p>
                <div class="review-name">Nancy Harmon</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Amet neque eu mauris sed vivamus. Sit cursus arcu mi risus pretium lectus eget. Libero mauris eu viverra lacus in semper sit ullamcorper aliquet. </p>
                <div class="review-name">Priscilla Ogley</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Sed malesuada auctor dui interdum id. Sollicitudin in orci velit enim. Proin viverra blandit</p>
                <div class="review-name">Garth Perkins</div>
              </div>
            </div>
          </div>
          <div class="reviews-wrapper right">
            <div class="review-right">
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Lectus pulvinar diam et felis sed integer. Duis non quis vitae donec diam nunc tristique sit.</p>
                <div class="review-name">Morris Ferguson</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Viverra pulvinar sed amet lacinia in volutpat quis. Risus gravida mauris augue at.</p>
                <div class="review-name">June Dolton</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Bibendum urna purus mauris egestas faucibus dolor parturient morbi mi. Euismod tristique placerat pretium vitae.</p>
                <div class="review-name">Nancy Harmon</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Amet neque eu mauris sed vivamus. Sit cursus arcu mi risus pretium lectus eget. Libero mauris eu viverra lacus in semper sit ullamcorper aliquet. </p>
                <div class="review-name">Priscilla Ogley</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Sed malesuada auctor dui interdum id. Sollicitudin in orci velit enim. Proin viverra blandit</p>
                <div class="review-name">Garth Perkins</div>
              </div>
            </div>
            <div class="review-right">
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Lectus pulvinar diam et felis sed integer. Duis non quis vitae donec diam nunc tristique sit.</p>
                <div class="review-name">Morris Ferguson</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Viverra pulvinar sed amet lacinia in volutpat quis. Risus gravida mauris augue at.</p>
                <div class="review-name">June Dolton</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Bibendum urna purus mauris egestas faucibus dolor parturient morbi mi. Euismod tristique placerat pretium vitae.</p>
                <div class="review-name">Nancy Harmon</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Amet neque eu mauris sed vivamus. Sit cursus arcu mi risus pretium lectus eget. Libero mauris eu viverra lacus in semper sit ullamcorper aliquet. </p>
                <div class="review-name">Priscilla Ogley</div>
              </div>
              <div class="review">
                <div class="stars"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"><img src="images/star.svg" loading="eager" alt="" class="icon-star"></div>
                <p class="paragraph-review">Sed malesuada auctor dui interdum id. Sollicitudin in orci velit enim. Proin viverra blandit</p>
                <div class="review-name">Garth Perkins</div>
              </div>
            </div>
          </div>
          <div class="gradient-reviews"></div>
        </div>
        <div id="w-node-_40f515c9-a2fe-edb7-7d1d-764cfb88797c-0e94173f" class="block-right">
          <div class="subtitle">reviews<br></div>
          <h2 class="heading">Our clients&#x27; experiences speak volumes</h2>
          <p class="paragraph">A lobortis id augue consequat nunc. Consectetur in aliquet sit gravida non non. Elementum urna at pulvinar et purus cras urna eget aliquet. Non vulputate urna.</p>
          <a href="#" class="button w-button">More Reviews</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="w-layout-grid grid-banner">
        <div id="w-node-fa5a991c-5956-883f-ada3-90790b0053f4-0b0053f1" class="block-banner">
          <div class="subtitle white">Are you ready?<br></div>
          <h2 class="heading banner">Your digital success story begins here</h2>
          <a data-w-id="fa5a991c-5956-883f-ada3-90790b0053fa" href="get-started.html" class="button yellow w-button">Get Started</a>
        </div>
        <div id="w-node-fa5a991c-5956-883f-ada3-90790b0053fc-0b0053f1" data-w-id="fa5a991c-5956-883f-ada3-90790b0053fc" class="lottie-banner">
          <div class="lines-d1">
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
          </div>
          <div class="lines-d2">
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
          </div>
          <div class="block-lottie-banner">
            <div data-w-id="fa5a991c-5956-883f-ada3-90790b00540c" data-is-ix2-target="1" class="lottie-animation-1-banner" data-animation-type="lottie" data-src="documents/Lottie-D1-Blue.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div data-is-ix2-target="1" class="lottie-animation-2-banner" data-w-id="fa5a991c-5956-883f-ada3-90790b00540d" data-animation-type="lottie" data-src="documents/Lottie-D2-Yellow.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2" data-duration="0"></div>
            <div data-is-ix2-target="1" class="lottie-animation-2-blur-banner" data-w-id="fa5a991c-5956-883f-ada3-90790b00540e" data-animation-type="lottie" data-src="documents/Lottie-D2-Yellow.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2" data-duration="0"></div>
          </div>
        </div>
      </div>
    </div>
  </section>