<!DOCTYPE html>
<html data-wf-page="6567eb537706d17425cd0842" data-wf-site="6567eb537706d17425cd07f4">
  <head>  
    {% include 'partials/head.html' %}
  </head>
  <body>
    {% load static %}
    {% include 'partials/simple_header.html' %}

    <div class="utility-page-wrap">
      <div class="utility-page-content">
        <div class="subtitle blue">404<br></div>
        <h2 class="heading-account">Page Not Found</h2>
        <p class="paragraph-account">The page you are looking for doesn't exist or has been moved.</p>
        <a href="{% url 'core:login' %}" class="button w-button">Back to Home</a>
      </div>
    </div>
    {% include 'partials/external_scripts.html' %}
  </body>
</html>