<!DOCTYPE html>
<html data-wf-page="6567eb537706d17425cd0847" data-wf-site="6567eb537706d17425cd07f4">
  <head>  
    {% include 'partials/head.html' %}
  </head>
<body>
  {% load static %}
  {% include 'partials/header.html' %}
  <section class="section-top">
    <div style="opacity:0" class="content">
      <div class="block-top">
        <h1 class="heading-top">Have questions? Contact us for assistance</h1>
        <p class="paragraph-top">We&#x27;re here to help every step of the way</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div style="opacity:0" class="content">
      <div class="lottie-wrapper">
        <div class="contact-lottie">
          <a href="mailto:support@digidex.app" class="contact-lottie-link a2 w-inline-block"> 
            <div class="block-icon-contact-lottie"><img src="{% static 'images/email.svg' %}" loading="eager" alt="" class="icon-contact-lottie"></div>
            <div class="block-heading-contact-lottie">
              <h4 class="heading-contact-lottie">Email us</h4>
              <div class="text-contact-lottie">support@digidex.app</div>
            </div>
          </a>
          <a href="tel:+1(347)376-1166" class="contact-lottie-link a3 w-inline-block">
            <div class="block-icon-contact-lottie"><img src="{% static 'images/phone-voice.svg' %}" loading="eager" alt="" class="icon-contact-lottie"></div>
            <div class="block-heading-contact-lottie">
              <h4 class="heading-contact-lottie">Call us</h4>
              <div class="text-contact-lottie">+1 (347)-376-1166</div>
            </div>
          </a>
        </div>
        <div data-w-id="ed5f1cea-daa0-5df9-8b39-55c44c0ee1e6" class="lottie">
          <div class="lines-c1">
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
          </div>
          <div class="lines-c2">
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div data-w-id="ed5f1cea-daa0-5df9-8b39-55c44c0ee1f5" data-is-ix2-target="1" class="lottie-animation-1" data-animation-type="lottie" data-src="{% static 'documents/Lottie-C1-White.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-w-id="ed5f1cea-daa0-5df9-8b39-55c44c0ee1f6" data-animation-type="lottie" data-src="{% static 'documents/Lottie-C2-Blue.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="12.5" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-w-id="ed5f1cea-daa0-5df9-8b39-55c44c0ee1f7" data-animation-type="lottie" data-src="{% static 'documents/Lottie-C2-Blue.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="12.5" data-duration="0"></div>
          </div>
        </div>
      </div>
      <div class="contact">
        <div class="subtitle blue">contact form<br></div>
        <h2 class="heading">Wanna Talk More?</h2>
        <div class="form-block w-form">
          <form id="wf-form-Contact-Us-Form" name="wf-form-Contact-Us-Form" data-name="Contact Us Form" method="get" class="form" data-wf-page-id="6567eb537706d17425cd0847" data-wf-element-id="4b1a2417-bbea-39ab-8d1d-a6bd085c0cae"><input type="text" class="text-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Name" id="name"><input type="email" class="text-field w-input" maxlength="256" name="email" data-name="Email" placeholder="Email" id="email" required=""><textarea id="Message" name="Message" maxlength="5000" data-name="Message" placeholder="Message" class="textarea w-input"></textarea><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button"></form>
          <div class="success-message w-form-done">
            <div class="text-success">Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div class="text-error">Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-footer">
    {% include 'partials/footer.html' %}
  </section>
  
  <section class="section-footer">
    {% include 'partials/footer.html' %}
  </section>
  {% include 'partials/external_scripts.html' %}
</body>
</html>