<!DOCTYPE html>
<html data-wf-page="6567eb537706d17425cd084a" data-wf-site="6567eb537706d17425cd07f4">
  <head>  
    {% include 'partials/head.html' %}
  </head>
  <body class="body">
    {% load static %}
    {% include 'partials/header.html' %}
    <section class="section">
      <div style="opacity:0" class="content">
        <div class="w-layout-grid grid-product">
          <div class="product-sticky">
            <div class="block-icon-product"><img alt="" loading="eager" src="" class="icon-product"></div>
            <a href="#" class="link-product w-inline-block">
              <h3 class="heading-product"></h3>
            </a>
            <div class="block-price">
              <div class="text-price"></div>
              <div class="compare-at-price"></div>
            </div>
            <p class="paragraph-description"></p>
            <div class="subtitle-product">Features<br></div>
            <div class="block-features-product">
              <div class="features-product"><img src="static/images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                <h6 class="heading-features-product"></h6>
              </div>
              <div class="features-product"><img src="static/images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                <h6 class="heading-features-product"></h6>
              </div>
              <div class="features-product"><img src="static/images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                <h6 class="heading-features-product"></h6>
              </div>
              <div class="features-product"><img src="static/images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                <h6 class="heading-features-product"></h6>
              </div>
              <div class="features-product"><img src="static/images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                <h6 class="heading-features-product"></h6>
              </div>
              <div class="features-product"><img src="static/images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                <h6 class="heading-features-product"></h6>
              </div>
              <div class="features-product"><img src="static/images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                <h6 class="heading-features-product"></h6>
              </div>
            </div>
            <div class="add-to-cart">
              <form data-node-type="commerce-add-to-cart-form" class="w-commerce-commerceaddtocartform default-state"><label for="quantity-94cffd88067ead143d2d55658ca26f2a" class="field-label-quantity w-password-page">Quantity</label><input type="submit" data-node-type="commerce-add-to-cart-button" data-loading-text="Adding to cart..." value="Add to Cart" aria-busy="false" aria-haspopup="dialog" class="w-commerce-commerceaddtocartbutton add-to-cart-button">
                <a data-node-type="commerce-buy-now-button" data-default-text="Buy now" data-subscription-text="Subscribe now" aria-busy="false" aria-haspopup="false" style="display:none" class="w-commerce-commercebuynowbutton buy-now-button yellow" href="checkout.html">Buy now</a>
              </form>
              <div style="display:none" class="w-commerce-commerceaddtocartoutofstock out-of-stock-state" tabindex="0">
                <div class="text-error">This product is out of stock.</div>
              </div>
              <div aria-live="assertive" data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror error-message">
                <div data-node-type="commerce-add-to-cart-error" class="text-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
              </div>
            </div>
            <div class="block-tag-product">
              <div class="yellow-tag-product">Most popular<br></div>
              <div class="green-tag-product">Best Value<br></div>
            </div>
          </div>
          <div id="w-node-_5363f964-1550-406b-86ab-876ba9bec06f-25cd084a" class="product-content">
            <div class="subtitle-product">More Details<br></div>
            <div class="w-richtext"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div style="opacity:0" class="content">
        <div class="block-heading">
          <div class="subtitle">Features<br></div>
          <h2 class="heading">Hosting tailored to your needs</h2>
        </div>
        <div class="w-layout-grid grid-features">
          <div id="w-node-fe319464-75bf-79e4-1d0f-9e588fb063fb-25cd084a" class="features">
            <div class="block-heading-features"><img src="static/images/lightning.svg" loading="eager" alt="" class="icon-features">
              <h5 class="heading-features">99.99% Uptime</h5>
            </div>
            <p class="paragraph-features">A suspendisse volutpat tincidunt nibh ut nibh accumsan amet neque. Id nisl porttitor non sem posuere.</p>
          </div>
          <div id="w-node-fe319464-75bf-79e4-1d0f-9e588fb06402-25cd084a" class="features">
            <div class="block-heading-features"><img src="static/images/ibm-cloud-hyper-protect-dbaas.svg" loading="eager" alt="" class="icon-features">
              <h5 class="heading-features">Advanced Security</h5>
            </div>
            <p class="paragraph-features">Platea vitae venenatis turpis eu facilisis rhoncus condimentum sit urna. A pretium eget nisl pharetra.</p>
          </div>
          <div id="w-node-fe319464-75bf-79e4-1d0f-9e588fb06409-25cd084a" class="features">
            <div class="block-heading-features"><img src="static/images/container-registry.svg" loading="eager" alt="" class="icon-features">
              <h5 class="heading-features">Unlimited Scaling</h5>
            </div>
            <p class="paragraph-features">Varius ut sed vel faucibus nisl aliquam placerat facilisi felis. Elit tellus tortor quam massa. Rutrum id mauris.</p>
          </div>
          <div id="w-node-fe319464-75bf-79e4-1d0f-9e588fb06410-25cd084a" class="features">
            <div class="block-heading-features"><img src="static/images/headset.svg" loading="eager" alt="" class="icon-features">
              <h5 class="heading-features">24/7 Expert Support</h5>
            </div>
            <p class="paragraph-features">Faucibus imperdiet iaculis sed ultrices proin feugiat at nunc libero. Quis nullam integer natoque aliquam.</p>
          </div>
          <div id="w-node-fe319464-75bf-79e4-1d0f-9e588fb06417-25cd084a" class="features">
            <div class="block-heading-features"><img src="static/images/ibm-watson-machine-learning.svg" loading="eager" alt="" class="icon-features">
              <h5 class="heading-features">Unmetered Bandwidth</h5>
            </div>
            <p class="paragraph-features">Viverra pulvinar sed amet lacinia in volutpat quis. Risus gravida mauris augue at. Risus placerat mattis proin eget.</p>
          </div>
          <div id="w-node-fe319464-75bf-79e4-1d0f-9e588fb0641e-25cd084a" class="features">
            <div class="block-heading-features"><img src="static/images/ibm-cloud-hyper-protect-crypto-services.svg" loading="eager" alt="" class="icon-features">
              <h5 class="heading-features">Free SSL Certificate</h5>
            </div>
            <p class="paragraph-features">Vitae pharetra pretium morbi cursus pretium mauris lorem pellentesque. Fames mattis lorem blandit.</p>
          </div>
        </div>
      </div>
    </section>

    {% include 'partials/call_to_action.html' %}
    {% include 'partials/footer.html' %}

    {% include 'partials/external_scripts.html' %}
  </body>
</html>