<!DOCTYPE html>
<html data-wf-page="6567eb537706d17425cd0849" data-wf-site="6567eb537706d17425cd07f4">
  <head>  
    {% include 'partials/head.html' %}
  </head>
  <body>
    {% load static %}
    {% include 'partials/header.html' %}
    <section class="section-top padding-0">
      <div style="opacity:0" class="content">
        <div class="block-top">
          <div class="date-top"></div>
          <h1 class="heading-top"></h1>
          <p class="paragraph-top blog-post"></p>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="content narrow"><img alt="" loading="eager" src="" class="image-main-post">
        <div class="post-body">
          <div class="rich-text-block w-richtext"></div>
        </div>
      </div>
    </section>

    <section class="section">
      {% include 'partials/call_to_action.html' %}
    </section>

    <section class="section-footer">
      {% include 'partials/footer.html' %}
    </section>

    {% include 'partials/external_scripts.html' %}
  </body>
</html>