<!DOCTYPE html>
<html data-wf-page="6567eb537706d17425cd0847" data-wf-site="6567eb537706d17425cd07f4">
  <head>  
    {% include 'partials/head.html' %}
  </head>
  <body>
    {% include 'partials/header.html' %}  

    <section class="section">
      {% include 'partials/garden_grid.html' %}
    </section>   
     
    <section class="section">
      {% include 'partials/group_form.html' %}
    </section>

    <section class="section-footer">
      {% include 'partials/footer.html' %}
    </section>

    {% include 'partials/external_scripts.html' %}
  </body>
</html>