{% extends "base.html" %}
{% load static %}

{% block app_styles %}
<style>
    #groupForm { display: none; }
    .group-card {
        /* Add styling for your group cards here */
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
    <h1>{{ user.get_username }}'s Garden</h1>
    <div>
        {% for group in groups %}
            <a href="{% url 'core:grouping' group.id %}" class="group-card">
                <h2>{{ group.name }}</h2>
            </a>
        {% empty %}
            <p>You have no groups.</p>
        {% endfor %}
        <button id="createGroupButton">Create New Group</button>
    </div>

    <div id="groupForm">
        <h2>Create a New Group</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Group</button>
        </form>
    </div>
{% endblock %}

{% block app_scripts %}
<script>
    document.getElementById('createGroupButton').addEventListener('click', function() {
        var form = document.getElementById('groupForm');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    });
</script>
{% endblock %}
