{% extends "base.html" %}
{% load static %}

{% block app_styles %}{% endblock %}

{% block content %}
    <h1>Your Groups</h1>
    <div>
        {% for group in groups %}
            <div>
                <h2>{{ group.name }}</h2>
                <!-- Additional details about the group -->
            </div>
        {% empty %}
            <p>You have no groups.</p>
            <button onclick="location.href='#create-group';">Create a Group</button>
        {% endfor %}
    </div>

    <h2 id="create-group">Create a New Group</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Group</button>
    </form>
{% endblock %}


{% block app_scripts %}{% endblock %}


