{% extends "base.html" %}
{% load static %}

{% block app_styles %}
<style>
    #groupForm { display: none; }
</style>
{% endblock %}

{% block content %}
    <h1>Your Groups</h1>
    <div>
        {% for group in groups %}
            <div>
                <h2>{{ group.name }}</h2>
                <!-- Additional details about the group -->
            </div>
        {% empty %}
            <p>You have no groups.</p>
        {% endfor %}
        <button id="createGroupButton">Create New Group</button>
    </div>

    <div id="groupForm">
        <h2>Create a New Group</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Group</button>
        </form>
    </div>
{% endblock %}

{% block app_scripts %}
<script>
    document.getElementById('createGroupButton').addEventListener('click', function() {
        var form = document.getElementById('groupForm');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    });
</script>
{% endblock %}
