{% load static %}
<div role="banner" class="navbar base-nav">
  <div class="nav-block">
    <div class="nav">
      <a href="{% url 'main:landing' %}" aria-current="page" class="brand base-nav-brand base--brand">
        <img src="{% static 'digidex/images/logo.png' %}" loading="lazy" srcset="{% static 'digidex/images/logo-p-500.png' %} 500w, {% static 'digidex/images/logo-p-800.png' %} 800w, {% static 'digidex/images/logo.png' %} 1024w" alt="" class="logo">
      </a>
      <nav role="navigation" class="nav-menu base-nav-menu">
        <a href="{% url 'main:company' %}" class="nav-link base-nav-link">Company</a>
        <a href="{% url 'main:contact' %}" class="nav-link base-nav-link">Contact</a>
        <div class="button-mobile">
          {% if request.user.is_authenticated %}
            <!-- <a href="{% url 'taxonomy:landing' %}" class="nav-button-outline base-button">Taxonomy</a> -->
            <a href="{% url 'accounts:detail-profile' username_slug=request.user.username_slug %}" class="nav-button-outline base-button">{{ request.user.username }}</a>
            <a href="{% url 'accounts:logout-user' %}" class="nav-button base-button">Logout</a>
          {% else %}
            <a href="{% url 'accounts:login-user' %}" class="nav-button-outline base-button">Login</a>
            <a href="{% url 'accounts:signup-user' %}" class="nav-button base-button">Signup</a>
          {% endif %}
        </div>
      </nav>
    </div>
    <div class="nav">
      <div class="button-desktop">
        {% if request.user.is_authenticated %}
          <!-- <a href="{% url 'taxonomy:landing' %}" class="nav-button-outline base-button">Taxonomy</a> -->
          <a href="{% url 'accounts:profile-user' username_slug=request.user.username_slug %}" class="nav-button-outline base-button">{{ request.user.username }}</a>
          <a href="{% url 'accounts:logout-user' %}" class="nav-button base-button">Logout</a>
        {% else %}
          <a href="{% url 'accounts:login-user' %}" class="nav-button-outline base-button">Login</a>
          <a href="{% url 'accounts:signup-user' %}" class="nav-button base-button">Signup</a>
        {% endif %}
      </div>
      <!--This is where the cart section should go -->
      <div class="menu-button base-nav-button">
        <div class="icon-menu base-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>
