<!DOCTYPE html>
<html data-wf-page="6567eb537706d17425cd0850" data-wf-site="6567eb537706d17425cd07f4">
  <head>  
    {% include 'partials/head.html' %}
  </head>
<body class="body">
  {% include 'partials/header.html' %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">Order Confirmation</h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div data-node-type="commerce-order-confirmation-wrapper" data-wf-order-query="" data-wf-page-link-href-prefix="" class="w-commerce-commerceorderconfirmationcontainer ecommerce-form">
        <div class="w-layout-grid ecommerce-grid">
          <div class="w-commerce-commercelayoutmain ecommerce-contents">
            <div class="w-commerce-commercecheckoutcustomerinfosummarywrapper ecommerce-block">
              <div class="w-commerce-commercecheckoutsummaryblockheader block-header">
                <h4>Customer Information</h4>
              </div>
              <fieldset class="w-commerce-commercecheckoutblockcontent block-content">
                <div class="w-commerce-commercecheckoutrow">
                  <div class="w-commerce-commercecheckoutcolumn">
                    <div class="w-commerce-commercecheckoutsummaryitem"><label class="w-commerce-commercecheckoutsummarylabel field-label">Email</label>
                      <div></div>
                    </div>
                  </div>
                  <div class="w-commerce-commercecheckoutcolumn">
                    <div class="w-commerce-commercecheckoutsummaryitem"><label class="w-commerce-commercecheckoutsummarylabel field-label">Shipping Address</label>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div class="w-commerce-commercecheckoutsummaryflexboxdiv">
                        <div class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                        <div class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                        <div class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                      </div>
                      <div></div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="w-commerce-commercecheckoutshippingsummarywrapper ecommerce-block">
              <div class="w-commerce-commercecheckoutsummaryblockheader block-header">
                <h4>Shipping Method</h4>
              </div>
              <fieldset class="w-commerce-commercecheckoutblockcontent block-content">
                <div class="w-commerce-commercecheckoutrow">
                  <div class="w-commerce-commercecheckoutcolumn">
                    <div class="w-commerce-commercecheckoutsummaryitem">
                      <div class="cart-item-name"></div>
                      <div></div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="w-commerce-commercecheckoutpaymentsummarywrapper ecommerce-block">
              <div class="w-commerce-commercecheckoutsummaryblockheader block-header">
                <h4>Payment Info</h4>
              </div>
              <fieldset class="w-commerce-commercecheckoutblockcontent block-content">
                <div class="w-commerce-commercecheckoutrow">
                  <div class="w-commerce-commercecheckoutcolumn">
                    <div class="w-commerce-commercecheckoutsummaryitem"><label class="w-commerce-commercecheckoutsummarylabel field-label">Payment Info</label>
                      <div class="w-commerce-commercecheckoutsummaryflexboxdiv">
                        <div class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                        <div class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                      </div>
                      <div class="w-commerce-commercecheckoutsummaryflexboxdiv">
                        <div></div>
                        <div> / </div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-commerce-commercecheckoutcolumn">
                    <div class="w-commerce-commercecheckoutsummaryitem"><label class="w-commerce-commercecheckoutsummarylabel field-label">Billing Address</label>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div class="w-commerce-commercecheckoutsummaryflexboxdiv">
                        <div class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                        <div class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                        <div class="w-commerce-commercecheckoutsummarytextspacingondiv"></div>
                      </div>
                      <div></div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="w-commerce-commercecheckoutorderitemswrapper ecommerce-block">
              <div class="w-commerce-commercecheckoutsummaryblockheader block-header">
                <h4>Items in Order</h4>
              </div>
              <fieldset class="w-commerce-commercecheckoutblockcontent block-content">
                <script type="text/x-wf-template" id="wf-template-651634def99c2aac117ddfc0000000000051"></script>
                <div role="list" class="w-commerce-commercecheckoutorderitemslist" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-651634def99c2aac117ddfc0000000000051"></div>
              </fieldset>
            </div>
          </div>
          <div class="w-commerce-commercelayoutsidebar ecommerce-sidebar">
            <div class="w-commerce-commercecheckoutordersummarywrapper order-summary">
              <div class="w-commerce-commercecheckoutsummaryblockheader block-header">
                <h4>Order Summary</h4>
              </div>
              <fieldset class="w-commerce-commercecheckoutblockcontent block-content">
                <div class="w-commerce-commercecheckoutsummarylineitem">
                  <div>Subtotal</div>
                  <div class="cart-item-price"></div>
                </div>
                <script type="text/x-wf-template" id="wf-template-651634def99c2aac117ddfc000000000006b">%3Cdiv%20class%3D%22w-commerce-commercecheckoutordersummaryextraitemslistitem%22%3E%3Cdiv%3E%3C%2Fdiv%3E%3Cdiv%20class%3D%22cart-item-price%22%3E%3C%2Fdiv%3E%3C%2Fdiv%3E</script>
                <div class="w-commerce-commercecheckoutordersummaryextraitemslist" data-wf-collection="database.commerceOrder.extraItems" data-wf-template-id="wf-template-651634def99c2aac117ddfc000000000006b">
                  <div class="w-commerce-commercecheckoutordersummaryextraitemslistitem">
                    <div></div>
                    <div class="cart-item-price"></div>
                  </div>
                </div>
                <div class="w-commerce-commercecheckoutsummarylineitem">
                  <div>Total</div>
                  <div class="w-commerce-commercecheckoutsummarytotal text-subtotal"></div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'partials/footer.html' %}

  {% include 'partials/external_scripts.html' %}
</body>
</html>