<!DOCTYPE html>
<html data-wf-page="6567eb537706d17425cd084c" data-wf-site="6567eb537706d17425cd07f4">
  <head>  
    {% include 'partials/head.html' %}
  </head>
  <body>
    {% load static %}
    {% include 'partials/simple_header.html' %}
    <!-- Main Section -->
    <section class="section-full">
      <div style="opacity:0" class="content">
        <div class="account-form">
          <div class="subtitle blue">Signup<br></div>
          <h2 class="heading-account">Create an account</h2>
          {% include 'partials/signup_form.html' %}
        </div>
      </div>
    </section>
    {% include 'partials/external_scripts.html' %}
  </body>
</html>
