<section class="section">
  <div class="content">
    <div class="layout-grid grid-about">
      <div class="about"> 
        <div class="block-icon-about"><img src="{% static 'images/bx/cloud-mod-stack.svg' %}" loading="eager" alt="" class="icon-about"></div>
        <h4 class="heading-about">Our Role</h4>
        <p class="paragraph-about">We empower plant enthusiasts through innovative technology.<br><br>Our NFC stickers simplify plant data digitization, while our  platform enables efficient tracking and analysis of plant growth and input usage.<br><br>Complemented by comprehensive data integrations and a personalized AI assistant, we transform your gardening experience into a journey of discovery.</p>
      </div>
      <div class="about red">
        <div class="block-icon-about red"><img src="{% static 'images/bx/events.svg' %}" loading="eager" alt="" class="icon-about"></div>
        <h4 class="heading-about red">Our Values</h4>
        <p class="paragraph-about red">We champion sustainability and stewardship, committing to protect and understand our planet&#x27;s ecosystems.<br><br>Innovation drives us to make biodiversity management accessible to all, empowering every plant enthusiast with intuitive technology.<br><br>Our core belief is that through education, engagement, and empowerment, we can inspire a greener future.</p>
      </div>
      <div class="about blue">
        <div class="block-icon-about blue"><img src="{% static 'images/bx/earth.svg' %}" loading="eager" alt="" class="icon-about"></div>
        <h4 class="heading-about blue">Our Mission</h4>
        <p class="paragraph-about blue">We are passionately dedicated to understanding and safeguarding our planet&#x27;s diverse ecosystems. <br><br>Our mission is to pioneer revolutionary approaches in biodiversity management and conservation, harnessing cutting-edge technology to create a sustainable future.<br><br>Join us in our journey to protect and cherish the natural world.</p>
      </div>
    </div>
  </div>
</section>