{% load static %}
<section class="section">
  <div style="opacity:0" class="content">
    <div class="block-heading">
      <div class="subtitle">Our Team<br></div>
      <h2 class="heading">The heart and soul of our success story</h2>
    </div>
    <div class="base-layout-grid grid-team">
      <div class="team">
        <img src="{% static 'images/team/team-1.svg' %}" loading="eager" alt="" class="image-team">
        <div class="block-team">
          <h6 class="heading-name">Team Member 8</h6>
          <div class="text-role">Co-founder<br></div>
        </div>
      </div>
      <div class="team">
        <img src="{% static 'images/team/team-2.svg' %}" loading="eager" alt="" class="image-team">
        <div class="block-team">
          <h6 class="heading-name">Team Member 8</h6>
          <div class="text-role">Co-founder<br></div>
        </div>
      </div>
      <div class="team">
        <img src="{% static 'images/team/team-3.svg' %}" loading="eager" alt="" class="image-team">
        <div class="block-team">
          <h6 class="heading-name">Team Member 8</h6>
          <div class="text-role">Security Analyst<br></div>
        </div>
      </div>
      <div class="team">
        <img src="{% static 'images/team/team-4.svg' %}" loading="eager" alt="" class="image-team">
        <div class="block-team">
          <h6 class="heading-name">Team Member 8</h6>
          <div class="text-role">DevOps Engineer<br></div>
        </div>
      </div>
      <div class="team">
        <img src="{% static 'images/team/team-5.svg' %}" loading="eager" alt="" class="image-team">
        <div class="block-team">
          <h6 class="heading-name">Team Member 8</h6>
          <div class="text-role">Customer Manager<br></div>
        </div>
      </div>
      <div class="team">
        <img src="{% static 'images/team/team-6.svg' %}" loading="eager" alt="" class="image-team">
        <div class="block-team">
          <h6 class="heading-name">Team Member 8</h6>
          <div class="text-role">Marketing Specialist<br></div>
        </div>
      </div>
      <div class="team">
        <img src="{% static 'images/team/team-7.svg' %}" loading="eager" alt="" class="image-team">
        <div class="block-team">
          <h6 class="heading-name">Team Member 8</h6>
          <div class="text-role">Data Analyst<br></div>
        </div>
      </div>
      <div class="team">
        <img src="{% static 'images/team/team-8.svg' %}" loading="eager" alt="" class="image-team">
        <div class="block-team">
          <h6 class="heading-name">Team Member 8</h6>
          <div class="text-role">Finance Specialist<br></div>
        </div>
      </div>
    </div>
  </div>
</section>