{% load static %}
<!DOCTYPE html>
<html>
  <head>  
    <meta charset="utf-8">
    <title>Digit Details - Digidex</title>
    <meta content="A platform for gardeners to cultivate their curiosity." name="description">
    <meta content="Digit Details - Digidex" property="og:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="og:description">
    <meta content="Digit Details - Digidex" property="twitter:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="{% static 'main/css/partials/base.css' %}" rel="stylesheet" type="text/css">    
    <link href="{% static 'main/css/partials/page-header.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/css/digit-details-page.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/css/partials/page-footer.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
    
    <!-- Load Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Space Grotesk:regular,500,600,700", "IBM Plex Mono:regular,italic,500,500italic,600,600italic,700,700italic"]
        }
      });
    </script>
    
    <link href="{% static 'main/images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'main/images/webclip.png' %}" rel="apple-touch-icon">
  </head>
  <body class="body">
    {% include 'main/partials/navigation-bar.html' %}
    <!-- Digit Detail Page - Header Section --> 
    <section class="section-top padding-0">
      <div class="content">
        <div class="block-top">
          <h1 class="heading-top">{{ digit.name }}</h1>
          <p class="paragraph-top">{{ digit.description }}</p>
          <div class="date-top">Created on: {{ digit.created_at }}</div>
          <div class="date-top">Last modified: {{ digit.last_modified }}</div>
          <div class="account-text">Need to make an update? <a href="{% url 'inventory:modification' digit.uuid %}" class="account-link">Edit or Delete Digit</a></div>
        </div>
      </div>
    </section>

    <!-- Digit Detail Page - Detail Section -->
    <section class="section">
      <div class="content narrow">
        <div class="rich-text-block base-rich-text">
          <!-- Digit Images -->
          <figure style="max-width:882px" class="base-rich-text-align-fullwidth base-rich-text-figure-type-image image-main-digit">
            {% if last_image %}
              <div>
                <img src="{{ last_image.url }}" loading="lazy" alt="Recent image of {{ digit.name }}">
              </div>
            {% else %}
              <div>
                <img src="{% static 'main/images/placeholder.svg' %}"  loading="lazy" alt="">
              </div>
            {% endif %}
            <figcaption>
            <div class="account-text">Not registered? <a href="{% url 'accounts:signup' %}" class="account-link">Create account</a></div>
              <p class="base-rich-text-figcaption">Recent image of {{ digit.name }}</p>
            </figcaption>
          </figure>
          <div class="digit-body">
            <!-- Journal Entries -->
            <div class="journal-container">
              <ol start="" role="list">
                {% for entry in journal_entries %}
                  <li>
                    <div class="journal-entry">
                      <div class="journal-entry-header">
                        <span class="journal-entry-number">{{ forloop.counter }}.</span>
                        <span class="journal-entry-date">Date: {{ entry.created_at|date:"Y-m-d H:i" }}</span>
                        <span class="journal-entry-author">Author: {{ entry.user }}</span>
                      </div>
                      <p class="journal-entry-content">{{ entry.content }}</p>
                    </div>
                  </li>
                {% empty %}
                  <li>No journal entries available.</li>
                {% endfor %}
              </ol>
            </div>            
          </div>
        </div>
      </div>
    </section>

    <!-- Digit Detail Page - Taxonomy Section -->
    {% if digit.taxonomic_unit %}
      <section class="section">
        <div class="content narrow">
          <div class="rich-text-block base-rich-text">
            <div class="block-heading">
              <div class="subtitle green">Taxonomy<br></div>
              <h2 class="heading">{{ digit.taxonomic_unit.complete_name }}</h2>
            </div>
            <div class="layout-grid grid-taxonomy">
              <div class="taxonomy">
                <div class="block-heading-taxonomy">
                  <h5 class="heading-taxonomy">Taxonomy Class</h5><img src="{% static 'main/images/lightning.svg' %}" loading="eager" alt="" class="icon-taxonomy">
                </div>
                <p class="paragraph-taxonomy">Taxonomy Class Details</p>
              </div>
              <div class="taxonomy">
                <div class="block-heading-taxonomy">
                  <h5 class="heading-taxonomy">Taxonomy Geographic Division</h5><img src="{% static 'main/images/lightning.svg' %}" loading="eager" alt="" class="icon-taxonomy">
                </div>
                <p class="paragraph-taxonomy">Taxonomy Geographic Division Details</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}

    <!-- Digit Detail Page - Care Section -->
    <section class="section">
      <div class="'content narrow">
        <div class="layout-grid grid-care">
          <div class="care red">
            <div class="block-icon-care red"><img src="{% static 'main/images/clean.svg' %}" loading="eager" alt="" class="icon-care"></div>
            <h4 class="heading-care red">Cleaning</h4>
            {% if last_cleaning_date %}
              <p class="paragraph-care red">Last Cleaned: {{ last_cleaning_date|date:"Y-m-d" }} ({{ days_since_last_cleaning }} days ago)</p>
            {% else %}
              <p class="paragraph-care red">No cleaning entries recorded.</p>
            {% endif %}
          </div> 
          <div class="care blue">
            <div class="block-icon-care blue"><img src="{% static 'main/images/water.svg' %}" loading="eager" alt="" class="icon-care"></div>
            <h4 class="heading-care blue">Watering</h4>
            {% if last_watering_date %}
              <p class="paragraph-care blue">Last Watered: {{ last_watering_date|date:"Y-m-d" }} ({{ days_since_last_watering }} days ago)</p>
            {% else %}
              <p class="paragraph-care blue">No watering entries recorded.</p>
            {% endif %}
          </div>
          <div class="care green"> 
            <div class="block-icon-care green"><img src="{% static 'main/images/food.svg' %}" loading="eager" alt="" class="icon-care"></div>
            <h4 class="heading-care green">Fertilizing</h4>
            {% if last_fertilizing_date %}
              <p class="paragraph-care green">Last Fertilized: {{ last_fertilizing_date|date:"Y-m-d" }} ({{ days_since_last_fertilizing }} days ago)</p>
            {% else %}
              <p class="paragraph-care green">No fertilizing entries recorded.</p>
            {% endif %}
          </div>   
        </div>
      </div>
    </section>

    <!-- Digit Detail Page - Journal Entry Form -->
    <section class="section">
      <div class="'content narrow">
        <div class="page-body">
          <div class="accordion-item">
            <!-- Clickable header for toggling the form -->
            <div class="accordion-header" onclick="toggleJournalEntry()">
              <h4 class="heading-accordion">Create Journal Entry</h4>
              <div class="block-icon-accordion" id="toggleIcon">
                <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion"><img src="{% static 'main/images/close.svg' %}" loading="eager" alt="" class="icon-accordion"></div>
              </div>
            </div>
            <!-- Container for Journal Form -->
            <div id="journalEntry" style="display: none;">
              <div class="journal-entry-form">
                <div class="subtitle green">Journal Entry<br></div>
                <h2 class="heading-journal-entry">Create a New Entry</h2>
                  <div class="form-block base-form">
                    <form method="post" class="form" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div>
                        <textarea class="text-field textarea" maxlength="1000" name="content" placeholder="Your entry content" id="content" required=""></textarea>
                          {% if form.content.errors %}
                            <div class="error-message">
                              <small>{{ form.content.errors|striptags }}</small>
                            </div>
                          {% endif %}
                      </div>
                      <div>
                        <input type="file" class="text-field file-upload-input" name="image" id="image">
                          {% if form.image.errors %}
                            <div class="error-message">
                              <small>{{ form.image.errors|striptags }}</small>
                            </div>
                          {% endif %}
                      </div>
                      <div>
                        <label class="checkbox-label">
                          <input type="checkbox" class="checkbox-input" name="watered" id="id_watered">
                          Watered
                        </label>
                      </div>
                      <div>
                        <label class="checkbox-label">
                            <input type="checkbox" class="checkbox-input" name="fertilized" id="id_fertilized">
                          Fertilized
                        </label>
                      </div>
                      <div>
                        <label class="checkbox-label">
                            <input type="checkbox" class="checkbox-input" name="cleaned" id="id_cleaned">
                            Cleaned
                        </label>
                      </div>
                      <input type="submit" value="Submit Entry" data-wait="Please wait..." class="submit-button">
                    </form>                    
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'main/partials/page-footer.html' %}
    <script src="{% static 'journal/js/toggle-journal-entry.js' %}" type="text/javascript"></script>
  </body>
</html>