{% load wagtailcore_tags wagtailimages_tags%}

<section class="section-top padding-0">
  <div class="content">
    <div class="block-top">
      <div class="date-top">{{ page.date }}</div>
      <h1 class="heading-top">{{ page.heading }}</h1>
      <p class="paragraph-top blog-post">{{ page.intro }}</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="content narrow">
    {% for item in page.gallery_images.all %}
      {% image item.image fill-320x240 class="image-main-post" %}
      <div class="post-body">
        <div class="rich-text-block base-richtext">
          {{ page.body|richtext }}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
