.digit-main-image {
  width: 100%;
  object-fit: cover;
  border-radius: .87em;
}

.journal-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.journal-container ol {
  padding: 0;
  list-style: none;
}

.journal-entry {
  border-bottom: 1px solid #eee;
  padding: 1em 0;
}

.journal-entry-header {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 0.5em;
}

.journal-entry-date, .journal-entry-author {
  display: block; /* Or inline-block, based on preference */
  margin-right: 1em;
}

.journal-entry-content {
  font-size: 1em;
  color: var(--strong-green);
}

.journal-container li {
  color: #888;
}

.journal-entry-form {
  z-index: 50;
  width: 100%;
  max-width: 32em;
  background-color: var(--white);
  text-align: center;
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 3.1em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}