:root {
  --primary-color: #00693E;
  --secondary-color: #1DB954;
  --accent-color: #8AD7A0;
  --neutral-light: #F2F2F2;
  --neutral-dark: #333333;
  --error-color: #E53935;
  --warning-color: #FFC107;
  --success-color: #4CAF50;
  --info-color: #2196F3;

  --app-primary-color: #FFE38E;
}
.app-fullscreen-container {
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  background-color: var(--app-primary-color);
}
.chatbox {
  height: 500px;
  width: 80%;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 10px;
  overflow-y: scroll;
}

#chatbox {
  display: flex;
  flex-direction: column;
}

.chat-input {
  width: 70%;
  height: 30px;
  margin: 10px 0;
  padding: 5px;
}

.chat-submit {
  height: 30px;
  margin: 10px 0;
}

.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  color: #000;
}

.user-message {
  background-color: #eef;
  align-self: flex-end;
}

.chatbot-message {
  background-color: #eee;
  align-self: flex-start;
}

.send-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
