{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-account{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="section-top">
  <div class="content">
    <div class="block-top">
      <h1 class="heading-top">{{ page.heading_title }}</h1>
      <p class="paragraph-top">{{ page.heading_paragraph }}</p>
    </div>
  </div>
</section>
{% endblock content %}