{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock extra_css %}

{% block content %}
  <section class="section-full">
    <div class="content">
      <div class="account-form">
        <div class="subtitle blue">{{ page.heading_subtitle }}<br></div>
        <h2 class="heading-account">{{ page.heading_title }}</h2>
        <p class="paragraph-account">{{ page.heading_paragraph }}</p>
        <div class="form-block base-form">
          <!-- Insert Login Form -->
          <div class="success-message base-form-done">
            <div class="text-success">{{ page.form_success_message }}</div>
          </div>
          <div class="error-message base-form-fail">
            <div class="text-error">{{ page.form_error_message }}</div>
          </div>
        </div>
      </div>
      <div class="text-account">Not registered? <a href="get-started.html" class="link-account">Create account</a>
      </div>
    </div>
  </section>
{% endblock content %}