{% block content %}
  <section class="section-full">
    <div style="opacity:0" class="content">
      <div class="account-form">
        <div class="subtitle blue">Sign in<br></div>
        <h2 class="heading-account">Account Login</h2>
        <p class="paragraph-account">Login to take control of your account</p>
        <div class="form-block w-form">
          <form id="wf-form-Login" name="wf-form-Login" data-name="Login" method="get" class="form" data-wf-page-id="65b171706d216e500e941748" data-wf-element-id="4b1a2417-bbea-39ab-8d1d-a6bd085c0cae"><input class="text-field w-input" maxlength="256" name="Email-address" data-name="Email address" placeholder="Email address" type="email" id="Email-address" required=""><input class="text-field w-input" maxlength="256" name="Password" data-name="Password" placeholder="Password" type="password" id="Password" required=""><input type="submit" data-wait="Please wait..." class="submit-button w-button" value="Login"></form>
          <div class="success-message w-form-done">
            <div class="text-success">Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div class="text-error">Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="text-account">Not registered? <a href="get-started.html" class="link-account">Create account</a>
      </div>
    </div>
  </section>
{% endblock content %}