{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
  <section class="section">
    <div class="content">
      <div class="block-profile">
        <h2 class="profile-heading">{{ profile.user.username }}</h2>
      </div>
      <div class="layout-grid grid-profile">
        <div class="profile-avatar"> 
          <div class="date-top">Joined {{ profile.created_at|date:"M. d, Y" }}</div>
          {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" alt="User avatar" class="avatar-image">
          {% else %}
            <img src="{% static 'digidex/images/placeholder.svg' %}" alt="No Image Available" class="avatar-image">
          {% endif %}
          {% if is_owner %}
            <div class="profile-text">
              <a href="{% url 'inventory:update-profile' user_slug=profile.user.slug %}" class="profile-link">Edit Profile</a>
            </div>
          {% endif %}
        </div>
        <div class="profile-bio">
          <div class="tab-headings">
            <div class="tab-heading active" data-tab-target="#bio">
              <img src="{% static 'inventory/images/bio.svg' %}" alt="Bio Icon" class="icon-bio">
              <span class="bio-text">Bio</span>
            </div>
            <div class="tab-heading" data-tab-target="#plants">
              <img src="{% static 'inventory/images/plant.svg' %}" alt="Plant Icon" class="icon-bio">
              <span class="plant-text">Plants</span>
            </div>
            <div class="tab-heading" data-tab-target="#pets">
              <img src="{% static 'inventory/images/animal.svg' %}" alt="Pet Icon" class="icon-bio">
              <span class="pet-text">Pets</span>
            </div>
          </div>                       
          <div id="bio" class="tab-content active">
            <ul>
              <li class="bio-text">Last Login: {{ profile.created_at|date:"M. d, Y" }}</li>
              <li class="bio-text">Location: {{ profile.location }}</li>
              <li class="bio-text">{{ profile.bio }}</li>
            </ul>
          </div>
          <div id="plants" class="tab-content">
            <ul>
              <li class="plant-text">Count of Plant Digits: {{ plant_count }}</li>
            </ul>
          </div>
          <div id="pets" class="tab-content">
            <ul>
              <li class="pet-text">Count of Pet Digits: {{ pet_count }}</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Spacing here between elements-->
      {% if digit_count == 0 %}
        <div class="empty-digit-state base-dyn-empty">
          <div class="digit-text-empty">No digits found.</div>
        </div>
      {% else %}
        <!-- Digits -->
        <div class="collection-list-wrapper-digits base-dyn-list">
          <div role="list" class="collection-list-digits base-dyn-items">
            {% for digit in digits %}
              <div role="listitem" class="base-dyn-item">
                <a href="{{ digit.get_absolute_url }}" class="block-digit-link">
                  <div class="block-digit">
                    <div class="digit">
                      <div class="date">{{ digit.last_modified }}</div>
                      <h3 class="heading-digit">{{ digit.name }}</h3>
                      <p class="paragraph-digit">{{ digit.description }}</p>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}