{% block content %}
<section class="section-full">
    <div style="opacity:0" class="content">
      <div class="account-form blue">
        <div class="subtitle white">sign up<br></div>
        <h2 class="heading-account white">Get Started</h2>
        <p class="paragraph-account white">Only pay for what you use, period. Start your 14-day free trial today</p>
        <div class="form-block w-form">
          <form id="wf-form-Get-Started" name="wf-form-Get-Started" data-name="Get Started" method="get" class="form" data-wf-page-id="65b171706d216e500e941745" data-wf-element-id="4b1a2417-bbea-39ab-8d1d-a6bd085c0cae"><input class="text-field transparent w-input" maxlength="256" name="Name" data-name="Name" placeholder="Name" type="text" id="Name" required=""><input class="text-field transparent w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="Email address" type="email" id="Email-Address" required=""><input class="text-field transparent w-input" maxlength="256" name="Phone-number" data-name="Phone number" placeholder="Phone number" type="tel" id="Phone-number" required=""><input type="submit" data-wait="Please wait..." class="submit-button yellow w-button" value="Submit"></form>
          <div class="success-message yellow w-form-done">
            <div class="text-success yellow">Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message yellow w-form-fail">
            <div class="text-error yellow">Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="text-account white">Already have an account? <a href="login.html" class="link-account white">Login</a>
      </div>
    </div>
  </section>
{% endblock content %}
