{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock extra_css %}

{% block content %}
  <section class="section-full">
    <div class="content">
      <div class="account-form blue">
        <div class="subtitle white">{{ page.heading_subtitle }}<br></div>
        <h2 class="heading-account white">{{ page.heading_title }}</h2>
        <p class="paragraph-account white">{{ page.heading_paragraph }}</p>
        <div class="form-block base-form">
          <!-- Insert Signup Form -->
          <div class="success-message yellow base-form-done">
            <div class="text-success yellow">{{ page.form_success_message }}</div>
          </div>
          <div class="error-message yellow base-form-fail">
            <div class="text-error yellow">{{ page.form_error_message }}</div>
          </div>
        </div>
      </div>
      <div class="text-account white">Already have an account? <a href="login.html" class="link-account white">Login</a></div>
    </div>
  </section>
{% endblock content %}
