<form method="post" class="form">
  {% csrf_token %}
  <!-- Render Name Field -->
  <div>
    {{ form.name }}
    {% if form.name.errors %}
      <div class="error-message">
        <span class="text-error">{{ form.name.errors|striptags }}</span>
      </div>
    {% endif %}
  </div>
  <!-- Render Description Field -->
  <div>
    {{ form.description }}
    {% if form.description.errors %}
      <div class="error-message">
        <span class="text-error">{{ form.description.errors|striptags }}</span>
      </div>
    {% endif %}
  </div>
  <!-- Render Taxonomic Unit Field -->
  <div>
    <div class="select-container">
      <select class="base-input" name="taxonomic_unit" id="id_taxonomic_unit" required=""></select>
    </div> 
  </div>
  <!-- Render Submit Button -->
  <input type="submit" value="Create Digit" class="submit-button base-button"> 
</form>