{% load static %}
<figure style="max-width:882px" class="base-rich-text-align-fullwidth base-rich-text-figure-type-image main-digit-image">
  {% if last_image %}
    <div>
      <img src="{{ last_image.url }}" loading="lazy" alt="Recent image of {{ digit.name }}">
    </div>
  {% else %}
    <div>
      <img src="{% static 'main/images/placeholder.svg' %}"  loading="lazy" alt="">
    </div>
  {% endif %}
  <figcaption>
    <p class="base-rich-text-figcaption">Recent image of {{ digit.name }}</p>
  </figcaption>
</figure>