{% load static %}
<section class="section">
  <div class="content narrow">
    <div class="digit-body">
      <div class="rich-text-block base-rich-text">
        <div class="block-heading">
          <div class="subtitle">Taxonomy<br></div>
          <h2 class="heading">{{ digit.taxonomic_unit.complete_name }}</h2>
        </div>
        <div class="layout-grid grid-taxonomy">
          <div class="taxonomy">
            <div class="block-heading-taxonomy">
              <h5 class="heading-taxonomy">Taxonomy Class</h5><img src="{% static 'main/images/lightning.svg' %}" loading="eager" alt="" class="icon-taxonomy">
            </div>
            <p class="paragraph-taxonomy">Taxonomy Class Details</p>
          </div>
          <div class="taxonomy">
            <div class="block-heading-taxonomy">
              <h5 class="heading-taxonomy">Taxonomy Geographic Division</h5><img src="{% static 'main/images/lightning.svg' %}" loading="eager" alt="" class="icon-taxonomy">
            </div>
            <p class="paragraph-taxonomy">Taxonomy Geographic Division Details</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>