<section class="section-top">
  <div class="content">
    <div class="block-top">
      <h2 class="heading-top">{{ digit.name }}</h2>
      <p class="paragraph-top">{{ digit.description }}</p>
      <p class="paragraph">{{ digit.taxonomic_unit.complete_name|default:"No Taxonomic Name" }}</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="content">
    <form action="{% url 'inventory:deletion' object.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete Digit">
    </form>
  </div>
</section>
