        <!-- Clickable header for toggling the form -->
        <div class="accordion-header" onclick="toggleDigitForm()">
            <h4 class="heading-account">Edit Digit</h4>
            <div class="block-icon-accordion" id="toggleIcon">
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0, 0);background-color:rgba(57,89,255,0.07);border-color:rgba(255,255,255,0.2)" class="block-icon-accordion"><img src="{% static 'inventory/images/close.svg' %}" loading="eager" alt="" class="icon-accordion"></div>
            </div>
          </div>

          <script>
            function toggleDigitForm() {
              console.log("Toggle function called");
              var form = document.getElementById('digitForm');
              var icon = document.getElementById('toggleIcon');
          
              if (form.style.display === 'none' || form.style.display === '') {
                  form.style.display = 'block';
                  icon.classList.add('rotate-icon');
              } else {
                  form.style.display = 'none';
                  icon.classList.remove('rotate-icon');
              }
            }
          </script>