.grid-solutions {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
}

.solutions {
  grid-row-gap: 1.2em;
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.5em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.icon-solution {
  width: 2em;
  height: 2em;
}

.text-link {
  color: var(--strong-green);
  letter-spacing: -.02em;
  font-size: 1em;
  font-weight: 500;
  line-height: 120%;
}

.icon-link {
  width: 1em;
  height: 1em;
}

.block-icon-link {
  width: 1.375em;
  height: 1.375em;
  background-color: var(--accent-green);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-block {
  grid-column-gap: .5em;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: .3em;
  text-decoration: none;
  transition: background-color .3s cubic-bezier(.25, .46, .45, .94), padding .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.link-block:hover {
  background-color: var(--accent-green);
  padding-left: 1em;
}

.yellow-tag {
  background-color: var(--strong-yellow);
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 110%;
  position: absolute;
  top: -.8em;
  bottom: auto;
  left: auto;
  right: 2em;
}

.blue-tag {
  background-color: var(--strong-blue);
  color: var(--white);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 110%;
  position: absolute;
  top: -.8em;
  bottom: auto;
  left: auto;
  right: 2em;
}

.grid-solutions-large {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  margin-bottom: 1.5em;
}

.solutions-large {
  grid-row-gap: 1.2em;
  background-color: var(--accent-green);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;
}

.solutions-large.green {
  background-color: var(--accent-green);
}

.heading-solution-large {
  color: var(--strong-green);
}

.heading-solution-large.green {
  color: var(--strong-green);
}

.paragraph-solution-large {
  color: var(--strong-green);
}

.paragraph-solution-large.green {
  color: var(--strong-green);
}

.block-icon-solution {
  width: 4.5em;
  height: 4.5em;
  background-color: var(--strong-green);
  border-radius: .87em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-icon-solution.green {
  background-color: var(--accent-green);
}

.list {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-list {
  width: 1.125em;
  height: 1.125em;
}

.block-icon-list {
  width: 1.625em;
  height: 1.625em;
  background-color: var(--accent-green);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-icon-list.blue {
  background-color: var(--accent-blue);
}

.heading-list {
  color: var(--strong-green);
}

.heading-list.blue {
  color: var(--strong-blue);
}

.block-list {
  grid-column-gap: .56em;
  grid-row-gap: .56em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 767px) {
  .grid-solutions-large {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr;
    margin-bottom: .87em;
  }
}

@media screen and (max-width: 479px) {
  .solutions-large {
    padding: 2em;
  }
}