{% extends "core/base.html" %}
{% load static %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'core/css/tiles.css' %}">
{% endblock %}

{% block content %}
<div class="container app-fullscreen-container">

  <!-- Core App Homepage -->
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'botany:home' %}" class="tile-link">
        <div class="tile">
          <h2>Party</h2>
        </div>
      </a>
    </div>
  </div>

  <!-- Second Row -->
  <div class="row">
    <div class="col-md-6">
      <a href="{% url 'cea:home' %}" class="tile-link">
        <div class="tile">
          <h2>Inventory</h2>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="{% url 'itis:home' %}" class="tile-link">
        <div class="tile">
          <h2>Taxonomy</h2>
        </div>
      </a>
    </div>
  </div>
  
  <!-- Third Row -->
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'chatbot:home' %}" class="tile-link">
        <div class="tile">
          <h2>Chatbot</h2>
        </div>
      </a>
    </div>
  </div>

</div>
{% endblock %}
