{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="text-center">
    <h1 class="core-header">Modern Management</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="core-card party-card">
        <a href="{% url 'botany:home' %}" class="core-link">
          <h2>Party</h2>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="core-card devices-card">
        <a href="{% url 'cea:home' %}" class="core-link">
          <h2>Devices</h2>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="core-card taxonomy-card">
        <a href="{% url 'itis:home' %}" class="core-link">
          <h2>Taxonomy</h2>
        </a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="core-card chatbot-card">
        <a href="{% url 'chatbot:home' %}" class="core-link">
          <h2>Chatbot</h2>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
