{% extends "core/base.html" %}
{% load static %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/tiles.css' %}">
{% endblock %}

{% block content %}
<div class="container core-container py-5">
  <div class="text-center">
    <h1 class="core-header">Modern Management</h1>
  </div>
  <!-- Tiles Container -->
  <div class="tiles-container">
    <!-- First Row -->
    <div class="row">
      <div class="col-md-12">
        <div class="core-card party-card hover-effect">
          <a href="{% url 'botany:home' %}" class="core-link">
            <h2>Party</h2>
          </a>
        </div>
      </div>
    </div>
    <!-- Second Row -->
    <div class="row">
      <div class="col-md-6">
        <div class="core-card devices-card hover-effect">
          <a href="{% url 'cea:home' %}" class="core-link">
            <h2>Devices</h2>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="core-card taxonomy-card hover-effect">
          <a href="{% url 'itis:home' %}" class="core-link">
            <h2>Taxonomy</h2>
          </a>
        </div>
      </div>
    </div>
    <!-- Third Row -->
    <div class="row">
      <div class="col-md-12">
        <div class="core-card chatbot-card hover-effect">
          <a href="{% url 'chatbot:home' %}" class="core-link">
            <h2>Chatbot</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
