<section class="section">
  <div class="content">
    <div class="contact">
      <div class="subtitle blue">contact form<br></div>
      <h2 class="heading">Wanna Talk More?</h2>
      <div class="form-block w-form">
        <form method="post" class="form" action="{% url 'your_form_submission_view' %}">
          {% csrf_token %}
          {{ form.name }}
          {{ form.email }}
          {{ form.message }}

          <input type="submit" value="Submit" class="submit-button w-button">

          {% if form.non_field_errors %}
            <div class="error-message w-form-fail">
              {% for error in form.non_field_errors %}
                <div class="text-error">{{ error }}</div>
              {% endfor %}
            </div>
          {% endif %}

          {% if messages %}
            {% for message in messages %}
              <div class="w-form-done">
                <div class="text-success">{{ message }}</div>
              </div>
            {% endfor %}
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</section>
