{% load static %}

<header style="background-color: var(--accent-color);">
    <div class="container">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="{% url 'home' %}">
                    <h1 class="mb-4">Cybotany</h1>
                </a>
            </div>

            <!-- Settings -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                {% include "components/navigation_links.html" %}
            </div>
        </div>
    </div>
</header>
