{% load static %}

<header style="background-color: var(--accent-color);">
    <div class="container">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-lg-8 col-md-8 col-sm-8">
                <a href="{% url 'home' %}">
                    <h1 class="mb-4">Cybotany</h1>
                </a>
            </div>

            <!-- Profile -->
            <div class="col-lg-2 col-md-2 col-sm-2">
              <a href="{% url 'home' %}">
                  <h1 class="mb-4">Profile</h1>
              </a>
            </div>

            <!-- Settings -->
            <div class="col-lg-2 col-md-2 col-sm-2">
              <nav>  
                <div class="dropdown">
                  <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                      <a href="{% url 'home' %}">Home</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'accounts:profile' %}">Profile</a>
                            <a href="{% url 'accounts:logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'accounts:login' %}">Log in</a>
                            <a href="{% url 'accounts:signup' %}">Sign up</a>
                        {% endif %}
                    </div>
                </div>
              </nav>
            </div>
        </div>
    </div>
</header>
