{% block nav_links %}
<nav>  
  <div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
      <a href="{% url 'home' %}">Home</a>
      {% if user.is_authenticated %}
          <a href="{% url 'authentication:profile' %}">Profile</a>
          <a href="{% url 'botany:home' %}">Botany</a>
          <a href="{% url 'cea:home' %}">CEA</a>
          <a href="{% url 'chatbot:home' %}">Chatbot</a>
          <a href="{% url 'authentication:logout' %}">Logout</a>
      {% else %}
          <a href="{% url 'authentication:login' %}">Log in</a>
          <a href="{% url 'authentication:signup' %}">Sign up</a>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock %}
