/***********************************************************************************************
 *  Login Page - Misc. Styles
 **********************************************************************************************/ 

/*******************************
 * Login Page - Account Form
 *******************************/
.account-form {
  z-index: 50;
  width: 100%;
  max-width: 32em;
  background-color: var(--white);
  text-align: center;
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 3.1em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.account-form.blue {
  background-color: var(--core-primary-color);
  box-shadow: none;
}

.account-heading {
  max-width: 9em;
  margin-bottom: .3em;
}

.account-heading.white {
  color: var(--white);
}

.account-paragraph {
  max-width: 23em;
  margin-bottom: 1.8em;
}

.account-paragraph.white {
  color: rgba(255, 255, 255, .8);
}

.account-text {
  width: 100%;
  max-width: 32em;
  color: rgba(20, 23, 24, .6);
  text-align: center;
  margin-top: 1.4em;
  margin-left: auto;
  margin-right: auto;
  font-size: .87em;
  line-height: 140%;
}

.account-text.white {
  color: rgba(255, 255, 255, .5);
}

.account-link {
  color: rgba(20, 23, 24, .6);
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
}

.account-link:hover {
  color: var(--core-primary-color);
}

.account-link.white {
  color: rgba(255, 255, 255, .5);
}

.account-link.white:hover {
  color: var(--white);
}

@media screen and (max-width: 479px) {
  .account-form {
    padding: 2em;
  }

  .paragraph-account {
    margin-bottom: 1em;
  }
}