.heading-quote {
  margin-bottom: 1.4em;
}

.block-quote {
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.block-name {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.heading-name {
  margin-bottom: .3em;
  line-height: 120%;
}

.text-role {
  color: rgba(20, 23, 24, .7);
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: IBM Plex Mono, sans-serif;
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
}

.signature {
  height: 3.7em;
}