{% load static %}
<!DOCTYPE html>
<html>
  <head>  
    <meta charset="utf-8">
    <title>Storage - Digidex</title>
    <meta content="A platform for gardeners to cultivate their curiosity." name="description">
    <meta content="Storage - Digidex" property="og:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="og:description">
    <meta content="Storage - Digidex" property="twitter:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="{% static 'base/css/normalize.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/base-styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'digidex/css/digidex-styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'inventory/css/inventory-styles.css' %}" rel="stylesheet" type="text/css">
    
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
    
    <!-- Load Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Space Grotesk:regular,500,600,700", "IBM Plex Mono:regular,italic,500,500italic,600,600italic,700,700italic"]
        }
      });
    </script>
    
    <link href="{% static 'digidex/images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'digidex/images/webclip.png' %}" rel="apple-touch-icon">
  </head>
  <body>
    {% include 'navigation-bar.html' %}
    {% include 'message-bar.html' %}
 
    <section class="section">
      <div class="content content-profile">
        <div class="block-profile">
          <a href="{{ parent_url }}" class="block-digit-link base-inline-block">
            <div class="subtitle green">{{ parent_name }}<br></div>
          </a>
          <h2 class="profile-heading">{{ grouping.name }}</h2>
        </div>
        {% if pet_count == 0 and plant_count == 0 %}
          <div class="empty-digit-state base-dyn-empty">
            <div class="digit-text-empty">No plants or pets found.</div>
          </div>
        {% else %}
          <!-- Pet Digits -->
          <div class="collection-list-wrapper-digits large base-dyn-list">
            <div role="list" class="collection-list-digits large base-dyn-items">
              {% for pet in pet_digits %}
                <div role="listitem" class="base-dyn-item">
                  <a href="{{ pet.get_absolute_url }}" class="block-digit-link large">
                    <div class="block-digit large">
                      <div class="digit large">
                        <div class="date">{{ pet.last_modified }}</div>
                        <h3 class="heading-digit">{{ pet.name }}</h3>
                        <p class="paragraph-digit large">{{ pet.description }}</p>
                      </div>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
          <!-- Plant Digits -->
          <div class="collection-list-wrapper-digits base-dyn-list">
            <div role="list" class="collection-list-digits base-dyn-items">
              {% for plant in plant_digits %}
                <div role="listitem" class="base-dyn-item">
                  <a href="{{ plant.get_absolute_url }}" class="block-digit-link">
                    <div class="block-digit">
                      <div class="digit">
                        <div class="date">{{ plant.last_modified }}</div>
                        <h3 class="heading-digit">{{ plant.name }}</h3>
                        <p class="paragraph-digit">{{ plant.description }}</p>
                      </div>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </section>     
    <script src="{% static 'inventory/js/toggle-tabs.js' %} "></script>          
  </body>
</html>