{% extends "inventory/base.html" %}

{% block content %}
  <section class="section">
    <div class="content">
      <div class="contact">
        <div class="subtitle blue">Journal</div>
        <h2 class="heading">Create Journal Entry</h2>
        <div class="form-block w-form">
          <form class="form" action="{% pageurl page %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="submit-button w-button" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
