{% load static %}
<!DOCTYPE html>
<html>
  <head>  
    <meta charset="utf-8">
    <title>Digit Storage System - Digidex - Smart Garden Management</title>
    <meta content="A platform for gardeners to cultivate their curiosity." name="description">
    <meta content="Digit Storage System - Digidex - Smart Garden Management" property="og:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="og:description">
    <meta content="Digit Storage System - Digidex - Smart Garden Management" property="twitter:title">
    <meta content="A platform for gardeners to cultivate their curiosity." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="{% static 'base/css/normalize.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/base-styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'digidex/css/digidex-styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'inventory/css/inventory-styles.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
    
    <!-- Load Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Space Grotesk:regular,500,600,700", "IBM Plex Mono:regular,italic,500,500italic,600,600italic,700,700italic"]
        }
      });
    </script>
    
    <link href="{% static 'digidex/images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'digidex/images/webclip.png' %}" rel="apple-touch-icon">
  </head>
  <body>
    {% include 'main/partials/navigation-bar.html' %}
    <section class="section-top">
      <div class="content">
        <div class="block-top">
          <div class="subtitle green">Storage<br></div>
          <h1 class="heading-top">Box n</h1>
          <p class="paragraph-top">Details about box n</p>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="content">
        <div class="collection-list-wrapper-posts base-dyn-list">
          <div role="list" class="collection-list-posts base-dyn-items">
            {% for digit in digits %}
              <div role="listitem" class="base-dyn-item">
                <div class="block-post">
                  <a href="{% url 'inventory:digit-details' digit.uuid %}" class="link-post-thumbnail base-inline-block">
                    {% if digit.journal_collection.thumbnail %}
                      <img src="{% static 'digidex/images/placeholder.svg' %}" alt="Journal Entry Image" loading="eager" class="image-post-thumbnail">
                    {% else %}
                      <img src="{% static 'digidex/images/placeholder.svg' %}" alt="Journal Entry Image Placeholder" loading="eager" class="image-post-thumbnail">
                    {% endif %}
                  </a>
                  <div class="post">
                    <h4 class="heading-post">{{ digit.name }}</h4>
                    <a href="{% url 'inventory:digit-details' digit.uuid %}" class="link-block base-inline-block"></a>
                  </div>
                </div>
              </div>
            {% empty %}
              <div class="empty-state base-dyn-empty">
                <div class="text-empty">No digits found.</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section> 
  </body>
</html>