{% extends "inventory/base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block header %}
  {% include "includes/header.html" %}
  <section class="section-top padding-0">
    <div class="content">
      <div class="block-top">
        <div class="date-top">{{ asset.created_at }}</div>
        <h1 class="heading-top">{{ asset.title }}</h1>
        <p class="paragraph-top blog-post">{{ asset.description }}</p>
        <div class="block-button">
          <a href="{{ parent.url }}" class="button-small w-button">Parent page</a>
          {% if is_owner %}
            <a href="{{ edit_url }}" class="button-outline-small w-button">Edit</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock header %}

{% block body %}
  <section class="section">
    <div class="content narrow">
      {% with asset.main_image as main_image %}
        {% if main_image %}
          {% image main_image original loading="lazy" decoding="async" alt="main_image.alt" class="image-main-post" %}
        {% else %}
          <img src="{% static 'base/images/google/plant.svg' %}" loading="lazy" decoding="async" alt="Asset Thumbnail Placeholder" class="image-main-post">
        {% endif %}
      {% endwith %}
      <div class="post-body">
        <div class="rich-text-block w-dyn-bind-empty w-richtext"></div>
      </div>
    </div>
  </section>
{% endblock body %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock footer %}