{% extends "base.html" %}
{% load static %}

{% block body %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ title }}</h1>
        <div class="block-categories">
          <div class="collection-list-wrapper-categories w-dyn-list">
            <div role="list" class="collection-list-categories w-dyn-items">
              <div role="listitem" class="collection-item-categories w-dyn-item">
                <a href="#" class="link-category w-inline-block">
                  <img alt="" loading="eager" src="" class="icon-category">
                  <div class="text-category"></div>
                </a>
              </div>
            </div>
            <div class="empty-state w-dyn-empty">
              <div class="text-empty">No items found.</div>
            </div>
          </div>
          <a href="#" aria-current="page" class="link-category w-inline-block w--current">
            <img src="{% static 'base/images/google/add-circle.svg' %}" loading="eager" alt="" class="icon-category">
            <div class="text-category">Add</div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="collection-list-wrapper-shop w-dyn-list">
        <div role="list" class="collection-list-shop w-dyn-items">
          <div role="listitem" class="w-dyn-item">
            <div class="product">
              <div class="block-icon-product">
                <img alt="" loading="eager" src="" class="icon-product">
              </div>
              <a href="#" class="link-product w-inline-block">
                <h3 class="heading-product"></h3>
              </a>
              <div class="block-price">
                <div class="text-price"></div>
                <div class="compare-at-price"></div>
              </div>
              <p class="paragraph-description"></p>
              <div class="subtitle-product">Features<br></div>
              <div class="block-features-product">
                <div class="features-product">
                  <img src="images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                  <h6 class="heading-features-product"></h6>
                </div>
                <div class="features-product">
                  <img src="images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                  <h6 class="heading-features-product"></h6>
                </div>
                <div class="features-product">
                  <img src="images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                  <h6 class="heading-features-product"></h6>
                </div>
                <div class="features-product">
                  <img src="images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                  <h6 class="heading-features-product"></h6>
                </div>
                <div class="features-product">
                  <img src="images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                  <h6 class="heading-features-product"></h6>
                </div>
                <div class="features-product">
                  <img src="images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                  <h6 class="heading-features-product"></h6>
                </div>
                <div class="features-product">
                  <img src="images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
                  <h6 class="heading-features-product"></h6>
                </div>
              </div>
              <a href="#" class="button w-button">View Plan</a>
              <div class="block-tag-product">
                <div class="yellow-tag-product">Most popular<br></div>
                <div class="green-tag-product">Best Value<br></div>
              </div>
            </div>
          </div>
        </div>
        <div class="empty-state w-dyn-empty">
          <div class="text-empty">No items found.</div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}