{% extends "inventory/base.html" %}
{% load static %}

{% block content %}
  <section class="section">
    <div class="content content-digit-top">
      <div class="block-digit-top">
        <a href="{{ parent_url }}" class="block-digit-link base-inline-block">
          <div class="subtitle green">{{ parent_name }}<br></div>
        </a>
        <div class="date-top">Created: {{ digit.created_at|date:"M. d, Y" }}</div>
        {% if is_owner %}
          <div class="digit-text-top">
            <a href="{% url 'inventory:update-digit' type=digit.get_digit_type uuid=digit.uuid %}" class="digit-link-top">Update Digit</a>
          </div>
        {% endif %}
        <h2 class="digit-heading-top">{{ digit.name }}</h2>
        <div class="digit-paragraph-top">{{ digit.description }}</div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="collection-list-wrapper-posts large base-dyn-list">
        <div role="list" class="collection-list-posts large base-dyn-items">
          {% if journal_entries %}
            {% for entry in journal_entries %}
              <div role="listitem" class="base-dyn-item">
                <div class="block-post large">
                  {% if entry.image %}
                    <img src="{{ entry.image.url }}" alt="Journal Image" class="image-post-thumbnail large">
                  {% else %}
                    <img src="{% static 'digidex/images/placeholder.svg' %}" alt="Journal Image Placeholder" class="image-post-thumbnail large">
                  {% endif %}
                  <div class="post large">
                    <div class="date">{{ entry.created_at }}</div>
                    <h3 class="heading-post">Entry {{ entry.entry_number }}</h3>
                    {% if entry.content %}
                      <p class="paragraph-post large">{{ summarized_content }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}