{% load static wagtailcore_tags wagtailimages_tags %} 

<section class="section">
  <div class="content">
    <div class="block-categories block">
      <a href="#" aria-current="page" class="link-category base-inline-block base--current" data-id="{{ trainer.uuid }}">
        <img src="{% static 'base/images/switcher.svg' %}" loading="eager" alt="" class="icon-category">
        <div class="text-category">All</div>
      </a>
      {% with collection=trainer.collection %}
        <div class="collection-list-wrapper-categories base-dyn-list">
          <div role="list" class="collection-list-categories base-dyn-items">
            {% for category in collection %}
                <div role="listitem" class="collection-item-categories base-dyn-item" data-id="{{ category.uuid }}">
                <a href="{{ category.url }}" class="link-category base-inline-block">
                  <img src="{% static 'base/images/nfc/directional/nfc_directional_mark_black.png' %}" loading="eager" alt="" class="icon-category">
                    <div class="text-category">{{ category.title }}</div>
                </a>
                </div>
            {% endfor %}
            </div>
        </div>
      {% endwith %}
      <a href="{{ section.add }}" aria-current="page" class="link-category base-inline-block">
        <img src="{% static 'base/images/google/add-circle.svg' %}" loading="eager" alt="" class="icon-category">
        <div class="text-category">Add {{ section.title }}</div>
      </a>
    </div>
  </div>
</section>