{% extends "inventory/base.html" %}
{% load static wagtailimages_tags %}

{% block body %}
  <section class="section">
    <div class="content">
      <div class="w-layout-grid grid-product">
        <div class="product-sticky">
          <div class="block-icon-product">
            <img alt="{{ image }}" loading="eager" src="" class="icon-product">
          </div>
          <a href="{{ url }}" class="link-product w-inline-block">
            <h3 class="heading-product">{{ heading }}</h3>
          </a>
          <div class="block-price">
            <div class="text-price">{{ price_1 }}</div>
            <div class="compare-at-price">{{ price_2 }}</div>
          </div>
          <p class="paragraph-description"></p>
          <div class="subtitle-product">Features<br></div>
          <div class="block-tag-product">
            <div class="yellow-tag-product">Most popular<br></div>
            <div class="green-tag-product">Best Value<br></div>
          </div>
        </div>
        <div id="w-node-_5363f964-1550-406b-86ab-876ba9bec06f-0e941743" class="product-content">
          <div class="subtitle-product">More Details<br></div>
          <div class="w-richtext"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}
