{% extends "index.html" %}
{% load static wagtailimages_tags %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock header %}

{% block body %}
  <section class="section">
    <div class="content">
      <div class="w-layout-grid grid-product">
        <div class="product-sticky">
          <div class="block-icon-product">
            <img alt="" loading="eager" src="" class="icon-product">
          </div>
          <a href="#" class="link-product w-inline-block">
            <h3 class="heading-product"></h3>
          </a>
          <div class="block-price">
            <div class="text-price"></div>
            <div class="compare-at-price"></div>
          </div>
          <p class="paragraph-description"></p>
          <div class="subtitle-product">Features<br></div>
          <div class="block-features-product">
            <div class="features-product">
              <img src="images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
              <h6 class="heading-features-product"></h6>
            </div>
            <div class="features-product">
              <img src="images/bx-check_green.svg" loading="eager" alt="" class="icon-features-product">
              <h6 class="heading-features-product"></h6>
            </div>
          </div>
          <div class="block-tag-product">
            <div class="yellow-tag-product">Most popular<br></div>
            <div class="green-tag-product">Best Value<br></div>
          </div>
        </div>
        <div id="w-node-_5363f964-1550-406b-86ab-876ba9bec06f-0e941743" class="product-content">
          <div class="subtitle-product">More Details<br></div>
          <div class="w-richtext"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock footer %}
