{% extends "inventory/base.html" %}
{% load static wagtailimages_tags %}

{% block header %}
  {% include "includes/header.html" %}
  <section class="section-top padding-0">
    <div class="content">
      <div class="block-top">
        <div class="date-top">{{ page.specific.created_at }}</div>
        <h1 class="heading-top">{{ page.title }}</h1>
        <p class="paragraph-top blog-post">{{ page.specific.description }}</p>
      </div>
    </div>
  </section>
{% endblock header %}

{% block body %}
  <section class="section">
    <div class="content narrow">
      <img alt="" loading="eager" src="" class="image-main-post">
      <div class="post-body">
        <div class="rich-text-block w-dyn-bind-empty w-richtext"></div>
      </div>
    </div>
  </section>
{% endblock body %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock footer %}