{% extends "inventory/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block header %}
  {% include "includes/header.html" %}
  <section class="section-top"> 
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.title }}</h1>
        {% if is_owner %}
          <div class="block-categories">
            <a href="{{ urls.add }}" class="link-category w-inline-block w--current">
              <img src="{% static 'base/images/google/add-circle.svg' %}" alt="Add Asset Icon" loading="lazy" decoding="async" class="icon-category">
              <div class="text-category">Add Asset</div>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock header %}

{% block body %}
  <section class="section">
    <div class="content">
      <div class="collection-list-wrapper-posts w-dyn-list">
        {% if assets.exists %}
          <div role="list" class="collection-list-posts w-dyn-items">
            {% for asset in assets %}
              <div role="listitem" class="w-dyn-item">
                <div class="block-post">
                  <a href="{{ asset.url }}" class="link-post-thumbnail w-inline-block">
                    {% with asset.specific.main_image as main_image %}
                      {% if main_image %}
                        {% image main_image original alt="main_image.alt" class="image-post-thumbnail" loading="lazy" decoding="async" %}
                      {% else %}
                        <img src="{% static 'base/images/google/plant.svg' %}" loading="lazy" decoding="async" alt="Asset Thumbnail Placeholder" class="image-post-thumbnail">
                      {% endif %}
                    {% endwith %}
                  </a>
                  <div class="post">
                    <div class="date">{{ asset.specific.created_at }}</div>
                    <a href="{{ asset.url }}" class="link-heading-post w-inline-block">
                      <h4 class="heading-post">{{ asset.specific.name }}</h4>
                    </a>
                    <p class="paragraph-post">{{ asset.specific.description }}</p>
                    <a href="{{ asset.url }}" class="link-block w-inline-block">
                      <div class="text-link">View Details</div>
                      <div class="block-icon-link">
                        <img src="{% static 'base/images/bx/arrow-green.svg' %}" loading="lazy" decoding="async" alt="Green Arrow Pointing Rightwards" class="icon-link">
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="empty-state w-dyn-empty">
            <div class="text-empty">No assets found.</div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock body %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock footer %}