{% extends "inventory/base.html" %}

{% block content %}
  <section class="section">
    <div class="content">
      <div class="page-body">
        <div>
          <h2 class="heading">{{ user.username }}</h2>
        </div>
        <div class="base-layout-grid grid">
          <div class="profile"> 
            {% include 'inventory/includes/start_date.html' %}
            {% include 'inventory/includes/profile/avatar.html' %}
            {% include 'inventory/includes/profile/bio.html' %}
             
            {% if is_owner %}
              {% include 'inventory/includes/profile/update.html' %}
            {% endif %}
          </div>
          {% include 'inventory/includes/profile/collection.html' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}