{% extends 'base.html' %}

{% block title %}Register NFC Tag{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="my-4">Register NFC Tag</h1>

    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.tag_id.id_for_label }}">Tag ID:</label>
        {{ form.tag_id }}
      </div>
      <div class="form-group">
        <label for="{{ form.created_by.id_for_label }}">Created By:</label>
        {{ form.created_by }}
      </div>

      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Your submission has errors. Please correct them and try again.
        </div>
      {% endif %}

      <button type="submit" class="btn btn-primary">Register NFC Tag</button>
    </form>
  </div>
{% endblock %}