  <section class="section-top">
    <div style="opacity:0" class="content">
      <div class="block-top">
        <h1 class="heading-top">Performance, security, and more</h1>
        <p class="paragraph-top">Imperdiet in varius suspendisse ac fermentum pellentesque placerat scelerisque rutrum.</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div style="opacity:0" class="content">
      <div class="w-layout-grid grid-solutions-large">
        <div id="w-node-_0cd70b74-ab87-0e37-8c12-0b38f4d52384-0e94174c" class="solutions-large">
          <div class="block-icon-solution"><img src="images/meter.svg" loading="eager" alt="" class="icon-solution"></div>
          <h4 class="heading-solution-large">Performance</h4>
          <p class="paragraph-solution-large">Nunc suspendisse sed purus tincidunt faucibus malesuada aliquet. Amet aliquam adipiscing neque sit eu velit quis mi. Aliquet est in tellus tristique nisi.</p>
          <div class="block-list">
            <div class="list">
              <div class="block-icon-list"><img src="images/bx-check.svg" loading="eager" alt="" class="icon-list"></div>
              <h6 class="heading-list blue">Tristique odio dapibus id at pretium nibh</h6>
            </div>
            <div class="list">
              <div class="block-icon-list"><img src="images/bx-check.svg" loading="eager" alt="" class="icon-list"></div>
              <h6 class="heading-list blue">Viverra nulla porttitor suspendisse</h6>
            </div>
            <div class="list">
              <div class="block-icon-list"><img src="images/bx-check.svg" loading="eager" alt="" class="icon-list"></div>
              <h6 class="heading-list blue">Nec sit ullamcorper urna</h6>
            </div>
          </div>
        </div>
        <div id="w-node-_0817c525-b533-bda4-24da-6118e0cbf305-0e94174c" class="solutions-large green">
          <div class="block-icon-solution green"><img src="images/ibm-cloud-key-protect.svg" loading="eager" alt="" class="icon-solution"></div>
          <h4 class="heading-solution-large green">Security</h4>
          <p class="paragraph-solution-large green">Fermentum turpis eu leo amet libero vel. Est curabitur dui bibendum consectetur lectus pellentesque quis viverra. Elit quam massa aliquam vitae arcu bibendum purus.</p>
          <div class="block-list">
            <div class="list">
              <div class="block-icon-list green"><img src="images/bx-check_green.svg" loading="eager" alt="" class="icon-list"></div>
              <h6 class="heading-list green">Urna sit proin lobortis pretium posuere</h6>
            </div>
            <div class="list">
              <div class="block-icon-list green"><img src="images/bx-check_green.svg" loading="eager" alt="" class="icon-list"></div>
              <h6 class="heading-list green">Vel ornare mauris ut arcu</h6>
            </div>
            <div class="list">
              <div class="block-icon-list green"><img src="images/bx-check_green.svg" loading="eager" alt="" class="icon-list"></div>
              <h6 class="heading-list green">Dolor arcu in amet</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="w-layout-grid grid-solutions">
        <div id="w-node-_06ca0ded-afc5-2e76-cccb-1e42fc83d8fe-0e94174c" class="solutions"><img src="images/edge-node-alt.svg" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">Shared Hosting</h5>
          <p class="paragraph-solution">Lectus tortor aliquam pulvinar cursus eget egestas. Ac fermentum.</p>
          <a href="pricing.html" class="link-block w-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link"><img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="icon-link"></div>
          </a>
        </div>
        <div id="w-node-_06ca0ded-afc5-2e76-cccb-1e42fc83d909-0e94174c" class="solutions"><img src="images/object-storage.svg" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">VPS Hosting</h5>
          <p class="paragraph-solution">Diam purus aliquam vulputate urna. Imperdiet enim diam felis ut. Neque.</p>
          <a href="pricing.html" class="link-block w-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link"><img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="icon-link"></div>
          </a>
          <div class="yellow-tag">Most popular<br></div>
        </div>
        <div id="w-node-_06ca0ded-afc5-2e76-cccb-1e42fc83d917-0e94174c" class="solutions"><img src="images/cloud-data-ops.svg" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">Cloud Hosting</h5>
          <p class="paragraph-solution">At magna sed aliquet posuere aenean. Tortor placerat nascetur.</p>
          <a href="pricing.html" class="link-block w-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link"><img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="icon-link"></div>
          </a>
        </div>
        <div id="w-node-_06ca0ded-afc5-2e76-cccb-1e42fc83d922-0e94174c" class="solutions"><img src="images/ibm-cloud-dedicated-host.svg" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">Dedicated Hosting</h5>
          <p class="paragraph-solution">Vitae molestie vel feugiat sapien commodo risus nunc. Justo varius.</p>
          <a href="pricing.html" class="link-block w-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link"><img src="images/bx-arrow-to-right_blue.svg" loading="eager" alt="" class="icon-link"></div>
          </a>
          <div class="green-tag">Best Value<br></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div style="opacity:0" class="content">
      <div class="w-layout-grid grid">
        <div id="w-node-_84ec0c4e-ce73-a401-5d92-2ee6464d9388-0e94174c" class="block-left">
          <div class="subtitle">Business<br></div>
          <h2 class="heading">Tailored hosting solutions for every business need</h2>
          <p class="paragraph">Fermentum risus donec dictum id. In orci maecenas turpis ac leo laoreet in suspendisse feugiat. Posuere convallis congue mauris purus lectus bibendum amet ultrices.</p>
          <div class="block-list">
            <div class="list">
              <div class="block-icon-list"><img src="images/bx-check.svg" loading="eager" alt="" class="icon-list"></div>
              <h6 class="heading-list">Tristique odio dapibus id at pretium nibh</h6>
            </div>
            <div class="list">
              <div class="block-icon-list"><img src="images/bx-check.svg" loading="eager" alt="" class="icon-list"></div>
              <h6 class="heading-list">Viverra nulla porttitor suspendisse</h6>
            </div>
          </div>
        </div>
        <div id="w-node-_84ec0c4e-ce73-a401-5d92-2ee6464d9375-0e94174c" data-w-id="84ec0c4e-ce73-a401-5d92-2ee6464d9375" class="lottie">
          <div class="lines-b1">
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
          </div>
          <div class="lines-b2">
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div data-w-id="84ec0c4e-ce73-a401-5d92-2ee6464d9385" data-is-ix2-target="1" class="lottie-animation-1" data-animation-type="lottie" data-src="documents/Lottie-B1-White.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-w-id="84ec0c4e-ce73-a401-5d92-2ee6464d9386" data-animation-type="lottie" data-src="documents/Lottie-B2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-w-id="84ec0c4e-ce73-a401-5d92-2ee6464d9387" data-animation-type="lottie" data-src="documents/Lottie-B2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div style="opacity:0" class="content">
      <div class="block-heading">
        <div class="subtitle">Features<br></div>
        <h2 class="heading">Hosting tailored to your needs</h2>
      </div>
      <div class="w-layout-grid grid-features">
        <div id="w-node-baba0ec0-6945-6e93-e03a-9c3e439ad2a4-0e94174c" class="features">
          <div class="block-heading-features"><img src="images/lightning.svg" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">99.99% Uptime</h5>
          </div>
          <p class="paragraph-features">A suspendisse volutpat tincidunt nibh ut nibh accumsan amet neque. Id nisl porttitor non sem posuere.</p>
        </div>
        <div id="w-node-baba0ec0-6945-6e93-e03a-9c3e439ad2ab-0e94174c" class="features">
          <div class="block-heading-features"><img src="images/ibm-cloud-hyper-protect-dbaas.svg" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">Advanced Security</h5>
          </div>
          <p class="paragraph-features">Platea vitae venenatis turpis eu facilisis rhoncus condimentum sit urna. A pretium eget nisl pharetra.</p>
        </div>
        <div id="w-node-baba0ec0-6945-6e93-e03a-9c3e439ad2b2-0e94174c" class="features">
          <div class="block-heading-features"><img src="images/container-registry.svg" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">Unlimited Scaling</h5>
          </div>
          <p class="paragraph-features">Varius ut sed vel faucibus nisl aliquam placerat facilisi felis. Elit tellus tortor quam massa. Rutrum id mauris.</p>
        </div>
        <div id="w-node-baba0ec0-6945-6e93-e03a-9c3e439ad2b9-0e94174c" class="features">
          <div class="block-heading-features"><img src="images/headset.svg" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">24/7 Expert Support</h5>
          </div>
          <p class="paragraph-features">Faucibus imperdiet iaculis sed ultrices proin feugiat at nunc libero. Quis nullam integer natoque aliquam.</p>
        </div>
        <div id="w-node-baba0ec0-6945-6e93-e03a-9c3e439ad2c0-0e94174c" class="features">
          <div class="block-heading-features"><img src="images/ibm-watson-machine-learning.svg" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">Unmetered Bandwidth</h5>
          </div>
          <p class="paragraph-features">Viverra pulvinar sed amet lacinia in volutpat quis. Risus gravida mauris augue at. Risus placerat mattis proin eget.</p>
        </div>
        <div id="w-node-baba0ec0-6945-6e93-e03a-9c3e439ad2c7-0e94174c" class="features">
          <div class="block-heading-features"><img src="images/ibm-cloud-hyper-protect-crypto-services.svg" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">Free SSL Certificate</h5>
          </div>
          <p class="paragraph-features">Vitae pharetra pretium morbi cursus pretium mauris lorem pellentesque. Fames mattis lorem blandit.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div style="opacity:0" class="content">
      <div class="w-layout-grid grid">
        <div id="w-node-e0a700b7-f8d1-c9fd-11cf-eea47df8bd7d-0e94174c" data-w-id="e0a700b7-f8d1-c9fd-11cf-eea47df8bd7d" class="lottie">
          <div class="lines-b1">
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
            <div style="width:1px;height:0%" class="line-w"></div>
          </div>
          <div class="lines-b2">
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
            <div style="width:0%;height:1px" class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div data-w-id="e0a700b7-f8d1-c9fd-11cf-eea47df8bd8d" data-is-ix2-target="1" class="lottie-animation-1" data-animation-type="lottie" data-src="documents/Lottie-B1-White.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-w-id="e0a700b7-f8d1-c9fd-11cf-eea47df8bd8e" data-animation-type="lottie" data-src="documents/Lottie-B2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-w-id="e0a700b7-f8d1-c9fd-11cf-eea47df8bd8f" data-animation-type="lottie" data-src="documents/Lottie-B2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
          </div>
        </div>
        <div id="w-node-e0a700b7-f8d1-c9fd-11cf-eea47df8bd90-0e94174c" class="block-right">
          <div class="subtitle">Cloud hosting<br></div>
          <h2 class="heading">Unleash the power of scalability</h2>
          <p class="paragraph">Aliquam sit ac turpis fringilla commodo consectetur. Feugiat turpis diam fringilla faucibus pellentesque.</p>
          <div class="w-layout-grid grid-numbers">
            <div id="w-node-e0a700b7-f8d1-c9fd-11cf-eea47df8bd99-0e94174c" class="numbers"><img src="images/block-storage.svg" loading="eager" alt="" class="icon-numbers">
              <h4 class="heading-numbers">Scalability</h4>
              <div class="text-numbers">Easily scale your resources</div>
            </div>
            <div id="w-node-e0a700b7-f8d1-c9fd-11cf-eea47df8bd9f-0e94174c" class="numbers green"><img src="images/chart-evaluation.svg" loading="eager" alt="" class="icon-numbers">
              <h4 class="heading-numbers green">Cost Efficiency</h4>
              <div class="text-numbers green">Pay only for the resources you use</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="w-layout-grid grid-banner">
        <div id="w-node-fa5a991c-5956-883f-ada3-90790b0053f4-0b0053f1" class="block-banner">
          <div class="subtitle white">Are you ready?<br></div>
          <h2 class="heading banner">Your digital success story begins here</h2>
          <a data-w-id="fa5a991c-5956-883f-ada3-90790b0053fa" href="get-started.html" class="button yellow w-button">Get Started</a>
        </div>
        <div id="w-node-fa5a991c-5956-883f-ada3-90790b0053fc-0b0053f1" data-w-id="fa5a991c-5956-883f-ada3-90790b0053fc" class="lottie-banner">
          <div class="lines-d1">
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
            <div class="line-banner-w"></div>
          </div>
          <div class="lines-d2">
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
            <div class="line-banner-h"></div>
          </div>
          <div class="block-lottie-banner">
            <div data-w-id="fa5a991c-5956-883f-ada3-90790b00540c" data-is-ix2-target="1" class="lottie-animation-1-banner" data-animation-type="lottie" data-src="documents/Lottie-D1-Blue.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div data-is-ix2-target="1" class="lottie-animation-2-banner" data-w-id="fa5a991c-5956-883f-ada3-90790b00540d" data-animation-type="lottie" data-src="documents/Lottie-D2-Yellow.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2" data-duration="0"></div>
            <div data-is-ix2-target="1" class="lottie-animation-2-blur-banner" data-w-id="fa5a991c-5956-883f-ada3-90790b00540e" data-animation-type="lottie" data-src="documents/Lottie-D2-Yellow.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2" data-duration="0"></div>
          </div>
        </div>
      </div>
    </div>
  </section>