{% load static wagtailcore_tags %}

<div class="post large">
  <div class="date">{{ page.profile.created_at|date:"F Y" }}</div>
  <a href="{{ inventory_page.url }}" class="link-heading-post large base-inline-block">
    <h3 class="heading-post">{{ page.profile.user.username }}</h3>
  </a>
  {% if page.profile.bio %}
    <p class="paragraph-post large">{{ page.profile.bio|richtext }}</p>
  {% else %}
    <p class="paragraph-post large">No bio available.</p>
  {% endif %}
  {% if request.user == page.owner %}
    <a href="{{ page.form_url }}" class="link-block base-inline-block">
      <div class="text-link">Update Profile</div>
      <div class="block-icon-link">
        <img src="{% static 'images/bx/arrow-green.svg' %}" loading="eager" alt="" class="icon-link">
      </div>
    </a>
  {% endif %}
</div>