<body>
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">Performance, security, and more</h1>
        <p class="paragraph-top">Imperdiet in varius suspendisse ac fermentum pellentesque placerat scelerisque rutrum.</p>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="base-layout-grid grid-solutions-large">
        <div id="" class="solutions-large">
          <div class="block-icon-solution">
            <img src="{% static 'images/bx/meter.svg' %}" loading="eager" alt="" class="icon-solution">
          </div>
          <h4 class="heading-solution-large">Performance</h4>
          <p class="paragraph-solution-large">Nunc suspendisse sed purus tincidunt faucibus malesuada aliquet. Amet aliquam adipiscing neque sit eu velit quis mi. Aliquet est in tellus tristique nisi.</p>
          <div class="block-list">
            <div class="list">
              <div class="block-icon-list">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list blue">Tristique odio dapibus id at pretium nibh</h6>
            </div>
            <div class="list">
              <div class="block-icon-list">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list blue">Viverra nulla porttitor suspendisse</h6>
            </div>
            <div class="list">
              <div class="block-icon-list">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list blue">Nec sit ullamcorper urna</h6>
            </div>
          </div>
        </div>
        <div id="" class="solutions-large green">
          <div class="block-icon-solution green">
            <img src="{% static 'images/tech/key-protect.svg' %}" loading="eager" alt="" class="icon-solution">
          </div>
          <h4 class="heading-solution-large green">Security</h4>
          <p class="paragraph-solution-large green">Fermentum turpis eu leo amet libero vel. Est curabitur dui bibendum consectetur lectus pellentesque quis viverra. Elit quam massa aliquam vitae arcu bibendum purus.</p>
          <div class="block-list">
            <div class="list">
              <div class="block-icon-list green">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list green">Urna sit proin lobortis pretium posuere</h6>
            </div>
            <div class="list">
              <div class="block-icon-list green">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list green">Vel ornare mauris ut arcu</h6>
            </div>
            <div class="list">
              <div class="block-icon-list green">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list green">Dolor arcu in amet</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="base-layout-grid grid-solutions">
        <div id="" class="solutions">
          <img src="{% static 'images/tech/edge-node-alt.svg' %}" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">Shared Hosting</h5>
          <p class="paragraph-solution">Lectus tortor aliquam pulvinar cursus eget egestas. Ac fermentum.</p>
          <a href="pricing.html" class="link-block base-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link">
              <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
            </div>
          </a>
        </div>
        <div id="" class="solutions">
          <img src="{% static 'images/object-storage.svg' %}" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">VPS Hosting</h5>
          <p class="paragraph-solution">Diam purus aliquam vulputate urna. Imperdiet enim diam felis ut. Neque.</p>
          <a href="pricing.html" class="link-block base-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link">
              <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
            </div>
          </a>
          <div class="yellow-tag">Most popular<br></div>
        </div>
        <div id="" class="solutions">
          <img src="{% static 'images/tech/cloud-data-ops.svg' %}" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">Cloud Hosting</h5>
          <p class="paragraph-solution">At magna sed aliquet posuere aenean. Tortor placerat nascetur.</p>
          <a href="pricing.html" class="link-block base-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link">
              <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
            </div>
          </a>
        </div>
        <div id="" class="solutions">
          <img src="{% static 'images/tech/ibm-cloud-dedicated-host.svg' %}" loading="eager" alt="" class="icon-solution">
          <h5 class="heading-solution">Dedicated Hosting</h5>
          <p class="paragraph-solution">Vitae molestie vel feugiat sapien commodo risus nunc. Justo varius.</p>
          <a href="pricing.html" class="link-block base-inline-block">
            <div class="text-link">Learn more</div>
            <div class="block-icon-link">
              <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
            </div>
          </a>
          <div class="green-tag">Best Value<br></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="base-layout-grid grid">
        <div id="" class="block-left">
          <div class="subtitle">Business<br></div>
          <h2 class="heading">Tailored hosting solutions for every business need</h2>
          <p class="paragraph">Fermentum risus donec dictum id. In orci maecenas turpis ac leo laoreet in suspendisse feugiat. Posuere convallis congue mauris purus lectus bibendum amet ultrices.</p>
          <div class="block-list">
            <div class="list">
              <div class="block-icon-list">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list">Tristique odio dapibus id at pretium nibh</h6>
            </div>
            <div class="list">
              <div class="block-icon-list">
                <img src="{% static 'images/bx/check.svg' %}" loading="eager" alt="" class="icon-list">
              </div>
              <h6 class="heading-list">Viverra nulla porttitor suspendisse</h6>
            </div>
          </div>
        </div>
        <div id="" data-id="" class="lottie">
          <div class="lines-b1">
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
          </div>
          <div class="lines-b2">
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div class="lottie-animation-1" data-id="" data-animation-type="lottie" data-src="{% static 'documents/lottie/B1-White.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-id="" data-animation-type="lottie" data-src="{% static 'documents/lottie/B2-Green.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-id="" data-animation-type="lottie" data-src="{% static 'documents/lottie/B2-Green.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="block-heading">
        <div class="subtitle">Features<br></div>
        <h2 class="heading">Hosting tailored to your needs</h2>
      </div>
      <div class="base-layout-grid grid-features">
        <div id="" class="features">
          <div class="block-heading-features">
            <img src="{% static 'images/bx/lightning.svg' %}" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">99.99% Uptime</h5>
          </div>
          <p class="paragraph-features">A suspendisse volutpat tincidunt nibh ut nibh accumsan amet neque. Id nisl porttitor non sem posuere.</p>
        </div>
        <div id="" class="features">
          <div class="block-heading-features">
            <img src="{% static 'images/tech/protect-data-green.svg' %}" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">Advanced Security</h5>
          </div>
          <p class="paragraph-features">Platea vitae venenatis turpis eu facilisis rhoncus condimentum sit urna. A pretium eget nisl pharetra.</p>
        </div>
        <div id="" class="features">
          <div class="block-heading-features">
            <img src="{% static 'images/tech/container-registry.svg' %}" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">Unlimited Scaling</h5>
          </div>
          <p class="paragraph-features">Varius ut sed vel faucibus nisl aliquam placerat facilisi felis. Elit tellus tortor quam massa. Rutrum id mauris.</p>
        </div>
        <div id="" class="features">
          <div class="block-heading-features">
            <img src="{% static 'images/bx/headset.svg' %}" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">24/7 Expert Support</h5>
          </div>
          <p class="paragraph-features">Faucibus imperdiet iaculis sed ultrices proin feugiat at nunc libero. Quis nullam integer natoque aliquam.</p>
        </div>
        <div id="" class="features">
          <div class="block-heading-features">
            <img src="{% static 'images/tech/ibm-watson-rocket.svg' %}" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">Unmetered Bandwidth</h5>
          </div>
          <p class="paragraph-features">Viverra pulvinar sed amet lacinia in volutpat quis. Risus gravida mauris augue at. Risus placerat mattis proin eget.</p>
        </div>
        <div id="" class="features">
          <div class="block-heading-features">
            <img src="{% static 'images/tech/key-protect.svg' %}" loading="eager" alt="" class="icon-features">
            <h5 class="heading-features">Free SSL Certificate</h5>
          </div>
          <p class="paragraph-features">Vitae pharetra pretium morbi cursus pretium mauris lorem pellentesque. Fames mattis lorem blandit.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="base-layout-grid grid">
        <div id="" data-id="" class="lottie">
          <div class="lines-b1">
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
            <div class="line-w"></div>
          </div>
          <div class="lines-b2">
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
            <div class="line-h"></div>
          </div>
          <div class="block-lottie">
            <div class="lottie-animation-1" data-id="" data-animation-type="lottie" data-src="{% static 'documents/lottie/B1-White.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
            <div class="lottie-animation-2" data-id="" data-animation-type="lottie" data-src="{% static 'documents/lottie/B2-Green.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
            <div class="lottie-animation-2-blur" data-id="" data-animation-type="lottie" data-src="{% static 'documents/lottie/B2-Green.json' %}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="16" data-duration="0"></div>
          </div>
        </div>
        <div id="" class="block-right">
          <div class="subtitle">Cloud hosting<br></div>
          <h2 class="heading">Unleash the power of scalability</h2>
          <p class="paragraph">Aliquam sit ac turpis fringilla commodo consectetur. Feugiat turpis diam fringilla faucibus pellentesque.</p>
          <div class="base-layout-grid grid-numbers">
            <div id="" class="numbers">
              <img src="{% static 'images/tech/block-storage.svg' %}" loading="eager" alt="" class="icon-numbers">
              <h4 class="heading-numbers">Scalability</h4>
              <div class="text-numbers">Easily scale your resources</div>
            </div>
            <div id="" class="numbers green">
              <img src="{% static 'images/bx/chart.svg' %}" loading="eager" alt="" class="icon-numbers">
              <h4 class="heading-numbers green">Cost Efficiency</h4>
              <div class="text-numbers green">Pay only for the resources you use</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
