{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Create Digit" %}
{% endblock title %}

{% block body %}
  {% block content %}
    <section class="section-full">
      <div class="content">
        <div class="inventory-form">
          <h2 class="inventory-heading">Create Digit</h2>
          <div class="form-block base-form">
            {% include "digitization/elements/form.html" %}
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
{% endblock %}