{% extends "digitization/base.html" %}

{% block content %}
  <section class="section-full">
    <div class="content">
      <div class="account-form">
        <h2 class="account-heading">Create Digit</h2>
        <div class="form-block base-form">
          <!-- Render Form -->
          <form method="post" class="form">
            {% csrf_token %}
            <!-- Render Name Field -->
            {{ form.name }}
              {% if form.name.errors %}
              <div class="error-message">
                <div class="text-error">{{ form.name.errors|striptags }}</div>
              </div>
              {% endif %}
            <!-- Render Description Field -->
            {{ form.description }}
            {% if form.description.errors %}
              <div class="error-message">
                <div class="text-error">{{ form.description.errors|striptags }}</div>
              </div>
            {% endif %}
            <!-- Render Submit Button -->
            <input type="submit" value="Create" class="submit-button base-button"> 
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}