{% extends "digitization/base.html" %}

{% block content %}
  <section class="section-full">
    <div class="content">
      <div class="digitization-form">
        <h2 class="digitization-heading">Create Digit</h2>
        <div class="form-block base-form">
          <!-- Render Form -->
          <form method="post" class="form">
            {% csrf_token %}
            <!-- Render Image Field -->
            {{ form.image }}
              {% if form.image.errors %}
              <div class="error-message">
                <div class="text-error">{{ form.image.errors|striptags }}</div>
              </div>
              {% endif %}
            <!-- Render Caption Field -->
            {{ form.caption }}
            {% if form.caption.errors %}
              <div class="error-message">
                <div class="text-error">{{ form.caption.errors|striptags }}</div>
              </div>
            {% endif %}
            <!-- Render Submit Button -->
            <input type="submit" value="Create" class="submit-button base-button"> 
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}