.content {
  width: 100%;
  max-width: 75em;
}

.content.narrow {
  max-width: 60em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.accordion-content {
  display: block;
  overflow: hidden;
}

.utility-page-content {
  width: 100%;
  max-width: 24em;
  background-color: var(--white);
  text-align: center;
  border-radius: .87em;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  padding: 3.1em;
  display: flex;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.product-content {
  background-color: var(--white);
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px rgba(20, 23, 24, .05);
}

.block-content {
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  padding: 1.5em;
}

.ecommerce-contents {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  margin-right: 0;
  display: flex;
}