.lines-b1 {
  z-index: 5;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 4%;
  padding-right: 13%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lines-b2 {
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 12%;
  padding-bottom: 12%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.grid-numbers {
  grid-column-gap: .87em;
  grid-row-gap: .87em;
  grid-template-rows: auto;
  align-items: start;
}

.numbers {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  background-color: var(--accent-blue);
  border-radius: .64em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.2em 1.4em 1.4em;
  display: flex;
}

.numbers.green {
  background-color: var(--accent-green);
}

.icon-numbers {
  width: 2em;
  height: 2em;
}

.heading-numbers {
  color: var(--strong-blue);
  font-weight: 500;
}

.heading-numbers.green {
  color: var(--strong-green); 
}

.text-numbers {
  max-width: 11em;
  color: var(--strong-blue);
  letter-spacing: -.02em;
  font-size: .87em;
  font-weight: 500;
  line-height: 130%;
}

.text-numbers.green {
  color: var(--strong-green);
}

@media screen and (max-width: 991px) {
  .grid-about {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr;
  }

  .grid-numbers {
    font-size: .9em;
  }
}

@media screen and (max-width: 767px) {
  .grid-numbers {
    width: 100%;
    font-size: 1em;
  }
}

@media screen and (max-width: 479px) {
  .grid-numbers {
    grid-template-columns: 1fr;
  }

  .about {
    padding: 2em;
  }
}