.section-top {
  justify-content: center;
  align-items: center;
  padding: 6em 2em 1.5em;
  display: flex;
}

.section-top.padding-0 {
  padding-bottom: 0;
}

.block-top {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph-top {
  max-width: 32em;
  margin-bottom: 2em;
  font-size: 1.125em;
  line-height: 160%;
}

.paragraph-top.blog-post {
  max-width: 36em;
  margin-bottom: .5em;
}

.heading-top {
  max-width: 11.5em;
  margin-bottom: .38em;
}