:root {
  --white: white;
  --background: #f4f6f7;
  --paragraph: rgba(20, 23, 24, .8);
  --heading: #141718;
  --border: rgba(15, 100, 146, .2);

  --neutral-dark: #333;
  --neutral-light: #f2f2f2;

  --strong-green: #00693e;
  --strong-red: #bc0087;
  --strong-blue: #3959ff;
  --strong-yellow: #ffc107;

  --accent-green: rgba(0, 135, 38, .07);
  --accent-red: rgba(188, 0, 135, .07);
  --accent-blue: rgba(57, 89, 255, .07);

  --navbar-background: rgba(138, 215, 160, 0.8);
  --navbar-border: 1px solid rgba(138, 215, 160, 0.3);
  
  --info-color: #3b6f95;
  --error-color: #e53935;
  --warning-color: #ffc107;
  --success-color: #8ad7a0;
}