{% extends "blog/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.title }}</h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="collection-list-wrapper-posts large w-dyn-list">
        {% if featured %}
          {% with featured=featured.specific %}
            <div role="list" class="collection-list-posts large w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <div class="block-post large">
                  <a href="{% pageurl featured %}" class="link-post-thumbnail large w-inline-block">
                    {% with featured.main_image as main_image %}
                      {% image main_image original alt="main_image.alt" class="image-post-thumbnail large" loading="lazy" decoding="async" %}
                    {% endwith %}
                  </a>
                  <div class="post large">
                    <div class="date">{{ featured.date }}</div>
                    <a href="{% pageurl featured %}" class="link-heading-post large w-inline-block">
                      <h3 class="heading-post">{{ featured.title }}</h3>
                    </a>
                    <p class="paragraph-post large">{{ featured.intro }}</p>
                    <a href="{% pageurl featured %}" class="link-block w-inline-block">
                      <div class="text-link">Read more</div>
                      <div class="block-icon-link">
                        <img src="{% static 'base/images/bx/arrow-green.svg' %}" alt="Green Arrow Pointing Rightwards" loading="lazy" decoding="async" class="icon-link">
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endwith %}
        {% else %}
          <div class="empty-state w-dyn-empty">
            <div class="text-empty">No blog posts found.</div>
          </div>
        {% endif %}
      </div>
      <div class="collection-list-wrapper-posts w-dyn-list">
        {% for post in blogpages %}
          {% with post=post.specific %}
            <div role="list" class="collection-list-posts w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <div class="block-post">
                  <a href="{% pageurl post %}" class="link-post-thumbnail w-inline-block">
                    {% with post.main_image as main_image %}
                      {% image main_image original alt="main_image.alt" class="image-post-thumbnail" loading="lazy" decoding="async" %}
                    {% endwith %}
                  </a>
                  <div class="post">
                    <div class="date">{{ post.date }}</div>
                    <a href="{% pageurl post %}" class="link-heading-post w-inline-block">
                      <h4 class="heading-post">{{ post.title }}</h4>
                    </a>
                    <p class="paragraph-post">{{ post.intro }}</p>
                    <a href="{% pageurl post %}" class="link-block w-inline-block">
                      <div class="text-link">Read more</div>
                      <div class="block-icon-link">
                        <img src="{% static 'base/images/bx/arrow-green.svg' %}" alt="Green Arrow Pointing Rightwards" loading="lazy" decoding="async" class="icon-link">
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}