{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <section class="section-top padding-0">
    <div class="content">
      <div class="block-top">
        <div class="date-top">{{ page.date }}</div>
        <h1 class="heading-top">{{ page.title }}</h1>
        <p class="paragraph-top blog-post">
        {{ page.intro }}
          {% with authors=page.authors.all %}
            {% if authors %}
              <h3>Posted by:</h3>
              <ul>
                {% for author in authors %}
                  <li style="display: inline">
                    {% image author.author_image fill-40x60 style="vertical-align: middle" %}
                    {{ author.name }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content narrow"><img alt="" loading="eager" src="" class="image-main-post">
      {% with post.main_image as main_image %}
        {% if main_image %}{% image main_image %}{% endif %}
      {% endwith %}
      <div class="post-body">
        <div class="rich-text-block w-dyn-bind-empty w-richtext">
          {{ page.body|richtext }}
        </div>
      </div>
    </div>
    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
    {% with tags=page.tags.all %}
      {% if tags %}
        <div class="tags">
          <h3>Tags</h3>
          {% for tag in tags %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </section>
{% endblock %}