{% extends "blog/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.title }}</h1>
        <p class="paragraph-top">{% if request.GET.tag %}Showing pages tagged "{{ request.GET.tag }}"{% endif %}</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="collection-list-wrapper-posts w-dyn-list">
        {% for blogpage in blogpages %}
          <div role="list" class="collection-list-posts w-dyn-items">
            <div role="listitem" class="w-dyn-item">
              <p>
                <strong><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></strong><br />
                <small>Revised: {{ blogpage.latest_revision_created_at }}</small><br />
              </p>
            </div>
          </div>
        {% empty %}
          <div class="empty-state w-dyn-empty">
            <div class="text-empty">No pages found with that tag.</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}
