{% extends "blog/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <section class="section-top padding-0">
    <div class="content">
      <div class="block-top">
        <div class="date-top">{{ page.date }}</div>
        <h1 class="heading-top">{{ page.title }}</h1>
        <p class="paragraph-top blog-post">{{ page.intro }}</p>

        {% with authors=page.authors.all %}
          {% if authors %}
            <h3>Posted by:</h3>
            <ul>
              {% for author in authors %}
                <li style="display: inline">
                  {% image author.author_image fill-40x60 style="vertical-align: middle" %}
                  {{ author.name }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% with tags=page.tags.all %}
          {% if tags %}
            <div class="tags">
              <h3>Tags</h3>
              {% for tag in tags %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                  <button type="button">{{ tag }}</button>
                </a>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <div class="block-button">
          <a href="{{ page.get_parent.url }}" class="button-small w-button">Return to blog</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content narrow">
      {% with page.main_image as main_image %}
        {% image main_image original alt="main_image.alt" class="image-main-post" loading="lazy" decoding="async" %}
        {% if main_image.caption %}
          <figure style="max-width:882pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
            <figcaption>{{ main_image.caption }}</figcaption>
          </figure>
        {% endif %}
      {% endwith %}
      <div class="post-body">
        <div class="rich-text-block w-dyn-bind-empty w-richtext">{{ page.body|richtext }}</div>
      </div>
    </div>
  </section>
{% endblock content %}
