<section class="section">
  <div class="content">
    <div class="collection-list-wrapper-posts large base-dyn-list">
      <div role="list" class="collection-list-posts large base-dyn-items">
        {% for post in blogpages %}
          {% with post=post.specific %}
            <div role="listitem" class="base-dyn-item">
              <div class="block-post large">
                <a href="{% pageurl post %}" class="link-post-thumbnail large base-inline-block">
                  {% with post.main_image as main_image %}
                    {% if main_image %}{% image main_image fill-160x100 class="image-post-thumbnail large" %}{% endif %}
                  {% endwith %}
                </a>
                <div class="post large">
                  <div class="date"></div>
                  <a href="{% pageurl post %}" class="link-heading-post large base-inline-block">
                    <h3 class="heading-post">{{ post.title }}</h3>
                  </a>
                  <p class="paragraph-post large">{{ post.body|richtext }}</p>
                  <a href="{% pageurl post %}" class="link-block base-inline-block">
                    <div class="text-link">Read more</div>
                    <div class="block-icon-link">
                      <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
                    </div>
                  </a>
                </div>
              </div>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
      <div class="empty-state base-dyn-empty">
        <div class="text-empty">No items found.</div>
      </div>
    </div>
    <div class="collection-list-wrapper-posts base-dyn-list">
      <div role="list" class="collection-list-posts base-dyn-items">
        <div role="listitem" class="base-dyn-item">
          <div class="block-post">
            <a href="#" class="link-post-thumbnail base-inline-block">
              <img alt="" loading="eager" src="" class="image-post-thumbnail">
            </a>
            <div class="post">
              <div class="date"></div>
              <a href="#" class="link-heading-post base-inline-block">
                <h4 class="heading-post"></h4>
              </a>
              <p class="paragraph-post"></p>
              <a href="#" class="link-block base-inline-block">
                <div class="text-link">Read more</div>
                <div class="block-icon-link">
                  <img src="{% static 'images/bx/arrow.svg' %}" loading="eager" alt="" class="icon-link">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="empty-state base-dyn-empty">
        <div class="text-empty">No items found.</div>
      </div>
    </div>
  </div>
</section>