<div class="journal-entry-form">
  <h5 class="heading-journal-entry">New Journal Entry</h5>
  <div class="form-block base-form">
    <form id="journalEntry" method="post" class="form" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <label class="checkbox-label">
          <input type="checkbox" class="checkbox-input" name="watered" id="id_watered">Watered
        </label>
      </div>
      <div>
        <label class="checkbox-label">
          <input type="checkbox" class="checkbox-input" name="fertilized" id="id_fertilized">Fertilized
        </label>
      </div>
      <div>
        <label class="checkbox-label">
          <input type="checkbox" class="checkbox-input" name="cleaned" id="id_cleaned">Cleaned
        </label>
      </div>
      <div class="form-group">
        <textarea class="text-field textarea" maxlength="1000" name="content" placeholder="Your entry content" id="content" required=""></textarea>
        {% if form.content.errors %}
          <div class="error-message">
            <small>{{ form.content.errors|striptags }}</small>
          </div>
        {% endif %}
      </div>
      <div class="form-group">
        <input type="file" class="text-field file-upload-input" name="image" id="image">
        {% if form.image.errors %}
          <div class="error-message">
            <small>{{ form.image.errors|striptags }}</small>
          </div>
        {% endif %}
      </div>
      <input type="submit" value="Submit Entry" data-wait="Please wait..." class="submit-button">
    </form>                    
  </div>
</div>