.lottie {
  position: relative;
}

.line-h {
  height: 1px;
  background-image: linear-gradient(to right, rgba(15, 100, 146, 0), var(--border) 10%, var(--border) 90%, rgba(15, 100, 146, 0));
}

.line-w {
  width: 1px;
  background-image: linear-gradient(to bottom, rgba(15, 100, 146, 0), var(--border) 10%, var(--border) 90%, rgba(15, 100, 146, 0));
}

.lines-a1 {
  z-index: 5;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 6%;
  padding-right: 10.5%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lines-a2 {
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 11%;
  padding-bottom: 13%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lottie-animation-1 {
  width: 100%;
}

.lottie-animation-2 {
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lottie-animation-2-blur {
  z-index: 5;
  width: 100%;
  filter: blur(50px);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.features-lottie {
  z-index: 20;
  grid-row-gap: 2.7em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.feature-lottie-block {
  grid-column-gap: .6em;
  background-color: var(--accent-green);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: .64em;
  justify-content: center;
  align-items: center;
  margin-right: 43%;
  padding: .8em 1.1em;
  display: flex;
}

.feature-lottie-block.a2 {
  margin-right: 5%;
}

.feature-lottie-block.a3 {
  margin-right: 58%;
}

.feature-lottie-block.a4 {
  margin-right: 15%;
}

.icon-feature-lottie {
  width: 1.5em;
  height: 1.5em;
}