.lines-a1 {
  z-index: 5;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 6%;
  padding-right: 10.5%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lines-a2 {
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 11%;
  padding-bottom: 13%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lines-d1 {
  z-index: 5;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 8%;
  padding-right: 8.5%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lines-d2 {
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 14%;
  padding-bottom: 14%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}