{% load static %}
<section class="section-top">
  <div style="opacity:0" class="content">
    <div class="block-top">
      <h1 class="heading-top">Affordable hosting plans for every budget</h1>
      <div class="block-categories">
        <a href="#" class="link-category w-inline-block"><img src="{% static 'main/images/switcher.svg' %}" loading="eager" alt="" class="icon-category">
          <div class="text-category">All</div>
        </a>
        <div class="collection-list-wrapper-categories w-dyn-list">
          <div role="list" class="collection-list-categories w-dyn-items">
            <div role="listitem" class="collection-item-categories w-dyn-item">
              <a href="#" class="link-category w-inline-block"><img alt="" loading="eager" src="" class="icon-category">
                <div class="text-category"></div>
              </a>
            </div>
          </div>
          <div class="empty-state w-dyn-empty">
            <div class="text-empty">No items found.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>