
    <section class="section-top padding-0">
      <div class="content">
        <div class="block-top">
          <div class="date-top"></div>
          <h1 class="heading-top"></h1>
          <p class="paragraph-top blog-post"></p>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="content narrow"><img alt="" loading="eager" src="" class="image-main-post">
        <div class="post-body">
          <div class="rich-text-block base-dyn-bind-empty base-richtext"></div>
        </div>
      </div>
    </section>