.section-top-bar {
  background-color: var(--primary-color);
  color: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .4em 2em;
  display: flex;
}

.top-bar-block {
  width: 100%;
  max-width: 75em;
  grid-column-gap: 1em;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.top-bar {
  grid-column-gap: 1.87em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-top-bar {
  opacity: .7;
  color: var(--white);
  letter-spacing: -.02em;
  font-size: .87em;
  line-height: 120%;
}

.link-top-bar {
  grid-column-gap: .35em;
  opacity: .7;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: opacity .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
}

.text-top-bar {
  color: var(--white);
  letter-spacing: -.02em;
  font-size: .87em;
  line-height: 120%;
}

.icon-top-bar {
  width: 1.125em;
  height: 1.125em;
}

.link-top-bar:hover {
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .section-top-bar {
    padding-top: .8em;
    padding-bottom: .8em;
  }

  .top-bar-block {
    grid-row-gap: .6em;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .section-top-bar {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .top-bar {
    grid-row-gap: .6em;
    flex-direction: column;
    align-items: flex-start;
  }

}