<div class="lottie">
  <div class="lines-a1">
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
    <div style="width:1px;height:0%" class="line-w"></div>
  </div>
  <div class="lines-a2">
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
    <div style="width:0%;height:1px" class="line-h"></div>
  </div>
  <div class="block-lottie">
    <div data-is-ix2-target="1" class="lottie-animation-1" data-animation-type="lottie" data-src="documents/Lottie-A1-White.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
    <div class="lottie-animation-2" data-animation-type="lottie" data-src="documents/Lottie-A2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="19.5" data-duration="0"></div>
    <div class="lottie-animation-2-blur" data-animation-type="lottie" data-src="documents/Lottie-A2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="19.5" data-duration="0"></div>
  </div>
</div>

<div class="lottie-wrapper">
  <div class="lottie">
    <div class="lines-c1">
      <div style="width:1px;height:0%" class="line-w"></div>
      <div style="width:1px;height:0%" class="line-w"></div>
      <div style="width:1px;height:0%" class="line-w"></div>
    </div>
    <div class="lines-c2">
      <div style="width:0%;height:1px" class="line-h"></div>
      <div style="width:0%;height:1px" class="line-h"></div>
      <div style="width:0%;height:1px" class="line-h"></div>
      <div style="width:0%;height:1px" class="line-h"></div>
      <div style="width:0%;height:1px" class="line-h"></div>
      <div style="width:0%;height:1px" class="line-h"></div>
      <div style="width:0%;height:1px" class="line-h"></div>
      <div style="width:0%;height:1px" class="line-h"></div>
    </div>
    <div class="block-lottie">
      <div data-is-ix2-target="1" class="lottie-animation-1" data-animation-type="lottie" data-src="documents/Lottie-C1-White.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
      <div class="lottie-animation-2" data-animation-type="lottie" data-src="documents/Lottie-C2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="12.5" data-duration="0"></div>
      <div class="lottie-animation-2-blur" data-animation-type="lottie" data-src="documents/Lottie-C2-Blue.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="12.5" data-duration="0"></div>
    </div>
  </div>
</div>

<div class="lottie-banner">
  <div class="lines-d1">
    <div class="line-banner-w"></div>
    <div class="line-banner-w"></div>
    <div class="line-banner-w"></div>
    <div class="line-banner-w"></div>
    <div class="line-banner-w"></div>
    <div class="line-banner-w"></div>
  </div>
  <div class="lines-d2">
    <div class="line-banner-h"></div>
    <div class="line-banner-h"></div>
    <div class="line-banner-h"></div>
    <div class="line-banner-h"></div>
    <div class="line-banner-h"></div>
    <div class="line-banner-h"></div>
  </div>
  <div class="block-lottie-banner">
    <div class="lottie-animation-1-banner" data-animation-type="lottie" data-src="{% static 'documents/Lottie-D1-Green.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0"></div>
    <div class="lottie-animation-2-banner" data-animation-type="lottie" data-src="{% static 'documents/Lottie-D2-Yellow.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2" data-duration="0"></div>
    <div class="lottie-animation-2-blur-banner" data-animation-type="lottie" data-src="{% static 'documents/Lottie-D2-Yellow.json' %}" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2" data-duration="0"></div>
  </div>
</div>